/**
 *
 * Apply Here your Custom CSS
 *
*/

body {
	
}
.multiSelect > button{
    width: 100%;
}
.remove-btn{
    width: 10%;
    float: right;
    margin-left: 5px;
    margin-top: 5px;
}
.price{
	width: 85%;
	float: left;
	margin-bottom: 5px;
}

.spinner {
    width: 40px;
    height: 40px;
    position: relative;
    margin: auto;
    display: table;
}

.double-bounce1, .double-bounce2 {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: #fff;
  opacity: 0.6;
  position: absolute;
  top: 0;
  left: 0;
  
  -webkit-animation: sk-bounce 2.0s infinite ease-in-out;
  animation: sk-bounce 2.0s infinite ease-in-out;
}

.double-bounce2 {
  -webkit-animation-delay: -1.0s;
  animation-delay: -1.0s;
}

@-webkit-keyframes sk-bounce {
  0%, 100% { -webkit-transform: scale(0.0) }
  50% { -webkit-transform: scale(1.0) }
}

@keyframes sk-bounce {
  0%, 100% { 
    transform: scale(0.0);
    -webkit-transform: scale(0.0);
  } 50% { 
    transform: scale(1.0);
    -webkit-transform: scale(1.0);
  }
}
.loader-icon{
    position: fixed;
    z-index: 9999;
    background: #373e4a;
    width: 100%;
    height: 100%;
}
.loader-icon .div-load-inner{
    position: absolute;
    top: 40%;
    bottom: 40%;
    left: 0;
    right: 0;
    width: 100%;
}