.sidebar-menu, .main, .header-row, hr{
	display: none !important;
}
.main-content{
	padding: 0px !important;
}
.login-page .login-header{
    padding: 80px 0;
}
.input-group{
    background: #373e4a;
    border: 1px solid #373e4a;
    padding-top: 6px;
    padding-bottom: 6px;
    -moz-transition: all 300ms ease-in-out;
    -webkit-transition: all 300ms ease-in-out;
    -o-transition: all 300ms ease-in-out;
    transition: all 300ms ease-in-out;
    -webkit-background-clip: padding-box;
    -moz-background-clip: padding;
    background-clip: padding-box;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}
.input-group-addon{
    padding: 6px 12px;
    font-size: 12px;
    font-weight: normal;
    line-height: 1;
    color: #555555;
    text-align: center;
    background-color: transparent;
    border: none;
    border-right: 1px solid #454a54 !important;
    border-radius: 3px;
}

.form-control{
	background: transparent;
	border: none;
	color: #fff;
}
.btn-login{
    border: 1px solid #454a54;
    text-align: left;
    padding: 15px 20px;
    font-size: 14px;
    -moz-transition: all 300ms ease-in-out;
    -webkit-transition: all 300ms ease-in-out;
    -o-transition: all 300ms ease-in-out;
    transition: all 300ms ease-in-out;
}
.btn-login:hover{
    background: #373e4a;
    border: 1px solid #454a54;
}
.form-group{
	margin-bottom: 20px;
}