<div flex="noshrink" layout="column" class=" layout-column flex-noshrink">
<div id="about-header" class="">
  <div class="content-container">
    <div class="text-center foreground">
      <h1>Say goodbye to old-school leases.</h1>
    </div>
  </div>
  <div class="overlay-dimmer"></div>
</div>

<div id="about" class="">
  <div class="container padding-10 gray-font">
    <div class="content-container">
      <div class="va-middle text-center">
        <div class="col-md-10 col-md-offset-1 no-padding text-center gray-font">
          <h1 class="gray-font">About Us</h1>
          <p class="gray-font text-justify">Is it difficult to find your ideal home? With Dwellinz Find the best home to suit your mood - You can search by neighborhood, city, district and view the best home for you.</p>
          <p>Maybe you’re moving for work, or you already live their, the platform enables you to browse, search and filter to find your ideal home Whether an apartment, Villa, Lodge, Room, Private or Shared room , dwellinz able to find it for you.</p>
        </div>
      </div>
    </div>

  </div>
</div>

<!-- <div id="about-pictures" class="">
  <div class="about-pictures-container">
    <div class="col-xs-2 no-padding">
      <div class="col-xs-12 padding-5">
        <div class="height1 words">
          <span class="absolute-center">Helping People Find the Right Home</span>
        </div>
      </div>
      <div class="col-xs-12 padding-5">
        <div class="height1" bg-image="'/static/assets/images/about/cf78c4fb.about1.jpg'" style="background-image: url(/static/assets/images/about/cf78c4fb.about1.jpg); background-repeat: no-repeat; background-size: cover; background-position: 50% 50%;"></div>
      </div>
    </div>
    <div class="col-xs-4 padding-5">
      <div class="height2" bg-image="'/static/assets/images/about/3a38adb2.about5.jpg'" style="background-image: url(/static/assets/images/about/3a38adb2.about5-2.jpg); background-repeat: no-repeat; background-size: cover; background-position: 50% 50%;"></div>
    </div>
    <div class="col-xs-6 no-padding">
      <div class="col-xs-8 padding-5">
        <div class="height1" bg-image="'/static/assets/images/about/8486989c.about6.jpg'" style="background-image: url(/static/assets/images/about/8486989c.about6.jpg); background-repeat: no-repeat; background-size: cover; background-position: 50% 50%;"></div>
      </div>
      <div class="col-xs-4 padding-5">
        <div class="height1" bg-image="'/static/assets/images/about/353c0344.about4.jpg'" style="background-image: url(/static/assets/images/about/353c0344.about4.jpg); background-repeat: no-repeat; background-size: cover; background-position: 50% 50%;"></div>
      </div>
      <div class="col-xs-4 padding-5">
        <div class="height1" bg-image="'/static/assets/images/about/8b2f3285.about3.jpg'" style="background-image: url(/static/assets/images/about/8b2f3285.about3.jpg); background-repeat: no-repeat; background-size: cover; background-position: 50% 50%;"></div>
      </div>
      <div class="col-xs-4 padding-5">
        <div class="height1 words grey">
          <span class="absolute-center">Connecting Rommates Together Each Day</span>
        </div>
      </div>
      <div class="col-xs-4 padding-5">
        <div class="height1" bg-image="'/static/assets/images/about/12cc1374.about2.jpg'" style="background-image: url(/static/assets/images/about/12cc1374.about2.jpg); background-repeat: no-repeat; background-size: cover; background-position: 50% 50%;"></div>
      </div>
    </div>
    <div class="clearfix"></div>
  </div>
</div>

<div id="values" class="">
  <div class="container text-center gray-font">
    <h1 class="gray-font">5 Ideas We Live By</h1>
    <div class="clearfix"></div>
    <div class="row padding-10 black87 text-center boxed">
      <div class="col-sm-6 col-xs-12 value-box inline-block ">
        <h3 class="bold black87 ">Serve First</h3>
        <span class="black87 ">Everything we do at Roomi, we do for you. Got a question? Found a bug we should know about? Let us know at hello@roomiapp.com. (And yes, there are real people on the other end.)</span>
      </div><div class="col-sm-6 col-xs-12 value-box inline-block " >
        <h3 class="bold black87 ">Stay Focused</h3>
        <span class="black87 ">It's easy to get carried away with great ideas—but we'd rather bring you a few game-changing tools than a whole lot of mediocre ones. That's why we promise to get our current features right before we build something new.</span>
      </div><div class="col-sm-6 col-xs-12 value-box inline-block " >
        <h3 class="bold black87 ">Never Settle</h3>
        <span class="black87 ">We're working toward a future where flexible, affordable shared living is the norm. We've got a long way to go, but with your support, we get closer every day.</span>
      </div><div class="col-sm-6 col-xs-12 value-box inline-block " >
        <h3 class="bold black87 ">Be Transparent</h3>
        <span class="black87 ">In a world of shady listings, we built Roomi to be a breath of fresh air. We strive for transparency in everything we do, which sometimes means owning up to our mistakes. You deserve that from us.</span>
      </div><div class="col-sm-6 col-xs-12 value-box inline-block " >
        <h3 class="bold black87 ">Empower Renters</h3>
        <span class="black87 ">It's your life, and your home. That's why we gave you the power to search by shared interests, amenities, move-in date—in short, by all the things that matter most to you.</span>
      </div>
    </div>
  </div>
</div>
</div> -->
 