
<div class="pos-relative ng-scope layout-column flex" flex="" layout="column">
  <!-- uiView: --><div ui-view="" flex="noshrink" layout="column" class="ng-scope layout-column flex-noshrink"><div id="request-password" class="ng-scope">
  <div class="sm-box">
    <div class="body">
      <div class="ng-scope">
      <div class="picture ng-scope" ng-include="'/static/assets/images/about/envelop-retry.svg'" style=""><svg width="139px" height="114px" viewBox="650 174 139 114" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
    <desc>Created with Sketch.</desc>
    <defs></defs>
    <g id="envelope-(6)" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" transform="translate(650.000000, 174.000000)">
        <g id="Capa_1">
            <g id="Group">
                <g id="Shape">
                    <polygon fill="#DCD6CD" points="0 0 0 92.625 66.6206897 92.625 133.241379 92.625 133.241379 0"></polygon>
                    <path d="M73.6753448,52.504125 C69.7804138,55.976375 63.4633448,55.976375 59.5660345,52.504125 L54.6004138,48.127 C39.0658966,61.966125 0,92.625 0,92.625 L51.4097586,92.625 L81.834,92.625 L133.241379,92.625 C133.241379,92.625 94.1754828,61.966125 78.6409655,48.127 L73.6753448,52.504125 L73.6753448,52.504125 Z" fill="#E8E3D9"></path>
                    <path d="M0,0 L59.5660345,52.504125 C63.4609655,55.976375 69.7780345,55.976375 73.6753448,52.504125 L133.241379,0 L0,0 L0,0 Z" fill="#EFEBDE"></path>
                </g>
                <g transform="translate(80.896552, 57.000000)">
                    <ellipse id="Oval" fill="#F6A623" cx="28.5517241" cy="28.5" rx="28.5517241" ry="28.5"></ellipse>
                    <path d="M28.891669,13 C26.8003866,13 24.8259995,13.3936492 22.9684512,14.1809524 C21.1109029,14.9682555 19.4871122,16.044637 18.0970226,17.4101202 C16.7069378,18.7756035 15.5998043,20.3809429 14.7755941,22.2261905 C13.9513838,24.071438 13.5146827,26.0396699 13.4654762,28.1309524 L13.4654762,28.5 L9,28.5 L15.7904762,35.8809524 L22.3595238,28.5 L17.3404762,28.5 L17.3404762,28.1309524 C17.3896841,26.5563413 17.7218246,25.0863154 18.3369024,23.7208322 C18.9519849,22.3553489 19.7823362,21.1682603 20.827975,20.1595238 C21.8736186,19.1507874 23.0914592,18.3511928 24.4815488,17.7607119 C25.8716337,17.1702357 27.3416596,16.8749976 28.891669,16.8749976 C30.4908817,16.8749976 31.99781,17.1825365 33.4125012,17.797619 C34.8271877,18.4127016 36.0573338,19.2430481 37.1029774,20.2886917 C38.1486162,21.3343305 38.9728123,22.5644766 39.5755941,23.9791678 C40.1783758,25.3938543 40.4797595,26.9007874 40.4797595,28.5 C40.4797595,30.0992126 40.1783758,31.6061457 39.5755941,33.0208322 C38.9728123,34.4355234 38.1486162,35.6718199 37.1029774,36.7297643 C36.0573338,37.7877039 34.8271877,38.6180504 33.4125012,39.2208322 C31.99781,39.8236143 30.4908817,40.125 28.891669,40.125 C27.6122961,40.125 26.3944507,39.9281763 25.2380952,39.5345238 C24.0817397,39.1408722 23.0115134,38.5873032 22.0273786,37.8738095 L19.4071429,40.7154762 C20.7111174,41.7488147 22.1688425,42.5545606 23.780356,43.1327379 C25.3918741,43.7109156 27.0956247,44 28.891669,44 C31.0321547,44 33.0372937,43.5940517 34.9071429,42.7821429 C36.776992,41.9702338 38.4130882,40.8631023 39.8154786,39.4607143 C41.2178642,38.0583262 42.3249976,36.4160797 43.1369024,34.5339298 C43.9488119,32.6517751 44.3547619,30.6404856 44.3547619,28.5 C44.3547619,26.3595144 43.9488119,24.3482249 43.1369024,22.4660702 C42.3249976,20.5839203 41.2178642,18.9416738 39.8154786,17.5392881 C38.4130882,16.1368977 36.776992,15.0297643 34.9071429,14.2178548 C33.0372937,13.40595 31.0321547,13 28.891669,13 L28.891669,13 Z" id="Page-1" fill="#FFFFFF"></path>
                </g>
            </g>
        </g>
    </g>
</svg>
</div>
        <h3 class="text-center">Activate your account</h3>
        <form name="form" class="ng-pristine ng-invalid ng-invalid-required ng-valid-email">
          <div custom-input="" name="newPassword" layout="" error="request.submitted" class="ng-isolate-scope input-box layout-row">
            <md-icon class="s32 padding-5 svg-grey" md-svg-icon="/static/assets/images/about/envelop-icon.svg" role="img" aria-label="/assets/stylesheets/svgs/password/envelop-icon.svg"><svg width="100%" height="100%" viewBox="19 19 22 16" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" fit="" preserveAspectRatio="xMidYMid meet" focusable="false">
    <desc>Created with Sketch.</desc>
    <defs></defs>
    <path d="M19,19 L41,19 L41,35 L19,35 L19,19 Z M30,27.75 L39.3385417,20 L20.6614583,20 L30,27.75 Z M19.9166667,34 L40.0833333,34 L40.0833333,20.625 L33.4947917,26.125 L37.390625,30.9375 L37.2760417,31.0625 L32.75,26.6875 L30,29 L27.25,26.6875 L22.7239583,31.0625 L22.609375,30.9375 L26.5052083,26.125 L19.9166667,20.625 L19.9166667,34 Z" id="Page-1" stroke="none" fill="#9B9B9B" fill-rule="evenodd"></path>
</svg></md-icon>
            <input type="email" name="email" flex="" ng-model="request.email" placeholder="Your email" required="">
          </div>
          <div ng-show="!form.email.$valid &amp;&amp; request.submitted" static="" notification="'Please enter a valid email'" type="error" pad="40" class="ng-isolate-scope ng-hide" aria-hidden="true"><md-toolbar ng-show="notification" class="_md _md-toolbar-transitions" aria-hidden="false">
  <div class="md-toolbar-tools notification error" style="padding: 0 40px;">
    <div flex="" class="notification-info-container layout-align-center-center layout-row flex" layout="" layout-align="center center">
      <md-icon class="s24 material-icons" md-svg-icon="/static/assets/images/about/error.svg" role="img" aria-hidden="true"><svg width="100%" height="100%" viewBox="0 0 34 34" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" fit="" preserveAspectRatio="xMidYMid meet" focusable="false">
    <desc>Created with Sketch.</desc>
    <defs></defs>
    <path d="M16.9948972,0 C7.61910604,0 0.0205774878,7.59852855 0.0205774878,16.9743197 C0.0205774878,26.3501109 7.61910604,33.9897945 16.9948972,33.9897945 C26.3706884,33.9897945 33.969217,26.3460065 33.969217,17.0154747 C33.969217,7.63968352 26.3706884,0 16.9948972,0 L16.9948972,0 Z M16.9948972,32.3442055 C8.552969,32.3442055 1.66616639,25.4574029 1.66616639,17.0154747 C1.66616639,8.57354649 8.552969,1.6414845 16.9948972,1.6414845 C25.4368254,1.6414845 32.3236281,8.52828711 32.3236281,17.0154747 C32.3236281,25.5026623 25.4368254,32.3442055 16.9948972,32.3442055 L16.9948972,32.3442055 Z M17.8382414,23.9475367 C17.8382414,24.4371256 17.4391713,24.8361403 16.9496378,24.8361403 C16.4600489,24.8361403 16.0610343,24.4370701 16.0610343,23.9475367 C16.0610343,23.4579478 16.4601044,23.0589331 16.9496378,23.0589331 C17.4391713,23.0589331 17.8382414,23.4580033 17.8382414,23.9475367 L17.8382414,23.9475367 Z M16.1062936,19.5908222 L16.1062936,9.59382382 C16.1062936,9.14949429 16.4601044,8.79568352 16.9044339,8.79568352 C17.3487635,8.79568352 17.7025742,9.14949429 17.7025742,9.59382382 L17.7025742,19.5908222 C17.7025742,20.0351517 17.3487635,20.3889625 16.9044339,20.3889625 C16.4601044,20.4383263 16.1062936,20.0351517 16.1062936,19.5908222 L16.1062936,19.5908222 Z" id="Shape" stroke="none" fill-opacity="0.631821784" fill="#000000" fill-rule="evenodd"></path>
</svg></md-icon>
      <span class="ng-binding">Please enter a valid email</span>
      <span flex="" class="flex"></span>
    </div>
    <!-- ngIf: dismissable -->
  </div>
</md-toolbar>
</div>
          <button class="btn-common orange-btn md-button md-ink-ripple pwd-submit-btn" type="button"  ng-click="forgotPassword()"><span class="pwd-submit-btn">
            Activate account
          </span></button>
        </form>
      </div>

    </div>
  </div>
</div>
</div>
  
</div>
