<style type="text/css">
#my-listings #no-listings, #my-listings .no-cards{
  height: auto;
}
</style>
<div flex="noshrink" layout="column" class="ng-scope layout-column flex-noshrink"><div id="my-listings" class="ng-scope">
  <!-- uiView: --><div ui-view="" autoscroll="false" class="ng-scope"><!-- ngIf: myListings.relevantListings.length > 0 -->

<div class="container ng-scope">
  <!-- ngIf: !myListings.areListingsAndImportsEmpty() && !myListings.fetched -->

  <!-- ngIf: !myListings.areListingsAndImportsEmpty() && myListings.fetched -->
  <!-- ngIf: myListings.areListingsAndImportsEmpty() && myListings.fetched --><div id="no-listings" class="ng-scope">
    <div class="wrap">
      <img class="listings-empty-img" src="https://roomiapp.com/assets/stylesheets/svgs/errors/no-listing.svg">
      <span class="title black" >Success. Your account has been activated</span>
      <br/>
      <!-- <span class="title black" ng-if="error">Error. Token has been expired</span> -->
    </div>
    <br/>
  </div><!-- end ngIf: myListings.areListingsAndImportsEmpty() && myListings.fetched -->
</div>
</div>
</div>
</div>