<style type="text/css">
.ui-widget.ui-widget-content{
  z-index: 999 !important;
}
</style>
<div class="pos-relative  layout-column flex" flex="" layout="column">
  <!-- uiView: --><div flex="noshrink" layout="column" class=" layout-column flex-noshrink"><form id="edit-profile" name="mainform" layout="" class="">

  <div class="left-column mr20">
    <div class="left-column">
      <md-toolbar class="_md _md-toolbar-transitions">
        <div class="md-toolbar-tools md-bolder md-white">
          <h2>Update Profile</h2>
        </div>
      </md-toolbar>
      <md-list class="md-white" role="list">
        <!-- ngRepeat: postField in myProfile.postFields --><!-- ngIf: (postField.name=='paymentInfo' && myProfile.me.hasPayment) || (postField.name=='payoutInfo' && myProfile.me.hasPayout)
                      ||  (postField.name!='paymentInfo' && postField.name!='payoutInfo') --><md-list-item  du-smooth-scroll="" class="side-nav _md-button-wrap  _md" role="listitem" tabindex="-1"><div class="md-button md-no-style"><!-- ngIf: (postField.name=='paymentInfo' && myProfile.me.hasPayment) || (postField.name=='payoutInfo' && myProfile.me.hasPayout)
                      ||  (postField.name!='paymentInfo' && postField.name!='payoutInfo') --><!-- end ngIf: (postField.name=='paymentInfo' && myProfile.me.hasPayment) || (postField.name=='payoutInfo' && myProfile.me.hasPayout)
                      ||  (postField.name!='paymentInfo' && postField.name!='payoutInfo') -->   <div class="md-list-item-inner">
          <div class="pos-relative">
            <img class="md-avatar" alt="personal" ng-src="https://roomiapp.com/assets/stylesheets/Fonts/icons/basic/icon-step-personal.svg" src="https://roomiapp.com/assets/stylesheets/Fonts/icons/basic/icon-step-personal.svg">
            <img class="md-avatar pos-absolute animate-show" style="top:0; left:0" alt="personal" ng-src="https://roomiapp.com/assets/stylesheets/Fonts/icons/basic/icon-check.svg" aria-hidden="false" src="https://roomiapp.com/assets/stylesheets/Fonts/icons/basic/icon-check.svg">
          </div>
          <span class="">Personal</span>
        </div><div class="md-secondary-container"></div></div></md-list-item><!-- end ngIf: (postField.name=='paymentInfo' && myProfile.me.hasPayment) || (postField.name=='payoutInfo' && myProfile.me.hasPayout)
                      ||  (postField.name!='paymentInfo' && postField.name!='payoutInfo') --><!-- end ngRepeat: postField in myProfile.postFields --><!-- ngIf: (postField.name=='paymentInfo' && myProfile.me.hasPayment) || (postField.name=='payoutInfo' && myProfile.me.hasPayout)
                      ||  (postField.name!='paymentInfo' && postField.name!='payoutInfo') --><md-list-item  du-smooth-scroll="" class="side-nav _md-button-wrap  _md" role="listitem" tabindex="-1"><div class="md-button md-no-style"><!-- ngIf: (postField.name=='paymentInfo' && myProfile.me.hasPayment) || (postField.name=='payoutInfo' && myProfile.me.hasPayout)
                      ||  (postField.name!='paymentInfo' && postField.name!='payoutInfo') --><!-- end ngIf: (postField.name=='paymentInfo' && myProfile.me.hasPayment) || (postField.name=='payoutInfo' && myProfile.me.hasPayout)
                      ||  (postField.name!='paymentInfo' && postField.name!='payoutInfo') -->   <div class="md-list-item-inner">
          <div class="pos-relative">
            <img class="md-avatar" alt="preferences" ng-src="https://roomiapp.com/assets/stylesheets/Fonts/icons/basic/icon-step-preferences.svg" src="https://roomiapp.com/assets/stylesheets/Fonts/icons/basic/icon-step-preferences.svg">
            <img class="md-avatar pos-absolute animate-show" style="top:0; left:0" alt="preferences" ng-src="https://roomiapp.com/assets/stylesheets/Fonts/icons/basic/icon-check.svg"  aria-hidden="false" src="https://roomiapp.com/assets/stylesheets/Fonts/icons/basic/icon-check.svg">
          </div>
          <span class="">Preferences</span>
        </div><div class="md-secondary-container"></div></div></md-list-item><!-- end ngIf: (postField.name=='paymentInfo' && myProfile.me.hasPayment) || (postField.name=='payoutInfo' && myProfile.me.hasPayout)
                      ||  (postField.name!='paymentInfo' && postField.name!='payoutInfo') --><!-- end ngRepeat: postField in myProfile.postFields --><!-- ngIf: (postField.name=='paymentInfo' && myProfile.me.hasPayment) || (postField.name=='payoutInfo' && myProfile.me.hasPayout)
                      ||  (postField.name!='paymentInfo' && postField.name!='payoutInfo') --><!-- end ngRepeat: postField in myProfile.postFields --><!-- ngIf: (postField.name=='paymentInfo' && myProfile.me.hasPayment) || (postField.name=='payoutInfo' && myProfile.me.hasPayout)
                      ||  (postField.name!='paymentInfo' && postField.name!='payoutInfo') --><!-- end ngRepeat: postField in myProfile.postFields --><!-- ngIf: (postField.name=='paymentInfo' && myProfile.me.hasPayment) || (postField.name=='payoutInfo' && myProfile.me.hasPayout)
                      ||  (postField.name!='paymentInfo' && postField.name!='payoutInfo') --><md-list-item  du-smooth-scroll="" class="side-nav _md-button-wrap  _md" role="listitem" tabindex="-1"><div class="md-button md-no-style"><!-- ngIf: (postField.name=='paymentInfo' && myProfile.me.hasPayment) || (postField.name=='payoutInfo' && myProfile.me.hasPayout)
                      ||  (postField.name!='paymentInfo' && postField.name!='payoutInfo') --><!-- end ngIf: (postField.name=='paymentInfo' && myProfile.me.hasPayment) || (postField.name=='payoutInfo' && myProfile.me.hasPayout)
                      ||  (postField.name!='paymentInfo' && postField.name!='payoutInfo') -->   <div class="md-list-item-inner">
          <div class="pos-relative">
            <img class="md-avatar" alt="background" ng-src="https://roomiapp.com/assets/stylesheets/Fonts/icons/basic/icon-step-background.svg" src="https://roomiapp.com/assets/stylesheets/Fonts/icons/basic/icon-step-background.svg">
            <img class="md-avatar pos-absolute animate-show " style="top:0; left:0" alt="background" ng-src="https://roomiapp.com/assets/stylesheets/Fonts/icons/basic/icon-check.svg" aria-hidden="true" src="https://roomiapp.com/assets/stylesheets/Fonts/icons/basic/icon-check.svg">
          </div>
          <span class="">Work Experience</span>
        </div><div class="md-secondary-container"></div></div></md-list-item><!-- end ngIf: (postField.name=='paymentInfo' && myProfile.me.hasPayment) || (postField.name=='payoutInfo' && myProfile.me.hasPayout)
                      ||  (postField.name!='paymentInfo' && postField.name!='payoutInfo') --><!-- end ngRepeat: postField in myProfile.postFields --><!-- ngIf: (postField.name=='paymentInfo' && myProfile.me.hasPayment) || (postField.name=='payoutInfo' && myProfile.me.hasPayout)
                      ||  (postField.name!='paymentInfo' && postField.name!='payoutInfo') --><md-list-item  du-smooth-scroll="" class="side-nav _md-button-wrap  _md" role="listitem" tabindex="-1"><div class="md-button md-no-style"><!-- ngIf: (postField.name=='paymentInfo' && myProfile.me.hasPayment) || (postField.name=='payoutInfo' && myProfile.me.hasPayout)
                      ||  (postField.name!='paymentInfo' && postField.name!='payoutInfo') --><!-- end ngIf: (postField.name=='paymentInfo' && myProfile.me.hasPayment) || (postField.name=='payoutInfo' && myProfile.me.hasPayout)
                      ||  (postField.name!='paymentInfo' && postField.name!='payoutInfo') -->   <div class="md-list-item-inner">
          <div class="pos-relative">
            <img class="md-avatar" alt="photos" ng-src="https://roomiapp.com/assets/stylesheets/Fonts/icons/basic/icon-step-photos.svg" src="https://roomiapp.com/assets/stylesheets/Fonts/icons/basic/icon-step-photos.svg">
            <img class="md-avatar pos-absolute animate-show" style="top:0; left:0" alt="photos" ng-src="https://roomiapp.com/assets/stylesheets/Fonts/icons/basic/icon-check.svg" aria-hidden="false" src="https://roomiapp.com/assets/stylesheets/Fonts/icons/basic/icon-check.svg">
          </div>
          <span class="">Photos</span>
        </div><div class="md-secondary-container"></div></div></md-list-item><!-- end ngIf: (postField.name=='paymentInfo' && myProfile.me.hasPayment) || (postField.name=='payoutInfo' && myProfile.me.hasPayout)
                      ||  (postField.name!='paymentInfo' && postField.name!='payoutInfo') --><!-- end ngRepeat: postField in myProfile.postFields -->
      </md-list>
    </div>
  </div>
  <div class="right-column flex" flex="">
    <div class="mb10">
      <!-- ngInclude: --><div id="personal" class=""><form novalidate="" name="personal" class="ng-pristine ng-valid  ng-valid-required ng-valid-mindate ng-valid-maxdate ng-valid-filtered ng-valid-valid">
  <md-toolbar class="_md _md-toolbar-transitions">
    <div class="md-toolbar-tools md-bolder md-white">
      <md-icon class="md-18 mr10"><svg width="100%" height="100%" viewBox="0 0 15 15" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" fit="" preserveAspectRatio="xMidYMid meet" focusable="false">
    <!-- Generator: Sketch 39.1 (31720) - http://www.bohemiancoding.com/sketch -->
    <title>profile (1)</title>
    <desc>Created with Sketch.</desc>
    <defs></defs>
    <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
        <g id="Update-profile----Add-a-credit-crad" transform="translate(-566.000000, -111.000000)" fill="#4A4A4A">
            <g id="Group-8-Copy-3" transform="translate(540.000000, 90.000000)">
                <g id="profile-(1)" transform="translate(26.000000, 21.000000)">
                    <g id="Group">
                        <path d="M7.47560976,8.41025641 C9.67073171,8.41025641 11.4512195,6.53846154 11.4512195,4.23076923 C11.4512195,1.92307692 9.67073171,0.0641025641 7.47560976,0.0641025641 C5.2804878,0.0641025641 3.5,1.93589744 3.5,4.23076923 C3.5,6.52564103 5.2804878,8.41025641 7.47560976,8.41025641 L7.47560976,8.41025641 Z M7.47560976,1.15384615 C9.08536585,1.15384615 10.402439,2.53846154 10.402439,4.23076923 C10.402439,5.92307692 9.08536585,7.30769231 7.47560976,7.30769231 C5.86585366,7.30769231 4.54878049,5.92307692 4.54878049,4.23076923 C4.54878049,2.53846154 5.86585366,1.15384615 7.47560976,1.15384615 L7.47560976,1.15384615 Z" id="Shape"></path>
                        <path d="M0.597560976,14.9358974 L14.402439,14.9358974 C14.695122,14.9358974 14.9268293,14.6923077 14.9268293,14.3846154 C14.9268293,11.5 12.695122,9.14102564 9.93902439,9.14102564 L5.06097561,9.14102564 C2.31707317,9.14102564 0.0731707317,11.4871795 0.0731707317,14.3846154 C0.0731707317,14.6923077 0.304878049,14.9358974 0.597560976,14.9358974 L0.597560976,14.9358974 Z M5.06097561,10.2435897 L9.93902439,10.2435897 C11.9390244,10.2435897 13.5853659,11.8076923 13.8414634,13.8333333 L1.15853659,13.8333333 C1.41463415,11.8205128 3.06097561,10.2435897 5.06097561,10.2435897 L5.06097561,10.2435897 Z" id="Shape"></path>
                    </g>
                </g>
            </g>
        </g>
    </g>
</svg></md-icon>
      <h2 flex="" class="flex">Personal</h2>
    </div>
  </md-toolbar>

  <!-- ngIf: myProfile.submitted && personal.firstName.$error.required -->
  <!-- ngIf: myProfile.submitted && personal.dob.$error.required -->
  <md-content class="md-white form visible-overflow layout-padding _md" layout-padding="">

    <div layout-sm="column" layout-xs="column" layout="row" class="layout-xs-column layout-sm-column layout-row">
      <div flex="" layout="row" layout-xs="column" layout-align="start start" layout-align-xs="start stretch" class="layout-xs-column layout-align-xs-start-stretch layout-align-start-start layout-row flex">
        <span class="form-label">First Name:</span>
        <input class="custom-input input-displays ng-pristine ng-untouched ng-valid flex ng-not-empty ng-valid-required" flex="" type="text" name="firstName" ng-model="userInfo.user.first_name" required="" id="first" placeholder="First Name" aria-invalid="false">
      </div>
      <div flex="5" class="layout-padding flex-5"></div>
      <div flex="" layout="row" layout-xs="column" layout-align="start start" layout-align-xs="start stretch" class="layout-xs-column layout-align-xs-start-stretch layout-align-start-start layout-row flex">
        <span class="form-label">Last Name:</span>
        <input class="custom-input input-displays ng-pristine ng-untouched ng-valid flex ng-not-empty" flex="" name="lastName" type="text" ng-model="userInfo.user.last_name" id="last" placeholder="Last Name" aria-invalid="false">
      </div>
    </div>
    <div layout-sm="column" layout-xs="column" layout="row" class="layout-xs-column layout-sm-column layout-row">
      <div flex="" layout="row" layout-xs="column" layout-align="start start" layout-align-xs="start stretch" class="layout-xs-column layout-align-xs-start-stretch layout-align-start-start layout-row flex">

        <span class="form-label">Birthday:</span>
        <div custom-input="" flex="" name="dob" class="ng-isolate-scope input-box flex" style="height:100%;">
          <input type="text" id="birthday" placeholder="Date of birth" ng-model="userInfo.dob" style="width:100%;height:100%;background: #f2f4f6;padding: 0px 10px;"/>
          
        </div>
      </div>
      <div flex="5" class="layout-padding flex-5"></div>
      <div flex="" layout="row" layout-xs="column" layout-align="start center" layout-align-xs="start stretch" class="layout-xs-column layout-align-xs-start-stretch layout-align-start-center layout-row flex">
        <span class="form-label">Gender:</span>
        <md-select ng-model="userInfo.gender" placeholder="Select" class="custom-input" style="width:100%;" flex="">
		    <md-option value="Male">Male</md-option>
        <md-option value="Female">Female</md-option>
		    <!-- <md-option value="sword">Sword</md-option>
		    <md-option value="wand">Wand</md-option>
		    <md-option value="pen">Pen?</md-option> -->
		</md-select>
      <select class="md-visually-hidden" name="gender" aria-hidden="true" tabindex="-1"><option ng-value="gender.value" class="" aria-checked="false">
            
          </option><option ng-value="myProfile.me.usrGender" selected="" value="male" aria-checked="true"></option></select></div>

    </div>
    <div layout="row" layout-xs="column" layout-align="start start" layout-align-xs="start stretch" class="layout-xs-column layout-align-xs-start-stretch layout-align-start-start layout-row">
      <span class="form-label">Description:</span>
      <textarea flex="" class="default input-displays ng-pristine ng-untouched ng-valid flex ng-empty" ng-model="userInfo.description" name="description" placeholder="Tell potential Find a room a little bit about yourself..." aria-invalid="false"></textarea>
    </div>
  </md-content>
</form>
</div>
    </div>
    <div class="mb10 ng-pristine ng-valid ng-valid-mindate ng-valid-maxdate ng-valid-filtered ng-valid-valid ng-valid-required" novalidate="">
      <!-- ngInclude: --><div id="preferences" class=""><md-toolbar class=" _md _md-toolbar-transitions">
  <div class="md-toolbar-tools md-bolder md-white">
    <md-icon class="md-18 mr10" ><svg width="100%" height="100%" viewBox="0 0 18 18" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" fit="" preserveAspectRatio="xMidYMid meet" focusable="false">
    <!-- Generator: Sketch 39.1 (31720) - http://www.bohemiancoding.com/sketch -->
    <title>settings (1)</title>
    <desc>Created with Sketch.</desc>
    <defs></defs>
    <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
        <g id="Update-profile-" transform="translate(-565.000000, -511.000000)" fill="#4A4A4A">
            <g id="Group-8-Copy-4" transform="translate(540.000000, 491.000000)">
                <g id="settings-(1)" transform="translate(25.000000, 20.000000)">
                    <g id="Capa_1">
                        <g id="Group">
                            <path d="M17.0680585,7.10609186 L15.805428,6.89189562 C15.673904,6.46726096 15.5048017,6.05765762 15.2981211,5.66684342 L16.0421712,4.62592484 C16.3578288,4.18250104 16.308977,3.57749061 15.9219207,3.19419207 L14.8020877,2.07435908 C14.5916493,1.86392067 14.3135699,1.74742797 14.0167015,1.74742797 C13.7837161,1.74742797 13.5620042,1.81882672 13.3741127,1.95410856 L12.3294363,2.69815866 C11.9235908,2.48396242 11.4989562,2.30734447 11.0592902,2.17582046 L10.8488518,0.928221294 C10.7586639,0.390851775 10.2964509,3.75782881e-05 9.75156576,3.75782881e-05 L8.16951983,3.75782881e-05 C7.62463466,3.75782881e-05 7.16242171,0.390851775 7.07223382,0.928221294 L6.85427975,2.20588309 C6.43340292,2.3374071 6.02379958,2.51026722 5.63298539,2.72070564 L4.59958246,1.97665553 C4.41169102,1.8413737 4.18622129,1.76997495 3.95323591,1.76997495 C3.65636743,1.76997495 3.37453027,1.88646764 3.16784969,2.09690605 L2.04425887,3.21673904 C1.66096033,3.60003758 1.60835073,4.20504802 1.92400835,4.64847182 L2.67557411,5.70442171 C2.46889353,6.09899374 2.30354906,6.50859708 2.17578288,6.93323173 L0.928183716,7.14367015 C0.390814196,7.23385804 0,7.69607098 0,8.24095616 L0,9.82300209 C0,10.3678873 0.390814196,10.8301002 0.928183716,10.9202881 L2.20584551,11.1382422 C2.33736952,11.559119 2.51022965,11.9687223 2.72066806,12.3595365 L1.98037578,13.3891816 C1.66471816,13.8326054 1.71356994,14.4376159 2.1006263,14.8209144 L3.22045929,15.9407474 C3.4308977,16.1511858 3.70897704,16.2676785 4.00584551,16.2676785 C4.2388309,16.2676785 4.4605428,16.1962797 4.64843424,16.0609979 L5.70438413,15.3094322 C6.08392484,15.5085971 6.4822547,15.6701837 6.89185804,15.7979499 L7.10229645,17.0605804 C7.19248434,17.5979499 7.65469729,17.9887641 8.19958246,17.9887641 L9.78538622,17.9887641 C10.3302714,17.9887641 10.7924843,17.5979499 10.8826722,17.0605804 L11.0968685,15.7979499 C11.5215031,15.6664259 11.9311065,15.4973236 12.3219207,15.290643 L13.3628392,16.0346931 C13.5507307,16.1699749 13.7762004,16.2413737 14.0091858,16.2413737 L14.0091858,16.2413737 C14.3060543,16.2413737 14.5841336,16.124881 14.794572,15.9144426 L15.914405,14.7946096 C16.2977035,14.4113111 16.3503132,13.8063006 16.0346555,13.3628768 L15.2906054,12.3182004 C15.497286,11.9236284 15.6701461,11.5140251 15.7979123,11.0931482 L17.0605428,10.8827098 C17.5979123,10.7925219 17.9887265,10.330309 17.9887265,9.7854238 L17.9887265,8.20337787 C17.9962422,7.65849269 17.605428,7.19627975 17.0680585,7.10609186 L17.0680585,7.10609186 Z M16.9816284,9.7854238 C16.9816284,9.83427557 16.9478079,9.87561169 16.8989562,9.88312735 L15.3206681,10.1461754 C15.1215031,10.1799958 14.9636743,10.3265511 14.9148225,10.5182004 C14.7720251,11.0706013 14.554071,11.6004551 14.2609603,12.0927307 C14.159499,12.2655908 14.1670146,12.4797871 14.2835073,12.6451315 L15.211691,13.9528559 C15.2379958,13.9904342 15.234238,14.0468017 15.2004175,14.0806221 L14.0805846,15.2004551 C14.0542797,15.2267599 14.0279749,15.2305177 14.0091858,15.2305177 C13.9866388,15.2305177 13.9678497,15.2230021 13.9528184,15.2117286 L12.6488518,14.2835449 C12.4872651,14.1670522 12.2693111,14.1595365 12.0964509,14.2609979 C11.6041754,14.5541086 11.0743215,14.7720626 10.5219207,14.9148601 C10.3265136,14.9637119 10.1799582,15.1252985 10.1498956,15.3207056 L9.88308977,16.8989937 C9.87557411,16.9478455 9.834238,16.981666 9.78538622,16.981666 L8.20334029,16.981666 C8.15448852,16.981666 8.1131524,16.9478455 8.10563674,16.8989937 L7.84258873,15.3207056 C7.80876827,15.1215407 7.66221294,14.9637119 7.47056367,14.9148601 C6.93319415,14.7758205 6.41461378,14.5616242 5.92985386,14.2835449 C5.85093946,14.2384509 5.76075157,14.215904 5.6743215,14.215904 C5.57286013,14.215904 5.46764092,14.2459666 5.38121086,14.3098497 L4.06597077,15.2455491 C4.04718163,15.2568225 4.02839248,15.2643382 4.00960334,15.2643382 C3.99457203,15.2643382 3.96450939,15.2605804 3.93820459,15.2342756 L2.81837161,14.1144426 C2.78455115,14.0806221 2.78079332,14.0280125 2.80709812,13.9866764 L3.73152401,12.6902255 C3.8480167,12.524881 3.85553236,12.3069269 3.75407098,12.1340668 C3.46096033,11.6455491 3.23549061,11.1156952 3.09269311,10.5632944 C3.04008351,10.3716451 2.8822547,10.2250898 2.6868476,10.1912693 L1.09728601,9.92070564 C1.04843424,9.91318998 1.01461378,9.87185386 1.01461378,9.82300209 L1.01461378,8.24095616 C1.01461378,8.19210438 1.04843424,8.15076827 1.09728601,8.14325261 L2.66430063,7.88020459 C2.86346555,7.84638413 3.02505219,7.69982881 3.07390397,7.50442171 C3.21294363,6.95202088 3.42713987,6.41840919 3.71649269,5.92613361 C3.81795407,5.75327349 3.80668058,5.53907724 3.69018789,5.37749061 L2.75448852,4.06225052 C2.72818372,4.02467223 2.73194154,3.9683048 2.765762,3.93448434 L3.88559499,2.81465136 C3.91189979,2.78834656 3.93820459,2.78458873 3.95699374,2.78458873 C3.97954071,2.78458873 3.99832985,2.79210438 4.01336117,2.80337787 L5.30981211,3.72780376 C5.47515658,3.84429645 5.69311065,3.85181211 5.86597077,3.75035073 C6.35448852,3.45724008 6.88434238,3.23177035 7.43674322,3.08897286 C7.62839248,3.03636326 7.77494781,2.87853445 7.80876827,2.68312735 L8.07933194,1.09356576 C8.0868476,1.04471399 8.12818372,1.01089353 8.17703549,1.01089353 L9.75908142,1.01089353 C9.80793319,1.01089353 9.84926931,1.04471399 9.85678497,1.09356576 L10.119833,2.66058038 C10.1536534,2.8597453 10.3002088,3.02133194 10.4956159,3.07018372 C11.063048,3.21298121 11.6041754,3.43469311 12.1077244,3.73156159 C12.2805846,3.83302296 12.4947808,3.82550731 12.6601253,3.70901461 L13.9565762,2.77707307 C13.9753653,2.76579958 13.9941545,2.75828392 14.0129436,2.75828392 C14.0279749,2.75828392 14.0580376,2.76204175 14.0843424,2.78834656 L15.2041754,3.90817954 C15.2379958,3.942 15.2417537,3.9946096 15.2154489,4.03594572 L14.2872651,5.33991232 C14.1707724,5.50149896 14.1632568,5.71945303 14.2647182,5.89231315 C14.5578288,6.38458873 14.7757829,6.91444259 14.9185804,7.46684342 C14.9674322,7.66225052 15.1290188,7.80880585 15.3244259,7.83886848 L16.902714,8.10567432 C16.9515658,8.11318998 16.9853862,8.1545261 16.9853862,8.20337787 L16.9853862,9.7854238 L16.9816284,9.7854238 L16.9816284,9.7854238 Z" id="Shape"></path>
                            <path d="M8.99624217,5.11068476 C6.85427975,5.11068476 5.11440501,6.8505595 5.11440501,8.99252192 C5.11440501,11.1344843 6.85427975,12.8743591 8.99624217,12.8743591 C11.1382046,12.8743591 12.8780793,11.1344843 12.8780793,8.99252192 C12.8780793,6.8505595 11.1382046,5.11068476 8.99624217,5.11068476 L8.99624217,5.11068476 Z M8.99624217,11.8597453 C7.41419624,11.8597453 6.12901879,10.5745678 6.12901879,8.99252192 C6.12901879,7.41047599 7.41419624,6.12529854 8.99624217,6.12529854 C10.5782881,6.12529854 11.8634656,7.41047599 11.8634656,8.99252192 C11.8634656,10.5745678 10.5782881,11.8597453 8.99624217,11.8597453 L8.99624217,11.8597453 Z" id="Shape"></path>
                        </g>
                    </g>
                </g>
            </g>
        </g>
    </g>
</svg></md-icon>
    <h2 flex="" class="flex">Preferences</h2>
  </div>
</md-toolbar>
<md-content class="md-white form layout-padding  _md" layout-padding="">
  <div layout="row" layout-xs="column" class="mb10 layout-xs-column layout-row">
    <div flex="" layout="row" layout-xs="column" layout-align="start start" layout-align-xs="start stretch" class="layout-xs-column layout-align-xs-start-stretch layout-align-start-start layout-row flex">
      <span class="form-label">Budget:</span>
      <rzslider rz-slider-model="slider.minvalue" rz-slider-high="slider.maxvalue" rz-slider-options="slider.options" ng-click="sliderValue(slider)"></rzslider>
    </div>
  </div>

    <div layout-sm="column" layout-xs="column" layout="row" class="layout-xs-column layout-sm-column layout-row">
    <div flex="45" layout="row" layout-xs="column" layout-align="start start" layout-align-xs="start stretch" class="layout-xs-column layout-align-xs-start-stretch layout-align-start-start layout-row flex-30">
      <span class="form-label">Move in Date:</span>
      <div custom-input="" flex="" class="ng-isolate-scope input-box flex" style="height:40px;">
        <input type="text" name="movingDate" id="movingDate" placeholder="Enter Date" ng-model="userInfo.move_in_date" style="width:100%;height:100%;background: #f2f4f6;padding: 0px 10px;" required/>
        <span class="text-error-msg" ng-show="mainform.moveindate.$error.required && mainform.moveindate.$dirty">Required Move in Date</span>
    </div>
    </div>
    <div flex="5" class="layout-padding flex-5"></div>
    <div flex="" layout="row" layout-xs="column" layout-align="start start" layout-align-xs="start stretch" class="layout-xs-column layout-align-xs-start-stretch layout-align-start-start layout-row flex">
      <span class="form-label" style="width: 60%;">Preffered Location:</span>
      <md-select ng-model="userInfo.prefered_location" placeholder="Property Type" class="md-no-underline" style="width: 100%;">
      <md-option ng-repeat="location in cities" ng-value="location.id">
        {{location.city_name}}
      </md-option>
    </md-select>
    </div>
  </div>

</md-content>
</div>
    </div>

    <div class="mb10 ng-invalid ng-invalid-required ng-valid-mindate ng-valid-maxdate ng-valid-filtered ng-valid-valid ng-dirty ng-valid-parse" novalidate="" ng-form="background">
      <!-- ngInclude: --><div src="'app/users/my-profile/_background-info-form.html'" class=""><div id="background" class="">
  <md-toolbar class="_md _md-toolbar-transitions">
    <div class="md-toolbar-tools md-bolder md-white">
      <md-icon class="md-18 mr10"><svg width="100%" height="100%" viewBox="0 0 16 16" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" fit="" preserveAspectRatio="xMidYMid meet" focusable="false">
    <!-- Generator: Sketch 39.1 (31720) - http://www.bohemiancoding.com/sketch -->
    <title>global</title>
    <desc>Created with Sketch.</desc>
    <defs></defs>
    <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
        <g id="Update-profile----Add-a-credit-crad" transform="translate(-566.000000, -1395.000000)" fill="#4A4A4A">
            <g id="Group-8-Copy-7" transform="translate(540.000000, 1374.000000)">
                <g id="Group-3" transform="translate(1.000000, 0.000000)">
                    <g id="global" transform="translate(25.000000, 21.000000)">
                        <path d="M8,0 C3.57627812,0 0,3.57627812 0,8 C0,12.4237219 3.57627812,16 8,16 C12.4237219,16 16,12.4237219 16,8 C16,3.57627812 12.4237219,0 8,0 L8,0 Z M5.58527607,1.08957055 C5.16319018,1.68179959 4.80327198,2.30674847 4.50224949,2.96114519 L2.68629857,2.96114519 C3.47811861,2.12351738 4.46952965,1.47566462 5.58527607,1.08957055 L5.58527607,1.08957055 Z M2.11370143,3.64171779 L4.21431493,3.64171779 C3.7202454,4.91451943 3.44867076,6.27239264 3.40940695,7.6597137 L0.690388548,7.6597137 C0.759100204,6.15787321 1.27607362,4.77382413 2.11370143,3.64171779 L2.11370143,3.64171779 Z M2.11370143,12.3582822 C1.27607362,11.2261759 0.759100204,9.84212679 0.690388548,8.3402863 L3.40940695,8.3402863 C3.44867076,9.72760736 3.73006135,11.0854806 4.22740286,12.3582822 L2.11370143,12.3582822 L2.11370143,12.3582822 Z M2.68629857,13.0388548 L4.51860941,13.0388548 C4.82290389,13.6932515 5.18282209,14.3247444 5.59836401,14.9169734 C4.4793456,14.5308793 3.48139059,13.8797546 2.68629857,13.0388548 L2.68629857,13.0388548 Z M7.6597137,15.3128834 C7.3194274,15.2965235 6.98241309,15.2572597 6.65521472,15.198364 C6.11206544,14.5276074 5.64744376,13.804499 5.27116564,13.0421268 L7.6597137,13.0421268 L7.6597137,15.3128834 L7.6597137,15.3128834 Z M7.6597137,12.3582822 L4.9603272,12.3582822 C4.43353783,11.0887526 4.13251534,9.73087935 4.08997955,8.3402863 L7.6597137,8.3402863 L7.6597137,12.3582822 L7.6597137,12.3582822 Z M7.6597137,7.6597137 L4.08997955,7.6597137 C4.13251534,6.27239264 4.43026585,4.91124744 4.95378323,3.64171779 L7.6597137,3.64171779 L7.6597137,7.6597137 L7.6597137,7.6597137 Z M7.66298569,2.96114519 L7.6597137,2.96114519 L5.26462168,2.96114519 C5.64417178,2.19222904 6.10879346,1.46912065 6.65521472,0.804907975 C6.98241309,0.742740286 7.3194274,0.706748466 7.66298569,0.690388548 L7.66298569,2.96114519 L7.66298569,2.96114519 Z M13.8862986,3.64171779 C14.7239264,4.77382413 15.2441718,6.15460123 15.3096115,7.6597137 L12.590593,7.6597137 C12.5513292,6.27239264 12.2699387,4.91451943 11.7725971,3.64171779 L13.8862986,3.64171779 L13.8862986,3.64171779 Z M13.3137014,2.96114519 L11.4813906,2.96114519 C11.1770961,2.30674847 10.8171779,1.67525562 10.398364,1.08302658 C11.5206544,1.46912065 12.5186094,2.1202454 13.3137014,2.96114519 L13.3137014,2.96114519 Z M8.3402863,0.690388548 C8.6805726,0.706748466 9.01758691,0.74601227 9.34478528,0.804907975 C9.88793456,1.47566462 10.3525562,2.19877301 10.7288344,2.96114519 L8.3402863,2.96114519 L8.3402863,0.690388548 L8.3402863,0.690388548 Z M8.3402863,3.64171779 L11.0396728,3.64171779 C11.5664622,4.90797546 11.8674847,6.26912065 11.9100204,7.6597137 L8.3402863,7.6597137 L8.3402863,3.64171779 L8.3402863,3.64171779 Z M8.3402863,8.3402863 L11.9100204,8.3402863 C11.8674847,9.72760736 11.5697342,11.0887526 11.0462168,12.3582822 L8.3402863,12.3582822 L8.3402863,8.3402863 L8.3402863,8.3402863 Z M8.33701431,15.3096115 L8.33701431,13.0388548 L8.3402863,13.0388548 L10.7353783,13.0388548 C10.3558282,13.807771 9.89120654,14.5308793 9.34478528,15.195092 C9.01758691,15.2572597 8.6805726,15.2932515 8.33701431,15.3096115 L8.33701431,15.3096115 Z M10.398364,14.9169734 C10.8139059,14.3247444 11.1738241,13.6932515 11.4748466,13.0388548 L13.3169734,13.0388548 C12.5186094,13.8797546 11.5206544,14.5308793 10.398364,14.9169734 L10.398364,14.9169734 Z M11.7627812,12.3582822 C12.2535787,11.0854806 12.5316973,9.72760736 12.5873211,8.3402863 L15.3128834,8.3402863 C15.2441718,9.84212679 14.7271984,11.2261759 13.8895706,12.3582822 L11.7627812,12.3582822 L11.7627812,12.3582822 Z" id="Shape"></path>
                    </g>
                </g>
            </g>
        </g>
    </g>
</svg></md-icon>
      <h2 flex="" class="flex">Work Experience</h2>
      <button class="md-icon-button md-button md-ink-ripple" type="button" ng-click="addJobDetails()" ng-disabled="myProfile.showNewJobForm" disabled="disabled">
        <md-icon class="primary "><svg fill="#000000" height="100%" viewBox="0 0 24 24" width="100%" xmlns="http://www.w3.org/2000/svg" fit="" preserveAspectRatio="xMidYMid meet" focusable="false">
    <path d="M19 13h-6v6h-2v-6H5v-2h6V5h2v6h6v2z"></path>
</svg></md-icon>
      </button>
    </div>
  </md-toolbar>
  <md-content class="md-white form _md">

    <md-list class="work-list" role="list">

      <!-- ngIf: myProfile.showNewJobForm -->
        
        <ng-form name="newJob" layout="column" flex="" class="layout-column flex">

          <!-- ngIf: !newJob.$valid && (submitted || myProfile.submitted) -->
          <div class="work-experience-container add-job-hide"><ng-form class="work-experience layout-padding">
  <div layout-sm="column" layout-xs="column" layout="row" class="layout-xs-column layout-sm-column layout-row">
    <div flex="" layout="row" layout-xs="column" layout-align="start start" layout-align-xs="start stretch" class="layout-xs-column layout-align-xs-start-stretch layout-align-start-start layout-row flex">
      <span class="form-label">Employer:</span>
      <input flex="" class="custom-input input-displays ng-pristine ng-untouched flex ng-empty ng-invalid ng-invalid-required" type="text" ng-model="exp.employer" required="" placeholder="Employer" aria-invalid="true">
    </div>
    <div flex="5" class="layout-padding flex-5"></div>
    <div flex="" layout="row" layout-xs="column" layout-align="start start" layout-align-xs="start stretch" class="layout-xs-column layout-align-xs-start-stretch layout-align-start-start layout-row flex">
      <span class="form-label">Position:</span>
      <input flex="" class="custom-input input-displays ng-pristine ng-untouched ng-valid flex ng-empty" type="text" ng-model="exp.position" placeholder="Position" aria-invalid="false">
    </div>
  </div>
  <div layout-sm="column" layout-xs="column" layout="row" class="layout-xs-column layout-sm-column layout-row">
    <div flex="" layout="row" layout-xs="column" layout-align="start start" layout-align-xs="start stretch" class="layout-xs-column layout-align-xs-start-stretch layout-align-start-start layout-row flex">
      <span class="form-label">Start Date:</span>
      <div custom-input="" flex="" name="startDate" class="ng-isolate-scope input-box flex" style="height:40px;">
        <input type="text" id="startdate" placeholder="Enter Date" ng-model="exp.start_date" style="width:100%;height:100%;background: #f2f4f6;padding: 0px 10px;"/>
      </div>
    </div>
    <div flex="5" class="layout-padding flex-5" ng-show="exp.currently_employeed == false"></div>
    <div flex="" layout="row" layout-xs="column" layout-align="start start" layout-align-xs="start stretch" class="layout-xs-column layout-align-xs-start-stretch layout-align-start-start layout-row flex" ng-show="exp.currently_employeed == false">
      <!-- ngIf: !workExperience.current --><span class="form-label ">End Date:</span><!-- end ngIf: !workExperience.current -->
      <!-- ngIf: !workExperience.current --><div custom-input="" flex="" name="endDate" class=" ng-isolate-scope input-box flex" style="height:40px;">
        <input type="text" id="enddate" placeholder="Enter Date" ng-model="exp.end_date" style="width:100%;height:100%;background: #f2f4f6;padding: 0px 10px;"/>
      </div><!-- end ngIf: !workExperience.current -->
    </div>
  </div>
  <div flex="" layout="row" layout-xs="column" layout-align="start center" layout-align-xs="start stretch" class="layout-xs-column layout-align-xs-start-stretch layout-align-start-center layout-row flex">
    <span class="form-label multi-line">Currently Employed:</span>
    <div flex="" class="flex">
      <md-switch ng-model="exp.currently_employeed" aria-label="Switch 1">
      
      </md-switch>
    </div>
  </div>
  <div layout="row" layout-xs="column" layout-align="start start" layout-align-xs="start stretch" class="layout-xs-column layout-align-xs-start-stretch layout-align-start-start layout-row">
    <span class="form-label">Description:</span>
    <textarea flex="" class="default input-displays ng-pristine ng-untouched ng-valid flex ng-empty" ng-model="exp.work_description" name="description" placeholder="Work description" aria-invalid="false"></textarea>
  </div>
</ng-form>
</div>
          <div layout="" layout-align="end end" class="layout-align-end-end layout-row add-job-hide">
            <button class="md-orange-btn add-job md-button md-ink-ripple" type="button" ng-click="addJob(exp); submitted = true" aria-label="Add Job"><span class="">Add Job</span></button>
          </div>
          <!-- ng-repeat="empdetail in userInfo.work_exp" -->
          <div class="row" style="margin: 0px !important;">
            <div class="col-lg-12" ng-repeat="emp in work_exp">
              <div class="border-rad" style="border: 1px solid #ddd;padding: 5px;margin-bottom:10px;">
                  <h4 style="color: #f55e05;">
                    {{emp.position}}
                  </h4>
                  <h5>
                    <b>{{emp.employer}}</b>
                  </h5>
                  <p> 
                    {{emp.start_date | date}} <span> - </span> {{emp.end_date | date}} {{emp.end_date == null ? 'Present': exp.end_date | date:date }}
                  </p>
                   <p>
                    {{emp.work_description}}
                  </p>
              </div>
            </div>
          </div>
          <div class="row" style="margin: 0px !important;">
            <div class="col-lg-12" ng-repeat="empdetail in userInfo.work_exp">
              <div class="border-rad" style="border: 1px solid #ddd;padding: 5px;margin-bottom:10px;">
                  <h4 style="color: #f55e05;">
                    {{empdetail.position}}
                  </h4>
                  <h5>
                    <b>{{empdetail.employer}}</b>
                  </h5>
                  <p> 
                    {{empdetail.start_date | date}} <span> - </span> {{empdetail.end_date | date}} {{empdetail.end_date == null ? 'Present': exp.end_date | date:date }}
                  </p>
                   <p>
                    {{empdetail.work_description}}
                  </p>
              </div>
            </div>
          </div>
        </ng-form>
        <md-divider></md-divider>
      <div class="md-secondary-container"></div></md-list-item><!-- end ngIf: myProfile.showNewJobForm -->
      <!-- ngRepeat: (index, work) in myProfile.me.workHistory -->
  </md-content>
</div>
</div>
    </div>
    <!-- <div class="" ng-class="{active:!$index}">
        <img src="{{userInfo.cover_image}}">
    </div> -->
    <div class="mb10 ng-pristine ng-valid ng-valid-min-count" novalidate="" form="photos">
      <!-- ngInclude: --><div id="photos" class=""><md-toolbar class=" _md _md-toolbar-transitions">
  <div class="md-toolbar-tools md-bolder md-white">
    <md-icon class="md-18 mr10"><svg width="100%" height="100%" viewBox="0 0 16 16" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" fit="" preserveAspectRatio="xMidYMid meet" focusable="false">
    <!-- Generator: Sketch 39.1 (31720) - http://www.bohemiancoding.com/sketch -->
    <title>landscape</title>
    <desc>Created with Sketch.</desc>
    <defs></defs>
    <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
        <g id="Update-profile----Add-a-credit-crad" transform="translate(-566.000000, -1917.000000)" fill="#4A4A4A">
            <g id="Group-8" transform="translate(540.000000, 1896.000000)">
                <g id="landscape" transform="translate(26.000000, 21.000000)">
                    <g id="Capa_1">
                        <g id="Group">
                            <path d="M15.0855,15.529 L0.4435,15.529 C0.1985,15.529 0,15.3305 0,15.0855 L0,0.444 C0,0.199 0.1985,0 0.4435,0 L15.0855,0 C15.3305,0 15.529,0.199 15.529,0.444 L15.529,15.0855 C15.529,15.3305 15.3305,15.529 15.0855,15.529 L15.0855,15.529 Z M0.8875,14.6425 L14.642,14.6425 L14.642,0.8875 L0.8875,0.8875 L0.8875,14.6425 L0.8875,14.6425 Z" id="Shape"></path>
                            <path d="M0.4435,15.529 C0.338,15.529 0.232,15.492 0.147,15.4155 C-0.035,15.252 -0.05,14.971 0.1135,14.789 L4.5505,9.849 C4.6305,9.76 4.7425,9.7075 4.862,9.7025 C4.9785,9.6965 5.0975,9.7405 5.1845,9.8215 L6.3385,10.9045 L9.834,7.4485 C10.0015,7.2835 10.269,7.2775 10.443,7.435 L15.383,11.8865 C15.4765,11.9705 15.5295,12.09 15.5295,12.216 L15.5295,15.085 C15.5295,15.33 15.331,15.5285 15.086,15.5285 L10.146,15.5285 C10.033,15.5285 9.925,15.4855 9.8425,15.4085 L4.9075,10.78 L0.7735,15.382 C0.686,15.4795 0.565,15.529 0.4435,15.529 L0.4435,15.529 Z M10.321,14.6425 L14.642,14.6425 L14.642,12.414 L10.16,8.375 L6.986,11.5125 L10.321,14.6425 L10.321,14.6425 Z" id="Shape"></path>
                            <path d="M5.014,7.898 C3.8395,7.898 2.884,6.942 2.884,5.768 C2.884,4.5935 3.8395,3.638 5.014,3.638 C6.1885,3.638 7.1435,4.5935 7.1435,5.768 C7.1435,6.942 6.188,7.898 5.014,7.898 L5.014,7.898 Z M5.014,4.526 C4.329,4.526 3.7715,5.083 3.7715,5.768 C3.7715,6.4525 4.329,7.01 5.014,7.01 C5.699,7.01 6.256,6.4525 6.256,5.768 C6.256,5.083 5.6985,4.526 5.014,4.526 L5.014,4.526 Z" id="Shape"></path>
                        </g>
                    </g>
                </g>
            </g>
        </g>
    </g>
</svg></md-icon>
    <h2 flex="" class="flex">Photos</h2>
  </div>
</md-toolbar>
  <div photo-validator="" ng-model="config.images" min-count="4" max-count="20" class=" ng-untouched ng-isolate-scope ng-not-empty ng-invalid ng-invalid-min-count ng-valid-max-count" aria-invalid="true"></div>
  <md-content class="md-white md-padding form _md">
    <!-- ngIf: config.images.length === 0 --><div layout="" layout-align="center center" class="ng-scope layout-align-center-center layout-row">
      <div class="drag-drop-container">
        <md-icon class="s48 svg-grey"><svg width="100%" height="100%" viewBox="0 0 42 32" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" fit="" preserveAspectRatio="xMidYMid meet" focusable="false">
    <!-- Generator: Sketch 39.1 (31720) - http://www.bohemiancoding.com/sketch -->
    <desc>Created with Sketch.</desc>
    <defs></defs>
    <path d="M35.9198928,11.7412721 C35.9781512,11.2921999 36.0558574,10.8483217 36.0558574,10.3843485 C36.0558574,4.68034769 31.445543,0.0555167044 25.7538806,0.0555167044 C22.3889039,0.0555167044 19.4289337,1.69717631 17.5499717,4.20113295 C16.8733756,4.03722243 16.1768221,3.92891377 15.4524982,3.92891377 C10.4725908,3.92891377 6.43866122,7.9735441 6.43866122,12.9666416 C6.43866122,13.1077323 6.47373518,13.2339221 6.47874575,13.3749278 C2.74392139,14.4769173 0,17.9014124 0,22.0036882 C0,26.9970411 4.03426932,31.0416714 9.01383697,31.0416714 L30.9049115,31.0416714 C36.5965738,31.0416714 41.2065486,26.4200761 41.2065486,20.71301 C41.2064637,16.8447218 39.0609227,13.5109948 35.9198928,11.7412721 L35.9198928,11.7412721 Z M23.1787898,18.1307169 L23.1787898,25.8771704 L18.0280986,25.8771704 L18.0280986,18.1307169 L12.8770677,18.1307169 L20.6033592,10.3843485 L28.3297357,18.1307169 L23.1787898,18.1307169 L23.1787898,18.1307169 Z" id="Shape" stroke="none" fill="#CACACA" fill-rule="evenodd"></path>
</svg></md-icon>
        <!-- <h4 hide-sm="" hide-xs="" class="hide-sm hide-xs">Drag &amp; Drop</h4> -->
        <button class="md-orange-btn md-button md-ink-ripple" type="button"  label-for="photo" ng-click="multipleimgdata()"><span class="ng-scope">Choose Images</span></button>
        <input id="photo" class="" type="file" accept="image/*" file-uploader="" ng-change="config.addPhotos(newFiles)" ng-model="newFiles" multiple="" aria-invalid="false">
      </div>
    </div><!-- end ngIf: config.images.length === 0 -->
    <!-- ngIf: config.images.length > 0 -->
  </md-content>
  <md-content class="md-white md-padding form _md">
    <!-- ngIf: config.images.length === 0 -->
    <!-- ngIf: config.images.length > 0 --><md-list layout="row" layout-wrap="" sortable-list="config.images" key="url" layout-padding="" class="layout-padding layout-wrap ng-scope ng-isolate-scope layout-row" role="list">
      <!-- ngRepeat: item in config.images track by item.url --><!-- end ngRepeat: item in config.images track by item.url --><!-- end ngRepeat: item in config.images track by item.url --><!-- end ngRepeat: item in config.images track by item.url --><!-- end ngRepeat: item in config.images track by item.url -->
      <!-- showing default images -->

      <md-list-item flex="33" flex-md="50" flex-xs="100" class="md-proxy md-no-before md-no-proxy ng-scope ng-isolate-scope _md flex-xs-100 flex-md-50 flex-33" sortable="item" ng-repeat="defaultimage in userInfo.photo_ids" role="listitem" draggable="true">
        <div class="photo-image-container">
          <div class="overlay" role="button" tabindex="0">
            <img ng-src="{{defaultimage}}" style="width: 100%;height: 100%;">
          </div>
          <button class="md-icon-button md-button ng-scope md-ink-ripple" type="button" aria-label="Delete" ng-click="Deletedefaultimage($index)">
            <md-icon><svg width="100%" height="100%" viewBox="-1 -1 20 20" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" fit="" preserveAspectRatio="xMidYMid meet" focusable="false">
    <desc>Created with Sketch.</desc>
    <defs></defs>
    <path d="M9,18 C13.9705627,18 18,13.9705627 18,9 C18,4.02943725 13.9705627,0 9,0 C4.02943725,0 0,4.02943725 0,9 C0,13.9705627 4.02943725,18 9,18 Z" id="Oval-56_cache40" stroke="#FFFFFF" stroke-width="1.5" fill="#9B9B9B" fill-rule="evenodd"></path>
    <path d="M12.5,8.56603774 L9.5,8.56603774 L9.5,5.50943396 C9.5,5.22822642 9.276,5 9,5 C8.724,5 8.5,5.22822642 8.5,5.50943396 L8.5,8.56603774 L5.5,8.56603774 C5.224,8.56603774 5,8.79426415 5,9.0754717 C5,9.35667925 5.224,9.58490566 5.5,9.58490566 L8.5,9.58490566 L8.5,12.6415094 C8.5,12.922717 8.724,13.1509434 9,13.1509434 C9.276,13.1509434 9.5,12.922717 9.5,12.6415094 L9.5,9.58490566 L12.5,9.58490566 C12.776,9.58490566 13,9.35667925 13,9.0754717 C13,8.79426415 12.776,8.56603774 12.5,8.56603774 L12.5,8.56603774 Z" id="Shape_cache40" stroke="none" fill="#FFFFFF" fill-rule="evenodd" transform="translate(9.000000, 9.075472) rotate(-315.000000) translate(-9.000000, -9.075472) "></path>
</svg></md-icon>
          </button>
        </div>
      <div class="md-secondary-container"></div></md-list-item>

      <!-- showing default images -->

      <md-list-item flex="33" flex-md="50" flex-xs="100" class="md-proxy md-no-before md-no-proxy _md flex-xs-100 flex-md-50 flex-33" dropable="" role="listitem" style="display: none;">
        <div class="photo-image-container placeholder">
          <div class="overlay"></div>
        </div>
      <div class="md-secondary-container"></div></md-list-item>

      <!-- ngIf: config.images.length < 20 --><md-list-item flex="33" flex-md="50" flex-xs="100" class="md-proxy md-no-proxy ng-scope _md flex-xs-100 flex-md-50 flex-33" role="listitem">
        <!-- <div class="photo-image-container md-ink-ripple" md-ink-ripple="">
          <label class="clickable overlay m0 layout-align-center-center layout-row" layout="" layout-align="center center">
            <md-icon class="s48 primary"><svg fill="#000000" height="100%" viewBox="0 0 24 24" width="100%" xmlns="http://www.w3.org/2000/svg" fit="" preserveAspectRatio="xMidYMid meet" focusable="false">
    <path d="M19 13h-6v6h-2v-6H5v-2h6V5h2v6h6v2z"></path>
</svg></md-icon>
            <input class="ng-hide ng-pristine ng-untouched ng-valid ng-empty" type="file" accept="image/*" file-uploader="" ng-change="config.addPhotos(newFiles)" ng-model="newFiles" multiple="" aria-invalid="false">
          </label>
        </div> -->
      <div class="md-secondary-container"></div></md-list-item><!-- end ngIf: config.images.length < 20 -->
    </md-list><!-- end ngIf: config.images.length > 0 -->
  </md-content>
</div>
    </div>
    <div layout="" layout-align="end center" hide-xs="" class="hide-xs layout-align-end-center layout-row">
      <button ng-disabled="!userInfo.move_in_date" class="btn-fill md-button md-ink-ripple edit-submit-btn btn" type="submit" ng-click=save()><span class="">Save and Update</span></button>
      <button class="btn-fill md-button md-ink-ripple edit-update-btn" type="button" ng-if="loading">
        <span class="btn-fill md-button md-ink-ripple edit-update-btn"><i class="fa fa-spinner fa-spin"></i>Updating....</span>
      </button>
    </div>
    <!-- <button class="btn-fill fix-bottom md-button md-ink-ripple hide-gt-xs" type="button" ng-disabled="myProfile.submitting" hide-gt-xs=""><span class="">Save and Update</span></button> -->
  </div>
</form>
</div>

</div>
<style type="text/css">
.md-datepicker-input-container{
	width: 100%;
}
.text-error-msg{
  color:red;
}
</style>
<script type="text/javascript">
  $(document).ready(function () {
    $("#birthday").datepicker({
      maxDate:new Date(),
    changeMonth: true,  
    changeYear: true,
    yearRange: "-100:+0"
    });
    $("#movingDate").datepicker({minDate: 0,changeMonth: true,  
    changeYear: true});
  });
  $('#startdate').datepicker({
    minDate: 0,
    changeMonth: true,  
    changeYear: true,
    beforeShow: function() {
      $(this).datepicker('option', 'maxDate', $('#enddate').val());
    }
  });
  $('#enddate').datepicker({
    defaultDate: "+1w",
    changeMonth: true,  
    changeYear: true,
    beforeShow: function() {
      $(this).datepicker('option', 'minDate', $('#startdate').val());
      if ($('#startdate').val() === '') $(this).datepicker('option', 'minDate', 0);
    }
  });
</script>