<div class="pos-relative  layout-column flex" flex="" layout="column">
  <!-- uiView: --><div flex="noshrink" layout="column" class=" layout-column flex-noshrink"><div id="favorites" class="container res-padding  layout-column" layout="column">
  <md-toolbar class="md-white md-no-shrink _md _md-toolbar-transitions">
    <div class="md-toolbar-tools md-bolder">
      <h2 flex="" class="ng-binding flex">Favorites ({{favouritecount}})</h2>
    </div>
  </md-toolbar>
  
  <md-content flex="" class="md-white mt10 mb10 layout-padding layout-wrap _md layout-row flex" layout="row" layout-wrap="" layout-padding="">
   <!-- loading icon start -->
    <div class="loading-container">
        <div class="loading"></div>
        <div id="loading-text">loading</div>
    </div>
    <!-- loading icon ends -->
  <div ng-repeat="favourite in favourites" listing="favourite" show-message="true" source="my-favourite" flex-xs="100" flex-sm="50" flex="33" class=" ng-isolate-scope flex-xs-100 flex-sm-50 flex-33"><div class="listing-container layout-column" layout="column">
  <div class="image-container">
    <div class="picture-container ng-isolate-scope" custom-carousel="favourite.listing_id.photo_ids" start-index="0" set-target="_blank" click="addSeen()" ref="main.listing({id:'ScxcSBAG_-', source:'my-favourite'})" show-slides="true"><div class="custom-carousel">
  <div class="photos-container">
    <!-- <div class="overlay">
      <a class="overlay flex-center fix-mobile-scrolling "  md-swipe-left="loadImages(-1)" md-swipe-right="loadImages(1)" my-target="_blank"  style="touch-action: none;" ng-click="individualpost(favourite.listing_id.id)" ui-sref-active="md-active">
        <img class="img" src="{{favouritephoto.photo}}" ng-repeat="favouritephoto in favourite.listing_id.photo_ids">
      </a>
    </div> -->
    <div class="overlay">
      <a ng-click="individualpost(favourite.listing_id.id)">
        <div class="carousel" id="sliderin{{$index}}">
            <div class="carousel-inner">
                <div class="item" ng-class="{active:!$index}" ng-repeat="favouritephoto in favourite.listing_id.photo_ids" style="width:100%;">
                    <img ng-src="{{favouritephoto.photo}}" class="img-responsive" style="height: 250px;">
                </div>
            </div>
        </div>
      </a>
    </div>
    <div data-target="#sliderin{{$index}}" data-slide="prev" class="left-arrow arrow ng-scope" role="button" tabindex="0"></div>
    <div data-target="#sliderin{{$index}}" data-slide="next" class="right-arrow arrow ng-scope" role="button" tabindex="0"></div>
  </div>
  
</div>
</div>
    <div class="price-container layout-align-center-center layout-row" layout="" layout-align="center center">
      <!-- ngIf: ::listing.instantBookingEnabled -->
      <span class="currency ng-binding">AED</span>
      <span class="value ng-binding">{{favourite.listing_id.monthly_rent}}</span>
    </div>

    <badges badges="badges" class="nav-left ng-isolate-scope layout-row" layout="row"><!-- ngRepeat: badge in $ctrl.badges track by badge._id --><div ng-repeat="badge in $ctrl.badges track by badge._id" class="badge-icon mr10 " aria-label="This roommate verified their official ID. Message away!" md-labeled-by-tooltip="md-tooltip-5">
  
  <img ng-src="https://s3-us-west-2.amazonaws.com/roomisvgs/badges/Jumio+verified+%401x.svg" src="https://s3-us-west-2.amazonaws.com/roomisvgs/badges/Jumio+verified+%401x.svg">
</div><!-- end ngRepeat: badge in $ctrl.badges track by badge._id -->
</badges>

    <div class="nav-right">
  <!--     <button class="md-icon-button s32 m10 heart md-button md-ink-ripple" type="button"   aria-label="favorite-listing" ng-click="addFavourite(favourite.id)">
        <md-icon class="circle-icon " ><svg width="100%" height="100%" viewBox="-1 -1 37 37" version="1.1" xmlns="" xmlns:xlink="" fit="" preserveAspectRatio="xMidYMid meet" focusable="false">
    <defs>
    </defs>
    <path d="M17.2109366,24.8476564 L11.9296872,19.7526046 C11.8732636,19.7074648 11.7956819,19.634115 11.6969401,19.5325515 C11.5981983,19.4309898 11.4416243,19.2462029 11.2272135,18.9781908 C11.0128027,18.7101769 10.8209645,18.4351142 10.6516927,18.1529953 C10.4824209,17.8708763 10.3314893,17.5295164 10.1988932,17.1289059 C10.0662971,16.7282974 10,16.3389785 10,15.960938 C10,14.7196127 10.3582863,13.7491356 11.0748698,13.0494802 C11.7914533,12.349823 12.7816785,12 14.0455737,12 C14.3954004,12 14.7522759,12.0606553 15.1162114,12.1819659 C15.4801451,12.3032784 15.818684,12.4669039 16.1318359,12.6728521 C16.4449877,12.8787984 16.7144084,13.0720482 16.9401035,13.2526036 C17.1657987,13.4331609 17.380208,13.6249984 17.5833332,13.8281255 C17.7864585,13.6249984 18.0008659,13.4331609 18.2265629,13.2526036 C18.4522581,13.0720482 18.7216788,12.8787984 19.0348306,12.6728521 C19.3479825,12.4669039 19.6865214,12.3032784 20.0504551,12.1819659 C20.4143906,12.0606553 20.7712661,12 21.1210928,12 C22.384988,12 23.375214,12.349823 24.0917973,13.0494802 C24.8083805,13.7491356 25.1666665,14.7196127 25.1666665,15.960938 C25.1666665,17.2079053 24.5206234,18.4774235 23.2285163,19.7695306 L17.9557299,24.8476564 C17.8541663,24.9492194 17.7300347,25.0000001 17.5833332,25.0000001 C17.4366318,25.0000001 17.3125002,24.9492194 17.2109366,24.8476564 Z" id="Page-1" fill="#FFFFFF"></path>
</svg></md-icon>
      </button> -->
      <div class="fav-icon" ng-click="removeFavouriteListing(favourite.listing_id.id)"><i class="fa fa-thumbs-up" aria-hidden="true"></i></div>
      
<!--       <button class="md-icon-button s32 m10 heart md-button accent md-ink-ripple" type="button"   aria-label="favorite-listing" ng-click="removeFavouriteListing(favourite.listing_id.id)">
        <md-icon class="circle-icon " ><svg width="100%" height="100%" viewBox="-1 -1 37 37" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" fit="" preserveAspectRatio="xMidYMid meet" focusable="false">
    <defs>
    </defs>
    <path d="M17.2109366,24.8476564 L11.9296872,19.7526046 C11.8732636,19.7074648 11.7956819,19.634115 11.6969401,19.5325515 C11.5981983,19.4309898 11.4416243,19.2462029 11.2272135,18.9781908 C11.0128027,18.7101769 10.8209645,18.4351142 10.6516927,18.1529953 C10.4824209,17.8708763 10.3314893,17.5295164 10.1988932,17.1289059 C10.0662971,16.7282974 10,16.3389785 10,15.960938 C10,14.7196127 10.3582863,13.7491356 11.0748698,13.0494802 C11.7914533,12.349823 12.7816785,12 14.0455737,12 C14.3954004,12 14.7522759,12.0606553 15.1162114,12.1819659 C15.4801451,12.3032784 15.818684,12.4669039 16.1318359,12.6728521 C16.4449877,12.8787984 16.7144084,13.0720482 16.9401035,13.2526036 C17.1657987,13.4331609 17.380208,13.6249984 17.5833332,13.8281255 C17.7864585,13.6249984 18.0008659,13.4331609 18.2265629,13.2526036 C18.4522581,13.0720482 18.7216788,12.8787984 19.0348306,12.6728521 C19.3479825,12.4669039 19.6865214,12.3032784 20.0504551,12.1819659 C20.4143906,12.0606553 20.7712661,12 21.1210928,12 C22.384988,12 23.375214,12.349823 24.0917973,13.0494802 C24.8083805,13.7491356 25.1666665,14.7196127 25.1666665,15.960938 C25.1666665,17.2079053 24.5206234,18.4774235 23.2285163,19.7695306 L17.9557299,24.8476564 C17.8541663,24.9492194 17.7300347,25.0000001 17.5833332,25.0000001 C17.4366318,25.0000001 17.3125002,24.9492194 17.2109366,24.8476564 Z" id="Page-1" fill="#FFFFFF"></path>
</svg></md-icon>
      </button> -->
    </div>
  </div>
  <div class="listing-lower">
  <div class="md-avatar-content ng-scope ng-isolate-scope" avatar="::listing.user">
      <a class="avatar-container ng-isolate-scope layout-align-center-center layout-column" my-target="_blank" navigatable="canNavigate" link="" layout="column" layout-align="center center" ng-if="!favourite.listing_id.user_id.is_viewable">
          <div class="avatar-image-container layout-align-center-center layout-row" layout="" layout-align="center center" ng-click="isViewable(favourite.listing_id.user_id.id)">
              <div class="avatar-image" bg-image="avatar | profileImage" style="background-image: url(&quot;{{favourite.listing_id.user_id.cover_image}}&quot;); background-repeat: no-repeat; background-size: cover; background-position: 50% 50%;"></div>
          </div>
          <div class="user-name layout-align-center-center layout-row" layout="" layout-align="center center">

             <span class="ng-binding">{{favourite.listing_id.user_id.user.first_name}}, {{favourite.userdob}}</span>
              <!-- ngIf: showHelp -->
          </div>
      </a>
      <a class="avatar-container ng-isolate-scope layout-align-center-center layout-column" my-target="_blank" navigatable="canNavigate" link="" layout="column" layout-align="center center" target="_blank" href="#/user-info/{{ favourite.listing_id.user_id.id }}" ng-if="favourite.listing_id.user_id.is_viewable">
          <div class="avatar-image-container layout-align-center-center layout-row" layout="" layout-align="center center">
              <div class="avatar-image" bg-image="avatar | profileImage" style="background-image: url(&quot;{{favourite.listing_id.user_id.cover_image}}&quot;); background-repeat: no-repeat; background-size: cover; background-position: 50% 50%;"></div>
          </div>
          <div class="user-name layout-align-center-center layout-row" layout="" layout-align="center center">

             <span class="ng-binding">{{favourite.listing_id.user_id.user.first_name}}, {{favourite.userdob}}</span>
              <!-- ngIf: showHelp -->
          </div>
      </a>
  </div>
  <!-- end ngIf: showImage -->
  <a my-target="_blank" class="listing-info layout-column" layout="column" ng-click="addSeen();" href="" target="_blank">
      <h3 class="truncate ng-binding">{{favourite.city_id.city_name}}</h3>
      <span layout="" layout-align="start center" layout-wrap="" class="layout-wrap layout-align-start-center layout-row">
      <span class="mr5 ng-binding">{{favourite.listing_id.is_active === true? 'Available Now' : 'Not Available'}}</span>
      <span class="ng-binding">
      <!-- <span class="square">▪</span> -->
       <span ng-if="favourite.validity_for_stay=='small'">1-3 Months</span>
       <span ng-if="favourite.validity_for_stay=='medium'">3-6 Months</span>
       <span ng-if="favourite.validity_for_stay=='long'">6-9 Months</span>
       <span ng-if="favourite.validity_for_stay==''">Not Availble</span>
      </span>
      </span>
  </a>
</div>

</div>
</div><!-- end ngRepeat: favorite in favorites.favorites --><!-- end ngRepeat: favorite in favorites.favor+ites -->
<button class="btn-common orange-btn md-button ng-scope md-ink-ripple login-btn" type="submit" ng-click="Loadmore()" style="margin: auto;display: table;" ng-if="loadmore">
  <span class="authen-email">Load More</span>
</button>
<div  layout="column" ng-if="!nofav" layout-align="center center" class="ng-scope layout-align-center-center layout-column"  style="margin: auto;display: table;">
    <img class="favorites-empty-img" src="/static/images/nofavouritedata.png">
    <div style="margin-left: 30%;">
    <h2 class="">No Favorites Yet!</h2>
    <p>Add Some Favorites</p>
    <a class="md-primary md-med-btn md-button md-ink-ripple" ui-sref="search-listings" href="/search-listings"><span class="ng-scope">Search Listings Now!</span></a>
    </div>
</div>
  </md-content>
  
</div>
</div>

</div>
<style type="text/css">
    /*loading icon css */
    @-moz-keyframes rotate-loading {
    0%  {transform: rotate(0deg);-ms-transform: rotate(0deg); -webkit-transform: rotate(0deg); -o-transform: rotate(0deg); -moz-transform: rotate(0deg);}
    100% {transform: rotate(360deg);-ms-transform: rotate(360deg); -webkit-transform: rotate(360deg); -o-transform: rotate(360deg); -moz-transform: rotate(360deg);}
}
 
@-o-keyframes rotate-loading {
    0%  {transform: rotate(0deg);-ms-transform: rotate(0deg); -webkit-transform: rotate(0deg); -o-transform: rotate(0deg); -moz-transform: rotate(0deg);}
    100% {transform: rotate(360deg);-ms-transform: rotate(360deg); -webkit-transform: rotate(360deg); -o-transform: rotate(360deg); -moz-transform: rotate(360deg);}
}
 
@-webkit-keyframes rotate-loading {
    0%  {transform: rotate(0deg);-ms-transform: rotate(0deg); -webkit-transform: rotate(0deg); -o-transform: rotate(0deg); -moz-transform: rotate(0deg);}
    100% {transform: rotate(360deg);-ms-transform: rotate(360deg); -webkit-transform: rotate(360deg); -o-transform: rotate(360deg); -moz-transform: rotate(360deg);}
}
 
@keyframes rotate-loading {
    0%  {transform: rotate(0deg);-ms-transform: rotate(0deg); -webkit-transform: rotate(0deg); -o-transform: rotate(0deg); -moz-transform: rotate(0deg);}
    100% {transform: rotate(360deg);-ms-transform: rotate(360deg); -webkit-transform: rotate(360deg); -o-transform: rotate(360deg); -moz-transform: rotate(360deg);}
}
 
@-moz-keyframes loading-text-opacity {
    0%  {opacity: 0}
    20% {opacity: 0}
    50% {opacity: 1}
    100%{opacity: 0}
}
 
 
@-o-keyframes loading-text-opacity {
    0%  {opacity: 0}
    20% {opacity: 0}
    50% {opacity: 1}
    100%{opacity: 0}
}
 
@-webkit-keyframes loading-text-opacity {
    0%  {opacity: 0}
    20% {opacity: 0}
    50% {opacity: 1}
    100%{opacity: 0}
}
 
@keyframes loading-text-opacity {
    0%  {opacity: 0}
    20% {opacity: 0}
    50% {opacity: 1}
    100%{opacity: 0}
}
 
.loading-container,
.loading {
    height: 100px;
    position: relative;
    width: 100px;
    border-radius: 100%;
}
 
.loading-container { margin: 40px auto; }
 
.loading {
    border: 2px solid transparent;
    border-color: transparent #000 transparent #000;
    -moz-animation: rotate-loading 1.5s linear 0s infinite normal;
    -moz-transform-origin: 50% 50%;
    -o-animation: rotate-loading 1.5s linear 0s infinite normal;
    -o-transform-origin: 50% 50%;
    -webkit-animation: rotate-loading 1.5s linear 0s infinite normal;
    -webkit-transform-origin: 50% 50%;
    animation: rotate-loading 1.5s linear 0s infinite normal;
    transform-origin: 50% 50%;
}
 
.loading-container:hover .loading {
    border-color: transparent #E45635 transparent #E45635;
}
 
.loading-container:hover .loading,
.loading-container .loading {
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}
 
#loading-text {
    -moz-animation: loading-text-opacity 2s linear 0s infinite normal;
    -o-animation: loading-text-opacity 2s linear 0s infinite normal;
    -webkit-animation: loading-text-opacity 2s linear 0s infinite normal;
    animation: loading-text-opacity 2s linear 0s infinite normal;
    color: #000;
    font-family: "Helvetica Neue", "Helvetica", "Arial", sans-serif;
    font-size: 10px;
    font-weight: bold;
    margin-top: 45px;
    opacity: 0;
    position: absolute;
    text-align: center;
    text-transform: uppercase;
    top: 0;
    width: 100px;
}
</style>