<div id="home" class="">
                    <!-- ngInclude: 'app/home/_home-images.html' -->
                    <div class="pos-relative " >
                        <div layout="" layout-align="center center" class="slider-container  layout-align-center-center layout-row">
                            <slick class="slider main-slider-home-ch" settings="homepageslide" ng-if="homepageslideLoaded">
                                <div ng-repeat="i in [1,2,3,4,5] track by $index">
                                    <!-- start -->
                                    <div class="slide-bg-main-ch"></div>
                                    <!-- end -->
                                </div>
                            </slick>
                            <!-- <slick settings="home.slickConfig" class="overlay dimmer  slick-initialized slick-slider" style="display: block;">
                                <div aria-live="polite" class="slick-list">
                                    <div class="slick-track" style="opacity: 1; width: 8988px;" role="listbox">

                                        <div  class="full-image  slick-slide slick-current slick-active" bg-image="item" style="background-image: url(/static/assets/images/about/findaroom_home.jpg); background-repeat: no-repeat; background-size: cover; background-position: 50% 50%; width: 1284px; position: relative; left: 0px; top: 0px; z-index: 999; opacity: 1;" data-slick-index="0" aria-hidden="false" tabindex="-1" role="option" aria-describedby="slick-slide00"></div>

                                        <div  class="full-image  slick-slide" bg-image="item" style="background-image: url(&quot;/static/assets/images/about/image2.jpg&quot;); background-repeat: no-repeat; background-size: cover; background-position: 50% 50%; width: 1284px; position: relative; left: -1284px; top: 0px; z-index: 998; opacity: 0; transition: opacity 1000ms ease;" data-slick-index="1" aria-hidden="true" tabindex="-1" role="option" aria-describedby="slick-slide01"></div>
                                        <div  class="full-image  slick-slide" bg-image="item" style="background-image: url(&quot;/static/assets/images/about/image3.jpg&quot;); background-repeat: no-repeat; background-size: cover; background-position: 50% 50%; width: 1284px; position: relative; left: -2568px; top: 0px; z-index: 998; opacity: 0; transition: opacity 1000ms ease;" data-slick-index="2" aria-hidden="true" tabindex="-1" role="option" aria-describedby="slick-slide02"></div>
                                        <div class="full-image  slick-slide" bg-image="item" style="background-image: url(&quot;/static/assets/images/about/image4.jpg&quot;); background-repeat: no-repeat; background-size: cover; background-position: 50% 50%; width: 1284px; position: relative; left: -3852px; top: 0px; z-index: 998; opacity: 0; transition: opacity 1000ms ease;" data-slick-index="3" aria-hidden="true" tabindex="-1" role="option" aria-describedby="slick-slide03"></div>
                                        <div  class="full-image  slick-slide" bg-image="item" style="background-image: url(&quot;/static/assets/images/about/image5.jpg&quot;); background-repeat: no-repeat; background-size: cover; background-position: 50% 50%; width: 1284px; position: relative; left: -5136px; top: 0px; z-index: 998; opacity: 0; transition: opacity 1000ms ease;" data-slick-index="4" aria-hidden="true" tabindex="-1" role="option" aria-describedby="slick-slide04"></div>
                                        <div class="full-image  slick-slide" bg-image="item" style="background-image: url(&quot;/static/assets/images/about/image6.jpg&quot;); background-repeat: no-repeat; background-size: cover; background-position: 50% 50%; width: 1284px; position: relative; left: -6420px; top: 0px; z-index: 998; opacity: 0; transition: opacity 1000ms ease;" data-slick-index="5" aria-hidden="true" tabindex="-1" role="option" aria-describedby="slick-slide05"></div>
                                        <div class="full-image  slick-slide" bg-image="item" style="background-image: url(&quot;/static/assets/images/about/image7.jpg&quot;); background-repeat: no-repeat; background-size: cover; background-position: 50% 50%; width: 1284px; position: relative; left: -7704px; top: 0px; z-index: 998; opacity: 0; transition: opacity 1000ms ease;" data-slick-index="6" aria-hidden="true" tabindex="-1" role="option" aria-describedby="slick-slide06"></div>
                                    </div>
                                </div>
                            </slick> -->
                            <div class="search text-center layout-align-center-center layout-column" layout="column" layout-align="center center">
                                <h2 class="title">Find Your Ideal Home</h2>
                                <h3 class="desc">Search thousands of verified listings across town or around the world</h3>
                                    <div class="searchbar-container hide-xs border-rad" hide-xs="">
                                        <div class="searchbar-input-container layout-fill layout-align-center-center layout-row border-rad" layout="" layout-fill="" layout-align="center center">
                                            <div class="searchbar-icon layout-align-center-center layout-row border-rad" layout="" layout-align="center center">
                                                <md-icon class="s24" role="img">
                                                    <svg width="100%" height="100%" viewBox="0 0 25 25" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" fit="" preserveAspectRatio="xMidYMid meet" focusable="false">
                                                        <title>magnifying-glass</title>
                                                        <desc>Created with Sketch.</desc>
                                                        <defs></defs>
                                                        <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                                            <g id="Home-page-2" transform="translate(-347.000000, -400.000000)" fill="#4A4A4A">
                                                                <g id="Group-28" transform="translate(320.000000, 376.000000)">
                                                                    <g id="magnifying-glass" transform="translate(27.000000, 24.000000)">
                                                                        <g id="Capa_1">
                                                                            <path d="M24.7810421,23.7250554 L18.7056541,17.6496674 C20.3353659,15.7760532 21.3220621,13.3314856 21.3220621,10.6596452 C21.3220621,4.77827051 16.5382483,0 10.6624169,0 C4.78104213,0 0.00277161862,4.78381375 0.00277161862,10.6596452 C0.00277161862,16.5354767 4.78658537,21.3192905 10.6624169,21.3192905 C13.3342572,21.3192905 15.7788248,20.3325942 17.652439,18.7028825 L23.7278271,24.7782705 C23.8719512,24.9223947 24.0659645,25 24.2544346,25 C24.4429047,25 24.636918,24.9279379 24.7810421,24.7782705 C25.0692905,24.4900222 25.0692905,24.0133038 24.7810421,23.7250554 L24.7810421,23.7250554 Z M1.49390244,10.6596452 C1.49390244,5.60421286 5.60698448,1.49667406 10.6568736,1.49667406 C15.712306,1.49667406 19.8198448,5.6097561 19.8198448,10.6596452 C19.8198448,15.7095344 15.712306,19.8281596 10.6568736,19.8281596 C5.60698448,19.8281596 1.49390244,15.7150776 1.49390244,10.6596452 L1.49390244,10.6596452 Z" id="Shape"></path>
                                                                        </g>
                                                                    </g>
                                                                </g>
                                                            </g>
                                                        </g>
                                                    </svg>
                                                </md-icon>
                                            </div>
                                            <form novalidate="" name="searchListings" flex="" layout="" layout-fill=""  class="layout-fill  layout-row flex">
                                                <search-bar flex="" id="searchbar" search-term="searchBar.searchTerm" change="searchBar.change()" class=" flex">
                                                    <div class="searchbar">
                                                        <div layout="" layout-align="center center" class="input-container layout-align-center-center layout-row">
                                                            <input  md-autofocus="" flex="" placeholder="Enter a street, area, or city" value="" class=" md-autofocus flex" aria-invalid="false" ng-model="GlobalSearchTerm" id="GlobalSearch" style="height:100%;">
                                                            <span class=""></span>
                                                        </div>

                                                        <div class="predictions-container" aria-hidden="true">
                                                        </div>
                                                    </div>
                                                </search-bar>
                                                <button class="md-orange-btn m0 pl30 pr30 md-button md-ink-ripple" type="button" ng-click="SearchGlobal()" style="    border-top-right-radius: 5px;border-bottom-right-radius: 5px;"><img src="/static/images/favicon.png" height="25"><span class="">Search</span></button>
                                            </form>
                                        </div>
                                    </div>
                                    <div class="searchbar-container center hide-gt-xs " hide-gt-xs="" role="button" tabindex="0">
                                        <div class="searchbar-input-container clickable layout-row" layout="">
                                            <md-icon class="s16 ml10 mr10" role="img">
                                                <svg width="100%" height="100%" viewBox="0 0 25 25" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" fit="" preserveAspectRatio="xMidYMid meet" focusable="false">
                                                    <title>magnifying-glass</title>
                                                    <desc>Created with Sketch.</desc>
                                                    <defs></defs>
                                                    <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                                        <g id="Home-page-2" transform="translate(-347.000000, -400.000000)" fill="#4A4A4A">
                                                            <g id="Group-28" transform="translate(320.000000, 376.000000)">
                                                                <g id="magnifying-glass" transform="translate(27.000000, 24.000000)">
                                                                    <g id="Capa_1">
                                                                        <path d="M24.7810421,23.7250554 L18.7056541,17.6496674 C20.3353659,15.7760532 21.3220621,13.3314856 21.3220621,10.6596452 C21.3220621,4.77827051 16.5382483,0 10.6624169,0 C4.78104213,0 0.00277161862,4.78381375 0.00277161862,10.6596452 C0.00277161862,16.5354767 4.78658537,21.3192905 10.6624169,21.3192905 C13.3342572,21.3192905 15.7788248,20.3325942 17.652439,18.7028825 L23.7278271,24.7782705 C23.8719512,24.9223947 24.0659645,25 24.2544346,25 C24.4429047,25 24.636918,24.9279379 24.7810421,24.7782705 C25.0692905,24.4900222 25.0692905,24.0133038 24.7810421,23.7250554 L24.7810421,23.7250554 Z M1.49390244,10.6596452 C1.49390244,5.60421286 5.60698448,1.49667406 10.6568736,1.49667406 C15.712306,1.49667406 19.8198448,5.6097561 19.8198448,10.6596452 C19.8198448,15.7095344 15.712306,19.8281596 10.6568736,19.8281596 C5.60698448,19.8281596 1.49390244,15.7150776 1.49390244,10.6596452 L1.49390244,10.6596452 Z" id="Shape"></path>
                                                                    </g>
                                                                </g>
                                                            </g>
                                                        </g>
                                                    </g>
                                                </svg>
                                            </md-icon>
                                            <input type="text" placeholder="Enter a street, area, or city" class="bare-input flex" flex="">
                                            <button class="md-orange-btn m0 md-button md-ink-ripple" type="button"><span class="">Search</span></button>
                                        </div>
                                    </div>
                            </div>
                        </div>
                    </div>
                    <!-- Section Create Your Listing Today -->
                    <!-- ngInclude: -->
                    <div class="create-listing ">
                        <div class="container layout-align-center-center layout-column" layout="column" layout-align="center center">
                            <h1 class="title">Post your place in few seconds</h1>
                            <!-- <h2 class="desc mb30">You decide on house rules and move-in dates. We'll get your listing in front of thousands of verified roommates.</h2> -->
                            <a class="md-orange-btn plr15 md-med-btn md-button md-ink-ripple border-rad" ui-sref="post-listing" href="/post-listing" style="margin-top:20px;"><span class=""> List Your Place</span></a>
                            <!-- <select class="form-control" ng-model="city.name" ng-selected="Dubai" ng-options="i.name as i.name for i in Cities" style="width: 250px;background: #333;color: #fff;"></select> -->
                        </div>
                    </div>

                    <!-- Section listing in following cities -->
                    <!-- ngIf: home.majorCities -->
                    <!-- ngInclude: -->
                    
                        <div class="list-city ">
                            <div class="container">
                                <h3 class="title">Find a room and roommate anywhere</h3>
                                <select class="form-control border-rad" ng-model="city.name" ng-selected="Dubai" ng-options="i.name as i.name for i in Cities" style="width: 250px;background: #333;color: #fff;margin: 30px auto;"></select>
                                <h3 class="text-center" ng-if="city.name == 'New York' || city.name == 'Manhattan' || city.name == 'Brooklyn'" style="color: rgb(21, 140, 251);margin-bottom:50px">Sorry, Findaroom currently does not support your region.</h3>
                                <div class="wrap-list" ng-if="city.name == 'Dubai' || city.name == 'Abu Dhabi'">
                                    <!-- List city -->
                                    <div class="list layout-padding layout-wrap layout-row" layout="" layout-wrap="" layout-padding="">
                                        <!-- ngRepeat: city in home.majorCities -->
                                        <div flex="50" flex-xs="100" flex-sm="66" flex-order-sm="1" flex-order-xs="1" class="flex-50 flex-xs-100 flex-sm-66 flex-order-sm-1 flex-order-xs-1" ng-click="SearchBycity('Dubai Marina')">
                                            <!-- ngIf: ::!city.location -->
                                            <!-- ngIf: ::city.location -->
                                            <a class="inner border-rad" style="background-image: url(&quot;/static/assets/images/area/dubai-marina.png&quot;); background-repeat: no-repeat; background-size: cover; background-position: 50% 50%;">
                                                <span class="caption">
                                                <h2 class="caption-main ">
                                                    Dubai Marina
                                                </h2>
                                                </span>
                                            </a>
                                            <!-- end ngIf: ::city.location -->
                                        </div>
                                        <div flex="50" flex-xs="100" flex-sm="66" flex-order-sm="1" flex-order-xs="1" class="flex-50 flex-xs-100 flex-sm-66 flex-order-sm-1 flex-order-xs-1" ng-click="SearchBycity('Palm Jumeirah')">
                                            <!-- ngIf: ::!city.location -->
                                            <a class="inner border-rad" style="background-image: url(&quot;/static/assets/images/area/palmjumeirah.jpg&quot;); background-repeat: no-repeat; background-size: cover; background-position: 50% 50%;">
                                                <span class="caption">
                <h2 class="caption-main ">Palm Jumeirah</h2>
                <!-- <span class="caption-sub">Coming Soon</span> -->
                                                </span>
                                            </a>
                                            <!-- end ngIf: ::!city.location -->
                                            <!-- ngIf: ::city.location -->
                                        </div>
                                        <!-- end ngRepeat: city in home.majorCities -->
                                        <div flex="50" flex-xs="100" flex-sm="66" flex-order-sm="1" flex-order-xs="1" class="flex-50 flex-xs-100 flex-sm-66 flex-order-sm-1 flex-order-xs-1" ng-click="SearchBycity('JLT')">
                                            <!-- ngIf: ::!city.location -->
                                            <a class="inner border-rad" style="background-image: url(&quot;/static/assets/images/area/Jlt.png&quot;); background-repeat: no-repeat; background-size: cover; background-position: 50% 50%;">
                                                <span class="caption">
                <h2 class="caption-main ">JLT</h2>
                <!-- <span class="caption-sub">Coming Soon</span> -->
                                                </span>
                                            </a>
                                            <!-- end ngIf: ::!city.location -->
                                            <!-- ngIf: ::city.location -->
                                        </div>
                                        <!-- end ngRepeat: city in home.majorCities -->
                                        <div flex="50" flex-xs="100" flex-sm="66" flex-order-sm="3" flex-order-xs="3" class=" flex-50 flex-xs-100 flex-sm-66 flex-order-sm-3 flex-order-xs-3" ng-click="SearchBycity('JBR')">
                                            <!-- ngIf: ::!city.location -->
                                            <a class="inner border-rad" bg-image="::city.src" style="background-image: url(&quot;/static/assets/images/area/jbr.png&quot;); background-repeat: no-repeat; background-size: cover; background-position: 50% 50%;">
                                                <span class="caption">
                <h2 class="caption-main ">JBR</h2>
                <!-- <span class="caption-sub">Coming Soon</span> -->
                                                </span>
                                            </a>
                                            <!-- end ngIf: ::!city.location -->
                                            <!-- ngIf: ::city.location -->
                                        </div>
                                        <!-- end ngRepeat: city in home.majorCities -->
                                        <div  flex="50" flex-xs="100" flex-sm="66" flex-order-sm="1" flex-order-xs="3" class=" flex-50 flex-xs-100 flex-sm-66 flex-order-sm-1 flex-order-xs-3" ng-click="SearchBycity('Sheikh Zayed Road')">
                                            <!-- ngIf: ::!city.location -->
                                            <a class="inner border-rad" style="background-image: url(&quot;/static/assets/images/area/sheikhzayedroad.jpg&quot;); background-repeat: no-repeat; background-size: cover; background-position: 50% 50%;">
                                                <span class="caption">
                <h2 class="caption-main ">Sheikh Zayed Road</h2>
                <!-- <span class="caption-sub">Coming Soon</span> -->
                                                </span>
                                            </a>
                                            <!-- end ngIf: ::!city.location -->
                                            <!-- ngIf: ::city.location -->
                                        </div>
                                        <!-- end ngRepeat: city in home.majorCities -->
                                        <div flex="50" flex-xs="100" flex-sm="66" flex-order-sm="3" flex-order-xs="3" class=" flex-50 flex-xs-100 flex-sm-66 flex-order-sm-3 flex-order-xs-3" ng-click="SearchBycity('Business Bay')">
                                            <!-- ngIf: ::!city.location -->
                                            <a class="inner border-rad" style="background-image: url(&quot;/static/assets/images/area/Business-bay.png&quot;); background-repeat: no-repeat; background-size: cover; background-position: 50% 50%;">
                                                <span class="caption">
                <h2 class="caption-main ">Business Bay</h2>
                <!-- <span class="caption-sub">Coming Soon</span> -->
                                                </span>
                                            </a>
                                            <!-- end ngIf: ::!city.location -->
                                            <!-- ngIf: ::city.location -->
                                        </div>
                                        
                                        
                                        <!-- end ngRepeat: city in home.majorCities -->
                                        <div  flex="50" flex-xs="100" flex-sm="66" flex-order-sm="1" flex-order-xs="2" class=" flex-50 flex-xs-100 flex-sm-66 flex-order-sm-1 flex-order-xs-2" ng-click="SearchBycity('Downtown')">
                                            <!-- ngIf: ::!city.location -->
                                            <a class="inner border-rad" style="background-image: url(&quot;/static/assets/images/area/downtown.jpg&quot;); background-repeat: no-repeat; background-size: cover; background-position: 50% 50%;">
                                                <span class="caption">
                <h2 class="caption-main">Downtown</h2>
                <!-- <span class="caption-sub">Coming Soon</span> -->
                                                </span>
                                            </a>
                                            <!-- end ngIf: ::!city.location -->
                                            <!-- ngIf: ::city.location -->
                                        </div>
                                        
                                        
                                        <!-- end ngRepeat: city in home.majorCities -->
                                        <div flex="50" flex-xs="100" flex-sm="66" flex-order-sm="1" flex-order-xs="2" class=" flex-50 flex-xs-100 flex-sm-66 flex-order-sm-1 flex-order-xs-2" ng-click="SearchBycity('Tecom')">
                                            <!-- ngIf: ::!city.location -->
                                            <a class="inner border-rad" bg-image="::city.src" style="background-image: url(&quot;/static/assets/images/area/Tecom.jpg&quot;); background-repeat: no-repeat; background-size: cover; background-position: 50% 50%;">
                                                <span class="caption">
                <h2 class="caption-main ">Tecom</h2>
                <!-- <span class="caption-sub">Coming Soon</span> -->
                                                </span>
                                            </a>
                                            <!-- end ngIf: ::!city.location -->
                                            <!-- ngIf: ::city.location -->
                                        </div>
                                        <!-- end ngRepeat: city in home.majorCities -->
                                    </div>

                                    <!-- Other city -->
                                    <div class="other-city layout-padding layout-wrap layout-gt-sm-row layout-row" layout="" layout-gt-sm="row" layout-padding="" layout-wrap="">
                                    </div>
                                </div>
                            </div>
                        </div>
                    <!-- end ngIf: home.majorCities -->

                    <!-- Browse Thousands of Verified Listings -->
                    <!-- ngInclude: -->
                        <div class="browse-listing" style="padding-top:0px !important;">

                            <div>
                                <div>
                                    <img src="/static/images/dubai_main.jpg" width="100%" height="300px">
                                </div>
                                <div class="container">
                                    <div class="col-lg-6 left-content-ch">
                                        <div style="border-bottom: 2px dotted #ddd;">
                                            <h2>List Your Place</h2>
                                            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
                                        </div>
                                        <div>
                                            <h2>Find a Home</h2>
                                            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.</p>
                                        </div>
                                    </div>
                                    <div class="col-lg-6">
                                        <div class="mobile-image-ch">
                                            <img src="/static/images/mobileapp.png" >
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <!-- <div class="container layout-wrap layout-align-center-center layout-row" layout="" layout-align="center center" layout-wrap="">
                                <img class="image mr30 flex-xs-100 flex-sm-70 flex-50" flex="50" flex-sm="70" flex-xs="100" src="/static/assets/images/about/a0f16e6b.browse-listing.png">
                                <div class="content layout-align-gt-sm-center-start layout-align-center-center layout-column flex-xs-100 flex-sm-60 flex" flex="" flex-sm="60" flex-xs="100" layout="column" layout-align="center center" layout-align-gt-sm="center start">
                                    <h1 class="title">Browse Thousands of Listings, Safely</h1>
                                    <h2 class="desc">Our round-the-clock-team keeps an eye out for brokers, scam and sketchy real estate dealers-so you can spend more time connecting with like-minded roommates.</h2>
                                    <a class="btn-border md-button md-ink-ripple"  ui-sref="search-listings" href="/search-listings"><span class="">Search Now</span></a>
                                </div>
                            </div> -->
                        </div>

                    <!-- Features -->
                    <!-- ngInclude: -->
                        <div class="features " id="features">
                            <div class="container layout-align-center-center layout-column" layout="column" layout-align="center center">
                                <h3 class="title">Overview</h3>
                                <div style="width: 50%;text-align: center;">
                                    <p style="margin-bottom: 50px;">Dwellinz is an online marketplace enabling people to list, search and filter to find their ideal home, room and roommate. The platform enables you to find unique accommodations to suit your mood - You can search by neighborhood, city, district and view the best home for you. Whether an apartment, Villa, Lodge, Private Room or shared, dwellinz able to find it for you.</p>
                                </div>
                                <div style="width:70%">
                                    <div class="row">
                                        <div class="col-lg-4 icons-footer-ch">
                                            <h4>List Your Place</h4>
                                            <img src="/static/images/home-icon.png">
                                        </div>
                                        <div class="col-lg-4 icons-footer-ch">
                                            <h4>Find A Home</h4>
                                            <img src="/static/images/home-icon.png">
                                        </div>
                                        <div class="col-lg-4 icons-footer-ch">
                                            <h4>360 view</h4>
                                            <img src="/static/images/home-icon.png">
                                        </div>
                                        <div class="col-lg-4 icons-footer-ch">
                                            <h4>Find Good Tenants</h4>
                                            <img src="/static/images/home-icon.png">
                                        </div>
                                        <div class="col-lg-4 icons-footer-ch">
                                            <h4>Landlord Dashboard</h4>
                                            <img src="/static/images/home-icon.png">
                                        </div>
                                        <div class="col-lg-4 icons-footer-ch">
                                            <h4>Tenants Dashboard</h4>
                                            <img src="/static/images/home-icon.png">
                                        </div>
                                        <div class="col-lg-4 icons-footer-ch">
                                            <h4>Pay Rent</h4>
                                            <img src="/static/images/home-icon.png">
                                        </div>
                                        <div class="col-lg-4 icons-footer-ch">
                                            <h4>Collect Rent</h4>
                                            <img src="/static/images/home-icon.png">
                                        </div>
                                        <div class="col-lg-4 icons-footer-ch">
                                            <h4>Request Maintenance</h4>
                                            <img src="/static/images/home-icon.png">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    <!-- ngIf: home.countryCode != 'IN' -->
                </div>
                <style type="text/css">
                .header-apple{
                background: rgba(0,0,0,0.8);
                position: fixed;
                top: 0;
                z-index: 1099;
                width: 100%;
                }
                .slick-prev{
                    left: 25px !important;
                }
                .slick-next{
                    right: 25px !important;
                }
                .left, .right{
                    cursor: pointer;
                }
                .main-slider-home-ch .slick-dots{
                    bottom: 10px !important;
                }
                .main-slider-home-ch .slick-dots li button:before{
                    opacity: 1 !important;
                    color: #fff !important;
                    font-size: 10px !important;
                }
                .main-slider-home-ch .slick-dots li.slick-active button:before{
                    opacity: 1 !important;
                    color: #fff !important;
                    font-size: 15px !important;
                }
                .main-slider-home-ch{
                    margin-bottom: 0px !important;
                }
                </style>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.6.0/slick.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.6.0/slick-theme.min.css">