<div class="bg-main-how">
	<div class="container">
		<div class="row">
			<div class="col-lg-12">
				<h2 class="list-name">How to list your place</h2>
			</div>
		</div>
		<div class="row how-row">
			<div class="col-lg-6 col-row">
				<div class="one-list">
					<h3>1</h3>
				</div>
				<div class="cont-list-main">
					<div class="heading" style="margin-bottom:8px;">
						<div class="_1vbkutid">
							<span>Create your listing</span>
						</div>
					</div>
					<div>
						<div style="margin-bottom:16px;">
							<div class="_rotqmn2">
								<span>It’s free and easy to create a listing on Dwellinz. Describe your space, how many guests you can accommodate, and add photos and details.</span>
							</div>
						</div>
					</div>
					<div>
						<div style="margin-bottom:16px;">
							<div class="_rotqmn2">
								<span>Our pricing tool can recommend competitive rates, but what you charge is always up to you.</span>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-lg-6">
				<div class="_d6bfwh">
					<img class="_1pvf5x2" src="static/images/left-one.jpg" style="width: 417px !important;height: 417px !important;">
				</div>
			</div>
		</div>
		<div class="row how-row">
			<div class="col-lg-6">
				<div class="_d6bfwh">
					<img class="_1pvf5x2" src="static/images/right-two.jpg" style="width: 417px !important;height: 417px !important;">
				</div>
			</div>
			<div class="col-lg-6 col-row">
				<div class="one-list">
					<h3>2</h3>
				</div>
				<div class="cont-list-main">
					<div class="heading" style="margin-bottom:8px;">
						<div class="_1vbkutid">
							<span>Welcome tenants</span>
						</div>
					</div>
					<div>
						<div style="margin-bottom:16px;">
							<div class="_rotqmn2">
								<span>Get to know guests before arrival by messaging them on our platform.</span>
							</div>
						</div>
					</div>
					<div>
						<div style="margin-bottom:16px;">
							<div class="_rotqmn2">
								<span>Most hosts clean the spaces guests can use, and provide essentials like clean sheets, towels, and toilet paper.</span>
							</div>
						</div>
					</div>
					<div>
						<div style="margin-bottom:16px;">
							<div class="_rotqmn2">
								<span>You can greet guests in person with a key or just send them a door code.</span>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="row how-row">
			<div class="col-lg-6 col-row">
				<div class="one-list">
					<h3>3</h3>
				</div>
				<div class="cont-list-main">
					<div class="heading" style="margin-bottom:8px;">
						<div class="_1vbkutid">
							<span>Get paid</span>
						</div>
					</div>
					<div>
						<div style="margin-bottom:16px;">
							<div class="_rotqmn2">
								<span>Dwellinz’s secure payment system means you never have to deal with money directly.</span>
							</div>
						</div>
					</div>
					<div>
						<div style="margin-bottom:16px;">
							<div class="_rotqmn2">
								<span>Guests are charged before arrival, and you are paid automatically after check in, minus a 3% service fee.</span>
							</div>
						</div>
					</div>
					<div>
						<div style="margin-bottom:16px;">
							<div class="_rotqmn2">
								<span>
									You can be paid via PayPal, direct deposit, or international money wire, among other ways.
								</span>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-lg-6">
				<div class="_d6bfwh">
					<img class="_1pvf5x2" src="static/images/right-3.jpg" style="width: 417px !important;height: 417px !important;">
				</div>
			</div>
		</div>
	</div>
</div>