<style type="text/css">
/*.slick-arrow{
    display: block !important;
}*/
.slick-prev{
    left: 25px !important;
}
.slick-next{
    right: 25px !important;
}
.left, .right{
    cursor: pointer;
}
.main-slider-ch .slick-dots{
    bottom: 10px !important;
}
.main-slider-ch .slick-dots li button:before{
    opacity: 1 !important;
    color: #fff !important;
    font-size: 10px !important;
}
.main-slider-ch .slick-dots li.slick-active button:before{
    opacity: 1 !important;
    color: #fff !important;
    font-size: 15px !important;
}
</style>
<div ui-view="" flex="noshrink" layout="column" class="ng-scope layout-column flex-noshrink">
    <div id="details" layout="column" class="ng-scope layout-column">
        <!-- ngIf: listingDetails.isMine -->
        <div class="pos-relative" ng-class="{ 'gray-overlay': listingDetails.hideListing }">
            <div class="images-container">
                <div class="full-height">
                    <slick class="slider main-slider-ch" settings="slickConfigmain2" ng-if="slickConfigmain2Loaded">
                        <div ng-repeat="img in individualfavourite.photo_ids  track by $index" style="height:500px;">
                            <!-- start -->
                            <img src="{{img.photo}}" class="img-responsive">
                            <!-- end -->
                        </div>
                    </slick>
                    <!-- <div class="carousel" id="slider">
                        <div class="carousel-inner">
                            <div class="item res-mobileslider" ng-class="{active:!$index}" ng-repeat="img in individualfavourite.photo_ids" style="height:500px;">
                                <img src="{{img.photo}}" class="img-responsive">
                            </div>
                        </div>
                        <a class="left carousel-control" data-target="#slider" data-slide="prev">
                            <span class="glyphicon glyphicon-chevron-left"></span>
                            <span class="sr-only">Previous</span>
                        </a>
                        <a class="right carousel-control" data-target="#slider" data-slide="next">
                            <span class="glyphicon glyphicon-chevron-right"></span>
                            <span class="sr-only">Next</span>
                        </a>
                    </div> -->
                </div>
            </div>
            <div class="banner"></div>
            <div class="container-lg xs-no-padding layout-row" layout="">
                <div flex="" class="flex">
                    <!-- ngInclude: 'app/listings/details/_basic-info.html' -->
                    <div class="basic-info-container ng-scope">
                        <div class="detail-basic-info ng-scope layout-gt-sm-row layout-align-gt-sm-center-center layout-align-center-stretch layout-column flex" flex="" layout="column" layout-gt-sm="row" layout-align-gt-sm="center center" layout-align="center stretch">
                            <div flex="100" flex-gt-sm="40" layout="" layout-align="start center" layout-align-sm="center center" class="basic-section fix-mobile-column layout-align-sm-center-center layout-align-start-center layout-row flex-gt-sm-40 flex-100">
                                <span class="price ng-binding">AED {{individualfavourite.monthly_rent}}</span>
                                <span class="price-duration">/ month</span>
                                <md-divider hide-xs="" hide-sm="" class="hide-sm hide-xs"></md-divider>
                            </div>
                            <md-divider  ></md-divider>
                            <div layout="row" flex="100" flex-gt-sm="60" layout-align="center center" class="fix-mobile-column layout-align-center-center layout-row flex-gt-sm-60 flex-100">
                                <div flex="33" layout="column" class="basic-section layout-align-center-center layout-column flex-33" layout-align="center center">
                                    <div class="mb5">
                                        <md-icon class="md-24 mr5">
                                            <svg width="100%" height="100%" viewBox="0 0 18 18" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" fit="" preserveAspectRatio="xMidYMid meet" focusable="false">
                                                <!-- Generator: Sketch 39.1 (31720) - http://www.bohemiancoding.com/sketch -->
                                                <title>clock (1)</title>
                                                <desc>Created with Sketch.</desc>
                                                <defs></defs>
                                                <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                                    <g id="Listing-detail" transform="translate(-628.000000, -519.000000)" fill="#158CFB">
                                                        <g id="Group-4" transform="translate(-23.000000, 425.000000)">
                                                            <g id="Group-2" transform="translate(651.000000, 94.000000)">
                                                                <g id="clock-(1)">
                                                                    <g id="Group">
                                                                        <path d="M17.3762727,1.05158824 L13.8021818,1.05158824 L13.8021818,0.529411765 C13.8021818,0.237088235 13.5579091,1.77635684e-15 13.2567273,1.77635684e-15 C12.9555455,1.77635684e-15 12.7112727,0.237088235 12.7112727,0.529411765 L12.7112727,1.05158824 L9.52463636,1.05158824 L9.52463636,0.529411765 C9.52463636,0.237088235 9.28036364,1.77635684e-15 8.97918182,1.77635684e-15 C8.678,1.77635684e-15 8.43372727,0.237088235 8.43372727,0.529411765 L8.43372727,1.05158824 L5.38254545,1.05158824 L5.38254545,0.529411765 C5.38254545,0.237088235 5.13827273,1.77635684e-15 4.83709091,1.77635684e-15 C4.53590909,1.77635684e-15 4.29163636,0.237088235 4.29163636,0.529411765 L4.29163636,1.05158824 L0.582181818,1.05158824 C0.281,1.05158824 0.0367272727,1.28867647 0.0367272727,1.581 L0.0367272727,13.5432353 C0.0367272727,13.8355588 0.281,14.0726471 0.582181818,14.0726471 L3.93,14.0726471 C4.46645455,16.2974118 6.52590909,17.9596765 8.97918182,17.9596765 C11.4324545,17.9596765 13.4919091,16.2973235 14.0283636,14.0726471 L17.3761818,14.0726471 C17.6773636,14.0726471 17.9216364,13.8355588 17.9216364,13.5432353 L17.9216364,1.581 C17.9217273,1.28867647 17.6775455,1.05158824 17.3762727,1.05158824 L17.3762727,1.05158824 Z M4.29163636,2.11041176 L4.29163636,2.58882353 C4.29163636,2.88114706 4.53590909,3.11823529 4.83709091,3.11823529 C5.13827273,3.11823529 5.38254545,2.88114706 5.38254545,2.58882353 L5.38254545,2.11041176 L8.43372727,2.11041176 L8.43372727,2.58882353 C8.43372727,2.88114706 8.678,3.11823529 8.97918182,3.11823529 C9.28036364,3.11823529 9.52463636,2.88114706 9.52463636,2.58882353 L9.52463636,2.11041176 L12.7112727,2.11041176 L12.7112727,2.58882353 C12.7112727,2.88114706 12.9555455,3.11823529 13.2567273,3.11823529 C13.5579091,3.11823529 13.8021818,2.88114706 13.8021818,2.58882353 L13.8021818,2.11041176 L16.8308182,2.11041176 L16.8308182,4.27535294 L1.12763636,4.27535294 L1.12763636,2.11041176 L4.29163636,2.11041176 L4.29163636,2.11041176 Z M8.97918182,16.9008529 C6.72081818,16.9008529 4.88345455,15.1175294 4.88345455,12.9255882 C4.88345455,10.7336471 6.72081818,8.95032353 8.97918182,8.95032353 C11.2375455,8.95032353 13.0749091,10.7335588 13.0749091,12.9255882 C13.0749091,15.1176176 11.2376364,16.9008529 8.97918182,16.9008529 L8.97918182,16.9008529 Z M14.1635455,13.0138235 C14.1640909,12.9843529 14.1658182,12.9551471 14.1658182,12.9255882 C14.1658182,10.1497941 11.8390909,7.8915 8.97918182,7.8915 C6.11927273,7.8915 3.79254545,10.1497941 3.79254545,12.9255882 C3.79254545,12.9551471 3.79436364,12.9843529 3.79481818,13.0138235 L1.12754545,13.0138235 L1.12754545,5.33426471 L16.8307273,5.33426471 L16.8307273,13.0138235 L14.1635455,13.0138235 L14.1635455,13.0138235 Z" id="Shape"></path>
                                                                        <path d="M9.52463636,13.0591765 L9.52463636,10.4980588 C9.52463636,10.2057353 9.28036364,9.96864706 8.97918182,9.96864706 C8.678,9.96864706 8.43372727,10.2057353 8.43372727,10.4980588 L8.43372727,13.2785294 C8.43372727,13.4189118 8.49118182,13.5535588 8.59345455,13.6529118 L9.84709091,14.8697647 C9.95363636,14.9730882 10.0931818,15.0247941 10.2328182,15.0247941 C10.3723636,15.0247941 10.512,14.9730882 10.6185455,14.8697647 C10.8315455,14.6630294 10.8315455,14.3278235 10.6185455,14.1210882 L9.52463636,13.0591765 L9.52463636,13.0591765 Z" id="Shape"></path>
                                                                    </g>
                                                                </g>
                                                            </g>
                                                        </g>
                                                    </g>
                                                </g>
                                            </svg>
                                        </md-icon>
                                        <span class="black54">Room Type</span>
                                    </div>
                                    <span>{{ individualfavourite.room_type.room_type_name }}</span>
                                    <md-divider></md-divider>
                                </div>
                                <div flex="33" layout="column" class="basic-section layout-align-center-center layout-column flex-33" layout-align="center center">
                                    <div class="mb5">
                                        <md-icon class="md-24 mr5">
                                            <svg width="100%" height="100%" viewBox="0 0 20 17" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" fit="" preserveAspectRatio="xMidYMid meet" focusable="false">
                                                <!-- Generator: Sketch 39.1 (31720) - http://www.bohemiancoding.com/sketch -->
                                                <title>truck</title>
                                                <desc>Created with Sketch.</desc>
                                                <defs></defs>
                                                <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                                    <g id="Listing-detail" transform="translate(-469.000000, -518.000000)" fill="#158CFB">
                                                        <g id="Group-4" transform="translate(-23.000000, 425.000000)">
                                                            <g id="Group-3" transform="translate(492.000000, 93.000000)">
                                                                <g id="truck">
                                                                    <g id="Capa_1">
                                                                        <path d="M20,8.21608 L15.5905567,2.77356 L11.9170309,2.77356 L10.2545979,0.02796 L1.92696907,0.02796 L0,3.2104 L0,14.58964 L2.11480412,14.58964 C2.18948454,15.91552 3.32486598,16.972 4.71006186,16.972 C6.09525773,16.972 7.23063918,15.91552 7.30531959,14.58964 L12.6946804,14.58964 C12.7693608,15.91552 13.9047423,16.972 15.2899381,16.972 C16.675134,16.972 17.8105155,15.91552 17.8851959,14.58964 L20,14.58964 L20,8.21608 L20,8.21608 Z M6.90684536,9.5292 L5.27468041,9.5292 L5.27468041,7.22068 L6.90684536,7.22068 L6.90684536,9.5292 L6.90684536,9.5292 Z M4.03756701,6.02068 L4.03756701,9.5292 L1.2371134,9.5292 L1.2371134,3.97356 L10.9444124,3.97356 L10.9444124,9.5292 L8.14395876,9.5292 L8.14395876,6.02068 L4.03756701,6.02068 L4.03756701,6.02068 Z M2.63505155,1.22796 L9.54647423,1.22796 L10.4823505,2.77356 L1.69921649,2.77356 L2.63505155,1.22796 L2.63505155,1.22796 Z M4.71006186,15.77204 C3.9588866,15.77204 3.34779381,15.17928 3.34779381,14.45064 C3.34779381,13.722 3.9588866,13.1292 4.71006186,13.1292 C5.46123711,13.1292 6.0723299,13.722 6.0723299,14.45064 C6.0723299,15.17928 5.46123711,15.77204 4.71006186,15.77204 L4.71006186,15.77204 Z M4.71006186,11.9292 C3.66734021,11.9292 2.76659794,12.52812 2.35282474,13.38968 L1.2371134,13.38968 L1.2371134,10.7292 L10.9444124,10.7292 L10.9444124,13.38968 L7.06725773,13.38968 C6.65348454,12.52812 5.75278351,11.9292 4.71006186,11.9292 L4.71006186,11.9292 Z M15.2899381,15.77204 C14.5387629,15.77204 13.9276701,15.17928 13.9276701,14.45064 C13.9276701,13.722 14.5387629,13.1292 15.2899381,13.1292 C16.0411134,13.1292 16.6522062,13.722 16.6522062,14.45064 C16.6522062,15.17928 16.0411134,15.77204 15.2899381,15.77204 L15.2899381,15.77204 Z M18.7628866,13.38968 L17.6471753,13.38968 C17.2334021,12.52812 16.3326598,11.9292 15.2899381,11.9292 C14.2472165,11.9292 13.3464742,12.52812 12.932701,13.38968 L12.1815258,13.38968 L12.1815258,3.97356 L14.9893196,3.97356 L18.7628866,8.6312 L18.7628866,13.38968 L18.7628866,13.38968 Z" id="Shape"></path>
                                                                    </g>
                                                                </g>
                                                            </g>
                                                        </g>
                                                    </g>
                                                </g>
                                            </svg>
                                        </md-icon>
                                        <span class="black54">Move-in</span>
                                    </div>
                                    <span class="text-bold text-center ng-binding">{{individualfavourite.move_in_date==null?'No Data':individualfavourite.move_in_date}}</span>
                                    <md-divider></md-divider>
                                </div>
                                <div flex="33" layout="column" class="basic-section layout-align-center-center layout-column flex-33" layout-align="center center">
                                    <div class="mb5">
                                        <md-icon class="md-24 mr5">
                                            <svg width="100%" height="100%" viewBox="0 0 18 18" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" fit="" preserveAspectRatio="xMidYMid meet" focusable="false">
                                                <!-- Generator: Sketch 39.1 (31720) - http://www.bohemiancoding.com/sketch -->
                                                <title>clock (1)</title>
                                                <desc>Created with Sketch.</desc>
                                                <defs></defs>
                                                <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                                    <g id="Listing-detail" transform="translate(-628.000000, -519.000000)" fill="#158CFB">
                                                        <g id="Group-4" transform="translate(-23.000000, 425.000000)">
                                                            <g id="Group-2" transform="translate(651.000000, 94.000000)">
                                                                <g id="clock-(1)">
                                                                    <g id="Group">
                                                                        <path d="M17.3762727,1.05158824 L13.8021818,1.05158824 L13.8021818,0.529411765 C13.8021818,0.237088235 13.5579091,1.77635684e-15 13.2567273,1.77635684e-15 C12.9555455,1.77635684e-15 12.7112727,0.237088235 12.7112727,0.529411765 L12.7112727,1.05158824 L9.52463636,1.05158824 L9.52463636,0.529411765 C9.52463636,0.237088235 9.28036364,1.77635684e-15 8.97918182,1.77635684e-15 C8.678,1.77635684e-15 8.43372727,0.237088235 8.43372727,0.529411765 L8.43372727,1.05158824 L5.38254545,1.05158824 L5.38254545,0.529411765 C5.38254545,0.237088235 5.13827273,1.77635684e-15 4.83709091,1.77635684e-15 C4.53590909,1.77635684e-15 4.29163636,0.237088235 4.29163636,0.529411765 L4.29163636,1.05158824 L0.582181818,1.05158824 C0.281,1.05158824 0.0367272727,1.28867647 0.0367272727,1.581 L0.0367272727,13.5432353 C0.0367272727,13.8355588 0.281,14.0726471 0.582181818,14.0726471 L3.93,14.0726471 C4.46645455,16.2974118 6.52590909,17.9596765 8.97918182,17.9596765 C11.4324545,17.9596765 13.4919091,16.2973235 14.0283636,14.0726471 L17.3761818,14.0726471 C17.6773636,14.0726471 17.9216364,13.8355588 17.9216364,13.5432353 L17.9216364,1.581 C17.9217273,1.28867647 17.6775455,1.05158824 17.3762727,1.05158824 L17.3762727,1.05158824 Z M4.29163636,2.11041176 L4.29163636,2.58882353 C4.29163636,2.88114706 4.53590909,3.11823529 4.83709091,3.11823529 C5.13827273,3.11823529 5.38254545,2.88114706 5.38254545,2.58882353 L5.38254545,2.11041176 L8.43372727,2.11041176 L8.43372727,2.58882353 C8.43372727,2.88114706 8.678,3.11823529 8.97918182,3.11823529 C9.28036364,3.11823529 9.52463636,2.88114706 9.52463636,2.58882353 L9.52463636,2.11041176 L12.7112727,2.11041176 L12.7112727,2.58882353 C12.7112727,2.88114706 12.9555455,3.11823529 13.2567273,3.11823529 C13.5579091,3.11823529 13.8021818,2.88114706 13.8021818,2.58882353 L13.8021818,2.11041176 L16.8308182,2.11041176 L16.8308182,4.27535294 L1.12763636,4.27535294 L1.12763636,2.11041176 L4.29163636,2.11041176 L4.29163636,2.11041176 Z M8.97918182,16.9008529 C6.72081818,16.9008529 4.88345455,15.1175294 4.88345455,12.9255882 C4.88345455,10.7336471 6.72081818,8.95032353 8.97918182,8.95032353 C11.2375455,8.95032353 13.0749091,10.7335588 13.0749091,12.9255882 C13.0749091,15.1176176 11.2376364,16.9008529 8.97918182,16.9008529 L8.97918182,16.9008529 Z M14.1635455,13.0138235 C14.1640909,12.9843529 14.1658182,12.9551471 14.1658182,12.9255882 C14.1658182,10.1497941 11.8390909,7.8915 8.97918182,7.8915 C6.11927273,7.8915 3.79254545,10.1497941 3.79254545,12.9255882 C3.79254545,12.9551471 3.79436364,12.9843529 3.79481818,13.0138235 L1.12754545,13.0138235 L1.12754545,5.33426471 L16.8307273,5.33426471 L16.8307273,13.0138235 L14.1635455,13.0138235 L14.1635455,13.0138235 Z" id="Shape"></path>
                                                                        <path d="M9.52463636,13.0591765 L9.52463636,10.4980588 C9.52463636,10.2057353 9.28036364,9.96864706 8.97918182,9.96864706 C8.678,9.96864706 8.43372727,10.2057353 8.43372727,10.4980588 L8.43372727,13.2785294 C8.43372727,13.4189118 8.49118182,13.5535588 8.59345455,13.6529118 L9.84709091,14.8697647 C9.95363636,14.9730882 10.0931818,15.0247941 10.2328182,15.0247941 C10.3723636,15.0247941 10.512,14.9730882 10.6185455,14.8697647 C10.8315455,14.6630294 10.8315455,14.3278235 10.6185455,14.1210882 L9.52463636,13.0591765 L9.52463636,13.0591765 Z" id="Shape"></path>
                                                                    </g>
                                                                </g>
                                                            </g>
                                                        </g>
                                                    </g>
                                                </g>
                                            </svg>
                                        </md-icon>
                                        <span class="black54">Duration</span>
                                    </div>
                                    <span ng-if="individualfavourite.validity_for_stay=='small'">1-3 Months</span>
                                    <span ng-if="individualfavourite.validity_for_stay=='medium'">3-6 Months</span>
                                    <span ng-if="individualfavourite.validity_for_stay=='long'">6-9 Months</span>
                                    <span ng-if="individualfavourite.validity_for_stay==''">Not Availble</span>
                                    <md-divider></md-divider>
                                </div>
                                <div flex="33" layout="column" class="basic-section layout-align-center-center layout-column flex-33" layout-align="center center">
                                    <div class="mb5">
                                        <md-icon class="md-24 mr5">
                                            <svg width="100%" height="100%" viewBox="0 0 18 19" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" fit="" preserveAspectRatio="xMidYMid meet" focusable="false">
                                                <!-- Generator: Sketch 39.1 (31720) - http://www.bohemiancoding.com/sketch -->
                                                <title>Capa_1</title>
                                                <desc>Created with Sketch.</desc>
                                                <defs></defs>
                                                <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                                    <g id="Listing-detail" transform="translate(-792.000000, -517.000000)" fill="#158CFB">
                                                        <g id="Group-4" transform="translate(-23.000000, 425.000000)">
                                                            <g id="money-bag-(1)" transform="translate(816.000000, 93.000000)">
                                                                <g id="Capa_1">
                                                                    <g id="Group">
                                                                        <path d="M8.62457831,10.6700624 L7.56433735,10.6700624 C7.17879518,10.6700624 6.86650602,10.3837838 6.86650602,10.0303534 C6.86650602,9.67692308 7.17879518,9.39064449 7.56433735,9.39064449 L9.43036145,9.39064449 C9.68481928,9.39064449 9.89301205,9.1997921 9.89301205,8.96652807 C9.89301205,8.73326403 9.68481928,8.54241164 9.43036145,8.54241164 L8.55518072,8.54241164 L8.55518072,7.95218295 C8.55518072,7.71891892 8.34698795,7.52806653 8.09253012,7.52806653 C7.83807229,7.52806653 7.62987952,7.71891892 7.62987952,7.95218295 L7.62987952,8.54241164 L7.56433735,8.54241164 C6.66987952,8.54241164 5.94120482,9.21039501 5.94120482,10.0303534 C5.94120482,10.8503119 6.66987952,11.5182952 7.56433735,11.5182952 L8.62457831,11.5182952 C9.01012048,11.5182952 9.32240964,11.8045738 9.32240964,12.1580042 C9.32240964,12.5114345 9.01012048,12.7977131 8.62457831,12.7977131 L6.72385542,12.7977131 C6.46939759,12.7977131 6.26120482,12.9885655 6.26120482,13.2218295 C6.26120482,13.4550936 6.46939759,13.6459459 6.72385542,13.6459459 L7.63373494,13.6459459 L7.63373494,14.2503119 C7.63373494,14.4835759 7.84192771,14.6744283 8.09638554,14.6744283 C8.35084337,14.6744283 8.55903614,14.4835759 8.55903614,14.2503119 L8.55903614,13.6459459 L8.63614458,13.6459459 L8.64771084,13.6459459 C9.53445783,13.635343 10.2477108,12.970894 10.2477108,12.1580042 C10.2477108,11.3380457 9.51903614,10.6700624 8.62457831,10.6700624 L8.62457831,10.6700624 Z" id="Shape"></path>
                                                                        <path d="M15.0477108,9.70873181 C14.5619277,8.68378378 13.8910843,7.69064449 13.0428916,6.76112266 C12.0173494,5.63014553 10.9956627,4.87380457 10.4751807,4.52390852 L12.4414458,1.18045738 C12.5378313,1.01434511 12.506988,0.809355509 12.3566265,0.678586279 C11.8477108,0.222661123 11.3079518,0 10.706506,0 C10.1551807,0 9.65012048,0.190852391 9.21060241,0.36049896 C8.86361446,0.491268191 8.53590361,0.618503119 8.26987952,0.618503119 C8.18891566,0.618503119 8.11951807,0.607900208 8.05012048,0.583160083 C7.13253012,0.275675676 6.42698795,0.0848232848 5.74457831,0.0848232848 C4.88096386,0.0848232848 4.14457831,0.402910603 3.42361446,1.08149688 C3.27325301,1.22286902 3.25012048,1.44553015 3.36963855,1.61164241 L5.49012048,4.54864865 C4.96578313,4.90561331 3.96337349,5.65488565 2.95710843,6.76112266 C2.11277108,7.69064449 1.43807229,8.68378378 0.952289157,9.70873181 C0.34313253,10.9987526 0.0346987952,12.3453222 0.0346987952,13.7095634 C0.0346987952,15.5226611 1.64626506,17 3.62409639,17 L12.3759036,17 C14.3537349,17 15.9653012,15.5226611 15.9653012,13.7095634 C15.9653012,12.3453222 15.6568675,10.9987526 15.0477108,9.70873181 L15.0477108,9.70873181 Z M4.35662651,1.43492723 C4.80385542,1.08149688 5.23180723,0.925987526 5.74457831,0.925987526 C6.29204819,0.925987526 6.90891566,1.0956341 7.73012048,1.37484407 C7.89975904,1.43139293 8.08096386,1.45966736 8.2660241,1.45966736 C8.71710843,1.45966736 9.14891566,1.2970894 9.56144578,1.13804574 C9.95855422,0.986070686 10.3363855,0.841164241 10.7026506,0.841164241 C10.88,0.841164241 11.1306024,0.869438669 11.446747,1.07442827 L9.59614458,4.22702703 L6.37301205,4.22702703 L4.35662651,1.43492723 L4.35662651,1.43492723 Z M12.3759036,16.1517672 L3.62409639,16.1517672 C2.15518072,16.1517672 0.96,15.0561331 0.96,13.7095634 C0.96,11.4440748 1.8660241,9.2952183 3.64722892,7.32307692 C4.77301205,6.07546778 5.91807229,5.3014553 6.26506024,5.07525988 L9.72722892,5.07525988 C10.0780723,5.297921 11.2192771,6.07546778 12.3450602,7.32307692 C14.1301205,9.2952183 15.0322892,11.4405405 15.0322892,13.7095634 C15.04,15.0561331 13.8448193,16.1517672 12.3759036,16.1517672 L12.3759036,16.1517672 Z" id="Shape" stroke="#158CFB" stroke-width="0.2"></path>
                                                                    </g>
                                                                </g>
                                                            </g>
                                                        </g>
                                                    </g>
                                                </g>
                                            </svg>
                                        </md-icon>
                                        <span class="black54">Deposit</span>
                                    </div>
                                    <span class="text-bold ng-binding" ng-if="individualfavourite.deposit === null">No Data</span>
                                    <span class="text-bold ng-binding" ng-if="individualfavourite.deposit != null">AED {{individualfavourite.deposit}}</span>
                                    <md-divider hide-xs="" hide-sm="" class="hide-sm hide-xs"></md-divider>
                                </div>
                            </div>
                            <md-divider ></md-divider>
                            
                        </div>
                        <!-- ngIf: listingDetails.listing.user -->
                        
                        <!-- end ngIf: listingDetails.listing.user -->
                        <div flex="30" hide-xs="" hide-sm="" class="hide-sm hide-xs ng-scope flex-30"></div>
                    </div>
                    <div class="detailed-info-container layout-row" layout="">
                        <!-- ngInclude: 'app/listings/details/_detailed-info.html' -->
                        <div layout="column" flex="100" flex-gt-sm="95" class="ng-scope layout-column flex-gt-sm-95 flex-100">
                            <!-- ngIf: listingDetails.showInstantBooking && !listingDetails.isMine -->
                            <!-- ngIf: ::listingDetails.recentlyViewedThis -->
                            <!-- <div class="panel-wrapper ng-scope">
                                <div class="panel-header recently-viewed layout-align-start-center layout-row" layout="row" layout-align="start center" ng-click="listingDetails.recentlyViewed($event, listingDetails.recentlyViewedThis)" role="button" tabindex="0">
                                    <div>
                                        <md-icon class="mr5 black">
                                            <svg version="1.0" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="6 -6 48 48" style="enable-background:new 6 -6 48 48;" xml:space="preserve" fit="" height="100%" width="100%" preserveAspectRatio="xMidYMid meet" focusable="false">
                                                <style type="text/css">
                                                    .st0 {
                                                        fill: #010101;
                                                    }
                                                </style>
                                                <g>
                                                    <path class="st0" d="M49.4,17C49.1,16.5,40.7,5.6,30,5.6S10.9,16.5,10.6,17c-0.5,0.5-0.5,1.3,0,2c0.3,0.5,8.7,11.3,19.4,11.3
    S49.1,19.5,49.4,19C49.9,18.5,49.9,17.7,49.4,17z M30,27c-7.2,0-13.7-6.3-16-9c2.3-2.7,8.8-9,16-9s13.7,6.3,16,9
    C43.7,20.6,37.2,27,30,27z"></path>
                                                    <path class="st0" d="M30,9.8c-4.3,0-7.9,3.6-7.9,8.2s3.4,8.2,7.9,8.2s7.9-3.6,7.9-8.2S34.5,9.8,30,9.8z M30,23
    c-2.6,0-4.8-2.2-4.8-5s2.1-5,4.8-5s4.8,2.2,4.8,5S32.6,23,30,23z"></path>
                                                </g>
                                            </svg>
                                        </md-icon>
                                        <span class="bold ng-binding">12 views in the past week</span>
                                    </div>
                                    <div layout="column" flex="" layout-align="center end" hide-sm="" hide-xs="" class="hide-sm hide-xs layout-align-center-end layout-column flex">
                                        <div layout="row" flex="" layout-align="end center" layout-wrap="" class="layout-wrap layout-align-end-center layout-row flex">
                                            
                                            <div  class="avatar-container ng-scope layout-align-center-center layout-row" layout="" layout-align="center center">
                                                <div class="avatar" bg-image="::user | profileImage" style="background-image: url(&quot;https://roomiprofile.imgix.net/HIWG8mgQ_b/imager7b-37e7_-.png&quot;); background-repeat: no-repeat; background-size: cover; background-position: 50% 50%;"></div>
                                            </div>
                                           
                                        </div>
                                        <span class="disclaimer">(Only Verified Users)</span>
                                    </div>
                                </div>
                            </div> -->
                            <!-- end ngIf: ::listingDetails.recentlyViewedThis -->
                            <div class="panel-wrapper ng-scope">
                                <div class="panel-header">Description</div>
                                <div class="panel-content pt0">
                                    <div class="pt10 hide-gt-xs" hide-gt-xs=""></div>
                                    <p class="pb0 maintain-white-space ng-binding">{{individualfavourite.description===""?"No Data":individualfavourite.description}}</p>
                                </div>
                            </div>
                            <!-- ngIf: listingDetails.amenities.length > 0 -->
                            <div class="panel-wrapper layout-wrap ng-scope layout-row" layout="row" layout-wrap="">
                                <div class="panel-header flex-xs-100 flex-25" flex="25" flex-xs="100">Amenities</div>
                                <div class="panel-content p10 layout-wrap layout-row flex-xs-100 flex-75" flex="75" flex-xs="100" layout="row" layout-wrap="">
                                    <!-- ngRepeat: amenity in ::listingDetails.amenities track by $index -->
                                   
                                    <span class="ml10 icon-title ng-binding flex" flex="" ng-if="amenity_ids_length">No Data</span>

                                    <div class="p10 icon-container ng-scope layout-align-center-center layout-row flex-xs-50 flex-33" flex="33" flex-xs="50" layout="" layout-align="center center" ng-repeat="amenity in individualfavourite.amenity_ids" ng-if="!amenity_ids_length">
                                        
                                        <span class="ml10 icon-title ng-binding flex" flex="">{{amenity.amenity_name}}</span>
                                    </div>                                                              
                                </div>
                            </div>
                            <!-- end ngIf: listingDetails.amenities.length > 0 -->
                            <!-- ngIf: listingDetails.rules.length > 0 -->
                            <div class="panel-wrapper layout-wrap ng-scope layout-row" layout="row" layout-wrap="">
                                <div class="panel-header flex-xs-100 flex-25" flex="25" flex-xs="100">Rules</div>
                                <div class="panel-content p10 layout-wrap layout-row flex-xs-100 flex-75" flex="75" flex-xs="100" layout="row" layout-wrap="">

                                    <span class="ml10 icon-title ng-binding flex" flex="" ng-if="rules_ids_length">No Data</span>

                                    <!-- ngRepeat: rule in ::listingDetails.rules track by $index -->
                                    <div class="p10 icon-container ng-scope layout-align-center-center layout-row flex-xs-50 flex-33"  flex="33" flex-xs="50" layout="" layout-align="center center" ng-repeat="rule in individualfavourite.rules_ids" ng-if="!rules_ids_length">
                                        <span class="ml10 icon-title ng-binding flex" flex="">{{rule.rule_name}}</span>
                                    </div>
                                    <!-- end ngRepeat: rule in ::listingDetails.rules track by $index -->
                                </div>
                            </div>

                            <div class="panel-wrapper layout-wrap ng-scope layout-row" layout="row" layout-wrap="">
                              <div class="panel-header flex-xs-100 flex-25" flex="25" flex-xs="100">Transportation</div>
                              <div class="panel-content p10 layout-wrap layout-row flex-xs-100 flex-75" flex="75" flex-xs="100" layout="row" layout-wrap="">
                                <div class="p10 icon-container ng-scope layout-align-center-center layout-row flex-xs-50 flex-33" flex="33" flex-xs="50" layout="" layout-align="center center">
                                  <img src="static/images/metro.png" style="height: 24px;width: 24px;">
                                  <span class="ml10 icon-title flex" flex="" ng-if="individualfavourite.distance_from_metro===null">Metro {{individualfavourite.distance_from_metro==null?'- No Data':individualfavourite.distance_from_metro}}</span>
                                  <span class="ml10 icon-title flex" flex="" ng-if="individualfavourite.distance_from_metro!=null">Metro {{individualfavourite.distance_from_metro}} KM</span>
                                </div>
                                <div class="p10 icon-container ng-scope layout-align-center-center layout-row flex-xs-50 flex-33" flex="33" flex-xs="50" layout="" layout-align="center center">
                                  <img src="static/images/bus_stop.png" style="height: 24px;width: 24px;">
                                  <span class="ml10 icon-title flex" flex="" ng-if="individualfavourite.distance_from_busstop===null">Bus Stop {{individualfavourite.distance_from_metro==null?'- No Data':individualfavourite.distance_from_metro}}</span>
                                  <span class="ml10 icon-title flex" flex="" ng-if="individualfavourite.distance_from_busstop!=null">Bus Stop {{individualfavourite.distance_from_metro==null?'- No Data':individualfavourite.distance_from_metro}} KM</span>
                                </div>
                                <div class="p10 icon-container ng-scope layout-align-center-center layout-row flex-xs-50 flex-33" flex="33" flex-xs="50" layout="" layout-align="center center">
                                  <img src="static/images/tram.jpg" style="height: 24px;width: 24px;">
                                  <span class="ml10 icon-title flex" flex="" ng-if="individualfavourite.distance_from_tram===null">Tram {{individualfavourite.distance_from_tram==null?'- No Data':individualfavourite.distance_from_tram}}</span>
                                  <span class="ml10 icon-title flex" flex="" ng-if="individualfavourite.distance_from_tram!=null">Tram {{individualfavourite.distance_from_tram==null?'- No Data':individualfavourite.distance_from_tram}} KM</span>
                                </div>
                                <div class="p10 icon-container ng-scope layout-align-center-center layout-row flex-xs-50 flex-33" flex="33" flex-xs="50" layout="" layout-align="center center">
                                  <img src="static/images/airport.png" style="height: 24px;width: 24px;">
                                  <span class="ml10 icon-title flex" flex="" ng-if="individualfavourite.distance_from_airport===null">Airport {{individualfavourite.distance_from_airport=null?'- No Data': individualfavourite.distance_from_airport}}</span>
                                  <span class="ml10 icon-title flex" flex="" ng-if="individualfavourite.distance_from_airport!=null">Airport {{individualfavourite.distance_from_airport==null?'- No Data': individualfavourite.distance_from_airport}} KM</span>
                                </div>
                              </div>
                            </div>

                            <div class="panel-wrapper layout-wrap ng-scope layout-row" layout="row" layout-wrap="">
                              <div class="panel-header flex-xs-100 flex-25" flex="20" flex-xs="100">Roommates</div>
                              <div class="panel-content p10 layout-wrap layout-row flex-xs-100 flex-75" flex="75" flex-xs="100" layout="row" layout-wrap="">
                                <div class="p10 icon-container ng-scope layout-align-center-center layout-row flex-xs-50 flex-33" flex="33" flex-xs="50" layout="" layout-align="center center">
                                  <span class="ml10 icon-title flex" flex=""><b>Number</b> : {{individualfavourite.user_id.phone}}</span>
                                </div>
                                <div class="p10 icon-container ng-scope layout-align-center-center layout-row flex-xs-50 flex-33" flex="33" flex-xs="50" layout="" layout-align="center center">
                                  <span class="ml10 icon-title flex" flex=""><b>Nationality</b> :<!-- {{individualfavourite}} --></span>
                                </div>
                              </div>
                            </div>

                            <div class="panel-wrapper layout-wrap ng-scope layout-row" layout="row" layout-wrap="">
                              <div class="panel-header flex-xs-100 flex-25" flex="25" flex-xs="100">Sleeping arrangement</div>
                              <div class="panel-content p10 layout-wrap layout-row flex-xs-100 flex-75" flex="75" flex-xs="100" layout="row" layout-wrap="">
                                <div class="p10 icon-container ng-scope layout-align-center-center layout-row flex-xs-50 flex-50" flex="50" flex-xs="50" layout="" layout-align="center center">
                                  <img src="static/images/double_bed.png" style="height: 40px;">
                                  <span class="ml10 icon-title flex" flex="">Bedroom 1</br>1 double bed</span>
                                </div>
                                <div class="p10 icon-container ng-scope layout-align-center-center layout-row flex-xs-50 flex-50" flex="50" flex-xs="50" layout="" layout-align="center center">
                                  <img src="static/images/single_bed.png" style="height: 40px;margin-right:5px;">
                                  <span><img src="static/images/single_bed.png" style="height: 40px;"></span>
                                  <span class="ml10 icon-title flex" flex="">Bedroom 2</br>2 single beds</span>
                                </div>
                                <div class="p10 icon-container ng-scope layout-align-center-center layout-row flex-xs-50 flex-50" flex="50" flex-xs="50" layout="" layout-align="center center">
                                  <img src="static/images/single_bed.png" style="height: 40px;margin-right:5px;">
                                  <span><img src="static/images/double_bed.png" style="height: 40px;"></span>
                                  <span class="ml10 icon-title flex" flex="">Bedroom 3</br>1 queen bed, 1 single bed</span>
                                </div>
                              </div>
                            </div>
                            
                            <!-- ngIf: listingDetails.listing -->
                            <div class="panel-wrapper ng-scope">
                                <!-- ngIf: ::listingDetails.listing.regionId -->
                                <div class="panel-header breadcrumbs ng-scope">
                                    <a class="ng-binding">{{individualfavourite.country_id.name}}</a>
                                    <!-- ngIf: ::listingDetails.listing.listingAddressCity --><span class="ng-scope"> &gt;
      <a class="ng-binding">{{individualfavourite.city_id.city_name}}</a>
    </span>
                                    <!-- end ngIf: ::listingDetails.listing.listingAddressCity -->
                                    <!-- ngIf: ::listingDetails.listing.listingAddressNeighborhood -->
                                </div>
                                <!-- end ngIf: ::listingDetails.listing.regionId -->
                                <div class="panel-content map-container ng-isolate-scope" circle-marker-map="" address="::listingDetails.listing.listingAddressGeopoint" transit="::listingDetails.transportation">
                                    <div>
                                        <style type="text/css">
                                            #mapCanvas {
                                                width: 100%;
                                                height: 500px;
                                            }
                                            .image-map{
                                                width:200px !important;
                                                height: 150px !important;
                                            }
                                            .info_content{
                                                width: 200px;
                                            }
                                        </style>
                                        <div id="mapCanvas"></div>
                                    </div>
                                </div>
                            </div>
                            <!-- end ngIf: listingDetails.listing -->
                        </div>
                    </div>
                </div>
                <!-- ngInclude: 'app/listings/details/_profile.html' -->
                <div class="profile-scroll-container hide-sm hide-xs ng-scope" hide-xs="" hide-sm="">
                    <div class="profile-container ng-scope layout-align-space-between-center layout-column" scroll-fix-element="" ng-class="{ 'disable-scroll': listingDetails.hideListing }" layout="column" layout-align="space-between center" style="bottom: initial; top: -95px; position: absolute;">
                        <!-- ngIf: ::listingDetails.listing.user -->
                        <div class="md-avatar-container ng-scope ng-isolate-scope" avatar="::listingDetails.listing.user">

                            <a class="avatar-container layout-align-center-center layout-column" my-target="_blank" ng-layout="column" layout-align="center center" target="_blank" ng-if="!individualfavourite.user_id.is_viewable">
                                <div class="avatar-image-container layout-align-center-center layout-row" layout="" layout-align="center center" ng-click="isViewable(individualfavourite.user_id.id)">
                                    <div class="avatar-image" bg-image="avatar | profileImage" style="background-image: url(&quot;{{individualfavourite.user_id.cover_image}}&quot;); background-repeat: no-repeat; background-size: cover; background-position: 50% 50%;"></div>
                                </div>
                                <div class="user-name layout-align-center-center layout-row" layout="" layout-align="center center">
                                    <span class="ng-binding">{{individualfavourite.user_id.user.first_name}}<span ng-if="age">,</span> {{age}}</span>
                                </div>
                            </a>
                            <a class="avatar-container layout-align-center-center layout-column" my-target="_blank" ng-layout="column" layout-align="center center" target="_blank" href="#/user-info/{{ individualfavourite.user_id.id }}" ng-if="individualfavourite.user_id.is_viewable">
                                <div class="avatar-image-container layout-align-center-center layout-row" layout="" layout-align="center center">
                                    <div class="avatar-image" bg-image="avatar | profileImage" style="background-image: url(&quot;{{individualfavourite.user_id.cover_image}}&quot;); background-repeat: no-repeat; background-size: cover; background-position: 50% 50%;"></div>
                                </div>
                                <div class="user-name layout-align-center-center layout-row" layout="" layout-align="center center">
                                    <span class="ng-binding">{{individualfavourite.user_id.user.first_name}}<span ng-if="age">,</span> {{age}}</span>
                                </div>
                            </a>
                        </div>
                        <!-- end ngIf: ::listingDetails.listing.user -->
                        <div layout="" layout-align="center center" class="layout-align-center-center layout-row" ng-if="individualfavourite.user_id.is_facebook_uesr">
                            <!-- ngIf: ::listingDetails.listing.user.social.facebook.id -->
                            <a class="md-icon-button mr0 md-button ng-scope md-ink-ripple">
                                <md-icon class="icon-facebook ng-scope">
                                    <svg width="100%" height="100%" viewBox="0 0 21 21" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" fit="" preserveAspectRatio="xMidYMid meet" focusable="false">
                                        <!-- Generator: Sketch 39.1 (31720) - http://www.bohemiancoding.com/sketch -->
                                        <title>Page 1</title>
                                        <desc>Created with Sketch.</desc>
                                        <defs></defs>
                                        <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                            <g id="Listing-detail" transform="translate(-1072.000000, -633.000000)" fill="#4A4A4A">
                                                <g id="Group-4" transform="translate(-23.000000, 425.000000)">
                                                    <g id="Group-29" transform="translate(1095.000000, 208.000000)">
                                                        <path d="M19.9485685,0 C20.2371979,0 20.4845918,0.10308054 20.6907556,0.309244389 C20.8969195,0.515408239 21,0.762802088 21,1.05143148 L21,19.9485677 C21,20.2371976 20.8969195,20.4845909 20.6907556,20.6907553 C20.4845918,20.8969194 20.2371979,21 19.9485685,21 L14.1119793,21 L14.1119793,12.6399741 L16.5735682,12.6399741 L16.9446603,9.7701833 L14.1119793,9.7701833 L14.1119793,7.93945219 C14.1119793,7.47764572 14.2088753,7.13129433 14.4026702,6.90038971 C14.5964623,6.66948786 14.9737389,6.55403555 15.5345057,6.55403555 L17.0436206,6.54166655 L17.0436206,3.98112013 C16.5240866,3.90690059 15.7901511,3.86979082 14.8417974,3.86979082 C13.7202638,3.86979082 12.8234615,4.1996502 12.1513681,4.85937452 C11.4792721,5.51910161 11.1432282,6.45094947 11.1432282,7.65494857 L11.1432282,9.7701833 L8.66927028,9.7701833 L8.66927028,12.6399741 L11.1432282,12.6399741 L11.1432282,21 L1.05143231,21 C0.762802365,21 0.515409071,20.8969194 0.309244666,20.6907553 C0.103080567,20.4845909 0,20.2371976 0,19.9485677 L0,1.05143148 C0,0.762802088 0.103080567,0.515408239 0.309244666,0.309244389 C0.515409071,0.10308054 0.762802365,0 1.05143231,0 L19.9485685,0 Z" id="Page-1"></path>
                                                    </g>
                                                </g>
                                            </g>
                                        </g>
                                    </svg>
                                </md-icon>
                            </a>
                            <!-- end ngIf: ::listingDetails.listing.user.social.facebook.id -->
                            <!-- ngIf: ::listingDetails.listing.user.social.linkedIn.id -->
                        </div>
                        <!-- ngIf: listingDetails.listing && !listingDetails.isMine -->
                        <div class="full-width text-center mt20 ng-scope">
                            <!-- ngIf: listingDetails.showInstantBooking -->
                            <!-- ngIf: !listingDetails.showInstantBooking -->
                            <button ng-if="current_user" class="md-teal-btn mt0 truncate message-button md-med-btn md-button ng-scope md-ink-ripple" type="button"  ng-disabled="listingDetails.creatingConversation" ng-click="listingDetails.goToMessage($event)">
                               <!--  <span class="truncate" ng-click="SendMessage(individualfavourite.user_id.id)">Message {{individualfavourite.user_id.user.first_name}}</span> -->

                               <span> <a href="#/search-listings" class="applozic-launcher" data-mck-id="{{individualfavourite.user_id.user.username}}" data-mck-name="{{individualfavourite.user_id.user.first_name}}">Message</a></span>
                            </button>
                            <!-- <pre>{{ individualfavourite | json }}</pre> -->
                            <!-- <a href="#" class="applozic-launcher" data-mck-id="{{individualfavourite.user_id.user.username}}" data-mck-name="{{individualfavourite.user_id.user.first_name}}">CHAT BUTTON</a> -->
                            <!-- end ngIf: !listingDetails.showInstantBooking -->
                        </div>
                        <!-- end ngIf: listingDetails.listing && !listingDetails.isMine -->
                        <div class="profile-short-description">
                            <!-- <div class="preference">
                                <p>Looking for a roommate who is...</p>
                                <span class="bold ng-binding">Male or Female</span>
                                <span class="bold ng-binding">in their Late 20's or 30's</span>
                            </div> -->
                            <!-- ngIf: ::listingDetails.listing.user.biography -->
                            <div class="p10 ng-scope">
                                <div class="center profile-information reg">
                                    <div class="bold mb20 ng-binding">Information about {{individualfavourite.user_id.user.first_name}}</div>
                                    <span class="maintain-white-space ng-binding">{{individualfavourite.user_id.description}}

          <!-- ngIf: ::listingDetails.listing.user.biography.length > 400 -->
        </span>
                                </div>
                            </div>
                            <!-- end ngIf: ::listingDetails.listing.user.biography -->
                        </div>
                    </div>
                </div>

            </div>
        </div>
        <!-- ngIf: listingDetails.similarListings.length > 0 -->
        
                        </div>
                    </div>
                    <!-- end ngRepeat: similarListing in listingDetails.similarListings track by $index -->
                    <!-- end ngRepeat: similarListing in listingDetails.similarListings track by $index -->
                    <!-- end ngRepeat: similarListing in listingDetails.similarListings track by $index -->
                    <!-- end ngRepeat: similarListing in listingDetails.similarListings track by $index -->
                    <!-- end ngRepeat: similarListing in listingDetails.similarListings track by $index -->
                    <!-- end ngRepeat: similarListing in listingDetails.similarListings track by $index -->
                    <!-- end ngRepeat: similarListing in listingDetails.similarListings track by $index -->
                    <!-- end ngRepeat: similarListing in listingDetails.similarListings track by $index -->
                    <!-- end ngRepeat: similarListing in listingDetails.similarListings track by $index -->
                    <!-- end ngRepeat: similarListing in listingDetails.similarListings track by $index -->
                    <!-- <button type="button" data-role="none" class="slick-next slick-arrow" aria-label="Next" role="button" style="display: block;">Next</button> -->
                </slick>
            </div>
        </div>
        <!-- end ngIf: !listingDetails.showInstantBooking && !listingDetails.hideListing && !listingDetails.isMine -->

        <!-- slides start here -->
        <div class="row" style="margin:0px;">
            <div class="col-lg-12" style="padding:20px 40px !important;background:#fff;">
                <h3 class="simi">similar listings</h3>
                <slick class="slider" settings="slickConfig2" ng-if="slickConfig2Loaded">
                    <div ng-repeat="i in [1,2,3,4,5,6,7,8,9,10]  track by $index">
                        <!-- start -->
                        <div class="main-slide-row">
                            <div class="listing ng-scope" style="">
                            <div listing="listing" class="ng-isolate-scope">
                                <div class="listing-container layout-column" layout="column">
                                    <div class="image-container">
                                        <div class="picture-container ng-isolate-scope" show-slides="true">
                                            <img ng-src="https://res.cloudinary.com/brunch-buddies/image/upload/v1509085774/gtbglbidagem19ehpwxm.jpg" class="img-responsive" style="height: 250px;">
                                        </div>
                                        <div class="price-container layout-align-center-center layout-row" layout="" layout-align="center center">
                                            <span class="currency ng-binding">AED</span>
                                            <span class="value ng-binding">999 <span style="font-size: 14px;">per month</span></span>
                                        </div>

                                        <div class="nav-right">
                                            <div class="fav-icon ng-scope">
                                                <i class="fa fa-thumbs-o-up" aria-hidden="true"></i>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="listing-lower">
                                        <div class="md-avatar-content ng-scope ng-isolate-scope" avatar="::listing.user">
                                            <a class="avatar-container ng-isolate-scope ng-scope layout-align-center-center layout-column" my-target="_blank" navigatable="canNavigate" link="" layout="column" layout-align="center center" target="_blank">
                                                <div class="avatar-image-container layout-align-center-center layout-row" layout="" layout-align="center center">
                                                    <div class="avatar-image" bg-image="avatar | profileImage" style="background-image: url(http://res.cloudinary.com/findaroom-com/image/upload/v1504848835/oa9r9yt2iryyctoaewjr.png); background-repeat: no-repeat; background-size: cover; background-position: 50% 50%;"></div>
                                                </div>
                                                <div class="user-name layout-align-center-center layout-row" layout="" layout-align="center center">

                                                    <span class="ng-binding">Name...</span><span class="ng-binding"></span>
                                                </div>
                                            </a><!-- end ngIf: listing.user_id.is_viewable -->
                                        </div>
                                        <!-- end ngIf: showImage -->
                                        <a my-target="_blank" class="listing-info layout-column" layout="column" ng-click="addSeen();" href="" target="_blank">
                                            <h3 class="truncate ng-binding">Dubai</h3>
                                            <span layout="" layout-align="start center" layout-wrap="" class="layout-wrap layout-align-start-center layout-row">
                        <span class="mr5 ng-binding ng-hide" aria-hidden="true">Available Now </span>
                                            <span class="ng-binding">
                                            <span ng-if="listing.validity_for_stay=='long'" class="ng-scope">6-9 Months</span>
                                            </span>
                                            </span>
                                            <span style="text-transform:uppercase">private room - 1 bed</span>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        </div>
                        <!-- end -->
                    </div>
                </slick>
            </div>
        </div>
        <!-- slides ends here -->
    </div>
</div>
<!-- <link rel="stylesheet" href="/static/css/findaroom/slick.min.css">
<link rel="stylesheet" href="/static/css/findaroom/slick-theme.min.css"> -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.6.0/slick.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.6.0/slick-theme.min.css">