      <div id="jobs" flex="" layout="" layout-align="center center" class=" layout-align-center-center layout-row flex">
          <!-- ngIf: vm.loading -->
          <div flex="" class="flex" aria-hidden="false">
            <div class="jobs-header" bg-image="'/static/assets/images/about/0d02903a.jobs-header.jpg'" style="background-image: url(/static/assets/images/about/0d02903a.jobs-header.jpg); background-repeat: no-repeat; background-size: cover; background-position: 50% 50%;"></div>
            <md-content class="md-white container _md">
              <div id="grnhse_app"><div id="wrapper">
                <div id="main">
                  
                    <div id="wrapper" style="padding: 20px;">
                      


                      <p><img style="display: block; margin-left: auto; margin-right: auto;" src="/static/assets/images/about/Roomi_Logo.png" width="405" height="115"></p>
                      <p>&nbsp;</p>
                      <div class="s-grid-colMd24"><img style="display: block; margin-left: auto; margin-right: auto;" src="/static/assets/images/about/Untitled_design.png">
                        <h2 style="text-align: center;"><br>What We're Building</h2>
                    </div>
                    <div class="s-grid-colMd15" style="text-align: center;">
                        <div class="product-description u-fontSize14 u-colorGray6">
                            <p>Roomi users can instantly post available rooms, search for the right room or roommate based on lifestyle preferences, connect through the in-app chat, apply for a room or apartment - all within one platform. With verified listings, the right tools and personalized support, users are empowered to make the savviest choices for their individual needs.</p>
                            <p>Roomi is the first marketplace able to provide access to verified renters that are actively looking for a place &nbsp;which is extremely valuable to anyone listing their empty room (P2P) or entire apartment (B2B).</p>
                            <p>We are on track to own the entire shared housing experience: smart search &amp; discovery - engaged local communities of active users - tools needed to make the decision to move - and finally the online booking of rooms/apartments.</p>
                            <p>We're closing in on almost 1 million users and our teams are growing quickly!&nbsp;We'd love to hear from you!&nbsp;</p>
                            <h2>Perks&nbsp;</h2>
                            Comprehensive Medical, Dental, Vision Plans<br>Competitive Compensation</div>
                            <div class="product-description u-fontSize14 u-colorGray6">401k Plan<br>Unlimited Access to Udemy classes<br>Prime location near Union Square, NYC<br>Snacks and&nbsp;some pretty awesome people (all over the globe)!</div>
                        </div>
                        <div class="s-grid-colMd15">&nbsp;</div>
                        <h1 id="board_title">Current Job Openings at Roomi</h1>

                        <select name="departments-select" id="departments-select">
                            <option value="">All Departments</option>
                            

                            <option value="37646">
                              Business Development &amp; Marketing
                          </option>



                          <option value="37650">
                              Product &amp; Engineering
                          </option>


                      </select>

                      <select name="offices-select" id="offices-select">
                        <option value="">All Offices</option>
                        

                        <option value="25252">
                          India
                      </option>



                      <option value="24651">
                          New York Office (HQ)
                      </option>


                  </select>



                  <h3 id="filter-count"></h3>

                  

                  <section class="level-0">
                      <h2 id="37646">Business Development &amp; Marketing</h2>

                      <div class="opening" department_id="37646" office_id="24651" data-office-24651="true" data-department-37646="true">
                          <a data-mapped="true" target="_top" href="http://roomiapp.com/jobs?gh_jid=738260?gh_jid=738260">Community Manager</a>
                          <br>
                          <span class="location">New York Office (HQ)</span>
                      </div><div class="opening" department_id="37646" office_id="25252" data-office-25252="true" data-department-37646="true">
                      <a data-mapped="true" target="_top" href="http://roomiapp.com/jobs?gh_jid=762135?gh_jid=762135">Community &amp; Social Media Manager</a>
                      <br>
                      <span class="location">JLT</span>
                  </div><div class="opening" department_id="37646" office_id="24651" data-office-24651="true" data-department-37646="true">
                  <a data-mapped="true" target="_top" href="http://roomiapp.com/jobs?gh_jid=730013?gh_jid=730013">PR &amp; Communications Manager</a>
                  <br>
                  <span class="location">New York Office (HQ)</span>
              </div>
              
          </section>

          <section class="level-0">
              <h2 id="37650">Product &amp; Engineering</h2>

              <div class="opening" department_id="37650" office_id="24651" data-office-24651="true" data-department-37650="true">
                  <a data-mapped="true" target="_top" href="http://roomiapp.com/jobs?gh_jid=736929?gh_jid=736929">Product Designer</a>
                  <br>
                  <span class="location">New York Office (HQ)</span>
              </div><div class="opening" department_id="37650" office_id="24651" data-office-24651="true" data-department-37650="true">
              <a data-mapped="true" target="_top" href="http://roomiapp.com/jobs?gh_jid=749253?gh_jid=749253">QA Engineer</a>
              <br>
              <span class="location">New York Office (HQ)</span>
          </div><div class="opening" department_id="37650" office_id="24651" data-office-24651="true" data-department-37650="true">
          <a data-mapped="true" target="_top" href="http://roomiapp.com/jobs?gh_jid=735738?gh_jid=735738">Senior DevOps Engineer</a>
          <br>
          <span class="location">New York Office (HQ) or Croatia</span>
      </div><div class="opening" department_id="37650" office_id="24651" data-office-24651="true" data-department-37650="true">
      <a data-mapped="true" target="_top" href="http://roomiapp.com/jobs?gh_jid=735715?gh_jid=735715">Senior Front End Engineer </a>
      <br>
      <span class="location">New York Office (HQ)</span>
  </div>
  
</section>



</div>

</div>
</div></div>
</md-content>
</div>
</div>
