  <div id="directories" class="">
  <!-- uiView: --><div class="container " ui-view="" autoscroll="false"><div class="container ">
  <md-toolbar class="_md _md-toolbar-transitions">
    <div class="md-toolbar-tools md-bolder md-white">
      <h2>Browse By Location</h2>
      <!-- ngIf: vm.loading -->
    </div>
  </md-toolbar>
</div>