  <div id="directories" class="">
  <!-- uiView: --><div class="container " ui-view="" autoscroll="false"><div class="container ">
  <md-toolbar class="_md _md-toolbar-transitions">
    <div class="md-toolbar-tools md-bolder md-white">
      <h2>Browse By Company</h2>
      <!-- ngIf: vm.loading -->
    </div>
  </md-toolbar>
 <!-- ui-sref="main.directory.memberCompany({ searchKey: item.searchKey })" -->
  <md-content class="md-white layout-padding _md" layout-padding="">
    <!-- ngIf: !vm.loading --><md-list layout="" layout-wrap="" class="layout-wrap  layout-row" role="list">
      <!-- ngRepeat: itemPage in vm.itemPages --><div flex="50" flex-xs="100" class=" flex-xs-100 flex-50">
        <!-- ngRepeat: item in itemPage --><div  flex="" class=" flex">
          <!-- ngIf: item.searchKey --><md-list-item flex="" role="listitem" class="_md-button-wrap  _md flex" tabindex="-1"><div class="md-button md-no-style"><!-- ngIf: item.searchKey --><a class="md-no-style md-button  md-ink-ripple"   aria-label="Laguna Beach Lifeguards - Jewish Federations of North America"></a><!-- end ngIf: item.searchKey -->   <div class="md-list-item-inner ">
            Laguna Beach Lifeguards - Jewish Federations of North America
          </div><div class="md-secondary-container"></div></div></md-list-item><!-- end ngIf: item.searchKey -->
          <!-- ngIf: !item.searchKey -->
        </div><!-- end ngRepeat: item in itemPage --><div flex="" class=" flex">
          <!-- ngIf: item.searchKey --><md-list-item flex="" role="listitem" class="_md-button-wrap  _md flex" tabindex="-1"><div class="md-button md-no-style"><!-- ngIf: item.searchKey --><a class="md-no-style md-button  md-ink-ripple"   aria-label="Washtenaw Community College - IU Health- Methodist Retail Pharmacy"></a><!-- end ngIf: item.searchKey -->   <div class="md-list-item-inner">
            Washtenaw Community College - IU Health- Methodist Retail Pharmacy
          </div><div class="md-secondary-container"></div></div></md-list-item><!-- end ngIf: item.searchKey -->
          <!-- ngIf: !item.searchKey -->
        </div><!-- end ngRepeat: item in itemPage --><div flex="" class=" flex">
          <!-- ngIf: item.searchKey --><md-list-item flex="" role="listitem" class="_md-button-wrap  _md flex" tabindex="-1"><div class="md-button md-no-style"><!-- ngIf: item.searchKey --><a class="md-no-style md-button  md-ink-ripple"   aria-label="Jack Wills - Precocity Entertainment"></a><!-- end ngIf: item.searchKey -->   <div class="md-list-item-inner">
            Jack Wills - Precocity Entertainment
          </div><div class="md-secondary-container"></div></div></md-list-item><!-- end ngIf: item.searchKey -->
          <!-- ngIf: !item.searchKey -->
        </div><!-- end ngRepeat: item in itemPage --><div flex="" class=" flex">
          <!-- ngIf: item.searchKey --><md-list-item flex="" role="listitem" class="_md-button-wrap  _md flex" tabindex="-1"><div class="md-button md-no-style"><!-- ngIf: item.searchKey --><a class="md-no-style md-button  md-ink-ripple"   aria-label="Tamil Film Industry - Willbros Group, Inc." ></a><!-- end ngIf: item.searchKey -->   <div class="md-list-item-inner">
            Tamil Film Industry - Willbros Group, Inc.
          </div><div class="md-secondary-container"></div></div></md-list-item><!-- end ngIf: item.searchKey -->
          <!-- ngIf: !item.searchKey -->
        </div><!-- end ngRepeat: item in itemPage --><div flex="" class=" flex">
          <!-- ngIf: item.searchKey --><md-list-item flex="" role="listitem" class="_md-button-wrap  _md flex" tabindex="-1"><div class="md-button md-no-style"><!-- ngIf: item.searchKey --><a class="md-no-style md-button  md-ink-ripple"   aria-label="Ipswich Family YMCA - Kansas City, Missouri Water Services"></a><!-- end ngIf: item.searchKey -->   <div class="md-list-item-inner">
            Ipswich Family YMCA - Kansas City, Missouri Water Services
          </div><div class="md-secondary-container"></div></div></md-list-item><!-- end ngIf: item.searchKey -->
          <!-- ngIf: !item.searchKey -->
        </div><!-- end ngRepeat: item in itemPage --><div flex="" class=" flex">
          <!-- ngIf: item.searchKey --><md-list-item flex="" role="listitem" class="_md-button-wrap  _md flex" tabindex="-1"><div class="md-button md-no-style"><!-- ngIf: item.searchKey --><a class="md-no-style md-button  md-ink-ripple"   aria-label="Nelson-Atkins Museum of Art - DBCOM"></a><!-- end ngIf: item.searchKey -->   <div class="md-list-item-inner">
            Nelson-Atkins Museum of Art - DBCOM
          </div><div class="md-secondary-container"></div></div></md-list-item><!-- end ngIf: item.searchKey -->
          <!-- ngIf: !item.searchKey -->
        </div><!-- end ngRepeat: item in itemPage --><div flex="" class=" flex">
          <!-- ngIf: item.searchKey --><md-list-item flex="" role="listitem" class="_md-button-wrap  _md flex" tabindex="-1"><div class="md-button md-no-style"><!-- ngIf: item.searchKey --><a class="md-no-style md-button  md-ink-ripple"   aria-label="Elo Touch Solutions - HuffPost Voces"></a><!-- end ngIf: item.searchKey -->   <div class="md-list-item-inner">
            Elo Touch Solutions - HuffPost Voces
          </div><div class="md-secondary-container"></div></div></md-list-item><!-- end ngIf: item.searchKey -->
          <!-- ngIf: !item.searchKey -->
        </div><!-- end ngRepeat: item in itemPage --><div flex="" class=" flex">
          <!-- ngIf: item.searchKey --><md-list-item flex="" role="listitem" class="_md-button-wrap  _md flex" tabindex="-1"><div class="md-button md-no-style"><!-- ngIf: item.searchKey --><a class="md-no-style md-button  md-ink-ripple"   aria-label="Laura Sanchez - Nigro Karlin Segal &amp; Feldstein, LLP"></a><!-- end ngIf: item.searchKey -->   <div class="md-list-item-inner">
            Laura Sanchez - Nigro Karlin Segal &amp; Feldstein, LLP
          </div><div class="md-secondary-container"></div></div></md-list-item><!-- end ngIf: item.searchKey -->
          <!-- ngIf: !item.searchKey -->
        </div><!-- end ngRepeat: item in itemPage --><div flex="" class=" flex">
          <!-- ngIf: item.searchKey --><md-list-item flex="" role="listitem" class="_md-button-wrap  _md flex" tabindex="-1"><div class="md-button md-no-style"><!-- ngIf: item.searchKey --><a class="md-no-style md-button  md-ink-ripple"   aria-label="InsightSquared - Blackbird Jeans"></a><!-- end ngIf: item.searchKey -->   <div class="md-list-item-inner">
            InsightSquared - Blackbird Jeans
          </div><div class="md-secondary-container"></div></div></md-list-item><!-- end ngIf: item.searchKey -->
          <!-- ngIf: !item.searchKey -->
        </div><!-- end ngRepeat: item in itemPage --><div flex="" class=" flex">
          <!-- ngIf: item.searchKey --><md-list-item flex="" role="listitem" class="_md-button-wrap  _md flex" tabindex="-1"><div class="md-button md-no-style"><!-- ngIf: item.searchKey --><a class="md-no-style md-button  md-ink-ripple"   aria-label="Transit App - Aurora Mental Health Center"></a><!-- end ngIf: item.searchKey -->   <div class="md-list-item-inner">
            Transit App - Aurora Mental Health Center
          </div><div class="md-secondary-container"></div></div></md-list-item><!-- end ngIf: item.searchKey -->
          <!-- ngIf: !item.searchKey -->
        </div><!-- end ngRepeat: item in itemPage --><div flex="" class=" flex">
          <!-- ngIf: item.searchKey --><md-list-item flex="" role="listitem" class="_md-button-wrap  _md flex" tabindex="-1"><div class="md-button md-no-style"><!-- ngIf: item.searchKey --><a class="md-no-style md-button  md-ink-ripple"   aria-label="Gidilounge - KWTX News 10"></a><!-- end ngIf: item.searchKey -->   <div class="md-list-item-inner">
            Gidilounge - KWTX News 10
          </div><div class="md-secondary-container"></div></div></md-list-item><!-- end ngIf: item.searchKey -->
          <!-- ngIf: !item.searchKey -->
        </div><!-- end ngRepeat: item in itemPage --><div flex="" class=" flex">
          <!-- ngIf: item.searchKey --><md-list-item flex="" role="listitem" class="_md-button-wrap  _md flex" tabindex="-1"><div class="md-button md-no-style"><!-- ngIf: item.searchKey --><a class="md-no-style md-button  md-ink-ripple"   aria-label="Killeen Daily Herald - Bertini's Restaurant"></a><!-- end ngIf: item.searchKey -->   <div class="md-list-item-inner">
            Killeen Daily Herald - Bertini's Restaurant
          </div><div class="md-secondary-container"></div></div></md-list-item><!-- end ngIf: item.searchKey -->
          <!-- ngIf: !item.searchKey -->
        </div><!-- end ngRepeat: item in itemPage --><div flex="" class=" flex">
          <!-- ngIf: item.searchKey --><md-list-item flex="" role="listitem" class="_md-button-wrap  _md flex" tabindex="-1"><div class="md-button md-no-style"><!-- ngIf: item.searchKey --><a class="md-no-style md-button  md-ink-ripple"     aria-label="Polcari's - Demandware"></a><!-- end ngIf: item.searchKey -->   <div class="md-list-item-inner">
            Polcari's - Demandware
          </div><div class="md-secondary-container"></div></div></md-list-item><!-- end ngIf: item.searchKey -->
          <!-- ngIf: !item.searchKey -->
        </div><!-- end ngRepeat: item in itemPage --><div flex="" class=" flex">
          <!-- ngIf: item.searchKey --><md-list-item flex="" role="listitem" class="_md-button-wrap  _md flex" tabindex="-1"><div class="md-button md-no-style"><!-- ngIf: item.searchKey --><a class="md-no-style md-button  md-ink-ripple"    aria-label="J. Morgans - Ahlan Morocco"></a><!-- end ngIf: item.searchKey -->   <div class="md-list-item-inner">
            J. Morgans - Ahlan Morocco
          </div><div class="md-secondary-container"></div></div></md-list-item><!-- end ngIf: item.searchKey -->
          <!-- ngIf: !item.searchKey -->
        </div><!-- end ngRepeat: item in itemPage --><div flex="" class=" flex">
          <!-- ngIf: item.searchKey --><md-list-item flex="" role="listitem" class="_md-button-wrap  _md flex" tabindex="-1"><div class="md-button md-no-style"><!-- ngIf: item.searchKey --><a class="md-no-style md-button  md-ink-ripple"   aria-label="Jolly Animation - Animatori di Professione - Bethesda Naval Exchange"></a><!-- end ngIf: item.searchKey -->   <div class="md-list-item-inner ">
            Jolly Animation - Animatori di Professione - Bethesda Naval Exchange
          </div><div class="md-secondary-container"></div></div></md-list-item><!-- end ngIf: item.searchKey -->
          <!-- ngIf: !item.searchKey -->
        </div><!-- end ngRepeat: item in itemPage --><div flex="" class=" flex">
          <!-- ngIf: item.searchKey --><md-list-item flex="" role="listitem" class="_md-button-wrap  _md flex" tabindex="-1"><div class="md-button md-no-style"><!-- ngIf: item.searchKey --><a class="md-no-style md-button  md-ink-ripple"   aria-label="Triple T Industries Fiji - Fasta Pasta"></a><!-- end ngIf: item.searchKey -->   <div class="md-list-item-inner">
            Triple T Industries Fiji - Fasta Pasta
          </div><div class="md-secondary-container"></div></div></md-list-item><!-- end ngIf: item.searchKey -->
          <!-- ngIf: !item.searchKey -->
        </div><!-- end ngRepeat: item in itemPage --><div flex="" class=" flex">
          <!-- ngIf: item.searchKey --><md-list-item flex="" role="listitem" class="_md-button-wrap  _md flex" tabindex="-1"><div class="md-button md-no-style"><!-- ngIf: item.searchKey --><a class="md-no-style md-button  md-ink-ripple"   aria-label="British Army - YMCA of Metropolin Detroit"></a><!-- end ngIf: item.searchKey -->   <div class="md-list-item-inner">
            British Army - YMCA of Metropolin Detroit
          </div><div class="md-secondary-container"></div></div></md-list-item><!-- end ngIf: item.searchKey -->
          <!-- ngIf: !item.searchKey -->
        </div><!-- end ngRepeat: item in itemPage --><div flex="" class=" flex">
          <!-- ngIf: item.searchKey --><md-list-item flex="" role="listitem" class="_md-button-wrap  _md flex" tabindex="-1"><div class="md-button md-no-style"><!-- ngIf: item.searchKey --><a class="md-no-style md-button  md-ink-ripple"   aria-label="QBB - Verellen"></a><!-- end ngIf: item.searchKey -->   <div class="md-list-item-inner">
            QBB - Verellen
          </div><div class="md-secondary-container"></div></div></md-list-item><!-- end ngIf: item.searchKey -->
          <!-- ngIf: !item.searchKey -->
        </div><!-- end ngRepeat: item in itemPage --><div flex="" class=" flex">
          <!-- ngIf: item.searchKey --><md-list-item flex="" role="listitem" class="_md-button-wrap  _md flex" tabindex="-1"><div class="md-button md-no-style"><!-- ngIf: item.searchKey --><a class="md-no-style md-button  md-ink-ripple"   aria-label="Weedzinger LLC - Medfusion"></a><!-- end ngIf: item.searchKey -->   <div class="md-list-item-inner">
            Weedzinger LLC - Medfusion
          </div><div class="md-secondary-container"></div></div></md-list-item><!-- end ngIf: item.searchKey -->
          <!-- ngIf: !item.searchKey -->
        </div><!-- end ngRepeat: item in itemPage --><div   flex="" class=" flex">
          <!-- ngIf: item.searchKey --><md-list-item flex="" role="listitem" class="_md-button-wrap  _md flex" tabindex="-1"><div class="md-button md-no-style"><!-- ngIf: item.searchKey --><a class="md-no-style md-button  md-ink-ripple"      aria-label="Greenlight Management - Residence Hall Association at DPc"></a><!-- end ngIf: item.searchKey -->   <div class="md-list-item-inner  ">
            Greenlight Management - Residence Hall Association at DPc
          </div><div class="md-secondary-container"></div></div></md-list-item><!-- end ngIf: item.searchKey -->
          <!-- ngIf: !item.searchKey -->
        </div><!-- end ngRepeat: item in itemPage --><div   flex="" class=" flex">
          <!-- ngIf: item.searchKey --><md-list-item flex="" role="listitem" class="_md-button-wrap  _md flex" tabindex="-1" ><div class="md-button md-no-style"><!-- ngIf: item.searchKey --><a class="md-no-style md-button  md-ink-ripple"      aria-label="TSU Office of Marketing and Public Affairs - RE/MAX Top Producers"></a><!-- end ngIf: item.searchKey -->   <div class="md-list-item-inner  ">
            TSU Office of Marketing and Public Affairs - RE/MAX Top Producers
          </div><div class="md-secondary-container"></div></div></md-list-item><!-- end ngIf: item.searchKey -->
          <!-- ngIf: !item.searchKey -->
        </div><!-- end ngRepeat: item in itemPage --><div   flex="" class=" flex">
          <!-- ngIf: item.searchKey --><md-list-item flex="" role="listitem" class="_md-button-wrap  _md flex" tabindex="-1"><div class="md-button md-no-style"><!-- ngIf: item.searchKey --><a class="md-no-style md-button  md-ink-ripple"      aria-label="STAY AY HOME MOM - In N Out Burger"></a><!-- end ngIf: item.searchKey -->   <div class="md-list-item-inner  ">
            STAY AY HOME MOM - In N Out Burger
          </div><div class="md-secondary-container"></div></div></md-list-item><!-- end ngIf: item.searchKey -->
          <!-- ngIf: !item.searchKey -->
        </div><!-- end ngRepeat: item in itemPage --><div   flex="" class=" flex">
          <!-- ngIf: item.searchKey --><md-list-item flex="" role="listitem" class="_md-button-wrap  _md flex" tabindex="-1"><div class="md-button md-no-style"><!-- ngIf: item.searchKey --><a class="md-no-style md-button  md-ink-ripple"      aria-label="Schaafs Paint Company - Lemont Public Library"></a><!-- end ngIf: item.searchKey -->   <div class="md-list-item-inner  ">
            Schaafs Paint Company - Lemont Public Library
          </div><div class="md-secondary-container"></div></div></md-list-item><!-- end ngIf: item.searchKey -->
          <!-- ngIf: !item.searchKey -->
        </div><!-- end ngRepeat: item in itemPage --><div   flex="" class=" flex">
          <!-- ngIf: item.searchKey --><md-list-item flex="" role="listitem" class="_md-button-wrap  _md flex" tabindex="-1"><div class="md-button md-no-style"><!-- ngIf: item.searchKey --><a class="md-no-style md-button  md-ink-ripple"      aria-label="Cadence Theatre Company - Pilot Holdings USA"></a><!-- end ngIf: item.searchKey -->   <div class="md-list-item-inner  ">
            Cadence Theatre Company - Pilot Holdings USA
          </div><div class="md-secondary-container"></div></div></md-list-item><!-- end ngIf: item.searchKey -->
          <!-- ngIf: !item.searchKey -->
        </div><!-- end ngRepeat: item in itemPage --><div   flex="" class=" flex">
          <!-- ngIf: item.searchKey --><md-list-item flex="" role="listitem" class="_md-button-wrap  _md flex" tabindex="-1"><div class="md-button md-no-style"><!-- ngIf: item.searchKey --><a class="md-no-style md-button  md-ink-ripple"      aria-label="Psick Nation - Conagra Brands"></a><!-- end ngIf: item.searchKey -->   <div class="md-list-item-inner  ">
            Psick Nation - Conagra Brands
          </div><div class="md-secondary-container"></div></div></md-list-item><!-- end ngIf: item.searchKey -->
          <!-- ngIf: !item.searchKey -->
        </div><!-- end ngRepeat: item in itemPage --><div   flex="" class=" flex">
          <!-- ngIf: item.searchKey --><md-list-item flex="" role="listitem" class="_md-button-wrap  _md flex" tabindex="-1"><div class="md-button md-no-style"><!-- ngIf: item.searchKey --><a class="md-no-style md-button  md-ink-ripple"      aria-label="I am an independent Senior Executive with Pampered Chef. - Cepea/Esalq-USP"></a><!-- end ngIf: item.searchKey -->   <div class="md-list-item-inner  ">
            I am an independent Senior Executive with Pampered Chef. - Cepea/Esalq-USP
          </div><div class="md-secondary-container"></div></div></md-list-item><!-- end ngIf: item.searchKey -->
          <!-- ngIf: !item.searchKey -->
        </div><!-- end ngRepeat: item in itemPage -->
      </div><!-- end ngRepeat: itemPage in vm.itemPages --><div flex="50" flex-xs="100" class=" flex-xs-100 flex-50">
        <!-- ngRepeat: item in itemPage --><div   flex="" class=" flex">
          <!-- ngIf: item.searchKey --><md-list-item flex="" role="listitem" class="_md-button-wrap  _md flex" tabindex="-1"><div class="md-button md-no-style"><!-- ngIf: item.searchKey --><a class="md-no-style md-button  md-ink-ripple"      aria-label="Grupo Libra - Hedge Fund in CT"></a><!-- end ngIf: item.searchKey -->   <div class="md-list-item-inner  ">
            Grupo Libra - Hedge Fund in CT
          </div><div class="md-secondary-container"></div></div></md-list-item><!-- end ngIf: item.searchKey -->
          <!-- ngIf: !item.searchKey -->
        </div><!-- end ngRepeat: item in itemPage --><div   flex="" class=" flex">
          <!-- ngIf: item.searchKey --><md-list-item flex="" role="listitem" class="_md-button-wrap  _md flex" tabindex="-1"><div class="md-button md-no-style"><!-- ngIf: item.searchKey --><a class="md-no-style md-button  md-ink-ripple"      aria-label="NASDAQ - All Access Crewing Pty Ltd" ></a><!-- end ngIf: item.searchKey -->   <div class="md-list-item-inner  ">
            NASDAQ - All Access Crewing Pty Ltd
          </div><div class="md-secondary-container"></div></div></md-list-item><!-- end ngIf: item.searchKey -->
          <!-- ngIf: !item.searchKey -->
        </div><!-- end ngRepeat: item in itemPage --><div   flex="" class=" flex">
          <!-- ngIf: item.searchKey --><md-list-item flex="" role="listitem" class="_md-button-wrap  _md flex" tabindex="-1" ><div class="md-button md-no-style"><!-- ngIf: item.searchKey --><a class="md-no-style md-button  md-ink-ripple"      aria-label="Roadpro Event Services - Sod All inc"></a><!-- end ngIf: item.searchKey -->   <div class="md-list-item-inner  ">
            Roadpro Event Services - Sod All inc
          </div><div class="md-secondary-container"></div></div></md-list-item><!-- end ngIf: item.searchKey -->
          <!-- ngIf: !item.searchKey -->
        </div><!-- end ngRepeat: item in itemPage --><div   flex="" class=" flex">
          <!-- ngIf: item.searchKey --><md-list-item flex="" role="listitem" class="_md-button-wrap  _md flex" tabindex="-1" ><div class="md-button md-no-style"><!-- ngIf: item.searchKey --><a class="md-no-style md-button  md-ink-ripple"      aria-label="General Motors Wentzville Assembly - Wolf Trap National Park"></a><!-- end ngIf: item.searchKey -->   <div class="md-list-item-inner  ">
            General Motors Wentzville Assembly - Wolf Trap National Park
          </div><div class="md-secondary-container"></div></div></md-list-item><!-- end ngIf: item.searchKey -->
          <!-- ngIf: !item.searchKey -->
        </div><!-- end ngRepeat: item in itemPage --><div   flex="" class=" flex">
          <!-- ngIf: item.searchKey --><md-list-item flex="" role="listitem" class="_md-button-wrap  _md flex" tabindex="-1" ><div class="md-button md-no-style"><!-- ngIf: item.searchKey --><a class="md-no-style md-button  md-ink-ripple"      aria-label="Panalpina - Staten Island Youth Court"></a><!-- end ngIf: item.searchKey -->   <div class="md-list-item-inner  ">
            Panalpina - Staten Island Youth Court
          </div><div class="md-secondary-container"></div></div></md-list-item><!-- end ngIf: item.searchKey -->
          <!-- ngIf: !item.searchKey -->
        </div><!-- end ngRepeat: item in itemPage --><div   flex="" class=" flex">
          <!-- ngIf: item.searchKey --><md-list-item flex="" role="listitem" class="_md-button-wrap  _md flex" tabindex="-1"><div class="md-button md-no-style"><!-- ngIf: item.searchKey --><a class="md-no-style md-button  md-ink-ripple"      aria-label="Alphabets - Moraga Country Club."></a><!-- end ngIf: item.searchKey -->   <div class="md-list-item-inner  ">
            Alphabets - Moraga Country Club.
          </div><div class="md-secondary-container"></div></div></md-list-item><!-- end ngIf: item.searchKey -->
          <!-- ngIf: !item.searchKey -->
        </div><!-- end ngRepeat: item in itemPage --><div   flex="" class=" flex">
          <!-- ngIf: item.searchKey --><md-list-item flex="" role="listitem" class="_md-button-wrap  _md flex" tabindex="-1"><div class="md-button md-no-style"><!-- ngIf: item.searchKey --><a class="md-no-style md-button  md-ink-ripple"      aria-label="Frix Frox productions - Rockin' Jump - Vacaville" ></a><!-- end ngIf: item.searchKey -->   <div class="md-list-item-inner  ">
            Frix Frox productions - Rockin' Jump - Vacaville
          </div><div class="md-secondary-container"></div></div></md-list-item><!-- end ngIf: item.searchKey -->
          <!-- ngIf: !item.searchKey -->
        </div><!-- end ngRepeat: item in itemPage --><div   flex="" class=" flex">
          <!-- ngIf: item.searchKey --><md-list-item flex="" role="listitem" class="_md-button-wrap  _md flex" tabindex="-1"><div class="md-button md-no-style"><!-- ngIf: item.searchKey --><a class="md-no-style md-button  md-ink-ripple"      aria-label="CSU San Bernardino - Favista Real Estate Pvt Ltd" ></a><!-- end ngIf: item.searchKey -->   <div class="md-list-item-inner  ">
            CSU San Bernardino - Favista Real Estate Pvt Ltd
          </div><div class="md-secondary-container"></div></div></md-list-item><!-- end ngIf: item.searchKey -->
          <!-- ngIf: !item.searchKey -->
        </div><!-- end ngRepeat: item in itemPage --><div   flex="" class=" flex">
          <!-- ngIf: item.searchKey --><md-list-item flex="" role="listitem" class="_md-button-wrap  _md flex" tabindex="-1"><div class="md-button md-no-style"><!-- ngIf: item.searchKey --><a class="md-no-style md-button  md-ink-ripple"      aria-label="Orai - Hamburg Süd"></a><!-- end ngIf: item.searchKey -->   <div class="md-list-item-inner  ">
            Orai - Hamburg Süd
          </div><div class="md-secondary-container"></div></div></md-list-item><!-- end ngIf: item.searchKey -->
          <!-- ngIf: !item.searchKey -->
        </div><!-- end ngRepeat: item in itemPage --><div   flex="" class=" flex">
          <!-- ngIf: item.searchKey --><md-list-item flex="" role="listitem" class="_md-button-wrap  _md flex" tabindex="-1"><div class="md-button md-no-style"><!-- ngIf: item.searchKey --><a class="md-no-style md-button  md-ink-ripple"      aria-label="Bower's Ambulance Co. - Canyon High School, Canyon Country, Ca."></a><!-- end ngIf: item.searchKey -->   <div class="md-list-item-inner  ">
            Bower's Ambulance Co. - Canyon High School, Canyon Country, Ca.
          </div><div class="md-secondary-container"></div></div></md-list-item><!-- end ngIf: item.searchKey -->
          <!-- ngIf: !item.searchKey -->
        </div><!-- end ngRepeat: item in itemPage --><div   flex="" class=" flex">
          <!-- ngIf: item.searchKey --><md-list-item flex="" role="listitem" class="_md-button-wrap  _md flex" tabindex="-1" ><div class="md-button md-no-style"><!-- ngIf: item.searchKey --><a class="md-no-style md-button  md-ink-ripple"      aria-label="Casa de Pizza - Otte"></a><!-- end ngIf: item.searchKey -->   <div class="md-list-item-inner  ">
            Casa de Pizza - Otte
          </div><div class="md-secondary-container"></div></div></md-list-item><!-- end ngIf: item.searchKey -->
          <!-- ngIf: !item.searchKey -->
        </div><!-- end ngRepeat: item in itemPage --><div   flex="" class=" flex">
          <!-- ngIf: item.searchKey --><md-list-item flex="" role="listitem" class="_md-button-wrap  _md flex" tabindex="-1" ><div class="md-button md-no-style"><!-- ngIf: item.searchKey --><a class="md-no-style md-button  md-ink-ripple"      aria-label="Searle - Pork Filled Productions"></a><!-- end ngIf: item.searchKey -->   <div class="md-list-item-inner  ">
            Searle - Pork Filled Productions
          </div><div class="md-secondary-container"></div></div></md-list-item><!-- end ngIf: item.searchKey -->
          <!-- ngIf: !item.searchKey -->
        </div><!-- end ngRepeat: item in itemPage --><div   flex="" class=" flex">
          <!-- ngIf: item.searchKey --><md-list-item flex="" role="listitem" class="_md-button-wrap  _md flex" tabindex="-1"><div class="md-button md-no-style"><!-- ngIf: item.searchKey --><a class="md-no-style md-button  md-ink-ripple"      aria-label="Rogue Theatrics - X.ai"></a><!-- end ngIf: item.searchKey -->   <div class="md-list-item-inner  ">
            Rogue Theatrics - X.ai
          </div><div class="md-secondary-container"></div></div></md-list-item><!-- end ngIf: item.searchKey -->
          <!-- ngIf: !item.searchKey -->
        </div><!-- end ngRepeat: item in itemPage --><div   flex="" class=" flex">
          <!-- ngIf: item.searchKey --><md-list-item flex="" role="listitem" class="_md-button-wrap  _md flex" tabindex="-1" ><div class="md-button md-no-style"><!-- ngIf: item.searchKey --><a class="md-no-style md-button  md-ink-ripple"      aria-label="Lakeside Middle School - Dean Hope Center for Educational and Psychological Services" ></a><!-- end ngIf: item.searchKey -->   <div class="md-list-item-inner  ">
            Lakeside Middle School - Dean Hope Center for Educational and Psychological Services
          </div><div class="md-secondary-container"></div></div></md-list-item><!-- end ngIf: item.searchKey -->
          <!-- ngIf: !item.searchKey -->
        </div><!-- end ngRepeat: item in itemPage --><div   flex="" class=" flex">
          <!-- ngIf: item.searchKey --><md-list-item flex="" role="listitem" class="_md-button-wrap  _md flex" tabindex="-1" ><div class="md-button md-no-style"><!-- ngIf: item.searchKey --><a class="md-no-style md-button  md-ink-ripple"      aria-label="Dean Hope Center: Columbia University - Teachers College - Hydro Caribbean Festival" ></a><!-- end ngIf: item.searchKey -->   <div class="md-list-item-inner  ">
            Dean Hope Center: Columbia University - Teachers College - Hydro Caribbean Festival
          </div><div class="md-secondary-container"></div></div></md-list-item><!-- end ngIf: item.searchKey -->
          <!-- ngIf: !item.searchKey -->
        </div><!-- end ngRepeat: item in itemPage --><div   flex="" class=" flex">
          <!-- ngIf: item.searchKey --><md-list-item flex="" role="listitem" class="_md-button-wrap  _md flex" tabindex="-1"><div class="md-button md-no-style"><!-- ngIf: item.searchKey --><a class="md-no-style md-button  md-ink-ripple"      aria-label="Domingo Gonzales Associates - Concerts.com" ></a><!-- end ngIf: item.searchKey -->   <div class="md-list-item-inner  ">
            Domingo Gonzales Associates - Concerts.com
          </div><div class="md-secondary-container"></div></div></md-list-item><!-- end ngIf: item.searchKey -->
          <!-- ngIf: !item.searchKey -->
        </div><!-- end ngRepeat: item in itemPage --><div   flex="" class=" flex">
          <!-- ngIf: item.searchKey --><md-list-item flex="" role="listitem" class="_md-button-wrap  _md flex" tabindex="-1"><div class="md-button md-no-style"><!-- ngIf: item.searchKey --><a class="md-no-style md-button  md-ink-ripple"      aria-label="Denistry of Redondo Beach - Spelman College-Official Site"></a><!-- end ngIf: item.searchKey -->   <div class="md-list-item-inner  ">
            Denistry of Redondo Beach - Spelman College-Official Site
          </div><div class="md-secondary-container"></div></div></md-list-item><!-- end ngIf: item.searchKey -->
          <!-- ngIf: !item.searchKey -->
        </div><!-- end ngRepeat: item in itemPage --><div   flex="" class=" flex">
          <!-- ngIf: item.searchKey --><md-list-item flex="" role="listitem" class="_md-button-wrap  _md flex" tabindex="-1"><div class="md-button md-no-style"><!-- ngIf: item.searchKey --><a class="md-no-style md-button  md-ink-ripple"      aria-label="Southern Bride - Recovery Room Sports Bar &amp; Grill"></a><!-- end ngIf: item.searchKey -->   <div class="md-list-item-inner  ">
            Southern Bride - Recovery Room Sports Bar &amp; Grill
          </div><div class="md-secondary-container"></div></div></md-list-item><!-- end ngIf: item.searchKey -->
          <!-- ngIf: !item.searchKey -->
        </div><!-- end ngRepeat: item in itemPage --><div   flex="" class=" flex">
          <!-- ngIf: item.searchKey --><md-list-item flex="" role="listitem" class="_md-button-wrap  _md flex" tabindex="-1"><div class="md-button md-no-style"><!-- ngIf: item.searchKey --><a class="md-no-style md-button  md-ink-ripple"      aria-label="Ari Golds Office - Michelle McLean Children Trust"></a><!-- end ngIf: item.searchKey -->   <div class="md-list-item-inner  ">
            Ari Golds Office - Michelle McLean Children Trust
          </div><div class="md-secondary-container"></div></div></md-list-item><!-- end ngIf: item.searchKey -->
          <!-- ngIf: !item.searchKey -->
        </div><!-- end ngRepeat: item in itemPage --><div   flex="" class=" flex">
          <!-- ngIf: item.searchKey --><md-list-item flex="" role="listitem" class="_md-button-wrap  _md flex" tabindex="-1"><div class="md-button md-no-style"><!-- ngIf: item.searchKey --><a class="md-no-style md-button  md-ink-ripple"      aria-label="The Wave - Iroquois Capital Management"></a><!-- end ngIf: item.searchKey -->   <div class="md-list-item-inner  ">
            The Wave - Iroquois Capital Management
          </div><div class="md-secondary-container"></div></div></md-list-item><!-- end ngIf: item.searchKey -->
          <!-- ngIf: !item.searchKey -->
        </div><!-- end ngRepeat: item in itemPage --><div   flex="" class=" flex">
          <!-- ngIf: item.searchKey --><md-list-item flex="" role="listitem" class="_md-button-wrap  _md flex" tabindex="-1"><div class="md-button md-no-style"><!-- ngIf: item.searchKey --><a class="md-no-style md-button  md-ink-ripple"      aria-label="Owner of Juniors Transport LLC - The Peggy Guggenheim Collection"></a><!-- end ngIf: item.searchKey -->   <div class="md-list-item-inner  ">
            Owner of Juniors Transport LLC - The Peggy Guggenheim Collection
          </div><div class="md-secondary-container"></div></div></md-list-item><!-- end ngIf: item.searchKey -->
          <!-- ngIf: !item.searchKey -->
        </div><!-- end ngRepeat: item in itemPage --><div   flex="" class=" flex">
          <!-- ngIf: item.searchKey --><md-list-item flex="" role="listitem" class="_md-button-wrap  _md flex" tabindex="-1"><div class="md-button md-no-style"><!-- ngIf: item.searchKey --><a class="md-no-style md-button  md-ink-ripple"      aria-label="Vastago Producciones - Line Dance Teacher at Senior Centers"></a><!-- end ngIf: item.searchKey -->   <div class="md-list-item-inner  ">
            Vastago Producciones - Line Dance Teacher at Senior Centers
          </div><div class="md-secondary-container"></div></div></md-list-item><!-- end ngIf: item.searchKey -->
          <!-- ngIf: !item.searchKey -->
        </div><!-- end ngRepeat: item in itemPage --><div   flex="" class=" flex">
          <!-- ngIf: item.searchKey --><md-list-item flex="" role="listitem" class="_md-button-wrap  _md flex" tabindex="-1"><div class="md-button md-no-style"><!-- ngIf: item.searchKey --><a class="md-no-style md-button  md-ink-ripple"      aria-label="The Mambo Mamas - Trident Hyderabad"></a><!-- end ngIf: item.searchKey -->   <div class="md-list-item-inner  ">
            The Mambo Mamas - Trident Hyderabad
          </div><div class="md-secondary-container"></div></div></md-list-item><!-- end ngIf: item.searchKey -->
          <!-- ngIf: !item.searchKey -->
        </div><!-- end ngRepeat: item in itemPage --><div   flex="" class=" flex">
          <!-- ngIf: item.searchKey --><md-list-item flex="" role="listitem" class="_md-button-wrap  _md flex" tabindex="-1"><div class="md-button md-no-style"><!-- ngIf: item.searchKey --><a class="md-no-style md-button  md-ink-ripple"      aria-label="Shenzhen, China. - AdaBoost"></a><!-- end ngIf: item.searchKey -->   <div class="md-list-item-inner  ">
            Shenzhen, China. - AdaBoost
          </div><div class="md-secondary-container"></div></div></md-list-item><!-- end ngIf: item.searchKey -->
          <!-- ngIf: !item.searchKey -->
        </div><!-- end ngRepeat: item in itemPage --><div   flex="" class=" flex">
          <!-- ngIf: item.searchKey --><md-list-item flex="" role="listitem" class="_md-button-wrap  _md flex" tabindex="-1" ><div class="md-button md-no-style"><!-- ngIf: item.searchKey --><a class="md-no-style md-button  md-ink-ripple"      aria-label="Indacube Chinese Language School - Zappos Family Internships"></a><!-- end ngIf: item.searchKey -->   <div class="md-list-item-inner  ">
            Indacube Chinese Language School - Zappos Family Internships
          </div><div class="md-secondary-container"></div></div></md-list-item><!-- end ngIf: item.searchKey -->
          <!-- ngIf: !item.searchKey -->
        </div><!-- end ngRepeat: item in itemPage -->
      </div><!-- end ngRepeat: itemPage in vm.itemPages -->
    </md-list><!-- end ngIf: !vm.loading -->
  </md-content>
</div>
</div>
</div>

