<style type="text/css">
footer{
  display: none;
}
.mck-running-on {
  display: none;
}
</style>
<div ui-view="" flex="noshrink" layout="column" class=" layout-column flex-noshrink"><div id="messaging" class="momentum-scroll  layout-row" layout="">
  <div class="left-container layout-column" layout="column">
    <!-- ngIf: messages.conversations.length > 0 --><div  flex="" layout="column" class=" layout-column flex">
      <md-toolbar class="_md _md-toolbar-transitions">
        <div class="md-toolbar-tools md-grey">
          <md-icon><svg width="100%" height="100%" viewBox="-1 0 21 20" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" fit="" preserveAspectRatio="xMidYMid meet" focusable="false">
    <!-- Generator: Sketch 40.3 (33839) - http://www.bohemiancoding.com/sketch -->
    <desc>Created with Sketch.</desc>
    <defs></defs>
    <g id="Group_cache46" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
        <path d="M0.36625,18.5819143 C0.4425,18.6228451 0.5253125,18.6679006 0.6875,18.6679006 C1.203125,18.667266 2.5215625,18.2186145 6.9675,15.7830777 C7.2325,15.8436806 7.3790625,15.8890534 7.580625,15.9521946 L7.8796875,16.0438921 C8.2175,16.1428874 8.566875,15.9490217 8.6659375,15.6101534 C8.7640625,15.2725542 8.571875,14.9171867 8.2371875,14.8175568 L7.954375,14.7315706 C7.6871875,14.6487573 7.4771875,14.5827604 6.9975,14.4843998 C6.850625,14.4533051 6.699375,14.4767848 6.568125,14.5488102 C5.034375,15.3912216 3.295,16.2904283 2.0984375,16.8482285 C2.2796875,16.611211 2.4646875,16.373559 2.623125,16.1695399 C3.9903125,14.4107879 4.303125,13.952935 4.2403125,13.4922263 C4.2171875,13.321523 4.1034375,13.1244844 3.9659375,13.0219989 C2.2459375,11.7490217 1.298125,10.0432575 1.298125,8.2194606 C1.298125,4.53886832 5.2028125,1.54457959 10.0021875,1.54457959 C14.8015625,1.54457959 18.70625,4.53886832 18.70625,8.21914331 C18.70625,8.57228979 18.99,8.85817028 19.33875,8.85817028 C19.688125,8.85817028 19.971875,8.57260709 19.971875,8.21914331 C19.971875,3.8347964 15.4990625,0.267160233 10.0015625,0.267160233 C4.5040625,0.267160233 0.0321875,3.8347964 0.0321875,8.21914331 C0.0321875,10.2869381 1.04875,12.2814384 2.8390625,13.7568482 C2.5665625,14.1725013 2.0190625,14.8759387 1.6265625,15.3810682 C0.2128125,17.2004231 -0.0821875,17.635431 0.0175,18.1104178 C0.0559375,18.295082 0.201875,18.4927552 0.36625,18.5819143 L0.36625,18.5819143 Z" id="Shape_cache46" fill="#1D1D1B"></path>
        <path d="M19.9575,13.2161819 C19.9575,10.8847171 17.6178125,8.98826018 14.741875,8.98826018 C11.86625,8.98826018 9.5265625,10.8850344 9.5265625,13.2161819 C9.5265625,15.4810153 11.7334375,17.3355896 14.49625,17.4402961 C15.026875,17.8864093 16.5915625,19.0064516 19.2596875,19.349762 C19.28625,19.352935 19.315625,19.3548387 19.3421875,19.3548387 C19.5696875,19.3548387 19.79125,19.2263353 19.90375,19.0273929 C20.1253125,18.6387097 19.98875,18.4048652 19.2359375,17.1071391 C19.0571875,16.7987308 18.795,16.3456372 18.6325,16.0381809 C19.4803125,15.2677948 19.9575,14.2610259 19.9575,13.2161819 L19.9575,13.2161819 Z M17.5146875,15.3106293 C16.96375,15.7173982 17.236875,16.1888948 18.143125,17.75156 C18.161875,17.7839238 18.18,17.8153358 18.2003125,17.8483342 C16.191875,17.3295611 15.2003125,16.3653094 15.190625,16.3561079 C15.071875,16.235854 14.91,16.1676362 14.741875,16.1676362 C12.564375,16.1676362 10.7928125,14.8435748 10.7928125,13.2161819 C10.7928125,11.5891063 12.564375,10.2653622 14.741875,10.2653622 C16.9196875,10.2653622 18.691875,11.5891063 18.691875,13.2161819 C18.6915625,14.0049709 18.2728125,14.749339 17.5146875,15.3106293 L17.5146875,15.3106293 Z" id="Shape_cache46" fill="#1D1D1B"></path>
    </g>
</svg></md-icon>
          <h2>MESSAGES</h2>
          <span flex="" class="flex"></span>
          <button class="md-small-btn text-sm md-button md-ink-ripple" type="button"  ><span class=" ">Unread Only</span></button>
        </div>
      </md-toolbar>
      <md-list flex="" hide-xs="" class="list-scroll hide-xs flex" role="list">
        <!-- ngRepeat: conversation in messages.conversations | unreadOnly: messages.currentConversation: messages.unreadOnly track by conversation.id --><md-list-item  ng-class="{active: conversation.id === messages.currentConversation.id}" role="listitem" class="_md-button-wrap  _md md-clickable active" tabindex="-1" aria-label="Select Conversation 6a486bcf-c480-40b1-adba-e0190e06ec00"><div class="md-button md-no-style"><a class="md-no-style md-button md-ink-ripple" aria-label="Select Conversation 6a486bcf-c480-40b1-adba-e0190e06ec00"></a>   <div class="md-list-item-inner">

<conversation class="conversation-container  layout-align-center-center layout-row" conversation="conversation" layout="" layout-align="center center"><div class="conversation-inner layout-align-start-center layout-row" layout="" layout-align="start center" ng-repeat="conversation in ConvDetails track by $index" ng-if="$last">
  <div class="participant-avatar">
    <div class="overlay">
      <img class="responsive" ng-src="{{conversation.sender.conver_image}}" />
    </div>
  </div>
  <div class="conversation-info flex" flex="" >
    <p class="truncate ">{{conversation.text}}</p>
    <!-- <p class="truncate ">{{conversation.sender.cover_image}}</p> -->
  </div>
  <div layout="column" layout-align="center end" class="layout-align-center-end layout-column">
    <div layout="" class="layout-row">
      <span class="">11:56 AM</span>
    </div>
    <div class="unread invisible" ng-class="{invisible: !vm.conversation.unreadCount}"></div>
  </div>
</div>
</conversation>

        </div><div class="md-secondary-container"></div></div></md-list-item>
      </md-list>
      <md-list flex="" hide-gt-xs="" class="list-scroll hide-gt-xs flex" role="list">
        <!-- ngRepeat: conversation in messages.conversations | unreadOnly: false: messages.unreadOnly track by conversation.id --><md-list-item  rel="nofollow" role="listitem" class="_md-button-wrap _md" tabindex="-1"><div class="md-button md-no-style"><div class="md-list-item-inner">
          <conversation class="conversation-container  layout-align-center-center layout-row" conversation="conversation" layout="" layout-align="center center"><div class="conversation-inner layout-align-start-center layout-row" layout="" layout-align="start center">
  <div class="participant-avatar">
    <div class="overlay">
      <img class="responsive" ng-src="https://roomiprofile.imgix.net/H_Gl-o-rVOb/20479755_1908219942538647_1576493523626847208_n.jpeg" alt="" src="https://roomiprofile.imgix.net/H_Gl-o-rVOb/20479755_1908219942538647_1576493523626847208_n.jpeg">
    </div>
  </div> 
  <div class="conversation-info flex" flex="">
    <p class="truncate ">Kutubuddin</p>
    <p class="truncate ">hello testing message</p>

    <span ng-show="$last">{{conversation}}</span>
  </div>
  <div layout="column" layout-align="center end" class="layout-align-center-end layout-column">
    <div layout="" class="layout-row">
      <!-- ngIf: vm.user.metadata.backgroundVerified === 'y' -->
      <span class="">11:56 AM</span>
    </div>
    <div class="unread invisible" ng-class="{invisible: !vm.conversation.unreadCount}"></div>
  </div>
</div>
</conversation>
        </div></div></md-list-item><!-- end ngRepeat: conversation in messages.conversations | unreadOnly: false: messages.unreadOnly track by conversation.id --><md-list-item  rel="nofollow" role="listitem" class="_md-button-wrap  _md" tabindex="-1" aria-label="Select Conversation layer:///conversations/40402940-9661-428c-af2b-6d93caad08cf"><div class="md-button md-no-style">  <div class="md-list-item-inner">
          <conversation class="conversation-container  layout-align-center-center layout-row" conversation="conversation" layout="" layout-align="center center"><div class="conversation-inner layout-align-start-center layout-row" layout="" layout-align="start center">
  <div class="participant-avatar">
    <div class="overlay">
      <img class="responsive" ng-src="https://roomiprofile.imgix.net/rECJ6EBPg/imagerlIkyCFNig.png" alt="" src="https://roomiprofile.imgix.net/rECJ6EBPg/imagerlIkyCFNig.png">
    </div>
  </div>
  <div class="conversation-info flex" flex="">
    <p class="truncate ">Amanda @ Roomi</p>
    <p class="truncate ">Hi!

Welcome to Roomi. We’re here to help you find the best rooms and roommates in the world.
Check out our FAQ directory for quick answers about: Listing Your Room, How Roomi Works, Settings, and much more! https://intercom.help/roomi

Couldn’t find what you’re looking for? Message us!

Amanda @ Roomi</p>
  </div>
  <div layout="column" layout-align="center end" class="layout-align-center-end layout-column">
    <div layout="" class="layout-row">
      <!-- ngIf: vm.user.metadata.backgroundVerified === 'y' -->
      <span class="">5:16 PM</span>
    </div>
    <div class="unread invisible" ng-class="{invisible: !vm.conversation.unreadCount}"></div>
  </div>
</div>
</conversation>
        </div><div class="md-secondary-container"></div></div></md-list-item><!-- end ngRepeat: conversation in messages.conversations | unreadOnly: false: messages.unreadOnly track by conversation.id -->
      </md-list>
    </div><!-- end ngIf: messages.conversations.length > 0 -->
    <!-- ngIf: messages.conversations.length === 0  && !messages.loadingConversations -->
    <!-- ngIf: messages.conversations.length === 0  && !messages.loadingConversations -->
    <!-- <div flex="" layout-align="center center" layout="" class="layout-align-center-center layout-row flex " aria-hidden="true">
      <img src="https://roomiapp.com/assets/images/9ea29f9b.loading-spinner.gif">
    </div> -->
    <div hide-xs="" class="bottom-divider hide-xs"></div>
  </div>
  <!-- ngIf: messages.conversations.length === 0  && !messages.loadingConversations -->
  <chat current-conversation="messages.currentConversation" on-delete="messages.onDelete()" list="messages.listingOfInterest" flex="" class="middle-side ng-scope hide-xs ng-isolate-scope flex" hide-xs=""><div class="chat-container overlay layout-column" layout="column">
  <div flex="" layout="column" class="layout-column flex">
    <md-toolbar  class="_md _md-toolbar-transitions" aria-hidden="false">
      <div class="md-toolbar-tools md-white">
        <a layout="" layout-align="center center" ng-href="/roommate/SplxBnSmSYZ" class="layout-align-center-center layout-row" href="/roommate/SplxBnSmSYZ">
          <div class="participant-avatar" bg-image="vm.user.avatarUrl" style="background-image: url({{senderInfo.cover_image}}); background-repeat: no-repeat; background-size: cover; background-position: 50% 50%;"></div>
          <h2 md-truncate="" class="ng-binding md-truncate">{{senderInfo.user.first_name}}
          </h2>
        </a>
        <span flex="" class="flex"></span>
        <!-- ngIf: vm.user --><button class="md-icon-button s32 md-button ng-scope md-ink-ripple" type="button"  aria-label="Flag" ng-class="{selected: vm.isFlagged(messages.user.userId)}" ng-click="vm.flag($event, messages.userId)">
          <md-icon><svg width="100%" height="100%" viewBox="509 3 34 34" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" fit="" preserveAspectRatio="xMidYMid meet" focusable="false">
    <defs></defs>
    <g id="Group-5" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" transform="translate(510.000000, 4.000000)">
        <path d="M16,32 C24.836556,32 32,24.836556 32,16 C32,7.163444 24.836556,0 16,0 C7.163444,0 0,7.163444 0,16 C0,24.836556 7.163444,32 16,32 Z" id="Oval-11" stroke="#EBEBEB" fill="#FFFFFF"></path>
        <g id="location-flag" transform="translate(12.000000, 9.000000)" fill="#000000">
            <path d="M9.89355731,6.76998347 L8.22936759,3.99335537 L9.90699605,1.19435813 C9.99636364,1.0452562 9.99715415,0.860903581 9.90909091,0.711107438 C9.82102767,0.561311295 9.65754941,0.468903581 9.48051383,0.468903581 L1.01213439,0.468903581 C1.00490119,0.208804408 0.787075099,0 0.518774704,0 C0.245889328,0 0.0247035573,0.215823691 0.0247035573,0.482093664 L0.0247035573,13.5179063 C0.0247035573,13.7841763 0.245889328,14 0.518774704,14 C0.791660079,14 1.01284585,13.7841763 1.01284585,13.5179063 L1.01284585,7.51784573 L9.48043478,7.51784573 C9.48075099,7.5178843 9.48094862,7.51784573 9.4812253,7.51784573 C9.75411067,7.51784573 9.97529644,7.30202204 9.97529644,7.03575207 C9.97529644,6.93752066 9.94521739,6.84619284 9.89355731,6.76998347 L9.89355731,6.76998347 Z M1.01284585,6.5536584 L1.01284585,1.43305234 L8.61913043,1.43305234 L7.23043478,3.74995592 C7.14031621,3.90029201 7.14031621,4.08638017 7.23043478,4.23671625 L8.61913043,6.55361983 L1.01284585,6.5536584 L1.01284585,6.5536584 L1.01284585,6.5536584 Z" id="Shape"></path>
        </g>
    </g>
</svg></md-icon>
        </button><!-- end ngIf: vm.user -->
        <button class="md-icon-button s32 ml0 md-button md-ink-ripple" type="button"  aria-label="Trash" ng-click="vm.deleteConversation($event, vm.currentConversation)">
          <md-icon><svg width="100%" height="100%" viewBox="552 3 34 34" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" fit="" preserveAspectRatio="xMidYMid meet" focusable="false">
    <defs></defs>
    <g id="Group-6" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" transform="translate(553.000000, 4.000000)">
        <path d="M16,32 C24.836556,32 32,24.836556 32,16 C32,7.163444 24.836556,0 16,0 C7.163444,0 0,7.163444 0,16 C0,24.836556 7.163444,32 16,32 Z" id="Oval-11-Copy" stroke="#EBEBEB" fill="#FFFFFF"></path>
        <path d="M18.4375025,21.1250149 C18.6962482,21.1250149 18.9062438,20.9149994 18.9062438,20.6562537 L18.9062438,15.0312587 C18.9062438,14.772513 18.6962482,14.5624975 18.4375025,14.5624975 C18.1787568,14.5624975 17.9687612,14.7724931 17.9687612,15.0312587 L17.9687612,20.6562537 C17.9687612,20.9149994 18.1787369,21.1250149 18.4375025,21.1250149 L18.4375025,21.1250149 Z M21.24999,9.87500498 L18.4375025,9.87500498 L18.4375025,8.93750249 C18.4375025,8.41953321 18.0179494,8 17.4999801,8 L14.6874925,8 C14.1695233,8 13.74999,8.41953321 13.74999,8.93750249 L13.74999,9.87500498 L10.9375025,9.87500498 C10.4195332,9.87500498 10,10.2945382 10,10.8125075 L10,11.75001 C10,12.2675013 10.4195332,12.6875124 10.9375025,12.6875124 L10.9375025,21.1250149 C10.9375025,22.1604756 11.7770269,23 12.8125075,23 L19.3750249,23 C20.4104855,23 21.25001,22.1604756 21.25001,21.1250149 L21.25001,12.6875124 C21.7679792,12.6875124 22.1875124,12.2675013 22.1875124,11.75001 L22.1875124,10.8124876 C22.1874925,10.2945382 21.7679593,9.87500498 21.24999,9.87500498 L21.24999,9.87500498 Z M14.6874925,9.40624378 C14.6874925,9.14749811 14.8974882,8.93748258 15.1562338,8.93748258 L17.0312388,8.93748258 C17.2899845,8.93748258 17.4999801,9.14747819 17.4999801,9.40624378 L17.4999801,9.87500498 L14.6874925,9.87500498 L14.6874925,9.40624378 L14.6874925,9.40624378 Z M20.3124876,21.1250149 C20.3124876,21.6425063 19.8929743,22.0624975 19.375005,22.0624975 L12.8124876,22.0624975 C12.2945183,22.0624975 11.8749851,21.6425063 11.8749851,21.1250149 L11.8749851,12.6875124 L20.3124876,12.6875124 L20.3124876,21.1250149 L20.3124876,21.1250149 Z M20.7812488,11.75001 L11.4062239,11.75001 C11.1474782,11.75001 10.9374826,11.5400143 10.9374826,11.2812488 C10.9374826,11.0224832 11.1474782,10.8124876 11.4062239,10.8124876 L20.7812488,10.8124876 C21.0399944,10.8124876 21.24999,11.0224832 21.24999,11.2812488 C21.24999,11.5400143 21.0399944,11.75001 20.7812488,11.75001 L20.7812488,11.75001 Z M13.74999,21.1250149 C14.0087357,21.1250149 14.2187512,20.9149994 14.2187512,20.6562537 L14.2187512,15.0312587 C14.2187512,14.772513 14.0087556,14.5624975 13.74999,14.5624975 C13.4912245,14.5624975 13.2812288,14.7724931 13.2812288,15.0312587 L13.2812288,20.6562537 C13.2812288,20.9149994 13.4912444,21.1250149 13.74999,21.1250149 L13.74999,21.1250149 Z M16.0937363,21.1250149 C16.352482,21.1250149 16.5624776,20.9149994 16.5624776,20.6562537 L16.5624776,15.0312587 C16.5624776,14.772513 16.352482,14.5624975 16.0937363,14.5624975 C15.8349906,14.5624975 15.6249751,14.7724931 15.6249751,15.0312587 L15.6249751,20.6562537 C15.624995,20.9149994 15.8349906,21.1250149 16.0937363,21.1250149 L16.0937363,21.1250149 Z" id="Shape" fill="#000000"></path>
    </g>
</svg></md-icon>
        </button>
      </div>
    </md-toolbar>
    <!-- ngIf: vm.showBackground -->
    <!-- ngIf: vm.showGuidance -->
    <div flex="" class="list-scroll ng-isolate-scope flex" id="messages" messages="vm.messages" aria-hidden="false"><div class="messages-container layout-column" layout="column">
  

  <!-- ngRepeat: message in messagesCopy -->
  <!-- main div starts from here -->
  <div ng-repeat="conv in ConvDetails">

  <div class="message-container"  message="message"><div class="message-outer owner" ng-class="{owner: isOwner}" ng-if="conv.sender.id != getCov.sender_id">
 <h3 class="date-header">{{conv.text_created_at | date : 'fullDate'}}</h3>
  <div class="message-inner layout-align-center-end layout-row" layout="" layout-align="center end">
    <div class="participant-avatar" ng-class="{ active: !isOwner &amp;&amp; message.isGroupTail }">
      <!-- ngIf: !isOwner && message.isGroupTail -->
    </div>
    <div flex="" layout="column" class="layout-column flex">
      <!-- ngRepeat: part in parts --><div flex=""  class="parts-container ng-scope flex tail" ng-class="{tail: $last &amp;&amp; message.isGroupTail }">
        <div message-part="part" class="ng-isolate-scope"><div class="part-inner">
  <!-- ngIf: text --><div class="text-part ng-scope">
    <span class="maintain-white-space ng-binding">{{conv.text}}</span>
  </div><!-- end ngIf: text -->
  <!-- ngIf: url -->
  <!-- ngIf: center -->
</div>
</div>
      </div><!-- end ngRepeat: part in parts -->
    </div>
  </div>
<!--  <p class="time ng-scope">
   <span class="status ng-binding ng-scope">read -</span>end ngIf: message.isOwnerTail
    <span class="ng-binding">4:07 PM</span>
  </p> -->
</div>
</div>

<!-- end ngRepeat: message in messagesCopy -->

<div class="message-container"  message="message"><div class="message-outer"   ng-if="conv.sender.id == getCov.sender_id">
  <!-- ngIf: message.isDayHead -->
  <h3 class="date-header">{{conv.text_created_at | date : 'fullDate'}}</h3>
  <div class="message-inner layout-align-center-end layout-row" layout="" layout-align="center end">
    <div class="participant-avatar active" ng-class="{ active: !isOwner}">
      <!-- ngIf: !isOwner && message.isGroupTail --><div bg-image="message.sender.avatarUrl" class="ng-scope" style="background-image: url({{conv.recipient.cover_image}}); background-repeat: no-repeat; background-size: cover; background-position: 50% 50%;"></div><!-- end ngIf: !isOwner && message.isGroupTail -->
    </div>
    <div flex="" layout="column" class="layout-column flex">
      <!-- ngRepeat: part in parts --><div flex=""  class="parts-container ng-scope flex tail" ng-class="{tail: $last &amp;&amp; message.isGroupTail }">
        <div message-part="part" class="ng-isolate-scope"><div class="part-inner">
    
    <div class="text-part ng-scope">
      <span class="maintain-white-space">{{conv.text}}</span>
    </div><!-- end ngIf: text -->
</div>
</div>
      </div><!-- end ngRepeat: part in parts -->
    </div>
  </div>
  
  <!-- <p class="time ng-scope">
    
    <span class="ng-binding">4:07 PM</span>
  </p> -->

</div>
</div>

<!-- main div closed -->
</div>
<!-- end ngRepeat: message in messagesCopy -->


</div>
</div>
    <div flex="" layout-align="center center" layout="" class="layout-align-center-center layout-row flex ng-hide" aria-hidden="true">
      <img src="/assets/images/9ea29f9b.loading-spinner.gif">
    </div>
  </div>
  <div id="new-message-container" layout="column" class="ng-isolate-scope layout-column"><div class="new-message-container layout-column" layout="column">
  <div class="new-image-container ng-hide" aria-hidden="true">
    <img class="new-image">
    <button class="md-icon-button md-button md-ink-ripple" type="button"  ng-click="removePhoto()" aria-label="Delete">
      
      <md-icon><svg width="100%" height="100%" viewBox="-1 -1 20 20" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" fit="" preserveAspectRatio="xMidYMid meet" focusable="false">
    <!-- Generator: Sketch 39.1 (31720) - http://www.bohemiancoding.com/sketch -->
    <desc>Created with Sketch.</desc>
    <defs></defs>
    <path d="M9,18 C13.9705627,18 18,13.9705627 18,9 C18,4.02943725 13.9705627,0 9,0 C4.02943725,0 0,4.02943725 0,9 C0,13.9705627 4.02943725,18 9,18 Z" id="Oval-56" stroke="#FFFFFF" stroke-width="1.5" fill="#9B9B9B" fill-rule="evenodd"></path>
    <path d="M12.5,8.56603774 L9.5,8.56603774 L9.5,5.50943396 C9.5,5.22822642 9.276,5 9,5 C8.724,5 8.5,5.22822642 8.5,5.50943396 L8.5,8.56603774 L5.5,8.56603774 C5.224,8.56603774 5,8.79426415 5,9.0754717 C5,9.35667925 5.224,9.58490566 5.5,9.58490566 L8.5,9.58490566 L8.5,12.6415094 C8.5,12.922717 8.724,13.1509434 9,13.1509434 C9.276,13.1509434 9.5,12.922717 9.5,12.6415094 L9.5,9.58490566 L12.5,9.58490566 C12.776,9.58490566 13,9.35667925 13,9.0754717 C13,8.79426415 12.776,8.56603774 12.5,8.56603774 L12.5,8.56603774 Z" id="Shape" stroke="none" fill="#FFFFFF" fill-rule="evenodd" transform="translate(9.000000, 9.075472) rotate(-315.000000) translate(-9.000000, -9.075472) "></path>
</svg></md-icon>
    </button>
  </div>
  <fieldset aria-disabled="false">
    <div class="new-message-bar layout-align-center-center layout-row file-upload" layout="" layout-align="center center">

      <input id="upload" type="file" accept="image/*" file-uploader="" ng-model="message.image" ng-change="addImage(message.image)" class="file-upload__input" aria-invalid="false">
      
      <label for="upload" style="cursor:pointer">
        <img src="https://roomiapp.com/assets/stylesheets/svgs/messages/photo.svg">
      </label>
      <textarea id="message-text-box" ng-model="message.text" flex="" rows="1" placeholder="Type your message..."></textarea>
      <button class="btn md-button md-ink-ripple" type="button" ng-disabled="!message.text" ng-click="submitMessage()"><span class="ng-scope">SEND</span></button>
    </div>
  </fieldset>
</div>
</div>
</div>
</chat>
  <div hide-md="" hide-xs="" hide-sm="" class="right-container hide-md hide-sm hide-xs">
    <!-- ngIf: messages.conversations.length > 0 --><div  class="information-container pb20  layout-align-center-center layout-column" layout="column" layout-align="center center">
      <h3 class="message-title ">Information about Kutubuddin</h3>
      <!-- ngIf: messages.user.metadata.description --><p  class="maintain-white-space ">Menswear designer by profession.
Little bit workaholic during weekdays and crazy during weekends.

Passion for sports and dance.

Travelling enthusiast.

</p><!-- end ngIf: messages.user.metadata.description -->
      <div class="participant-avatar mt10">
        <div bg-image="messages.user.avatarUrl" style="background-image: url(&quot;https://roomiprofile.imgix.net/H_Gl-o-rVOb/20479755_1908219942538647_1576493523626847208_n.jpeg&quot;); background-repeat: no-repeat; background-size: cover; background-position: 50% 50%;"></div>
      </div>
    </div><!-- end ngIf: messages.conversations.length > 0 -->
    <!-- ngIf: messages.listingOfInterest -->
    <div class="listing-region ">
      <!-- <h3 class="title">Listing of interest</h3> -->
      

    <!-- <div class="nav-right">
      <button class="md-icon-button s32 m10 md-button md-ink-ripple" type="button"  ng-class="{accent: isFavorite(listing._id)}" aria-label="favorite-listing">
        <md-icon class="circle-icon "><svg width="100%" height="100%" viewBox="-1 -1 37 37" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" fit="" preserveAspectRatio="xMidYMid meet" focusable="false">
    <defs>
    </defs>
    <path d="M17.2109366,24.8476564 L11.9296872,19.7526046 C11.8732636,19.7074648 11.7956819,19.634115 11.6969401,19.5325515 C11.5981983,19.4309898 11.4416243,19.2462029 11.2272135,18.9781908 C11.0128027,18.7101769 10.8209645,18.4351142 10.6516927,18.1529953 C10.4824209,17.8708763 10.3314893,17.5295164 10.1988932,17.1289059 C10.0662971,16.7282974 10,16.3389785 10,15.960938 C10,14.7196127 10.3582863,13.7491356 11.0748698,13.0494802 C11.7914533,12.349823 12.7816785,12 14.0455737,12 C14.3954004,12 14.7522759,12.0606553 15.1162114,12.1819659 C15.4801451,12.3032784 15.818684,12.4669039 16.1318359,12.6728521 C16.4449877,12.8787984 16.7144084,13.0720482 16.9401035,13.2526036 C17.1657987,13.4331609 17.380208,13.6249984 17.5833332,13.8281255 C17.7864585,13.6249984 18.0008659,13.4331609 18.2265629,13.2526036 C18.4522581,13.0720482 18.7216788,12.8787984 19.0348306,12.6728521 C19.3479825,12.4669039 19.6865214,12.3032784 20.0504551,12.1819659 C20.4143906,12.0606553 20.7712661,12 21.1210928,12 C22.384988,12 23.375214,12.349823 24.0917973,13.0494802 C24.8083805,13.7491356 25.1666665,14.7196127 25.1666665,15.960938 C25.1666665,17.2079053 24.5206234,18.4774235 23.2285163,19.7695306 L17.9557299,24.8476564 C17.8541663,24.9492194 17.7300347,25.0000001 17.5833332,25.0000001 C17.4366318,25.0000001 17.3125002,24.9492194 17.2109366,24.8476564 Z" id="Page-1_cache48" fill="#FFFFFF"></path>
</svg></md-icon>
      </button>
    </div> -->
  </div>
  <div class="listing-lower">
    <!-- ngIf: showImage -->
    <!-- <a my-target="_blank" class="listing-info layout-column" layout="column" ui-sref="main.listing({id:listing._id, source: source})" target="_blank">
      <h3 class="truncate ">JBR Beach Residences</h3>
      <span layout="" layout-align="start center" layout-wrap="" class="layout-wrap layout-align-start-center layout-row">
        <span class="mr5 ">Aug 31 </span>
        <span class="">
          <span class="square">▪</span>
          12+ months
        </span>
      </span>
    </a> -->
  </div>
</div>
</div>
    </div><!-- end ngIf: messages.listingOfInterest -->
  </div>
</div>
</div>

<!-- chat start js code -->



