<div ui-view="" flex="noshrink" layout="column" class=" layout-column flex-noshrink">
  <div id="policies" class=" ">
  <div class="container">
    <div class="col-sm-3 padding-20">
      <div class="">
        <div class="title clickable black87" scroll-to-id="privacy" ui-sref="main.policies.privacy" href="/policies/privacy" role="button" tabindex="0">Privacy</div>
        <!-- ngRepeat: privacy in policies.privacies --><div class="black54 subsection  "   role="button" tabindex="0">
          <a ui-sref="main.policies.privacy" href="/policies/privacy">
            <p scroll-to-id="privacy_about" class="">About this privacy policy</p>
          </a>
        </div><!-- end ngRepeat: privacy in policies.privacies --><div   class="black54 subsection"   role="button" tabindex="0">
          <a ui-sref="main.policies.privacy" href="/policies/privacy">
            <p scroll-to-id="privacy_information" class="">Information we collect about you</p>
          </a>
        </div><!-- end ngRepeat: privacy in policies.privacies --><div   class="black54 subsection"   role="button" tabindex="0">
          <a ui-sref="main.policies.privacy" href="/policies/privacy">
            <p scroll-to-id="privacy_roomi_use" class="">Roomi's use of your information</p>
          </a>
        </div><!-- end ngRepeat: privacy in policies.privacies --><div   class="black54 subsection"   role="button" tabindex="0">
          <a ui-sref="main.policies.privacy" href="/policies/privacy">
            <p scroll-to-id="privacy_disclosure" class="">Disclosure of your information</p>
          </a>
        </div><!-- end ngRepeat: privacy in policies.privacies --><div   class="black54 subsection"   role="button" tabindex="0">
          <a ui-sref="main.policies.privacy" href="/policies/privacy">
            <p scroll-to-id="privacy_deactivating" class="">Deactivating account/opt-out</p>
          </a>
        </div><!-- end ngRepeat: privacy in policies.privacies --><div   class="black54 subsection"   role="button" tabindex="0">
          <a ui-sref="main.policies.privacy" href="/policies/privacy">
            <p scroll-to-id="privacy_children" class="">Children</p>
          </a>
        </div><!-- end ngRepeat: privacy in policies.privacies --><div   class="black54 subsection"   role="button" tabindex="0">
          <a ui-sref="main.policies.privacy" href="/policies/privacy">
            <p scroll-to-id="privacy_communication" class="">Communication tools</p>
          </a>
        </div><!-- end ngRepeat: privacy in policies.privacies --><div   class="black54 subsection"   role="button" tabindex="0">
          <a ui-sref="main.policies.privacy" href="/policies/privacy">
            <p scroll-to-id="privacy_california" class="">California residents</p>
          </a>
        </div><!-- end ngRepeat: privacy in policies.privacies --><div   class="black54 subsection"   role="button" tabindex="0">
          <a ui-sref="main.policies.privacy" href="/policies/privacy">
            <p scroll-to-id="privacy_changes" class="">Changes to this privacy policy</p>
          </a>
        </div><!-- end ngRepeat: privacy in policies.privacies -->
      </div>
      <a class="title clickable black87 active" ui-sref="main.policies.terms" scroll-to-id="terms-of-service" href="/policies/terms">Terms of Service</a>
      <!-- ngRepeat: term in policies.terms --><div class="black54 subsection" role="button" tabindex="0">
        <a ui-sref="main.policies.terms" href="/policies/terms">
          <p scroll-to-id="term_rights" class="">Rights</p>
        </a>
      </div><!-- end ngRepeat: term in policies.terms --><div class="black54 subsection " role="button" tabindex="0">
        <a ui-sref="main.policies.terms" href="/policies/terms">
          <p scroll-to-id="term_eligibility" class="">Eligibiity</p>
        </a>
      </div><!-- end ngRepeat: term in policies.terms --><div class="black54 subsection  "role="button" tabindex="0">
        <a ui-sref="main.policies.terms" href="/policies/terms">
          <p scroll-to-id="term_privacy" class="">Privacy</p>
        </a>
      </div><!-- end ngRepeat: term in policies.terms --><div  class="black54 subsection  "  role="button" tabindex="0">
        <a ui-sref="main.policies.terms" href="/policies/terms">
          <p scroll-to-id="term_registration" class="">Registration</p>
        </a>
      </div><!-- end ngRepeat: term in policies.terms --><div  class="black54 subsection  "  role="button" tabindex="0">
        <a ui-sref="main.policies.terms" href="/policies/terms">
          <p scroll-to-id="term_termination" class="">Termination</p>
        </a>
      </div><!-- end ngRepeat: term in policies.terms --><div  class="black54 subsection  "  role="button" tabindex="0">
        <a ui-sref="main.policies.terms" href="/policies/terms">
          <p scroll-to-id="term_fees" class="">Fees</p>
        </a>
      </div><!-- end ngRepeat: term in policies.terms --><div  class="black54 subsection  "  role="button" tabindex="0">
        <a ui-sref="main.policies.terms" href="/policies/terms">
          <p scroll-to-id="term_availability" class="">Availability</p>
        </a>
      </div><!-- end ngRepeat: term in policies.terms --><div  class="black54 subsection   active"  role="button" tabindex="0">
        <a ui-sref="main.policies.terms" href="/policies/terms">
          <p scroll-to-id="term_support" class="">Support</p>
        </a>
      </div><!-- end ngRepeat: term in policies.terms --><div  class="black54 subsection  "  role="button" tabindex="0">
        <a ui-sref="main.policies.terms" href="/policies/terms">
          <p scroll-to-id="term_modification" class="">Modification</p>
        </a>
      </div><!-- end ngRepeat: term in policies.terms --><div  class="black54 subsection  "  role="button" tabindex="0">
        <a ui-sref="main.policies.terms" href="/policies/terms">
          <p scroll-to-id="term_user_content" class="">User Content</p>
        </a>
      </div><!-- end ngRepeat: term in policies.terms --><div  class="black54 subsection  "  role="button" tabindex="0">
        <a ui-sref="main.policies.terms" href="/policies/terms">
          <p scroll-to-id="term_conduct" class="">Conduct</p>
        </a>
      </div><!-- end ngRepeat: term in policies.terms --><div  class="black54 subsection  "  role="button" tabindex="0">
        <a ui-sref="main.policies.terms" href="/policies/terms">
          <p scroll-to-id="term_warranty" class="">Warrenty</p>
        </a>
      </div><!-- end ngRepeat: term in policies.terms --><div  class="black54 subsection  "  role="button" tabindex="0">
        <a ui-sref="main.policies.terms" href="/policies/terms">
          <p scroll-to-id="term_errors" class="">Errors</p>
        </a>
      </div><!-- end ngRepeat: term in policies.terms --><div  class="black54 subsection  "  role="button" tabindex="0">
        <a ui-sref="main.policies.terms" href="/policies/terms">
          <p scroll-to-id="term_intellectual_property" class="">Intellectual Property</p>
        </a>
      </div><!-- end ngRepeat: term in policies.terms --><div  class="black54 subsection  "  role="button" tabindex="0">
        <a ui-sref="main.policies.terms" href="/policies/terms">
          <p scroll-to-id="term_copyright" class="">Copyright</p>
        </a>
      </div><!-- end ngRepeat: term in policies.terms --><div  class="black54 subsection  "  role="button" tabindex="0">
        <a ui-sref="main.policies.terms" href="/policies/terms">
          <p scroll-to-id="term_complaint" class="">Complaint</p>
        </a>
      </div><!-- end ngRepeat: term in policies.terms --><div  class="black54 subsection  "  role="button" tabindex="0">
        <a ui-sref="main.policies.terms" href="/policies/terms">
          <p scroll-to-id="term_disclaimer" class="">Disclaimer</p>
        </a>
      </div><!-- end ngRepeat: term in policies.terms --><div  class="black54 subsection  "  role="button" tabindex="0">
        <a ui-sref="main.policies.terms" href="/policies/terms">
          <p scroll-to-id="term_limitation" class="">Limitation</p>
        </a>
      </div><!-- end ngRepeat: term in policies.terms --><div  class="black54 subsection  "  role="button" tabindex="0">
        <a ui-sref="main.policies.terms" href="/policies/terms">
          <p scroll-to-id="terms_links" class="">Third Party Accounts</p>
        </a>
      </div><!-- end ngRepeat: term in policies.terms --><div  class="black54 subsection  "  role="button" tabindex="0">
        <a ui-sref="main.policies.terms" href="/policies/terms">
          <p scroll-to-id="term_severability" class="">Severability</p>
        </a>
      </div><!-- end ngRepeat: term in policies.terms --><div  class="black54 subsection  "  role="button" tabindex="0">
        <a ui-sref="main.policies.terms" href="/policies/terms">
          <p scroll-to-id="term_argreement" class="">Agreement</p>
        </a>
      </div><!-- end ngRepeat: term in policies.terms --><div  class="black54 subsection  "  role="button" tabindex="0">
        <a ui-sref="main.policies.terms" href="/policies/terms">
          <p scroll-to-id="term_law" class="">Law</p>
        </a>
      </div><!-- end ngRepeat: term in policies.terms --><div  class="black54 subsection  "  role="button" tabindex="0">
        <a ui-sref="main.policies.terms" href="/policies/terms">
          <p scroll-to-id="term_miscellaneous" class="">Miscellaneous</p>
        </a>
      </div><!-- end ngRepeat: term in policies.terms --><div  class="black54 subsection  "  role="button" tabindex="0">
        <a ui-sref="main.policies.terms" href="/policies/terms">
          <p scroll-to-id="term_contact" class="">Contact Us</p>
        </a>
      </div><!-- end ngRepeat: term in policies.terms -->
    </div>
    <!-- uiView: --><div class="col-sm-9 padding-20  " ui-view=""><div id="privacy" class="black54  ">
  <h1 class="black87">PRIVACY POLICY</h1>
  <p>Last updated as of February 18, 2016.</p>
  <p>Roomi Inc. and its affiliates, successors and assigns (“Roomi,” “we,” “our” or “us”)
    respects your privacy and is committed to adhering to protecting the identity of visitors
    to the Roomi website (available at https://www.roomiapp.com, the “Website”), the Application
    and/or any other aspect of our Services. The Terms are applicable to (1) non-registered
    visitors of the Website (each, a “Guest”), (2) registered Listers and Roommates (each,
    a “Member”), and (3) to anyone else who accesses the Services. The terms “you”, “your”,
    “User” and “Users” refer to Guests, Members, and/or any other users of the Services.</p>

  <p>This Privacy Policy describes the information that we collect about and/or from you
    and your interaction with the Services each time you visit. This Privacy Policy further
    explains, in general, what Personal Information and other information is collected through
    our Services, how the information is used, with whom we may share such information, what
    choices are available to you regarding collection, use and distribution of information and
    our efforts to protect the information you provide to us through the Services.</p>
  <p>This Privacy Policy is incorporated into and is part of the Website’s Terms of Service
    (“Terms of Service”). Capitalized terms not defined herein shall have the same meaning as
    set forth in the Terms of Service.  Notwithstanding anything herein to the contrary, if a
    written contract signed by you and us is in existence regarding the Services covered hereby,
    the terms and conditions of said contract shall prevail to the extent they are inconsistent
    with this Privacy Policy or the Terms of Service.  Please be sure to read this Privacy Policy
    and the Terms of Service before using our Services. Our Privacy Policy may change from time to
    time, and if it does, we will notify you here, as well as by doing one or more of the
    following: 1) posting a notice and link to the updated policies the next time you log into
    the Services, at which point you must assent to such updated policies in order to complete
    login; 2) posting a pop-up notice and link to the updated policies on the Website;
    3) e-mailing you a notice and link to the updated policies; or 4) notifying you via RSS
    feed or pursuant to your user-configured notification preferences in connection with updates
    to these policies.</p>
  <p>You should review this Privacy Policy each time you newly engage with our Services,
    including our Paid Services.  You will be deemed to have accepted these Terms, as updated,
    if you continue to use the Services after you receive notice of such updated Terms. We
    reserve the right to discontinue the Services or any part thereof at any time.</p>
  <p>
    <strong>BY ACCESSING OR USING THE SERVICES IN ANY WAY, BY CREATING AN ACCOUNT ON THE SERVICES,
      OR BY CONSUMMATING A FINANCIAL TRANSACTION VIA THE SERVICES, YOU AFFIRM THAT YOU HAVE READ,
      UNDERSTOOD, AND CONSENT TO THE PRACTICES DESCRIBED IN THIS PRIVACY POLICY AND OUR TERMS OF
      SERVICE AND THAT YOU GIVE US YOUR CONSENT TO COLLECT, PROCESS, USE, STORE, AND DISCLOSE
      PERSONAL INFORMATION THAT YOU SUBMIT OR CONVEY THROUGH YOUR USE OF THE SERVICES, IN
      ACCORDANCE WITH THIS PRIVACY POLICY.  IF YOU DO NOT AGREE TO THESE TERMS, THEN YOU HAVE NO
      RIGHT TO ACCESS OR USE THE SERVICES.</strong>
  </p>
  <a class="pull-right clickable" scroll-to-id="privacy">Back to top</a>
  <p id="privacy_about">
    <strong class="black87">1. About this privacy policy</strong>
  </p>
  <p>The Services are solely available in the United States. This Privacy Policy is only applicable
    to the Services and not to any other websites or applications that you may be able to access
     from the Services (whether through an advertisement, service, or content link) or any website
     or application of Roomi’s Vendors (as defined in Section 4, below), partners or other service
     providers if any, each of which may have data collection, storage, and use practices and
     policies that may differ materially from this Privacy Policy.  Regardless of where our servers
     are located, your personal data may be processed by us in the United States, where data
     protection and privacy regulations may or may not be to the same level of protection as in
     other parts of the world.</p>
  <p>BY VISITING THE WEBSITE, DOWNLOADING THE ROOMI APPLICATION, AND USING THE SERVICES, YOU
    UNEQUIVOCALLY AND UNAMBIGUOUSLY CONSENT TO THE COLLECTION AND PROCESSING IN THE UNITED STATES
    OF ANY INFORMATION COLLECTED OR OBTAINED BY US THROUGH VOLUNTARY SUBMISSIONS, AND THAT U.S.
    LAW GOVERNS ANY SUCH COLLECTION AND PROCESSING.</p>
  <a class="pull-right clickable" scroll-to-id="privacy">Back to top</a>
  <p id="privacy_information">
    <strong class="black87">2. Information we collect about you</strong>
  </p>
  <p>We collect certain personal information (“Personal Information”) so we can improve our
    Services and enhance your experience.  Any of the below activities with regard to the
    collection of usage information may be performed on our behalf by our Vendors (as defined
    in Section 4, below) and other service providers.</p>
  <p>While you may access some of the Services without registration, many of the Services require
    registration, as more fully set forth in the Terms.  Upon registration to the Services,
    creation of a Listing, communication with us or with fellow Users, or if you otherwise use
    our Services, you may be required or otherwise have the option to submit certain information,
    some of which may personally identify you.  Such information may include any questions,
    comments or problems you report to us, your first and last name, your geo-location (if you
    assent), Third-Party Account (defined below) profile and login information, Third-Party
    Account contact lists and information about and photos of your Third-Party Account contacts
    who might be common Third-Party Account contacts with other Roomi Users, profile/Unit images,
    tags, age, preferred move-in date, preferred rental duration, rental description, Unit
    amenities, Unit location, videos, phone number, home address, date of birth, e-mail address,
    credit card information, biographical information, username and password. You are solely
    responsible for ensuring the accuracy of the Personal Information you submit.</p>
  <p>Information Automatically Collected. We may automatically collect information about
    Users, such as, the type of device you used and its operating system; the pages accessed
    most frequently and how pages are used; materials downloaded; search terms entered; the
    last login time; the last time you updated your account; or the time you created a Listing
    or otherwise published something through the Services. In the event that you login to your
    Roomi account through our Facebook login system or otherwise access social media platforms
    via our Services, for example by logging into Instagram for the purposes of uploading photos
    to our Services or LinkedIn for providing certain other information (collectively,
    “Third-Party Accounts”), you authorize us to access the information you made publicly
    available on such Third-Party Accounts, including without limitation, your Instagram photos
    and, with respect to your Facebook account, the following: your Facebook profile (consistent
    with your Facebook privacy settings), your email address, interests, likes, gender, birthday,
    education, relationship interest, current city, photos, personal description and any other
    information made available to us via Facebook (collectively, “Facebook Content”). Subject to
    the privacy settings that you have set in your Facebook account, personally identifiable
    information that you post to Facebook will be available on and through your Roomi account
    on the Services.</p>
  <p>We and/or our Vendors (as defined in Section 4 below) automatically receive and collect
    information from or about the computers, phones, or other devices where you install or
    access our Services, depending on the permissions you’ve granted, such as IP addresses,
    unique device identifiers, the URLs of websites you arrive at the Services from or leave
    the Services to go to, your type of browser and language, access times, the content of any
    undeleted cookies that your browser previously accepted from us, your operating system,
    your mobile provider, your mobile device, and your ISP. We may use such information to
    better understand how Users use our Services, to analyze trends, administer the Services,
    prevent fraud, and gather broad demographic information, such as country of origin.</p>
  <p>Online Tracking. We may utilize cookies and other technologies, such as, web beacons
    (also known as “clear gifs” and “pixel tags”) to recognize you, customize your experience,
    provide advertisements and keep track of whether you are logged in. While you may disable
    the usage of cookies through your browser settings, we do not change our practices in
    response to a "Do Not Track" signal in the HTTP header from your browser or mobile
    application. We track your activities if you click on advertisements for Roomi’s Services
    on third party platforms such as search engines and social networks, and may use analytics
    to track what you do in response to those advertisements. Cookies are small files placed
    on your computer, and they allow us to count the number of visitors to the Services and
    distinguish repeat visitors from new visitors. They also allow us to save User preferences
    and track User trends. For example, cookies allow us to save your log-in information so you
    do not have to re-enter it every time you access the Services. We do not link cookies or
    web beacons to any Personal Information. Advertisers and ad servers may use cookies and/or
    web beacons to monitor information related to advertisements. These cookies allow the ad
    server to recognize your computer each time they send you an online advertisement to compile
    information about you or others who use your computer. This information allows ad networks
    to, among other things, deliver targeted advertisements that they believe will be of most
    interest to you. This Privacy Policy covers the use of cookies by Roomi and does not cover
    the use of cookies by any advertisers. Most web browsers automatically accept cookies, but
    you do not have to accept them. To disable cookies, you should access the "help" tab on your
    browser or read the information that came with your browser software. However, your
    engagement with our Services will be enhanced if cookies are not disabled.</p>
  <p>We currently use Localytics, Appsee, Taplytics, Branch, Mailchimp, Sendgrid and Google
    Analytics to help us understand how you find and interact with our Services. We never
    share any information we obtain from Google Analytics with any third parties for advertising
    or any other purpose unless compelled to do so by valid legal process.  You may be able
    to opt-out of Google’s collection. Please visit Google’s Ads Preferences Manager or the
    Google Analytics opt-out browser add-on for more information.</p>
  <p>You are responsible for ensuring the accuracy of the Personal Information you submit
    to Roomi. You can see, review and change your Personal Information by logging into your
    account on the Website. Inaccurate information will affect your use of our Services and
    our ability to contact you as described in this Privacy Policy.</p>
  <a class="pull-right clickable" scroll-to-id="privacy">Back to top</a>
  <p id="privacy_roomi_use">
    <strong class="black87">3. Roomi's use of your information</strong>
  </p>
  <p>We use your information to help us provide and support our Services, including to:</p>
  <ol type="a">
    <li>Provide, improve and develop Services.</li>
    <p>We are able to deliver our Services, personalize content, and make suggestions for you
      by using this information to understand how you use and interact with our Services and
      the people or things you’re connected to and interested in through our Services.</p>
    <p>We conduct surveys and research, test features in development, and analyze the
      information we have to evaluate, customize and improve products and Services, develop
      new products or features, and conduct audits and troubleshooting activities.</p>
    <li>Communicate with you.</li>
    <p>We may use your information to recommend certain Listings, send you marketing
      communications and push notifications, communicate with you about our Services,
      updates, promotional offers, and let you know about our policies and Terms. These
      communications may be made via email or social media (if you have made such social
      media information publicly available or through your Roomi account registration). We
      also send communications to followers of our Instagram, Facebook and/or Twitter accounts
      via such third party channels. We also use your information to respond to you when you
      contact us, to provide customer support, and prevent potentially prohibited or illegal
      activities.  You may opt out of certain communications in accordance with the procedures
      set forth in Section 5 below.</p>
    <li>Show and measure our Services.</li>
    <p>We use the information we have to improve our measurement systems so we can measure the
      effectiveness and reach of our Services.</p>
    <li>Promote safety and security.</li>
    <p>We use the information we have to help verify accounts and activity, and to promote
      safety and security on our Services, such as by investigating suspicious activity or
      violations of our Terms or policies. We work hard to protect your account using teams
      of engineers, automated systems, and advanced technology such as encryption and machine
      learning.</p>
    <p>The information we collect is stored on a secure, password-protected server and only
      authorized personnel have access to your information. Roomi uses third-party Vendors
      and hosting partners to provide the necessary hardware, software, networking, storage
      and related technology required to run the Services and Roomi owns the code, databases
      and all rights therein.</p>
    <p>We use industry-standard encryption technologies with respect to the receipt and
      transfer of Personal Information you submit. Nevertheless, despite our best efforts,
      no transmission over the Internet and no data storage method can be guaranteed to be
      safe 100% of the time. Roomi cannot guarantee that your end User data stored on our
      servers may not be accessed, disclosed, altered, or destroyed by breach of any of our
      industry standard physical, technical, or managerial safeguards. When you enter sensitive
      information (such as a credit card number) we encrypt such information using secure socket
      layer technology (SSL). The Roomi Services, Website, Application and related software
      is hosted on servers in the United States. By using the Services, you consent to the
      transfer and storage of your information (including your Personal Information) in the
      United States and its use in accordance with the purposes for which it was originally
      collected.</p>
    <p>Your password is the key to your account. We urge to you to use unique numbers,
      letters and special characters, and to keep your password secure.  You agree to
      immediately notify Roomi of any unauthorized use of your password or account or any
      other breach of security and we recommend that you exit from your account at the end
      of each session, especially where you are accessing the Services on a public computer.
      It is your sole responsibility to control the dissemination and use of your password,
      control access to and use of your account, and notify Roomi if/when you desire to cancel
      your account. We are not responsible or liable for any loss or damage arising from your
      failure to comply with this or any other provision.</p>
    <p>Roomi will never request your password via email. If you receive an email or other
      correspondence requesting that you provide any sensitive information (including your
      password or credit card information) via email or to a website that does not seem to
      be affiliated with our Services, or that otherwise seems suspicious to you, please do
      not provide such information, and report such request to us.</p>
    <p>In the unlikely event that we believe that the security of your Personal Information
      in our possession or control may have been compromised, we may seek to notify you of
      that development. If a notification is appropriate, we will endeavor to do so as promptly
      as possible under the circumstances.  You consent to our use of email as a means of
      such notification.</p>
  </ol>
  <a class="pull-right clickable" scroll-to-id="privacy">Back to top</a>
  <p id="privacy_disclosure">
    <strong class="black87">4. Disclosure of your information</strong>
  </p>
  <p>Public Information.</p>
  <p>When you create an account, we create a basic personal profile page for you.
    When you post a Listing, Users can view the information you made publicly available
    thereon and can click your account name to see your basic profile.</p>
  <p>Information We Share.</p>
  <p>We share certain categories of information we collect from you in the ways described
    in this Privacy Policy.</p>
  <p>Roomi may share certain information to our third-party vendors when it is necessary
    to provide you with our Services, or when we believe that doing so is reasonably necessary
    to comply with the law or law enforcement, to prevent fraud or abuse, or to protect our
    legal rights.  These third-party vendors include, without limitation, business associates,
    analytics, asset storage, search, chat, image upload and e-mail processing and management
    vendors and other partners, employees, consultants, service providers, customer-support
    personnel, credit card processing companies (if you purchase anything through the Services),
    and vendors that assist us in collecting and/or processing information or delivering items
    that you order, such as Amazon Web Services (collectively “Vendors”). Vendors are governed
    by obligations to protect the confidentiality and security of such information to at least
    the same degree as we do. These Vendors are restricted from using the information for any
    purpose other than helping us to provide products these Services. You understand that these
    Vendors may store certain information on servers located outside the United States.</p>
  <p>We may also disclose aggregate statistics regarding User behavior as a measure of
    interest in, and use of, our Services in the form of aggregate data, such as overall
    patterns or demographic reports that do not describe or identify any individual User.</p>
  <p>We may transfer information about you to another company in connection with a
    reorganization, merger, sale, acquisition or liquidation involving all or part of Roomi.</p>
  <p>We reserve the right to retain and disclose your information and any other data produced
    by Roomi therefrom, from both open and closed accounts, to the extent necessary to, comply
    with applicable law, prevent fraud, assist with any investigations, judicial proceeding,
    court order or legal process, enforce our Terms, and take actions we deem necessary to
    protect the rights, property, safety or integrity of Roomi or our Users.</p>
  <p>ROOMI SHALL HAVE NO LIABILITY FOR DISCLOSURE OF INFORMATION OBTAINED DUE TO ERRORS IN
    TRANSMISSION OR THE UNAUTHORIZED INTERVENTION OF THIRD PARTIES.  FURTHER, IF YOU POST
    ANY OF YOUR PERSONAL INFORMATION IN PUBLIC AREAS OF THE WEBSITE, SUCH INFORMATION MAY
    BE COLLECTED AND USED BY OTHERS OVER WHOM WE HAVE NO CONTROL. WE ARE NOT RESPONSIBLE FOR
    THE USE MADE BY THIRD PARTIES OF INFORMATION YOU POST OR OTHERWISE MAKE AVAILABLE IN PUBLIC
    AREAS OF THE WEBSITE.</p>
  <a class="pull-right clickable" scroll-to-id="privacy">Back to top</a>
  <p id="privacy_deactivating">
    <strong class="black87">5. Deactivating account/opt-out</strong>
  </p>
  <p>Deactivating Your Account. Upon your request, or in the event we terminate your account
    in accordance with our Terms, we will deactivate your registered account within ten (10)
    days of Roomi’s receipt of such request.</p>
  <p>Opt In/Out. You have the right to "opt in" and "opt out" of certain of our uses of your
    Personal Information and may change your preferences regarding such uses at any time.
    For example, we may use your email for transactional and promotional purposes. Emails
    we send you may contain code that enables our database to track your usage of the emails
    we send you, such usage includes whether the email was opened and what links (if any) were
    clicked.</p>
  <p>If you no longer wish to receive emails, you may opt-out of receiving them through your
    account settings, by following the instructions included in each email, or by emailing us
    at <span class="roomi-btn"  role="button" tabindex="0">hello@roomiapp.com</span>. However, we reserve the right to send you certain service announcements
    and administrative messages, without offering you an opportunity to opt out. In the case of
    an important message from us regarding your User Content, modifications to the Services, our
    Terms or this Privacy Policy, we reserve the right to contact you by email.</p>
  <p>You may also opt out by sending a request via postal mail to:</p>
  <p>Roomi Inc.<br>
    205 East 42nd Street<br>
    20th Floor<br>
    New York, NY 10017<br>
  </p>
  <a class="pull-right clickable" scroll-to-id="privacy">Back to top</a>
  <p id="privacy_children">
    <strong class="black87">6. Children</strong>
  </p>
  <p>You must be 18 years of age or older and able to form legally binding contracts with us
    to use the Services.  By using our Services, you represent and warrant that you meet these
    qualifications.  Roomi does not knowingly collect or solicit any information from anyone
    under the age of 18 or knowingly allow such persons to register for the Services. The
    Services are not directed at children under the age of 18. In the event that we learn
    that we have collected Personal Information from a child under age 18 without parental
    consent, we will delete that information as quickly as possible.</p>
  <a class="pull-right clickable" scroll-to-id="privacy">Back to top</a>
  <p id="privacy_communication">
    <strong class="black87">7. Communication tools</strong>
  </p>
  <p>We may provide tools that enable you to share information, including Personal Information,
    with others, through our internal communication tools, social media and in other ways.
    Should you choose to use such tools, please exercise caution when sharing such information.
    We will not share this information in this manner without you directing it to do so. Please
    note, however, that certain information and communications you post to and process through
    the Services may be available publicly.  We do not share or sell any email address and/or
    phone numbers of non-Users to whom you have contacted and which you provide to us via our
    Services. To request the removal of this information from our database, you may opt out by
    following the instructions included in the email, or contact Roomi at
    <span class="roomi-btn bold"  role="button" tabindex="0">hello@roomiapp.com</span>.</p>
  <a class="pull-right clickable" scroll-to-id="privacy">Back to top</a>
  <p id="privacy_california">
    <strong class="black87">8. California residents</strong>
  </p>
  <p>California Civil Code Section 1798.83 permits residents of the State of California to
    request certain information regarding our disclosure of Personal Information to third
    parties for their direct marketing purposes. The notice will identify the categories of
    information shared and will include a list of the third parties and affiliates with which
    it has been shared, along with their names and addresses.  To make such a request, please
    email us at <span class="roomi-btn"  role="button" tabindex="0">hello@roomiapp.com</span>
    or write us at: Roomi Inc., Attn: Roomi Legal - California Privacy Compliance, 205 East
    42nd Street, 20th Floor, New York, NY 10017.</p>
  <a class="pull-right clickable" scroll-to-id="privacy">Back to top</a>
  <p id="privacy_changes">
    <strong class="black87">10. Changes to this privacy policy</strong>
  </p>
  <p>We reserve the right, at any time, to add to, change, update, or modify this Privacy
    Policy so please review it frequently. If we do, then we will notify you here, as well
    as by doing one or more of the following, as set forth above: 1) posting a notice and link
    to the updated policies the next time you log into the Services, at which point you must
    assent to such updated policies in order to complete login; 2) posting a pop-up notice and
    link to the updated policies on the Website; 3) e-mailing you a notice and link to the
    updated policies; or 4) notifying you via RSS feed or pursuant to your user-configured
    notification preferences in connection with updates to these policies. In all cases, use
    of information we collect is subject to the Privacy Policy in effect at the time such
    information is collected.</p>
  <p>Copyright © 2017 Roomi Inc. All rights reserved.</p>
</div>
</div>
  </div>
</div>
</div>