<div id="press" class="black54 ">
  <div id="press-header">
    <div class="content-container">
      <div class="press-center text-center">
        <h1 id="press-quote" class="">"With services like Airbnb making it easier to communicate with people before you let them into your home, a roommate equivalent service was bound to pop up. That's Roomi."</h1>
        <h3 class="padding-20 ">Android Police</h3>
      </div>
    </div>
  </div>
  <div class="press-container">
    <div class="container padding-20 black54">
      <h1 class="black87">Articles</h1>
      <div class="row">
        <!-- ngRepeat: press in vm.pressData | limitTo: vm.counter.pressLimit --><div class="col-md-4 padding-10 col-sm-6 col-xs-12 ">
          <a href="https://vimeo.com/136960920" target="_blank" href="https://vimeo.com/136960920">
            <div class="press-detail" >
              <div class="image-container" bg-image="::press.img" bg-size="contain" style="background-image: url(https://roomiapp.com/assets/images/press/6ca54aec.fox-5-logo.png); background-repeat: no-repeat; background-size: contain; background-position: 50% 50%;"></div>
              <div class="middle-align-helper"></div>
            </div>
          </a>
        </div><!-- end ngRepeat: press in vm.pressData | limitTo: vm.counter.pressLimit --><div  class="col-md-4 padding-10 col-sm-6 col-xs-12 ">
          <a href="http://www.inman.com/2016/03/04/roomi-app-goes-live-in-houston-as-part-of-continuing-growth/?utm_source=twitterfeed&amp;utm_medium=twitter&amp;utm_campaign=Feed%3A+inmannews+%28Inman+News+-+Headlines%29" target="_blank" href="http://www.inman.com/2016/03/04/roomi-app-goes-live-in-houston-as-part-of-continuing-growth/?utm_source=twitterfeed&amp;utm_medium=twitter&amp;utm_campaign=Feed%3A+inmannews+%28Inman+News+-+Headlines%29">
            <div class="press-detail special-detail" >
              <div class="image-container" bg-image="::press.img" bg-size="contain" style="background-image: url(https://roomiapp.com/assets/images/press/779626dc.inman-logo.png); background-repeat: no-repeat; background-size: contain; background-position: 50% 50%;"></div>
              <div class="middle-align-helper"></div>
            </div>
          </a>
        </div><!-- end ngRepeat: press in vm.pressData | limitTo: vm.counter.pressLimit --><div  class="col-md-4 padding-10 col-sm-6 col-xs-12 ">
          <a href="http://newswatchtv.com/2016/08/08/newswatch-discovery-channel-app-watch-roomi-app/" target="_blank" href="http://newswatchtv.com/2016/08/08/newswatch-discovery-channel-app-watch-roomi-app/">
            <div class="press-detail" >
              <div class="image-container" bg-image="::press.img" bg-size="contain" style="background-image: url(https://roomiapp.com/assets/images/press/35a42c74.news-watch-logo.png); background-repeat: no-repeat; background-size: contain; background-position: 50% 50%;"></div>
              <div class="middle-align-helper"></div>
            </div>
          </a>
        </div><!-- end ngRepeat: press in vm.pressData | limitTo: vm.counter.pressLimit --><div  class="col-md-4 padding-10 col-sm-6 col-xs-12 ">
          <a href="http://techcrunch.com/2015/06/09/roomi-lands-2-million-to-pair-you-with-the-perfect-roommate/" target="_blank" href="http://techcrunch.com/2015/06/09/roomi-lands-2-million-to-pair-you-with-the-perfect-roommate/">
            <div class="press-detail special-detail" >
              <div class="image-container" bg-image="::press.img" bg-size="contain" style="background-image: url(https://roomiapp.com/assets/images/press/94123f3c.techCrunch-logo.png); background-repeat: no-repeat; background-size: contain; background-position: 50% 50%;"></div>
              <div class="middle-align-helper"></div>
            </div>
          </a>
        </div><!-- end ngRepeat: press in vm.pressData | limitTo: vm.counter.pressLimit --><div  class="col-md-4 padding-10 col-sm-6 col-xs-12 ">
          <a href="http://www.nbcnews.com/tech/social-media/need-roommate-craigslist-isnt-only-answer-n376981" target="_blank" href="http://www.nbcnews.com/tech/social-media/need-roommate-craigslist-isnt-only-answer-n376981">
            <div class="press-detail" >
              <div class="image-container" bg-image="::press.img" bg-size="contain" style="background-image: url(https://roomiapp.com/assets/images/press/7303d6af.nbcNews-logo.png); background-repeat: no-repeat; background-size: contain; background-position: 50% 50%;"></div>
              <div class="middle-align-helper"></div>
            </div>
          </a>
        </div><!-- end ngRepeat: press in vm.pressData | limitTo: vm.counter.pressLimit --><div  class="col-md-4 padding-10 col-sm-6 col-xs-12 ">
          <a href="http://therealdeal.com/blog/2015/10/09/these-startups-are-betting-the-house-on-co-living/" target="_blank" href="http://therealdeal.com/blog/2015/10/09/these-startups-are-betting-the-house-on-co-living/">
            <div class="press-detail special-detail" >
              <div class="image-container" bg-image="::press.img" bg-size="contain" style="background-image: url(https://roomiapp.com/assets/images/press/9b6abcf3.theRealDeal-logo.png); background-repeat: no-repeat; background-size: contain; background-position: 50% 50%;"></div>
              <div class="middle-align-helper"></div>
            </div>
          </a>
        </div><!-- end ngRepeat: press in vm.pressData | limitTo: vm.counter.pressLimit --><div  class="col-md-4 padding-10 col-sm-6 col-xs-12 ">
          <a href="http://nypost.com/2015/06/09/the-new-app-for-finding-a-roommate-in-nyc/" target="_blank" href="http://nypost.com/2015/06/09/the-new-app-for-finding-a-roommate-in-nyc/">
            <div class="press-detail" >
              <div class="image-container" bg-image="::press.img" bg-size="contain" style="background-image: url(https://roomiapp.com/assets/images/press/10dea602.newYorkPost-logo.png); background-repeat: no-repeat; background-size: contain; background-position: 50% 50%;"></div>
              <div class="middle-align-helper"></div>
            </div>
          </a>
        </div><!-- end ngRepeat: press in vm.pressData | limitTo: vm.counter.pressLimit --><div  class="col-md-4 padding-10 col-sm-6 col-xs-12 ">
          <a href="http://www.latimes.com/business/technology/la-fi-tn-la-tech-highlights-20160111-story.html" target="_blank" href="http://www.latimes.com/business/technology/la-fi-tn-la-tech-highlights-20160111-story.html">
            <div class="press-detail special-detail" >
              <div class="image-container" bg-image="::press.img" bg-size="contain" style="background-image: url(https://roomiapp.com/assets/images/press/9cdfc3bc.latimes-logo.png); background-repeat: no-repeat; background-size: contain; background-position: 50% 50%;"></div>
              <div class="middle-align-helper"></div>
            </div>
          </a>
        </div><!-- end ngRepeat: press in vm.pressData | limitTo: vm.counter.pressLimit --><div  class="col-md-4 padding-10 col-sm-6 col-xs-12 ">
          <a href="http://www.chicagotribune.com/bluesky/originals/ct-roomi-roommate-finding-app-bsi-20160509-story.html" target="_blank" href="http://www.chicagotribune.com/bluesky/originals/ct-roomi-roommate-finding-app-bsi-20160509-story.html">
            <div class="press-detail" >
              <div class="image-container" bg-image="::press.img" bg-size="contain" style="background-image: url(https://roomiapp.com/assets/images/press/c08882b9.chicago-tribune-logo.png); background-repeat: no-repeat; background-size: contain; background-position: 50% 50%;"></div>
              <div class="middle-align-helper"></div>
            </div>
          </a>
        </div><!-- end ngRepeat: press in vm.pressData | limitTo: vm.counter.pressLimit -->
      </div>
      <!-- ngIf: vm.counter.pressCount > vm.counter.pressLimit --><div  class="">
        <button class="gray54-font">Show More...</button>
      </div><!-- end ngIf: vm.counter.pressCount > vm.counter.pressLimit -->
      <!-- ngIf: vm.counter.pressCount < vm.counter.pressLimit -->
    </div>
    <div class="container padding-20">
      <h1 class="black87">Press Kits and Images</h1>
      <div class="row-10">
        <!-- ngRepeat: pressKit in vm.pressKitData --><div  class="col-md-4 padding-10 col-sm-6 col-xs-12 ">
          <div class="press-kit" bg-image="::pressKit.img" style="background-image: url(https://roomiapp.com/assets/images/press/8717778f.roomi-logo.png); background-repeat: no-repeat; background-size: cover; background-position: 50% 50%;">
            <div class="overlay-container">
              <div class="overlay">
                <span class="">Download Roomi Logo</span>
              </div>
            </div>
            <a target="_blank" href="https://s3.amazonaws.com/roomipresskit/Roomi+logo.jpg" href="https://s3.amazonaws.com/roomipresskit/Roomi+logo.jpg"></a>
          </div>
        </div><!-- end ngRepeat: pressKit in vm.pressKitData --><div  class="col-md-4 padding-10 col-sm-6 col-xs-12 ">
          <div class="press-kit" bg-image="::pressKit.img" style="background-image: url(https://roomiapp.com/assets/images/press/fce9332f.roomi-product-image.png); background-repeat: no-repeat; background-size: cover; background-position: 50% 50%;">
            <div class="overlay-container">
              <div class="overlay">
                <span class="">Download Roomi Product Images</span>
              </div>
            </div>
            <a target="_blank" href="https://s3.amazonaws.com/roomipresskit/Roomi-Product-Images.zip" href="https://s3.amazonaws.com/roomipresskit/Roomi-Product-Images.zip"></a>
          </div>
        </div><!-- end ngRepeat: pressKit in vm.pressKitData --><div  class="col-md-4 padding-10 col-sm-6 col-xs-12 ">
          <div class="press-kit" bg-image="::pressKit.img" style="background-image: url(https://roomiapp.com/assets/images/press/86fa578b.ajay.png); background-repeat: no-repeat; background-size: cover; background-position: 50% 50%;">
            <div class="overlay-container">
              <div class="overlay">
                <span class="">Download Ajay's Bio and Photo</span>
              </div>
            </div>
            <a target="_blank" href="https://s3.amazonaws.com/roomipresskit/Ajay%27s+Bio.zip" href="https://s3.amazonaws.com/roomipresskit/Ajay%27s+Bio.zip"></a>
          </div>
        </div><!-- end ngRepeat: pressKit in vm.pressKitData -->
      </div>
    </div>
  </div>
  <div class="inquiries container black54 padding-20">
    <span>For all press inquiries, please contact </span>
    <a class="roomi-btn bold " href="mailto:press@roomiapp.com" href="mailto:press@roomiapp.com">press@roomiapp.com</a>
    <span class="period">.</span>
  </div>
</div>