<div class="pos-relative  layout-column flex" flex="" layout="column">
  <!-- uiView: --><div ui-view="" flex="noshrink" layout="column" class=" layout-column flex-noshrink"><div class="profile-content profile-main ">
  <div class="container layout-xs-column layout-sm-column layout-row flex" layout="row" layout-xs="column" layout-sm="column" flex="">
    <div flex="auto" class="flex-auto"></div>
    <div class="left-column profile-general-infor flex-xs-100 flex-sm-100 flex-33" flex="33" flex-xs="100" flex-sm="100">
      <!-- ngInclude: --><div class=""><!-- Status Nav -->
<!-- ngIf: profile.isMe && !profile.closeStatus --><!-- ngInclude: --><div>
</div><!-- end ngIf: profile.isMe && !profile.closeStatus -->

<section class="section profile-image-section ">
  <slick settings="profile.slickConfig" class="ng-isolate-scope slick-initialized slick-slider" style="display: block;"><!-- <button type="button" data-role="none" class="slick-prev slick-arrow" aria-label="Previous" role="button" style="display: block;">Previous</button> -->
    <!-- ngRepeat: image in ::profile.user | userImages track by $index --><div aria-live="polite" class="slick-list draggable"><div class="slick-track">
    <div  class=" slick-slide slick-current slick-active res-active-mobile-slide-profile" data-slick-index="1" aria-hidden="false" style="width: 340px;" tabindex="-1" role="option" aria-describedby="slick-slide21">
      <div class="size-restrict">
        <div class="photo-image-container" ng-if="user.photo_ids.length == 0">
          <div class="overlay">
            <img ng-src="{{user.cover_image}}" style="width:100%;">
          </div>
        </div>

        <div class="carousel" id="slider">
            <div class="carousel-inner">
                <div class="item" ng-class="{active:!$index}" ng-repeat="img in user.photo_ids" style="width:100%;">
                    <img ng-src="{{img.photo}}" class="img-responsive" style="height: 250px;">
                </div>
            </div>
            <a class="left carousel-control" data-target="#slider" data-slide="prev" style="cursor:pointer">
                <span class="glyphicon glyphicon-chevron-left"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="right carousel-control" data-target="#slider" data-slide="next" style="cursor:pointer">
                <span class="glyphicon glyphicon-chevron-right"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>


      </div>
    </div></div></div><!-- end ngRepeat: image in ::profile.user | userImages track by $index --><!-- end ngRepeat: image in ::profile.user | userImages track by $index --><!-- end ngRepeat: image in ::profile.user | userImages track by $index --><!-- end ngRepeat: image in ::profile.user | userImages track by $index --><!-- end ngRepeat: image in ::profile.user | userImages track by $index -->
  <!-- <button type="button" data-role="none" class="slick-next slick-arrow" aria-label="Next" role="button" style="display: block;">Next</button> --></slick>
  <badges badges="profile.userBadges" class="top-left ng-isolate-scope layout-align-start-center layout-row" layout="" layout-align="start center"><!-- ngRepeat: badge in $ctrl.badges track by badge._id --><div ng-repeat="badge in $ctrl.badges track by badge._id" class="badge-icon mr10 " aria-label="This roommate checks out on Facebook." md-labeled-by-tooltip="md-tooltip-6">
  
  <img ng-src="https://s3-us-west-2.amazonaws.com/roomisvgs/badges/Facebook%401x.svg" src="https://s3-us-west-2.amazonaws.com/roomisvgs/badges/Facebook%401x.svg">
</div><!-- end ngRepeat: badge in $ctrl.badges track by badge._id -->
</badges>
  <!-- <div class="bottom-left-content  layout-align-center-center layout-row" layout="" layout-align="center center">2/5</div> -->
</section>

<section class="profile-info-section ">
  <div layout="" layout-align="center center" class="layout-align-center-center layout-row">
    <h2 class="title-main  md-truncate flex-nogrow" flex="nogrow" md-truncate="">{{user.user.first_name}}<span ng-if="userage">,</span>{{userage}}</h2>
    <!-- ngIf: !profile.isMe -->
  </div>
  <!-- <h3 class="address ">Dubai</h3> -->
  <p class="desciption ">Member Since {{user.created | date:"y"}}</p>
  <!-- ngIf: profile.user.social.facebook.id || profile.user.social.linkedIn.id --><div class="mt10 " ng-if="user.is_facebook_uesr">
    <!-- ngIf: profile.user.social.facebook.id --><a class="md-icon-button btn-social md-button md-ink-ripple"  target="_blank" aria-label="Facebook"><md-icon class="icon-facebook "><svg width="100%" height="100%" viewBox="0 0 21 21" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" fit="" preserveAspectRatio="xMidYMid meet" focusable="false">
    <!-- Generator: Sketch 39.1 (31720) - http://www.bohemiancoding.com/sketch -->
    <title>Page 1</title>
    <desc>Created with Sketch.</desc>
    <defs></defs>
    <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
        <g id="Listing-detail" transform="translate(-1072.000000, -633.000000)" fill="#4A4A4A">
            <g id="Group-4" transform="translate(-23.000000, 425.000000)">
                <g id="Group-29" transform="translate(1095.000000, 208.000000)">
                    <path d="M19.9485685,0 C20.2371979,0 20.4845918,0.10308054 20.6907556,0.309244389 C20.8969195,0.515408239 21,0.762802088 21,1.05143148 L21,19.9485677 C21,20.2371976 20.8969195,20.4845909 20.6907556,20.6907553 C20.4845918,20.8969194 20.2371979,21 19.9485685,21 L14.1119793,21 L14.1119793,12.6399741 L16.5735682,12.6399741 L16.9446603,9.7701833 L14.1119793,9.7701833 L14.1119793,7.93945219 C14.1119793,7.47764572 14.2088753,7.13129433 14.4026702,6.90038971 C14.5964623,6.66948786 14.9737389,6.55403555 15.5345057,6.55403555 L17.0436206,6.54166655 L17.0436206,3.98112013 C16.5240866,3.90690059 15.7901511,3.86979082 14.8417974,3.86979082 C13.7202638,3.86979082 12.8234615,4.1996502 12.1513681,4.85937452 C11.4792721,5.51910161 11.1432282,6.45094947 11.1432282,7.65494857 L11.1432282,9.7701833 L8.66927028,9.7701833 L8.66927028,12.6399741 L11.1432282,12.6399741 L11.1432282,21 L1.05143231,21 C0.762802365,21 0.515409071,20.8969194 0.309244666,20.6907553 C0.103080567,20.4845909 0,20.2371976 0,19.9485677 L0,1.05143148 C0,0.762802088 0.103080567,0.515408239 0.309244666,0.309244389 C0.515409071,0.10308054 0.762802365,0 1.05143231,0 L19.9485685,0 Z" id="Page-1"></path>
                </g>
            </g>
        </g>
    </g>
</svg></md-icon></a><!-- end ngIf: profile.user.social.facebook.id -->
    <!-- ngIf: profile.user.social.linkedIn.id -->
  </div><!-- end ngIf: profile.user.social.facebook.id || profile.user.social.linkedIn.id -->
  <div class="bottom-group mt10 layout-align-space-between-center layout-column" layout="column" layout-align="space-between center">
    <button class="btn-border btn-border-dark mt10 md-button  md-ink-ripple" ng-if="user.user_verification.approve_status.name == null" type="button" data-toggle="modal" data-target="#Verifymodal"><span class="">
      Verify your Identity
    </span></button>
    <!-- ng-if="user.user_verification.approve_status.name == null" -->
    <button class="btn-border btn-border-dark mt10 md-button  md-ink-ripple" type="button" ng-if="user.user_verification.approve_status.name == 'Pending'"><span class="">
      Waiting for Approval
    </span></button>
     
    <button class="btn-border btn-border-dark mt10 md-button  md-ink-ripple" type="button" ng-if="user.user_verification.approve_status.name == 'Approved'"><span class="">
      Verified
    </span></button>
    <button class="btn-border btn-border-dark mt10 md-button  md-ink-ripple" ng-if="user.user_verification.approve_status.name == 'Rejected'" type="button" data-toggle="modal" data-target="#Verifymodal"><span class="">
      Upload valid Doc's
    </span></button>
  </div>
</section>
</div>
    </div>
    <div class="right-column profile-detail-infor flex-xs-100 flex-sm-100 flex-66" flex="66" flex-xs="100" flex-sm="100">
      <!-- Profile Detail -->
      <!-- ngInclude: --><div class=""><!-- ngIf: profile.isMe && !profile.closeStatus --><!-- ngInclude: --><div class=""><md-toolbar class="status-bar  _md _md-toolbar-transitions">
  <div class="md-toolbar-tools">
    <h2>This is a preview of your Profile!</h2>
    <span flex="" class="flex"></span>
    <a class="md-button md-ink-ripple"  aria-label="Edit Profile" rel="nofollow">
      <md-icon class="s16 "><svg width="100%" height="100%" viewBox="0 0 18 18" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" fit="" preserveAspectRatio="xMidYMid meet" focusable="false">
    <!-- Generator: Sketch 39.1 (31720) - http://www.bohemiancoding.com/sketch -->
    <title>Shape</title>
    <desc>Created with Sketch.</desc>
    <defs></defs>
    <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
        <g id="Listing-detail---My" transform="translate(-1171.000000, -86.000000)" fill="#FFFFFF">
            <g id="write" transform="translate(1171.000000, 86.000000)">
                <g id="Capa_1">
                    <path d="M17.2060976,4.34634146 L14.9963415,4.34634146 L14.9963415,0.731707317 C14.9963415,0.329268293 14.6670732,0 14.2646341,0 L7.60609756,0 C7.20365854,0 6.87439024,0.329268293 6.87439024,0.731707317 L6.87439024,4.34634146 L0.764634146,4.34634146 C0.343902439,4.34634146 0,4.6902439 0,5.11097561 L0,17.202439 C0,17.6231707 0.343902439,17.9670732 0.764634146,17.9670732 L17.1658537,17.9670732 C17.5865854,17.9670732 17.9304878,17.6231707 17.9670732,17.202439 L17.9670732,5.11097561 C17.9670732,4.6902439 17.6231707,4.34634146 17.2060976,4.34634146 L17.2060976,4.34634146 Z M13.5292683,1.46341463 L13.5292683,7.8804878 L12.7609756,7.11219512 C12.45,6.80121951 12.0512195,6.7902439 11.7256098,7.11219512 L10.9317073,7.90609756 L10.1378049,7.11219512 C9.85243902,6.82682927 9.38780488,6.82682927 9.10243902,7.11219512 L8.33414634,7.8804878 L8.33414634,1.46341463 L13.5292683,1.46341463 L13.5292683,1.46341463 Z M12.9841463,9.40243902 L10.9353659,12.3768293 L8.88658537,9.40243902 L9.62195122,8.66707317 L10.4158537,9.46097561 C10.6829268,9.72804878 11.1329268,9.77926829 11.4512195,9.46097561 L12.245122,8.66707317 L12.9841463,9.40243902 L12.9841463,9.40243902 Z M16.4414634,16.4743902 L1.48902439,16.4743902 L1.48902439,5.87195122 L6.87073171,5.87195122 L6.87073171,8.83536585 C6.87073171,8.98536585 6.91463415,9.12804878 6.99878049,9.24878049 L10.3280488,14.0817073 C10.7634146,14.5170732 11.0634146,14.5536585 11.5317073,14.0817073 L14.8609756,9.24878049 C14.952439,9.11707317 14.9926829,8.96707317 14.9890244,8.82073171 L14.9890244,8.8097561 L14.9890244,5.87195122 L16.4378049,5.87195122 L16.4378049,16.4743902 L16.4414634,16.4743902 L16.4414634,16.4743902 Z" id="Shape"></path>
                </g>
            </g>
        </g>
    </g>
</svg></md-icon>
      <span class="" ui-sref="edit-profile">Edit
        <span hide-xs="" class="hide-xs">Profile</span>
      </span>
    </a>
  </div>
</md-toolbar>
</div><!-- end ngIf: profile.isMe && !profile.closeStatus -->
<section class="profile-detail ">
<!-- loading icon start -->
    <div class="loading-container">
        <div class="loading"></div>
        <div id="loading-text">loading</div>
    </div>
  <md-toolbar class="work-exp _md _md-toolbar-transitions">
    <div class="md-toolbar-tools" style="height: auto;max-height: inherit;min-height: 65px;">
      <md-icon class="mr15"><svg width="100%" height="100%" viewBox="0 0 19 19" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" fit="" preserveAspectRatio="xMidYMid meet" focusable="false">
    <!-- Generator: Sketch 39.1 (31720) - http://www.bohemiancoding.com/sketch -->
    <title>Capa_1</title>
    <desc>Created with Sketch.</desc>
    <defs></defs>
    <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
        <g id="Profile-other-user" transform="translate(-560.000000, -108.000000)" fill="#000000">
            <g id="Group-3" transform="translate(540.000000, 88.000000)">
                <g id="briefcase-(1)" transform="translate(20.000000, 20.000000)">
                    <g id="Capa_1">
                        <path d="M18.1934694,3.57122449 L14.7230612,3.57122449 L14.7230612,0.825918367 C14.7230612,0.383877551 14.3585714,0.0193877551 13.9165306,0.0193877551 L5.04081633,0.0193877551 C4.59877551,0.0193877551 4.23428571,0.383877551 4.23428571,0.825918367 L4.23428571,3.56734694 L0.806530612,3.56734694 C0.364489796,3.56734694 0,3.93183673 0,4.37387755 L0,18.1702041 C0,18.6122449 0.364489796,18.9767347 0.806530612,18.9767347 L18.1508163,18.9767347 C18.5928571,18.9767347 18.9573469,18.6122449 18.9961224,18.2089796 L18.9961224,4.3777551 C19,3.93183673 18.6355102,3.57122449 18.1934694,3.57122449 L18.1934694,3.57122449 Z M5.84734694,1.59367347 L13.11,1.59367347 L13.11,3.57122449 L5.84734694,3.57122449 L5.84734694,1.59367347 L5.84734694,1.59367347 Z M17.3869388,5.14163265 L17.3869388,11.2720408 L14.7230612,11.2720408 L14.7230612,10.5857143 C14.7230612,10.1436735 14.3585714,9.77918367 13.9165306,9.77918367 C13.4744898,9.77918367 13.11,10.1436735 13.11,10.5857143 L13.11,11.2720408 L5.84734694,11.2720408 L5.84734694,10.5857143 C5.84734694,10.1436735 5.48285714,9.77918367 5.04081633,9.77918367 C4.59877551,9.77918367 4.23428571,10.1436735 4.23428571,10.5857143 L4.23428571,11.2720408 L1.57428571,11.2720408 L1.57428571,5.14163265 L17.3869388,5.14163265 L17.3869388,5.14163265 Z M1.57428571,17.4063265 L1.57428571,12.8889796 L4.23816327,12.8889796 L4.23816327,13.412449 C4.23816327,13.8544898 4.60265306,14.2189796 5.04469388,14.2189796 C5.48673469,14.2189796 5.85122449,13.8971429 5.85122449,13.412449 L5.85122449,12.8889796 L13.1138776,12.8889796 L13.1138776,13.412449 C13.1138776,13.8544898 13.4783673,14.2189796 13.9204082,14.2189796 C14.3236735,14.2189796 14.6881633,13.8971429 14.7269388,13.412449 L14.7269388,12.8889796 L17.3908163,12.8889796 L17.3908163,17.4063265 L1.57428571,17.4063265 L1.57428571,17.4063265 Z" id="Shape"></path>
                    </g>
                </g>
            </g>
        </g>
    </g>
</svg></md-icon>
      <h4 flex="" class="flex"><span class="work-experience-title">Background</span></h4>
      <hr>
<div class="data-text">
  <div class="row" style="margin: 0px;">
    <div class="col-lg-12 border-rad" ng-repeat="exp in user.work_exp" style="border: 1px solid #ddd;margin: 10px 15px;padding: 10px;">
      <h4 style="color: #f55e05;">{{exp.employer}}</h4>
      <h5><b>{{exp.position}}</b></h5>
      <span>{{exp.start_date | date:date}}</span> - <span>{{exp.end_date == null ? 'Present': exp.end_date | date:date }}</span>
    </div>
  </div>
</div>
<div class="data-text" ng-if="background === 0"><span>No Data</span><br>
</div>

      <!-- ngIf: profile.isMe && !profile.user.social.linkedIn.id --><!-- <button class="linked-in-button m0 md-button  md-ink-ripple" type="button" >
        <md-icon class="s16 mr5 "><svg width="100%" height="100%" viewBox="0 0 17 17" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" fit="" preserveAspectRatio="xMidYMid meet" focusable="false">
  <defs></defs>
  <path d="M16.1488412,0 C16.3824935,0 16.5827648,0.083446151 16.7496593,0.250340696 C16.9165538,0.417235241 17,0.617506452 17,0.851158816 L17,16.1488405 C17,16.3824933 16.9165538,16.5827641 16.7496593,16.7496591 C16.5827648,16.9165538 16.3824935,17 16.1488412,17 L0.851159489,17 C0.617506677,17 0.417235914,16.9165538 0.25034092,16.7496591 C0.0834461735,16.5827641 0,16.3824933 0,16.1488405 L0,0.851158816 C0,0.617506452 0.0834461735,0.417235241 0.25034092,0.250340696 C0.417235914,0.083446151 0.617506677,0 0.851159489,0 L16.1488412,0 Z M5.35294877,13.8979223 L5.35294877,6.5617499 L3.10207769,6.5617499 L3.10207769,13.8979223 L5.35294877,13.8979223 Z M4.22751323,5.56136276 C4.58876503,5.56136276 4.90138468,5.42936767 5.16537484,5.16537484 C5.42936767,4.90138468 5.56136276,4.58876503 5.56136276,4.22751323 C5.56136276,3.86626142 5.42936767,3.55364177 5.16537484,3.28965161 C4.90138468,3.02565878 4.58876503,2.8936637 4.22751323,2.8936637 C3.86626142,2.8936637 3.55364177,3.02565878 3.28965028,3.28965161 C3.02565798,3.55364177 2.8936637,3.86626142 2.8936637,4.22751323 C2.8936637,4.61655445 3.01871076,4.93612079 3.26880888,5.18621758 C3.51890567,5.43631436 3.838472,5.56136276 4.22751323,5.56136276 Z M13.8979223,13.8979223 L13.8979223,9.85469093 C13.8979223,8.74314343 13.7103511,7.88865541 13.3352032,7.2912002 C12.960058,6.69374232 12.2445091,6.39501871 11.1885405,6.39501871 C10.1325718,6.39501871 9.4100762,6.7840546 9.02103497,7.56213705 L8.97935217,7.56213705 L8.97935217,6.5617499 L6.81184669,6.5617499 L6.81184669,13.8979223 L9.06271777,13.8979223 L9.06271777,10.2715189 C9.06271777,9.02102964 9.52122321,8.39579301 10.4382501,8.39579301 C10.7995019,8.39579301 11.0704388,8.51389204 11.2510633,8.75009545 C11.4316906,8.98630153 11.5358962,9.20860623 11.5636856,9.41702022 C11.5914751,9.62543687 11.6053684,9.92416048 11.6053684,10.3132017 L11.6053684,13.8979223 L13.8979223,13.8979223 Z" id="Combined-Shape" stroke="none" fill="#FFFFFF" fill-rule="evenodd"></path>
</svg></md-icon>
        <span class="">Connect<span hide-xs="" class="hide-xs"> With LinkedIn</span></span>
      </button> --><!-- end ngIf: profile.isMe && !profile.user.social.linkedIn.id -->
    </div>
  </md-toolbar>

  <md-toolbar class="
  _md _md-toolbar-transitions">
    <div class="md-toolbar-tools">
      <h4><md-icon class="mr15"><svg width="100%" height="100%" viewBox="0 0 18 19" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" fit="" preserveAspectRatio="xMidYMid meet" focusable="false">
    <!-- Generator: Sketch 39.1 (31720) - http://www.bohemiancoding.com/sketch -->
    <title>file</title>
    <desc>Created with Sketch.</desc>
    <defs></defs>
    <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
        <g id="Profile-other-user" transform="translate(-560.000000, -245.000000)" fill="#000000">
            <g id="Group-3" transform="translate(540.000000, 88.000000)">
                <g id="file" transform="translate(20.000000, 157.000000)">
                    <g id="Group">
                        <path d="M17.1623762,18.9106838 C17.5722772,18.9106838 17.8930693,18.5891453 17.8930693,18.1782906 L17.8930693,16.625 C17.8930693,10.6202274 17.8930693,0.803846154 17.8930693,0.803846154 C17.8930693,0.392991453 17.5722772,0.0714529915 17.1623762,0.0714529915 L4.91881188,0.0714529915 C4.86534653,0.0714529915 4.79405941,0.0714529915 4.74059406,0.0893162393 C4.65148515,0.125042735 4.61584158,0.142905983 4.56237624,0.160769231 C4.54455446,0.178632479 4.52673267,0.178632479 4.50891089,0.196495726 C4.45544554,0.232222222 4.4019802,0.267948718 4.36633663,0.321538462 L0.285148515,5.14461538 C0.231683168,5.19820513 0.196039604,5.26965812 0.16039604,5.34111111 C0.142574257,5.35897436 0.142574257,5.39470085 0.142574257,5.4125641 C0.124752475,5.46615385 0.124752475,5.51974359 0.106930693,5.57333333 C0.106930693,5.59119658 0.106930693,18.1604274 0.106930693,18.1604274 C0.106930693,18.5891453 0.445544554,18.9106838 0.837623762,18.9106838 L17.1623762,18.9106838 Z M4.18811881,2.80452991 L4.18811881,4.91239316 L2.40594059,4.91239316 L4.18811881,2.80452991 L4.18811881,2.80452991 Z M1.56831683,5.77044964 L4.91881188,5.77044964 C5.32871287,5.77044964 5.64950495,5.48816895 5.64950495,5.12747696 L5.64950495,1.53623932 L16.4316832,1.53623932 L16.4316832,17.171453 L1.56831683,17.171453 L1.56831683,5.77044964 L1.56831683,5.77044964 Z" id="Shape"></path>
                        <path d="M14.2574257,7.9491453 L3.74257426,7.9491453 C3.33267327,7.9491453 3.01188119,8.27068376 3.01188119,8.68153846 C3.01188119,9.09239316 3.33267327,9.41393162 3.74257426,9.41393162 L14.2574257,9.41393162 C14.6673267,9.41393162 14.9881188,9.09239316 14.9881188,8.68153846 C14.9881188,8.27068376 14.6673267,7.9491453 14.2574257,7.9491453 L14.2574257,7.9491453 Z" id="Shape"></path>
                        <path d="M14.2574257,11.4860684 L3.74257426,11.4860684 C3.33267327,11.4860684 3.01188119,11.8076068 3.01188119,12.2184615 C3.01188119,12.6293162 3.33267327,12.9508547 3.74257426,12.9508547 L14.2574257,12.9508547 C14.6673267,12.9508547 14.9881188,12.6293162 14.9881188,12.2184615 C14.9881188,11.8254701 14.6673267,11.4860684 14.2574257,11.4860684 L14.2574257,11.4860684 Z" id="Shape"></path>
                    </g>
                </g>
            </g>
        </g>
    </g>
</svg></md-icon>Details</h4>
<hr>
<div class="data-text ">{{user.description===""?'No Data':user.description}}</div>
    </div>
  </md-toolbar>
  <!-- <md-toolbar class="_md _md-toolbar-transitions">
  </md-toolbar> -->
  <!-- ngIf: profile.user.workHistory && profile.user.workHistory.length > 0 -->

  <!-- ngIf: profile.user.biography.length > 0 -->
  <!-- ngIf: profile.user.biography.length > 0 -->

  <md-toolbar class="_md _md-toolbar-transitions">
    <div class="md-toolbar-tools layout-align-space-between-center layout-row" layout="row" layout-align="space-between center">
      <h4><md-icon class="mr15"><svg width="100%" height="100%" viewBox="0 0 21 21" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" fit="" preserveAspectRatio="xMidYMid meet" focusable="false">
    <title>homepage</title>
    <desc>Created with Sketch.</desc>
    <defs></defs>
    <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
        <g id="Profile-other-user" transform="translate(-560.000000, -357.000000)" fill="#000000">
            <g id="Group-3" transform="translate(540.000000, 88.000000)">
                <g id="Group-4" transform="translate(0.000000, 251.000000)">
                    <g id="homepage" transform="translate(20.000000, 18.000000)">
                        <g id="Capa_1">
                            <g id="Group">
                                <path d="M20.6990191,8.93295543 L10.9714986,0.217077994 C10.7015886,-0.0246852368 10.2983542,-0.0246852368 10.0285014,0.217077994 L0.300980926,8.93295543 C0.00394822888,9.19911142 -0.0258065395,9.66111142 0.234547684,9.96488022 C0.494901907,10.2684735 0.946888283,10.2989499 1.24392098,10.0327354 L1.99711717,9.35792758 L1.99711717,20.2331198 C1.99711717,20.6369164 2.31732425,20.9643175 2.71237602,20.9643175 L8.1330654,20.9643175 L12.8669346,20.9643175 L18.2875668,20.9643175 C18.6826185,20.9643175 19.0028256,20.6369164 19.0028256,20.2331198 L19.0028256,9.35798607 L19.7560218,10.0328524 C19.8918065,10.1544067 20.059921,10.2141894 20.2271771,10.2141894 C20.4260763,10.2141894 20.6239455,10.1298969 20.7653379,9.96493872 C21.0258638,9.66111142 20.996109,9.19916992 20.6990191,8.93295543 L20.6990191,8.93295543 Z M8.84832425,19.501922 L8.84832425,13.4784903 L12.1516185,13.4784903 L12.1516185,19.5019805 L8.84832425,19.501922 L8.84832425,19.501922 L8.84832425,19.501922 Z M17.5724223,8.08184123 L17.5724223,19.501922 L13.5823079,19.501922 L13.5823079,12.7472925 C13.5823079,12.3434958 13.2619864,12.0160947 12.867049,12.0160947 L8.13317984,12.0160947 C7.73818529,12.0160947 7.41792098,12.3434958 7.41792098,12.7472925 L7.41792098,19.5019805 L3.4276921,19.5019805 L3.4276921,8.08184123 C3.4276921,8.07996936 3.42746322,8.07821448 3.42746322,8.07640111 L10.5,1.73925627 L17.5726512,8.07634262 C17.5727084,8.07827298 17.5724223,8.07996936 17.5724223,8.08184123 L17.5724223,8.08184123 Z" id="Shape"></path>
                                <path d="M8.89782016,6.88718106 C8.89782016,7.29103621 9.21802725,7.61837883 9.61307902,7.61837883 L11.386921,7.61837883 C11.7819155,7.61837883 12.1021798,7.29103621 12.1021798,6.88718106 C12.1021798,6.48332591 11.7819155,6.15598329 11.386921,6.15598329 L9.61307902,6.15598329 C9.21808447,6.15598329 8.89782016,6.48332591 8.89782016,6.88718106 L8.89782016,6.88718106 Z" id="Shape"></path>
                            </g>
                        </g>
                    </g>
                </g>
            </g>
        </g>
    </g>
</svg></md-icon>Preferred Location</h4>
      <div class="data-text ">{{user.prefered_location.city_name==null?'No Data':user.prefered_location.city_name}}</div>
    </div>
  </md-toolbar>

  <md-toolbar class="_md _md-toolbar-transitions">
    <div class="md-toolbar-tools layout-align-space-between-center layout-row" layout="row" layout-align="space-between center">
      <h4><md-icon class="mr15"><svg width="100%" height="100%" viewBox="0 0 21 21" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" fit="" preserveAspectRatio="xMidYMid meet" focusable="false">
    <title>coin (3)</title>
    <desc>Created with Sketch.</desc>
    <defs></defs>
    <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
        <g id="Profile-other-user" transform="translate(-560.000000, -419.000000)" fill="#000000">
            <g id="Group-3" transform="translate(540.000000, 88.000000)">
                <g id="Group-4" transform="translate(0.000000, 251.000000)">
                    <g id="coin-(3)" transform="translate(20.000000, 80.000000)">
                        <g id="Layer_1">
                            <g id="Group">
                                <path d="M11.3554636,9.52789091 L11.3554636,6.59450909 C11.7905455,6.66387273 12.0752545,6.80896364 12.2944182,6.92070909 C12.4729182,7.01170909 12.6139364,7.08355455 12.7772273,7.08355455 C13.2286636,7.08355455 13.5058636,6.59323636 13.5058636,6.24170909 C13.5058636,5.52866364 12.3134455,5.17535455 11.3554636,5.08244545 L11.3554636,4.70202727 C11.3554636,4.35590909 11.0162818,4.11466364 10.7119091,4.11466364 C10.3569455,4.11466364 10.0682273,4.37818182 10.0682273,4.70202727 L10.0682273,5.11897273 C8.42723636,5.32903636 7.49381818,6.3084 7.49381818,7.84063636 C7.49381818,9.76589091 8.88936364,10.3229636 10.0682273,10.7397818 L10.0682273,14.2900545 C9.21677273,14.1879182 8.82738182,13.7829364 8.56004545,13.5048455 C8.38619091,13.3239909 8.22194545,13.1531909 7.98184545,13.1531909 C7.57056364,13.1531909 7.23933636,13.6134727 7.23933636,13.9945909 C7.23933636,14.6954818 8.33108182,15.7044364 10.0682273,15.8278909 L10.0682273,16.2989273 C10.0682273,16.6222636 10.3570091,16.8853364 10.7119091,16.8853364 C11.0162818,16.8853364 11.3554636,16.6445364 11.3554636,16.2989273 L11.3554636,15.7502545 C12.8885909,15.4467091 13.7606,14.3512727 13.7606,12.7069727 C13.7606,10.5639545 12.2969,9.87948182 11.3554636,9.52789091 L11.3554636,9.52789091 Z M10.0971182,9.07696364 C9.35677273,8.77049091 9.02121818,8.44938182 9.02121818,7.75606364 C9.02121818,7.13847273 9.3828,6.75703636 10.0971182,6.61900909 L10.0971182,9.07696364 L10.0971182,9.07696364 Z M11.3133364,14.1999455 L11.3133364,11.2425727 C11.8928727,11.5612636 12.2188182,11.9788455 12.2188182,12.7920545 C12.2188182,13.5290273 11.9217,13.9927455 11.3133364,14.1999455 L11.3133364,14.1999455 Z" id="Shape"></path>
                                <path d="M10.4999364,0 C4.71023636,0 0,4.7103 0,10.5 C0,16.2897 4.71023636,21 10.4999364,21 C16.2897,21 21,16.2897 21,10.5 C21,4.7103 16.2897,0 10.4999364,0 L10.4999364,0 Z M10.4999364,19.0909091 C5.76290909,19.0909091 1.90909091,15.2370273 1.90909091,10.5 C1.90909091,5.76297273 5.76290909,1.90909091 10.4999364,1.90909091 C15.2370273,1.90909091 19.0909091,5.76297273 19.0909091,10.5 C19.0909091,15.2370273 15.2370273,19.0909091 10.4999364,19.0909091 L10.4999364,19.0909091 Z" id="Shape"></path>
                            </g>
                        </g>
                    </g>
                </g>
            </g>
        </g>
    </g>
</svg></md-icon>Budget</h4>
      <div class="data-text " ng-if="user.budgetminvalue === null">No Data</div>
      <div class="data-text " ng-if="user.budgetminvalue">AED {{user.budgetminvalue}} - AED {{user.budgetmaxvalue}}</div>
    </div>
  </md-toolbar>

  <md-toolbar class="_md _md-toolbar-transitions">
    <div class="md-toolbar-tools layout-align-space-between-center layout-row" layout="row" layout-align="space-between center">
      <h4><md-icon class="mr15"><svg width="100%" height="100%" viewBox="0 0 19 18" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" fit="" preserveAspectRatio="xMidYMid meet" focusable="false">
    <!-- Generator: Sketch 39.1 (31720) - http://www.bohemiancoding.com/sketch -->
    <title>calendar</title>
    <desc>Created with Sketch.</desc>
    <defs></defs>
    <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
        <g id="Profile-other-user" transform="translate(-560.000000, -481.000000)" fill="#000000">
            <g id="Group-3" transform="translate(540.000000, 88.000000)">
                <g id="Group-4" transform="translate(0.000000, 251.000000)">
                    <g id="calendar" transform="translate(20.000000, 142.000000)">
                        <g id="Group">
                            <path d="M0.730769231,17.8513761 L18.2529915,17.8513761 C18.6264957,17.8513761 18.9188034,17.5541284 18.9188034,17.1743119 L18.9188034,2.06422018 C18.9188034,1.68440367 18.6264957,1.38715596 18.2529915,1.38715596 L14.9564103,1.38715596 L14.9564103,0.809174312 C14.9564103,0.429357798 14.6641026,0.132110092 14.2905983,0.132110092 C13.917094,0.132110092 13.6247863,0.429357798 13.6247863,0.809174312 L13.6247863,1.38715596 L5.47264957,1.38715596 L5.47264957,0.809174312 C5.47264957,0.429357798 5.18034188,0.132110092 4.80683761,0.132110092 C4.43333333,0.132110092 4.14102564,0.429357798 4.14102564,0.809174312 L4.14102564,1.38715596 L0.730769231,1.38715596 C0.357264957,1.38715596 0.064957265,1.68440367 0.064957265,2.06422018 L0.064957265,17.1908257 C0.064957265,17.5541284 0.373504274,17.8513761 0.730769231,17.8513761 L0.730769231,17.8513761 Z M1.3965812,2.7412844 L4.14102564,2.7412844 L4.14102564,3.10458716 C4.14102564,3.48440367 4.43333333,3.78165138 4.80683761,3.78165138 C5.18034188,3.78165138 5.47264957,3.48440367 5.47264957,3.10458716 L5.47264957,2.7412844 L13.6247863,2.7412844 L13.6247863,3.10458716 C13.6247863,3.48440367 13.917094,3.78165138 14.2905983,3.78165138 C14.6641026,3.78165138 14.9564103,3.48440367 14.9564103,3.10458716 L14.9564103,2.7412844 L17.6034188,2.7412844 L17.6034188,4.49174312 L1.3965812,4.49174312 L1.3965812,2.7412844 L1.3965812,2.7412844 Z M1.3965812,5.84587156 L17.5871795,5.84587156 L17.5871795,16.5137615 L1.3965812,16.5137615 L1.3965812,5.84587156 L1.3965812,5.84587156 Z" id="Shape"></path>
                            <path d="M14.2905983,8.95045872 L4.70940171,8.95045872 C4.33589744,8.95045872 4.04358974,9.24770642 4.04358974,9.62752294 C4.04358974,10.0073394 4.33589744,10.3045872 4.70940171,10.3045872 L14.2905983,10.3045872 C14.6641026,10.3045872 14.9564103,10.0073394 14.9564103,9.62752294 C14.9564103,9.24770642 14.6641026,8.95045872 14.2905983,8.95045872 L14.2905983,8.95045872 Z" id="Shape"></path>
                            <path d="M9.5,12.2201835 L4.70940171,12.2201835 C4.33589744,12.2201835 4.04358974,12.5174312 4.04358974,12.8972477 C4.04358974,13.2770642 4.33589744,13.5743119 4.70940171,13.5743119 L9.5,13.5743119 C9.87350427,13.5743119 10.165812,13.2770642 10.165812,12.8972477 C10.165812,12.5174312 9.87350427,12.2201835 9.5,12.2201835 L9.5,12.2201835 Z" id="Shape"></path>
                        </g>
                    </g>
                </g>
            </g>
        </g>
    </g>
</svg></md-icon>Move-in Date</h4>
      <div class="data-text ">{{user.move_in_date === null?'No Date':user.move_in_date| date:date}}</div>
    </div>
  </md-toolbar>

  <!-- ngIf: profile.user.usrLikes.length > 0 -->
  <!-- <md-toolbar class="responsive-divider  _md _md-toolbar-transitions">
    <div class="md-toolbar-tools">
      <h4><md-icon class="mr15"><svg width="100%" height="100%" viewBox="0 0 24 21" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" fit="" preserveAspectRatio="xMidYMid meet" focusable="false">
   
    <title>Page 1</title>
    <desc>Created with Sketch.</desc>
    <defs>
        <polygon id="path-1" points="23.757 0.874 23.757 22 0 22 0 0.874 23.7568888 0.874 23.7568888 22.0001 -0.0001 22.0001 -0.0001 0.873478086 23.7568888 0.873478086"></polygon>
    </defs>
    <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
        <g id="Showcase-Copy" transform="translate(-83.000000, -1656.000000)">
            <g id="Page-1" transform="translate(83.000000, 1655.000000)">
                <path d="M21.0514,12.4376 L20.9974,12.6646 C22.5294,13.1006 21.7144,14.8666 20.6144,14.9816 L20.5604,15.2076 C22.0304,15.5816 21.3284,17.4006 20.1774,17.5246 L20.1234,17.7506 C21.3234,17.9476 21.0334,19.9966 19.2144,19.9966 L10.1654,19.9996 C9.5264,19.9996 8.9434,19.2716 8.4734,19.2716 L8.0634,19.2716 L8.0634,12.2236 C8.5754,11.9076 9.2034,11.4956 9.5524,11.1986 C10.2124,10.6356 12.9144,6.2706 12.9144,5.7246 C12.9144,5.1776 12.8544,2.8146 12.8544,2.8146 C12.8544,2.8146 13.3844,2.1316 14.5664,2.6296 C14.5664,2.6296 15.5624,4.4966 15.6634,5.9836 C15.6634,5.9836 15.2154,9.0476 14.9744,10.0086 L21.2484,10.0086 C22.7894,10.0106 22.4954,12.2106 21.0514,12.4376 L21.0514,12.4376 Z M1.4544,20.6666 L7.2134,20.6666 L7.2134,11.5106 L1.4544,11.5106 L1.4544,20.6666 Z M22.6034,12.5166 C23.7564,11.3686 23.4004,9.0476 21.4034,9.0476 L16.1494,9.0506 C16.3484,7.9386 16.6374,6.0936 16.6264,5.9196 C16.5164,4.2706 15.4644,2.2636 15.4194,2.1806 C15.2274,1.8236 14.2594,1.3396 13.2854,1.5476 C12.0254,1.8166 11.8974,2.6206 11.9024,2.8416 C11.9024,2.8416 11.9564,5.0396 11.9614,5.6266 C11.3594,6.9496 9.2834,10.4256 8.6534,10.6936 C8.5034,10.6016 8.3324,10.5526 8.1544,10.5526 L1.5164,10.5526 C0.9534,10.5526 0.4994,11.0086 0.4994,11.5706 L0.5004,20.7436 C0.5404,21.2386 0.9604,21.6266 1.4564,21.6266 L7.4184,21.6266 C7.9474,21.6266 8.3774,21.1966 8.3774,20.6676 L8.3774,20.3636 C8.3774,20.3636 8.5984,20.3466 8.6994,20.4116 C9.0824,20.6546 9.5564,20.9616 10.1744,20.9616 L19.0714,20.9616 C22.3974,20.9616 22.0404,18.0086 21.7364,17.6056 C22.2984,16.9936 22.6464,15.9146 22.1724,15.0616 C22.5364,14.6756 23.1764,13.6146 22.6034,12.5166 L22.6034,12.5166 Z" id="Fill-1" fill="#000000"></path>
                <g id="Group-5" transform="translate(0.000000, 0.126400)">
                    <mask id="mask-2" fill="white">
                        <use xlink:href="#path-1"></use>
                    </mask>
                    <g id="Clip-4"></g>
                    <path d="M21.7559,9.4541 C22.2419,9.6001 22.5949,9.9581 22.7239,10.4481 C22.7049,10.3551 22.6779,10.2641 22.6419,10.1771 C22.5239,9.8911 22.2759,9.5581 21.7559,9.4541 L21.7559,9.4541 Z M7.7139,10.9271 L7.7139,11.7261 L7.7999,11.6721 C8.1349,11.4651 8.4369,11.2681 8.6879,11.0961 L8.6129,11.1271 L8.3939,10.9941 C8.3199,10.9501 8.2389,10.9271 8.1539,10.9271 L7.7139,10.9271 Z M21.9199,12.4901 C22.1719,12.7371 22.2969,13.0381 22.3309,13.3301 C22.3339,13.1061 22.2879,12.8661 22.1599,12.6211 L22.0429,12.3961 C22.0029,12.4291 21.9619,12.4601 21.9199,12.4901 L21.9199,12.4901 Z M21.4899,15.0361 C21.7319,15.2761 21.8709,15.5891 21.8909,15.9451 C21.9099,15.6801 21.8659,15.4141 21.7349,15.1791 L21.6069,14.9481 C21.5689,14.9781 21.5299,15.0081 21.4899,15.0361 L21.4899,15.0361 Z M8.5639,18.6491 C8.8909,18.6791 9.1809,18.8661 9.4629,19.0471 C9.6989,19.2001 9.9689,19.3731 10.1649,19.3731 L19.2149,19.3701 C19.9439,19.3701 20.3119,18.9461 20.3439,18.5531 C20.3559,18.4111 20.3309,18.1651 20.0419,18.1181 L19.5109,18.0311 L19.7749,16.9391 L20.1239,16.9011 C20.5319,16.8571 20.8649,16.4281 20.8909,16.0741 C20.9019,15.9091 20.8679,15.6761 20.4379,15.5661 L19.9609,15.4451 L20.2099,14.3941 L20.5629,14.3581 C20.9639,14.3161 21.3099,13.8841 21.3389,13.5411 C21.3489,13.4381 21.3719,13.1641 20.8599,13.0181 L20.3989,12.8871 L20.6449,11.8691 L20.9749,11.8171 C21.5669,11.7241 21.8019,11.1631 21.7759,10.8141 C21.7529,10.5231 21.5799,10.3821 21.2469,10.3821 L14.3339,10.3821 L14.4889,9.7601 C14.7049,8.9031 15.0999,6.2531 15.1599,5.8391 C15.0689,4.7291 14.4379,3.3671 14.2079,2.9021 C13.7709,2.7571 13.4999,2.8341 13.3599,2.9141 C13.3749,3.5311 13.4139,5.1561 13.4139,5.5981 C13.4139,6.3911 10.5249,10.9011 9.8769,11.4531 C9.5329,11.7451 8.9739,12.1151 8.5639,12.3741 L8.5639,18.6491 Z M1.9549,20.0391 L6.7139,20.0391 L6.7139,11.8841 L1.9549,11.8841 L1.9549,20.0391 Z M21.0299,17.5921 C21.2569,17.8621 21.3729,18.2271 21.3399,18.6341 C21.2909,19.2411 20.9029,19.8531 20.2249,20.1621 C20.6449,20.0141 20.9569,19.7681 21.1589,19.4271 C21.5509,18.7651 21.4209,17.9371 21.3259,17.7641 L21.1369,17.5141 C21.1029,17.5411 21.0669,17.5671 21.0299,17.5921 L21.0299,17.5921 Z M7.7139,19.6451 L7.7139,20.8921 C7.8139,20.8081 7.8769,20.6821 7.8769,20.5411 L7.8769,19.7731 L8.3399,19.7381 C8.4319,19.7311 8.5779,19.7301 8.7249,19.7641 C8.6209,19.7021 8.5209,19.6481 8.4719,19.6451 L7.7139,19.6451 Z M7.4179,22.0001 L1.4559,22.0001 C0.7009,22.0001 0.0629,21.4111 0.0019,20.6581 L-0.0001,11.4441 C-0.0001,10.6071 0.6809,9.9271 1.5169,9.9271 L8.1539,9.9271 C8.3029,9.9271 8.4499,9.9501 8.5919,9.9941 C9.2039,9.3751 10.8149,6.7661 11.4609,5.3931 C11.4499,4.6831 11.4019,2.7271 11.4019,2.7271 C11.3889,2.2051 11.7469,1.2391 13.1809,0.9321 C14.2979,0.6951 15.5349,1.2141 15.8599,1.8181 C15.8669,1.8311 17.0049,3.9631 17.1249,5.7601 C17.1419,6.0041 16.8929,7.5381 16.7429,8.4241 L21.4029,8.4211 C22.4169,8.4211 23.2049,8.9221 23.5659,9.7951 C23.9249,10.6651 23.7659,11.7221 23.1889,12.4791 C23.5549,13.4921 23.1679,14.4431 22.7549,15.0121 C23.0719,15.8861 22.8099,16.8731 22.3139,17.5611 C22.4809,18.1181 22.4849,19.0161 22.1119,19.7651 C21.7569,20.4811 20.9399,21.3341 19.0709,21.3341 L10.1739,21.3341 C9.6269,21.3341 9.1809,21.1471 8.8199,20.9441 C8.6459,21.5531 8.0829,22.0001 7.4179,22.0001 L7.4179,22.0001 Z" id="Fill-3" fill="#000000" mask="url(#mask-2)"></path>
                </g>
            </g>
        </g>
    </g>
</svg></md-icon>Interests</h4>
    </div>
  </md-toolbar> -->
  <!-- end ngIf: profile.user.usrLikes.length > 0 -->
  <!-- ngIf: profile.user.usrLikes.length > 0 <div  class="">-->
    <!-- <div layout="row" class="layout-row">
      <ul class="list-likes flex" flex="">
        <li  layout="row" flex-gt-sm="50" flex-sm="100" flex-xs="100" class=" layout-row flex-xs-100 flex-sm-100 flex-gt-sm-50">
          <img ng-src="https://scontent.xx.fbcdn.net/v/t1.0-1/p50x50/18485972_1559439944069114_1921094221936742430_n.jpg?oh=c493ab4b404c7c32683eab60d53c82d5&amp;oe=59F4F018" class="avatar img-responsive img-rounded" src="https://scontent.xx.fbcdn.net/v/t1.0-1/p50x50/18485972_1559439944069114_1921094221936742430_n.jpg?oh=c493ab4b404c7c32683eab60d53c82d5&amp;oe=59F4F018">
          <div class="interest-body layout-column flex" layout="column" flex="">
            <h4 class="name-interest ">Megastar Chiranjeevi</h4>
            <h5 class="type-interest ">Artist</h5>
          </div>
        </li><li  layout="row" flex-gt-sm="50" flex-sm="100" flex-xs="100" class=" layout-row flex-xs-100 flex-sm-100 flex-gt-sm-50">
          <img ng-src="https://scontent.xx.fbcdn.net/v/t1.0-1/p50x50/13062387_955296891232544_7641704941858396660_n.jpg?oh=fc03345d2692f4d004989192d9b0951d&amp;oe=59F7F2BB" class="avatar img-responsive img-rounded" src="https://scontent.xx.fbcdn.net/v/t1.0-1/p50x50/13062387_955296891232544_7641704941858396660_n.jpg?oh=fc03345d2692f4d004989192d9b0951d&amp;oe=59F7F2BB">
          <div class="interest-body layout-column flex" layout="column" flex="">
            <h4 class="name-interest ">Roops Hearty Creations</h4>
            <h5 class="type-interest ">Community</h5>
          </div>
        </li>
      </ul>
    </div> -->

  </div><!-- end ngIf: profile.user.usrLikes.length > 0 -->
</section>

</div>
      <!-- User listings -->
    </div>
  </div>
</div>
<!-- ngIf: !profile.isMe && profile.userListings && !profile.hasInstantRentListing -->

</div>

</div>
<!-- verify your identity -->
<div id="Verifymodal" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Verify your Identity</h4>
      </div>
      <div class="modal-body">
        <form>
          <div class="row">
            <div class="col-lg-6">
              <div class="form-group label-heading-top">
                <label>Emirates id</label>
                <md-checkbox class="md-check-emi-pass" ng-model="emirates" aria-label="Checkbox 1" ng-change="checkemi()">
                </md-checkbox>
              </div>
            </div>
            <div class="col-lg-6">
              <div class="form-group label-heading-top">
                <label>Passport</label>
                <md-checkbox class="md-check-emi-pass" ng-model="passportcheck" aria-label="Checkbox 1" ng-change="checkpass()">
                </md-checkbox>
              </div>
            </div>
          </div>
          <!-- emirates id form -->
          <div class="row" ng-show="emirates">
            <div class="col-lg-6">
              <div class="form-group">
                <label>Emirates id number</label>
                <input type="text" class="form-control" placeholder="Emirates id number" ng-model="security.emirates_id" style="color: #333;">
              </div>
            </div>
            <div class="col-lg-6">
              <div class="form-group">
                <label >Emirates id expiry date</label>
                <input type="text" class="form-control" placeholder="Enter date" ng-model="security.expiry_date" style="color: #333;" id="Emiratesexpiry">
              </div>
            </div>
            <div class="col-lg-6">
              <div class="form-group">
                <label >Emirates id front (image)</label>
                <div style="clear:both"></div>
                <input type="button" class="btn btn-primary" value="Upload front image" style="width:100%;" ng-click="UploadFront()">
              </div>
              <div class="show-front-image" style="display:none;">
                <img id="frontimage" style="height: 200px;    max-width: 100%;">
              </div>
            </div>
            <div class="col-lg-6">
              <div class="form-group">
                <label >Emirates id back (image)</label>
                <input type="button" class="btn btn-primary" value="Upload back image" style="width:100%;" ng-click="UploadBack()">
              </div>
              <div class="show-back-image" style="display:none;">
                <img id="backimage" style="height: 200px;    max-width: 100%;">
              </div>
              <button type="submit" class="btn btn-default pull-right" ng-click="Checkemirates()" style="margin-top:10px;">Submit</button>
             <div style="clear:both"></div>
            </div>
          </div>
          <!-- emirates id form end-->
          <!-- passport form -->
          <div class="row" ng-show="passportcheck">
            <div class="col-lg-6">
              <div class="form-group">
                <label>Passport number</label>
                <input type="text" class="form-control" placeholder="Passport number" ng-model="passport.passport_number" style="color: #333;">
              </div>
            </div>
            <div class="col-lg-6">
              <div class="form-group">
                <label >Passport expiry date</label>
                <input type="text" class="form-control" placeholder="Enter date" ng-model="passport.passport_expiry_date" style="color: #333;" id="Passportexpiry">
              </div>
            </div>
            <div class="col-lg-6">
              <div class="form-group">
                <label >Passport front (image)</label>
                <div style="clear:both"></div>
                <input type="button" class="btn btn-primary" value="Upload front image" style="width:100%;" ng-click="PassportUploadFront()">
              </div>
              <div class="passport-show-front-image" style="display:none;">
                <img id="passportfrontimage" style="height: 200px;    max-width: 100%;">
              </div>
            </div>
            <div class="col-lg-6">
              <div class="form-group">
                <label >Passport back (image)</label>
                <input type="button" class="btn btn-primary" value="Upload back image" style="width:100%;" ng-click="PassportUploadBack()">
              </div>
              <div class="passport-show-back-image" style="display:none;">
                <img id="passportbackimage" style="height: 200px;    max-width: 100%;">
              </div>
              <button type="submit" class="btn btn-default pull-right" ng-click="Checkpassport()" style="margin-top:10px;">Submit</button>
             <div style="clear:both"></div>
            </div>
          </div>
          <!-- passport id form end-->
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>

  </div>
</div>
<script type="text/javascript">
  $("#Emiratesexpiry").datepicker({
    minDate: 0,
    changeMonth: true,  
    changeYear: true,
    dateFormat: 'yy-mm-dd'
  });
  $("#Passportexpiry").datepicker({
    minDate: 0,
    changeMonth: true,  
    changeYear: true,
    dateFormat: 'yy-mm-dd'
  });
</script>
<style type="text/css">
    /*loading icon css */
    @-moz-keyframes rotate-loading {
    0%  {transform: rotate(0deg);-ms-transform: rotate(0deg); -webkit-transform: rotate(0deg); -o-transform: rotate(0deg); -moz-transform: rotate(0deg);}
    100% {transform: rotate(360deg);-ms-transform: rotate(360deg); -webkit-transform: rotate(360deg); -o-transform: rotate(360deg); -moz-transform: rotate(360deg);}
}
 
@-o-keyframes rotate-loading {
    0%  {transform: rotate(0deg);-ms-transform: rotate(0deg); -webkit-transform: rotate(0deg); -o-transform: rotate(0deg); -moz-transform: rotate(0deg);}
    100% {transform: rotate(360deg);-ms-transform: rotate(360deg); -webkit-transform: rotate(360deg); -o-transform: rotate(360deg); -moz-transform: rotate(360deg);}
}
 
@-webkit-keyframes rotate-loading {
    0%  {transform: rotate(0deg);-ms-transform: rotate(0deg); -webkit-transform: rotate(0deg); -o-transform: rotate(0deg); -moz-transform: rotate(0deg);}
    100% {transform: rotate(360deg);-ms-transform: rotate(360deg); -webkit-transform: rotate(360deg); -o-transform: rotate(360deg); -moz-transform: rotate(360deg);}
}
 
@keyframes rotate-loading {
    0%  {transform: rotate(0deg);-ms-transform: rotate(0deg); -webkit-transform: rotate(0deg); -o-transform: rotate(0deg); -moz-transform: rotate(0deg);}
    100% {transform: rotate(360deg);-ms-transform: rotate(360deg); -webkit-transform: rotate(360deg); -o-transform: rotate(360deg); -moz-transform: rotate(360deg);}
}
 
@-moz-keyframes loading-text-opacity {
    0%  {opacity: 0}
    20% {opacity: 0}
    50% {opacity: 1}
    100%{opacity: 0}
}
 
 
@-o-keyframes loading-text-opacity {
    0%  {opacity: 0}
    20% {opacity: 0}
    50% {opacity: 1}
    100%{opacity: 0}
}
 
@-webkit-keyframes loading-text-opacity {
    0%  {opacity: 0}
    20% {opacity: 0}
    50% {opacity: 1}
    100%{opacity: 0}
}
 
@keyframes loading-text-opacity {
    0%  {opacity: 0}
    20% {opacity: 0}
    50% {opacity: 1}
    100%{opacity: 0}
}
 
.loading-container,
.loading {
    height: 100px;
    position: relative;
    width: 100px;
    border-radius: 100%;
}
 
.loading-container { margin: 40px auto; }
 
.loading {
    border: 2px solid transparent;
    border-color: transparent #000 transparent #000;
    -moz-animation: rotate-loading 1.5s linear 0s infinite normal;
    -moz-transform-origin: 50% 50%;
    -o-animation: rotate-loading 1.5s linear 0s infinite normal;
    -o-transform-origin: 50% 50%;
    -webkit-animation: rotate-loading 1.5s linear 0s infinite normal;
    -webkit-transform-origin: 50% 50%;
    animation: rotate-loading 1.5s linear 0s infinite normal;
    transform-origin: 50% 50%;
}
 
.loading-container:hover .loading {
    border-color: transparent #E45635 transparent #E45635;
}
 
.loading-container:hover .loading,
.loading-container .loading {
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}
 
#loading-text {
    -moz-animation: loading-text-opacity 2s linear 0s infinite normal;
    -o-animation: loading-text-opacity 2s linear 0s infinite normal;
    -webkit-animation: loading-text-opacity 2s linear 0s infinite normal;
    animation: loading-text-opacity 2s linear 0s infinite normal;
    color: #000;
    font-family: "Helvetica Neue", "Helvetica", "Arial", sans-serif;
    font-size: 10px;
    font-weight: bold;
    margin-top: 45px;
    opacity: 0;
    position: absolute;
    text-align: center;
    text-transform: uppercase;
    top: 0;
    width: 100px;
}
.input-color{
  color: #333 !important;
}
</style>