
<div class="pos-relative ng-scope layout-column flex" flex="" layout="column">
  <!-- uiView: --><div flex="noshrink" layout="column" class="ng-scope layout-column flex-noshrink"><div id="request-password" class="ng-scope">
  <div class="sm-box">
    <div class="body">
      <div class="ng-scope">
        <form name="form" class="" ng-submit="resetPassword()">
          <!-- <div custom-input="" name="newPassword" layout="" error="request.submitted" class="ng-isolate-scope input-box layout-row">
            <input type="password" name="current" flex="" ng-model="current" placeholder="Current password" required="">
          </div> -->
          <div custom-input="" name="newPassword" layout="" class="ng-isolate-scope input-box layout-row">
            <input type="password" name="new" flex="" ng-model="password" placeholder="New password" required="">
          </div>
          <div custom-input="" name="newPassword" layout="" class="ng-isolate-scope input-box layout-row">
            <input type="password" name="confirm" flex="" ng-model="c_password" placeholder="Confirm password" required="">
          </div>
          
          <button class="btn-common orange-btn md-button md-ink-ripple pwd-submit-btn" type="submit"  ng-click="forgotPassword()"><span class="pwd-submit-btn">
            Reset your password
          </span></button>
          <button class="btn-common orange-btn md-button md-ink-ripple pwd-update" type="submit" ng-if="loading"><span class="pwd-update"><i class="fa fa-spinner fa-spin"></i>Processing...</span></button>
        </form>
      </div><!-- end ngIf: !request.success -->
    </div>
  </div>
</div>
</div>
</div>
