  <div id="testimonials" class="">
  <div class="heading-container">
    <div class="container layout-xs-column layout-sm-column layout-align-start-center layout-row" layout="" layout-align="start center" layout-xs="column" layout-sm="column">
      <img src="https://roomiapp.com/assets/images/testimonials/257b551b.testimonials-image.png" alt="">
      <div class="testimonial-header white flex-order-gt-sm--1" flex-order-gt-sm="-1">
        <h2 class="title">Hear what our users have to say</h2>
        <md-divider class="primary-color"></md-divider>
      </div>
    </div>
  </div>
  <div class="container pb20 text-center">
    <md-list layout="" class="testimonial-list-container layout-xs-column layout-row" layout-xs="column" role="list">
      <!-- ngRepeat: page in vm.quotePages --><div flex="" class=" flex">
        <!-- ngRepeat: quote in page | limitTo: vm.limit --><md-list-item  class="mb20 transitions md-no-proxy  _md md-clickable" role="listitem">
          <div class="testimonial-container md-whiteframe-2dp layout-column" md-whiteframe="2"  layout="column"  role="button" tabindex="0">
            <div layout="" flex="" class="layout-row flex">
              <md-icon class="transitions" md-svg-icon="assets/images/testimonials/60d7080c.quote.svg" role="img" aria-label="assets/images/testimonials/60d7080c.quote.svg"><svg width="100%" height="100%" viewBox="0 0 35 28" xmlns="http://www.w3.org/2000/svg" fit="" preserveAspectRatio="xMidYMid meet" focusable="false"><path d="M15.664 21.172c0 1.667-.67 3.125-2.012 4.375-1.34 1.25-2.923 1.875-4.746 1.875-2.864 0-5.065-.95-6.6-2.852C.767 22.67 0 20.04 0 16.68c0-3.125 1.322-6.276 3.965-9.453C6.608 4.05 9.792 1.64 13.515 0l1.72 2.773c-2.943 1.433-5.248 3.1-6.915 5-1.666 1.9-2.63 4.206-2.89 6.915h2.187c1.615 0 2.93.182 3.946.546 1.015.365 1.835.873 2.46 1.524.6.625 1.023 1.315 1.27 2.07.247.755.37 1.537.37 2.344zm19.258 0c0 1.667-.67 3.125-2.012 4.375-1.34 1.25-2.923 1.875-4.746 1.875-2.865 0-5.065-.95-6.602-2.852-1.536-1.9-2.304-4.53-2.304-7.89 0-3.125 1.32-6.276 3.965-9.453C25.866 4.05 29.05 1.64 32.773 0l1.72 2.773c-2.944 1.433-5.248 3.1-6.915 5-1.667 1.9-2.63 4.206-2.89 6.915h2.187c1.615 0 2.93.182 3.945.546 1.016.365 1.836.873 2.46 1.524.6.625 1.023 1.315 1.27 2.07.248.755.372 1.537.372 2.344z"></path></svg></md-icon>
              <div class="quote-text transitions flex" flex="">
                <p class="">I did find my new roommate through Roomi! It felt much safer and easier through Roomi than other sites I listed through. I recommended it to my brother who's also looking for a roommate.</p>
              </div>
            </div>
            <div class="quote-name mt20">
              <span class="">Amanda</span>
            </div>
          </div>
        <div class="md-secondary-container"></div></md-list-item><!-- end ngRepeat: quote in page | limitTo: vm.limit --><md-list-item  class="mb20 transitions md-no-proxy  _md md-clickable" role="listitem">
          <div class="testimonial-container md-whiteframe-2dp layout-column" md-whiteframe="2"  layout="column"  role="button" tabindex="0">
            <div layout="" flex="" class="layout-row flex">
              <md-icon class="transitions" md-svg-icon="assets/images/testimonials/60d7080c.quote.svg" role="img" aria-label="assets/images/testimonials/60d7080c.quote.svg"><svg width="100%" height="100%" viewBox="0 0 35 28" xmlns="http://www.w3.org/2000/svg" fit="" preserveAspectRatio="xMidYMid meet" focusable="false"><path d="M15.664 21.172c0 1.667-.67 3.125-2.012 4.375-1.34 1.25-2.923 1.875-4.746 1.875-2.864 0-5.065-.95-6.6-2.852C.767 22.67 0 20.04 0 16.68c0-3.125 1.322-6.276 3.965-9.453C6.608 4.05 9.792 1.64 13.515 0l1.72 2.773c-2.943 1.433-5.248 3.1-6.915 5-1.666 1.9-2.63 4.206-2.89 6.915h2.187c1.615 0 2.93.182 3.946.546 1.015.365 1.835.873 2.46 1.524.6.625 1.023 1.315 1.27 2.07.247.755.37 1.537.37 2.344zm19.258 0c0 1.667-.67 3.125-2.012 4.375-1.34 1.25-2.923 1.875-4.746 1.875-2.865 0-5.065-.95-6.602-2.852-1.536-1.9-2.304-4.53-2.304-7.89 0-3.125 1.32-6.276 3.965-9.453C25.866 4.05 29.05 1.64 32.773 0l1.72 2.773c-2.944 1.433-5.248 3.1-6.915 5-1.667 1.9-2.63 4.206-2.89 6.915h2.187c1.615 0 2.93.182 3.945.546 1.016.365 1.836.873 2.46 1.524.6.625 1.023 1.315 1.27 2.07.248.755.372 1.537.372 2.344z"></path></svg></md-icon>
              <div class="quote-text transitions flex" flex="">
                <p class="">I moved to Boston right after graduating college and didn't know anyone in the city to room with. I found a great apartment with ease moved in within a week. When a room opened up in our apartment, we used the app to list the room. It is super easy to chat with people and arrange apartment viewings through the messenger. This app is way more efficient than online search engines and other sources.</p>
              </div>
            </div>
            <div class="quote-name mt20">
              <span class="">Celine</span>
            </div>
          </div>
        <div class="md-secondary-container"></div></md-list-item><!-- end ngRepeat: quote in page | limitTo: vm.limit --><md-list-item  class="mb20 transitions md-no-proxy  _md md-clickable" role="listitem">
          <div class="testimonial-container md-whiteframe-2dp layout-column" md-whiteframe="2"  layout="column"  role="button" tabindex="0">
            <div layout="" flex="" class="layout-row flex">
              <md-icon class="transitions" md-svg-icon="assets/images/testimonials/60d7080c.quote.svg" role="img" aria-label="assets/images/testimonials/60d7080c.quote.svg"><svg width="100%" height="100%" viewBox="0 0 35 28" xmlns="http://www.w3.org/2000/svg" fit="" preserveAspectRatio="xMidYMid meet" focusable="false"><path d="M15.664 21.172c0 1.667-.67 3.125-2.012 4.375-1.34 1.25-2.923 1.875-4.746 1.875-2.864 0-5.065-.95-6.6-2.852C.767 22.67 0 20.04 0 16.68c0-3.125 1.322-6.276 3.965-9.453C6.608 4.05 9.792 1.64 13.515 0l1.72 2.773c-2.943 1.433-5.248 3.1-6.915 5-1.666 1.9-2.63 4.206-2.89 6.915h2.187c1.615 0 2.93.182 3.946.546 1.015.365 1.835.873 2.46 1.524.6.625 1.023 1.315 1.27 2.07.247.755.37 1.537.37 2.344zm19.258 0c0 1.667-.67 3.125-2.012 4.375-1.34 1.25-2.923 1.875-4.746 1.875-2.865 0-5.065-.95-6.602-2.852-1.536-1.9-2.304-4.53-2.304-7.89 0-3.125 1.32-6.276 3.965-9.453C25.866 4.05 29.05 1.64 32.773 0l1.72 2.773c-2.944 1.433-5.248 3.1-6.915 5-1.667 1.9-2.63 4.206-2.89 6.915h2.187c1.615 0 2.93.182 3.945.546 1.016.365 1.836.873 2.46 1.524.6.625 1.023 1.315 1.27 2.07.248.755.372 1.537.372 2.344z"></path></svg></md-icon>
              <div class="quote-text transitions flex" flex="">
                <p class="">Thank you very much for your services! I found a roommate through Roomi!</p>
              </div>
            </div>
            <div class="quote-name mt20">
              <span class="">Nichole</span>
            </div>
          </div>
        <div class="md-secondary-container"></div></md-list-item><!-- end ngRepeat: quote in page | limitTo: vm.limit --><md-list-item  class="mb20 transitions md-no-proxy  _md md-clickable" role="listitem">
          <div class="testimonial-container md-whiteframe-2dp layout-column" md-whiteframe="2"  layout="column"  role="button" tabindex="0">
            <div layout="" flex="" class="layout-row flex">
              <md-icon class="transitions" md-svg-icon="assets/images/testimonials/60d7080c.quote.svg" role="img" aria-label="assets/images/testimonials/60d7080c.quote.svg"><svg width="100%" height="100%" viewBox="0 0 35 28" xmlns="http://www.w3.org/2000/svg" fit="" preserveAspectRatio="xMidYMid meet" focusable="false"><path d="M15.664 21.172c0 1.667-.67 3.125-2.012 4.375-1.34 1.25-2.923 1.875-4.746 1.875-2.864 0-5.065-.95-6.6-2.852C.767 22.67 0 20.04 0 16.68c0-3.125 1.322-6.276 3.965-9.453C6.608 4.05 9.792 1.64 13.515 0l1.72 2.773c-2.943 1.433-5.248 3.1-6.915 5-1.666 1.9-2.63 4.206-2.89 6.915h2.187c1.615 0 2.93.182 3.946.546 1.015.365 1.835.873 2.46 1.524.6.625 1.023 1.315 1.27 2.07.247.755.37 1.537.37 2.344zm19.258 0c0 1.667-.67 3.125-2.012 4.375-1.34 1.25-2.923 1.875-4.746 1.875-2.865 0-5.065-.95-6.602-2.852-1.536-1.9-2.304-4.53-2.304-7.89 0-3.125 1.32-6.276 3.965-9.453C25.866 4.05 29.05 1.64 32.773 0l1.72 2.773c-2.944 1.433-5.248 3.1-6.915 5-1.667 1.9-2.63 4.206-2.89 6.915h2.187c1.615 0 2.93.182 3.945.546 1.016.365 1.836.873 2.46 1.524.6.625 1.023 1.315 1.27 2.07.248.755.372 1.537.372 2.344z"></path></svg></md-icon>
              <div class="quote-text transitions flex" flex="">
                <p class="">I was having a hard time finding a roommate in a pinch after the one I had set up bailed last minute. Craigslist gave me scammers and other apps I tried gave me leads but nothing more. Roomi gave me a new roommate in a few weeks versus the two months I had had without success. My Roomi has been here a month and it's working out well!</p>
              </div>
            </div>
            <div class="quote-name mt20">
              <span class="">Elena</span>
            </div>
          </div>
        <div class="md-secondary-container"></div></md-list-item><!-- end ngRepeat: quote in page | limitTo: vm.limit --><md-list-item  class="mb20 transitions md-no-proxy  _md md-clickable" role="listitem">
          <div class="testimonial-container md-whiteframe-2dp layout-column" md-whiteframe="2"  layout="column"  role="button" tabindex="0">
            <div layout="" flex="" class="layout-row flex">
              <md-icon class="transitions" md-svg-icon="assets/images/testimonials/60d7080c.quote.svg" role="img" aria-label="assets/images/testimonials/60d7080c.quote.svg"><svg width="100%" height="100%" viewBox="0 0 35 28" xmlns="http://www.w3.org/2000/svg" fit="" preserveAspectRatio="xMidYMid meet" focusable="false"><path d="M15.664 21.172c0 1.667-.67 3.125-2.012 4.375-1.34 1.25-2.923 1.875-4.746 1.875-2.864 0-5.065-.95-6.6-2.852C.767 22.67 0 20.04 0 16.68c0-3.125 1.322-6.276 3.965-9.453C6.608 4.05 9.792 1.64 13.515 0l1.72 2.773c-2.943 1.433-5.248 3.1-6.915 5-1.666 1.9-2.63 4.206-2.89 6.915h2.187c1.615 0 2.93.182 3.946.546 1.015.365 1.835.873 2.46 1.524.6.625 1.023 1.315 1.27 2.07.247.755.37 1.537.37 2.344zm19.258 0c0 1.667-.67 3.125-2.012 4.375-1.34 1.25-2.923 1.875-4.746 1.875-2.865 0-5.065-.95-6.602-2.852-1.536-1.9-2.304-4.53-2.304-7.89 0-3.125 1.32-6.276 3.965-9.453C25.866 4.05 29.05 1.64 32.773 0l1.72 2.773c-2.944 1.433-5.248 3.1-6.915 5-1.667 1.9-2.63 4.206-2.89 6.915h2.187c1.615 0 2.93.182 3.945.546 1.016.365 1.836.873 2.46 1.524.6.625 1.023 1.315 1.27 2.07.248.755.372 1.537.372 2.344z"></path></svg></md-icon>
              <div class="quote-text transitions flex" flex="">
                <p class="">Finding a good roommate is hard. Roomi really helped me through the process and helped me find the best possible roommate. I would definitely recommend the app for anyone looking for a roommate.</p>
              </div>
            </div>
            <div class="quote-name mt20">
              <span class="">Jackson</span>
            </div>
          </div>
        <div class="md-secondary-container"></div></md-list-item><!-- end ngRepeat: quote in page | limitTo: vm.limit --><md-list-item  class="mb20 transitions md-no-proxy  _md md-clickable" role="listitem">
          <div class="testimonial-container md-whiteframe-2dp layout-column" md-whiteframe="2"  layout="column"  role="button" tabindex="0">
            <div layout="" flex="" class="layout-row flex">
              <md-icon class="transitions" md-svg-icon="assets/images/testimonials/60d7080c.quote.svg" role="img" aria-label="assets/images/testimonials/60d7080c.quote.svg"><svg width="100%" height="100%" viewBox="0 0 35 28" xmlns="http://www.w3.org/2000/svg" fit="" preserveAspectRatio="xMidYMid meet" focusable="false"><path d="M15.664 21.172c0 1.667-.67 3.125-2.012 4.375-1.34 1.25-2.923 1.875-4.746 1.875-2.864 0-5.065-.95-6.6-2.852C.767 22.67 0 20.04 0 16.68c0-3.125 1.322-6.276 3.965-9.453C6.608 4.05 9.792 1.64 13.515 0l1.72 2.773c-2.943 1.433-5.248 3.1-6.915 5-1.666 1.9-2.63 4.206-2.89 6.915h2.187c1.615 0 2.93.182 3.946.546 1.015.365 1.835.873 2.46 1.524.6.625 1.023 1.315 1.27 2.07.247.755.37 1.537.37 2.344zm19.258 0c0 1.667-.67 3.125-2.012 4.375-1.34 1.25-2.923 1.875-4.746 1.875-2.865 0-5.065-.95-6.602-2.852-1.536-1.9-2.304-4.53-2.304-7.89 0-3.125 1.32-6.276 3.965-9.453C25.866 4.05 29.05 1.64 32.773 0l1.72 2.773c-2.944 1.433-5.248 3.1-6.915 5-1.667 1.9-2.63 4.206-2.89 6.915h2.187c1.615 0 2.93.182 3.945.546 1.016.365 1.836.873 2.46 1.524.6.625 1.023 1.315 1.27 2.07.248.755.372 1.537.372 2.344z"></path></svg></md-icon>
              <div class="quote-text transitions flex" flex="">
                <p class="">I loved my experience with Roomi. I moved for work and needed someone to take over the rest of my year long lease ASAP. Not only did I received more responses on Roomi than any other website I posted on, but the responses I received were from awesome girls!! Roomi felt safer than Craigslist and definitely more effective.</p>
              </div>
            </div>
            <div class="quote-name mt20">
              <span class="">Elle</span>
            </div>
          </div>
        <div class="md-secondary-container"></div></md-list-item><!-- end ngRepeat: quote in page | limitTo: vm.limit --><md-list-item  class="mb20 transitions md-no-proxy  _md md-clickable" role="listitem">
          <div class="testimonial-container md-whiteframe-2dp layout-column" md-whiteframe="2"  layout="column"  role="button" tabindex="0">
            <div layout="" flex="" class="layout-row flex">
              <md-icon class="transitions" md-svg-icon="assets/images/testimonials/60d7080c.quote.svg" role="img" aria-label="assets/images/testimonials/60d7080c.quote.svg"><svg width="100%" height="100%" viewBox="0 0 35 28" xmlns="http://www.w3.org/2000/svg" fit="" preserveAspectRatio="xMidYMid meet" focusable="false"><path d="M15.664 21.172c0 1.667-.67 3.125-2.012 4.375-1.34 1.25-2.923 1.875-4.746 1.875-2.864 0-5.065-.95-6.6-2.852C.767 22.67 0 20.04 0 16.68c0-3.125 1.322-6.276 3.965-9.453C6.608 4.05 9.792 1.64 13.515 0l1.72 2.773c-2.943 1.433-5.248 3.1-6.915 5-1.666 1.9-2.63 4.206-2.89 6.915h2.187c1.615 0 2.93.182 3.946.546 1.015.365 1.835.873 2.46 1.524.6.625 1.023 1.315 1.27 2.07.247.755.37 1.537.37 2.344zm19.258 0c0 1.667-.67 3.125-2.012 4.375-1.34 1.25-2.923 1.875-4.746 1.875-2.865 0-5.065-.95-6.602-2.852-1.536-1.9-2.304-4.53-2.304-7.89 0-3.125 1.32-6.276 3.965-9.453C25.866 4.05 29.05 1.64 32.773 0l1.72 2.773c-2.944 1.433-5.248 3.1-6.915 5-1.667 1.9-2.63 4.206-2.89 6.915h2.187c1.615 0 2.93.182 3.945.546 1.016.365 1.836.873 2.46 1.524.6.625 1.023 1.315 1.27 2.07.248.755.372 1.537.372 2.344z"></path></svg></md-icon>
              <div class="quote-text transitions flex" flex="">
                <p class="">I have already recommended Roomi to friends. I was able to explore several different places within my price range and met some great people.
         I was looking for a room at a good price point closer to a new job I had taken, which was quite a commute from where I was originally. I was able
          to secure a place and move in in a matter of weeks- no security deposit or credit check needed. This was fast and easy, the app is super user
           friendly- I definitely recommend. </p>
              </div>
            </div>
            <div class="quote-name mt20">
              <span class="">Courtney</span>
            </div>
          </div>
        <div class="md-secondary-container"></div></md-list-item><!-- end ngRepeat: quote in page | limitTo: vm.limit --><md-list-item  class="mb20 transitions md-no-proxy  _md md-clickable" role="listitem">
          <div class="testimonial-container md-whiteframe-2dp layout-column" md-whiteframe="2"  layout="column"  role="button" tabindex="0">
            <div layout="" flex="" class="layout-row flex">
              <md-icon class="transitions" md-svg-icon="assets/images/testimonials/60d7080c.quote.svg" role="img" aria-label="assets/images/testimonials/60d7080c.quote.svg"><svg width="100%" height="100%" viewBox="0 0 35 28" xmlns="http://www.w3.org/2000/svg" fit="" preserveAspectRatio="xMidYMid meet" focusable="false"><path d="M15.664 21.172c0 1.667-.67 3.125-2.012 4.375-1.34 1.25-2.923 1.875-4.746 1.875-2.864 0-5.065-.95-6.6-2.852C.767 22.67 0 20.04 0 16.68c0-3.125 1.322-6.276 3.965-9.453C6.608 4.05 9.792 1.64 13.515 0l1.72 2.773c-2.943 1.433-5.248 3.1-6.915 5-1.666 1.9-2.63 4.206-2.89 6.915h2.187c1.615 0 2.93.182 3.946.546 1.015.365 1.835.873 2.46 1.524.6.625 1.023 1.315 1.27 2.07.247.755.37 1.537.37 2.344zm19.258 0c0 1.667-.67 3.125-2.012 4.375-1.34 1.25-2.923 1.875-4.746 1.875-2.865 0-5.065-.95-6.602-2.852-1.536-1.9-2.304-4.53-2.304-7.89 0-3.125 1.32-6.276 3.965-9.453C25.866 4.05 29.05 1.64 32.773 0l1.72 2.773c-2.944 1.433-5.248 3.1-6.915 5-1.667 1.9-2.63 4.206-2.89 6.915h2.187c1.615 0 2.93.182 3.945.546 1.016.365 1.836.873 2.46 1.524.6.625 1.023 1.315 1.27 2.07.248.755.372 1.537.372 2.344z"></path></svg></md-icon>
              <div class="quote-text transitions flex" flex="">
                <p class="">I love the customer service provided. They are super helpful and reliable. The fact that I can see who I am looking talking to when 
        looking for a roommate is awesome compared to other sites or apps. And the process is super simple and no complaints on this end. I 
        found the perfect roommate and he is awesome. Thanks Roomi!</p>
              </div>
            </div>
            <div class="quote-name mt20">
              <span class="">Zulisadai</span>
            </div>
          </div>
        <div class="md-secondary-container"></div></md-list-item><!-- end ngRepeat: quote in page | limitTo: vm.limit -->
      </div><!-- end ngRepeat: page in vm.quotePages --><div flex=""  class=" flex">
        <!-- ngRepeat: quote in page | limitTo: vm.limit --><md-list-item  class="mb20 transitions md-no-proxy  _md md-clickable" role="listitem">
          <div class="testimonial-container md-whiteframe-2dp layout-column" md-whiteframe="2"  layout="column"  role="button" tabindex="0">
            <div layout="" flex="" class="layout-row flex">
              <md-icon class="transitions" md-svg-icon="assets/images/testimonials/60d7080c.quote.svg" role="img" aria-label="assets/images/testimonials/60d7080c.quote.svg"><svg width="100%" height="100%" viewBox="0 0 35 28" xmlns="http://www.w3.org/2000/svg" fit="" preserveAspectRatio="xMidYMid meet" focusable="false"><path d="M15.664 21.172c0 1.667-.67 3.125-2.012 4.375-1.34 1.25-2.923 1.875-4.746 1.875-2.864 0-5.065-.95-6.6-2.852C.767 22.67 0 20.04 0 16.68c0-3.125 1.322-6.276 3.965-9.453C6.608 4.05 9.792 1.64 13.515 0l1.72 2.773c-2.943 1.433-5.248 3.1-6.915 5-1.666 1.9-2.63 4.206-2.89 6.915h2.187c1.615 0 2.93.182 3.946.546 1.015.365 1.835.873 2.46 1.524.6.625 1.023 1.315 1.27 2.07.247.755.37 1.537.37 2.344zm19.258 0c0 1.667-.67 3.125-2.012 4.375-1.34 1.25-2.923 1.875-4.746 1.875-2.865 0-5.065-.95-6.602-2.852-1.536-1.9-2.304-4.53-2.304-7.89 0-3.125 1.32-6.276 3.965-9.453C25.866 4.05 29.05 1.64 32.773 0l1.72 2.773c-2.944 1.433-5.248 3.1-6.915 5-1.667 1.9-2.63 4.206-2.89 6.915h2.187c1.615 0 2.93.182 3.945.546 1.016.365 1.836.873 2.46 1.524.6.625 1.023 1.315 1.27 2.07.248.755.372 1.537.372 2.344z"></path></svg></md-icon>
              <div class="quote-text transitions flex" flex="">
                <p class="">I had never heard of Roomi but when I saw an add on Instagram I decided to download the app and give it a try. I am very impressed with the app and will refer my friends in the future to use it! I found a great roommate, she is moving in on this week! :)</p>
              </div>
            </div>
            <div class="quote-name mt20">
              <span class="">Jordan</span>
            </div>
          </div>
        <div class="md-secondary-container"></div></md-list-item><!-- end ngRepeat: quote in page | limitTo: vm.limit --><md-list-item  class="mb20 transitions md-no-proxy  _md md-clickable" role="listitem">
          <div class="testimonial-container md-whiteframe-2dp layout-column" md-whiteframe="2"  layout="column"  role="button" tabindex="0">
            <div layout="" flex="" class="layout-row flex">
              <md-icon class="transitions" md-svg-icon="assets/images/testimonials/60d7080c.quote.svg" role="img" aria-label="assets/images/testimonials/60d7080c.quote.svg"><svg width="100%" height="100%" viewBox="0 0 35 28" xmlns="http://www.w3.org/2000/svg" fit="" preserveAspectRatio="xMidYMid meet" focusable="false"><path d="M15.664 21.172c0 1.667-.67 3.125-2.012 4.375-1.34 1.25-2.923 1.875-4.746 1.875-2.864 0-5.065-.95-6.6-2.852C.767 22.67 0 20.04 0 16.68c0-3.125 1.322-6.276 3.965-9.453C6.608 4.05 9.792 1.64 13.515 0l1.72 2.773c-2.943 1.433-5.248 3.1-6.915 5-1.666 1.9-2.63 4.206-2.89 6.915h2.187c1.615 0 2.93.182 3.946.546 1.015.365 1.835.873 2.46 1.524.6.625 1.023 1.315 1.27 2.07.247.755.37 1.537.37 2.344zm19.258 0c0 1.667-.67 3.125-2.012 4.375-1.34 1.25-2.923 1.875-4.746 1.875-2.865 0-5.065-.95-6.602-2.852-1.536-1.9-2.304-4.53-2.304-7.89 0-3.125 1.32-6.276 3.965-9.453C25.866 4.05 29.05 1.64 32.773 0l1.72 2.773c-2.944 1.433-5.248 3.1-6.915 5-1.667 1.9-2.63 4.206-2.89 6.915h2.187c1.615 0 2.93.182 3.945.546 1.016.365 1.836.873 2.46 1.524.6.625 1.023 1.315 1.27 2.07.248.755.372 1.537.372 2.344z"></path></svg></md-icon>
              <div class="quote-text transitions flex" flex="">
                <p class="">This is a great app! Lots of potential roommates and I found one from the 4 who applied!</p>
              </div>
            </div>
            <div class="quote-name mt20">
              <span class="">Brad</span>
            </div>
          </div>
        <div class="md-secondary-container"></div></md-list-item><!-- end ngRepeat: quote in page | limitTo: vm.limit --><md-list-item  class="mb20 transitions md-no-proxy  _md md-clickable" role="listitem">
          <div class="testimonial-container md-whiteframe-2dp layout-column" md-whiteframe="2"  layout="column"  role="button" tabindex="0">
            <div layout="" flex="" class="layout-row flex">
              <md-icon class="transitions" md-svg-icon="assets/images/testimonials/60d7080c.quote.svg" role="img" aria-label="assets/images/testimonials/60d7080c.quote.svg"><svg width="100%" height="100%" viewBox="0 0 35 28" xmlns="http://www.w3.org/2000/svg" fit="" preserveAspectRatio="xMidYMid meet" focusable="false"><path d="M15.664 21.172c0 1.667-.67 3.125-2.012 4.375-1.34 1.25-2.923 1.875-4.746 1.875-2.864 0-5.065-.95-6.6-2.852C.767 22.67 0 20.04 0 16.68c0-3.125 1.322-6.276 3.965-9.453C6.608 4.05 9.792 1.64 13.515 0l1.72 2.773c-2.943 1.433-5.248 3.1-6.915 5-1.666 1.9-2.63 4.206-2.89 6.915h2.187c1.615 0 2.93.182 3.946.546 1.015.365 1.835.873 2.46 1.524.6.625 1.023 1.315 1.27 2.07.247.755.37 1.537.37 2.344zm19.258 0c0 1.667-.67 3.125-2.012 4.375-1.34 1.25-2.923 1.875-4.746 1.875-2.865 0-5.065-.95-6.602-2.852-1.536-1.9-2.304-4.53-2.304-7.89 0-3.125 1.32-6.276 3.965-9.453C25.866 4.05 29.05 1.64 32.773 0l1.72 2.773c-2.944 1.433-5.248 3.1-6.915 5-1.667 1.9-2.63 4.206-2.89 6.915h2.187c1.615 0 2.93.182 3.945.546 1.016.365 1.836.873 2.46 1.524.6.625 1.023 1.315 1.27 2.07.248.755.372 1.537.372 2.344z"></path></svg></md-icon>
              <div class="quote-text transitions flex" flex="">
                <p class="">Maham was the first one who replied to my listing on Roomi, and she ended up being perfect, it was a great experience and I would totally recommend Roomi to anyone who is searching.</p>
              </div>
            </div>
            <div class="quote-name mt20">
              <span class="">Emily</span>
            </div>
          </div>
        <div class="md-secondary-container"></div></md-list-item><!-- end ngRepeat: quote in page | limitTo: vm.limit --><md-list-item  class="mb20 transitions md-no-proxy  _md md-clickable" role="listitem">
          <div class="testimonial-container md-whiteframe-2dp layout-column" md-whiteframe="2"  layout="column"  role="button" tabindex="0">
            <div layout="" flex="" class="layout-row flex">
              <md-icon class="transitions" md-svg-icon="assets/images/testimonials/60d7080c.quote.svg" role="img" aria-label="assets/images/testimonials/60d7080c.quote.svg"><svg width="100%" height="100%" viewBox="0 0 35 28" xmlns="http://www.w3.org/2000/svg" fit="" preserveAspectRatio="xMidYMid meet" focusable="false"><path d="M15.664 21.172c0 1.667-.67 3.125-2.012 4.375-1.34 1.25-2.923 1.875-4.746 1.875-2.864 0-5.065-.95-6.6-2.852C.767 22.67 0 20.04 0 16.68c0-3.125 1.322-6.276 3.965-9.453C6.608 4.05 9.792 1.64 13.515 0l1.72 2.773c-2.943 1.433-5.248 3.1-6.915 5-1.666 1.9-2.63 4.206-2.89 6.915h2.187c1.615 0 2.93.182 3.946.546 1.015.365 1.835.873 2.46 1.524.6.625 1.023 1.315 1.27 2.07.247.755.37 1.537.37 2.344zm19.258 0c0 1.667-.67 3.125-2.012 4.375-1.34 1.25-2.923 1.875-4.746 1.875-2.865 0-5.065-.95-6.602-2.852-1.536-1.9-2.304-4.53-2.304-7.89 0-3.125 1.32-6.276 3.965-9.453C25.866 4.05 29.05 1.64 32.773 0l1.72 2.773c-2.944 1.433-5.248 3.1-6.915 5-1.667 1.9-2.63 4.206-2.89 6.915h2.187c1.615 0 2.93.182 3.945.546 1.016.365 1.836.873 2.46 1.524.6.625 1.023 1.315 1.27 2.07.248.755.372 1.537.372 2.344z"></path></svg></md-icon>
              <div class="quote-text transitions flex" flex="">
                <p class="">We found an awesome new housemate through roomi!!!! It was so easy to use and a really great app! I would say, I didn't get push notifications for every message that came through, so might be something to look into in the future! Thanks for everything!</p>
              </div>
            </div>
            <div class="quote-name mt20">
              <span class="">Elisabeth</span>
            </div>
          </div>
        <div class="md-secondary-container"></div></md-list-item><!-- end ngRepeat: quote in page | limitTo: vm.limit --><md-list-item  class="mb20 transitions md-no-proxy  _md md-clickable" role="listitem">
          <div class="testimonial-container md-whiteframe-2dp layout-column" md-whiteframe="2"  layout="column"  role="button" tabindex="0">
            <div layout="" flex="" class="layout-row flex">
              <md-icon class="transitions" md-svg-icon="assets/images/testimonials/60d7080c.quote.svg" role="img" aria-label="assets/images/testimonials/60d7080c.quote.svg"><svg width="100%" height="100%" viewBox="0 0 35 28" xmlns="http://www.w3.org/2000/svg" fit="" preserveAspectRatio="xMidYMid meet" focusable="false"><path d="M15.664 21.172c0 1.667-.67 3.125-2.012 4.375-1.34 1.25-2.923 1.875-4.746 1.875-2.864 0-5.065-.95-6.6-2.852C.767 22.67 0 20.04 0 16.68c0-3.125 1.322-6.276 3.965-9.453C6.608 4.05 9.792 1.64 13.515 0l1.72 2.773c-2.943 1.433-5.248 3.1-6.915 5-1.666 1.9-2.63 4.206-2.89 6.915h2.187c1.615 0 2.93.182 3.946.546 1.015.365 1.835.873 2.46 1.524.6.625 1.023 1.315 1.27 2.07.247.755.37 1.537.37 2.344zm19.258 0c0 1.667-.67 3.125-2.012 4.375-1.34 1.25-2.923 1.875-4.746 1.875-2.865 0-5.065-.95-6.602-2.852-1.536-1.9-2.304-4.53-2.304-7.89 0-3.125 1.32-6.276 3.965-9.453C25.866 4.05 29.05 1.64 32.773 0l1.72 2.773c-2.944 1.433-5.248 3.1-6.915 5-1.667 1.9-2.63 4.206-2.89 6.915h2.187c1.615 0 2.93.182 3.945.546 1.016.365 1.836.873 2.46 1.524.6.625 1.023 1.315 1.27 2.07.248.755.372 1.537.372 2.344z"></path></svg></md-icon>
              <div class="quote-text transitions flex" flex="">
                <p class="">I recently moved to New York from Boston, and I knew almost no one in the city; everyone I *did* know already had housing, so I was anxious about being able to find a place from afar! I looked at craigslist first, but saw enough creepy looking ads that I quickly ditched that idea. When I signed up for Roomi, I found a bunch of options that fit my size/budget constraints almost immediately. I ended up Skype-chatting with my current roommate, and she gave me a virtual tour of the place while we bonded over shared interested (omg Star Wars). I've been really lucky to have made a great friend in my new roommate, and I'm really glad that I got to use Roomi to find her!</p>
              </div>
            </div>
            <div class="quote-name mt20">
              <span class="">Vicki</span>
            </div>
          </div>
        <div class="md-secondary-container"></div></md-list-item><!-- end ngRepeat: quote in page | limitTo: vm.limit --><md-list-item  class="mb20 transitions md-no-proxy  _md md-clickable" role="listitem">
          <div class="testimonial-container md-whiteframe-2dp layout-column" md-whiteframe="2"  layout="column"  role="button" tabindex="0">
            <div layout="" flex="" class="layout-row flex">
              <md-icon class="transitions" md-svg-icon="assets/images/testimonials/60d7080c.quote.svg" role="img" aria-label="assets/images/testimonials/60d7080c.quote.svg"><svg width="100%" height="100%" viewBox="0 0 35 28" xmlns="http://www.w3.org/2000/svg" fit="" preserveAspectRatio="xMidYMid meet" focusable="false"><path d="M15.664 21.172c0 1.667-.67 3.125-2.012 4.375-1.34 1.25-2.923 1.875-4.746 1.875-2.864 0-5.065-.95-6.6-2.852C.767 22.67 0 20.04 0 16.68c0-3.125 1.322-6.276 3.965-9.453C6.608 4.05 9.792 1.64 13.515 0l1.72 2.773c-2.943 1.433-5.248 3.1-6.915 5-1.666 1.9-2.63 4.206-2.89 6.915h2.187c1.615 0 2.93.182 3.946.546 1.015.365 1.835.873 2.46 1.524.6.625 1.023 1.315 1.27 2.07.247.755.37 1.537.37 2.344zm19.258 0c0 1.667-.67 3.125-2.012 4.375-1.34 1.25-2.923 1.875-4.746 1.875-2.865 0-5.065-.95-6.602-2.852-1.536-1.9-2.304-4.53-2.304-7.89 0-3.125 1.32-6.276 3.965-9.453C25.866 4.05 29.05 1.64 32.773 0l1.72 2.773c-2.944 1.433-5.248 3.1-6.915 5-1.667 1.9-2.63 4.206-2.89 6.915h2.187c1.615 0 2.93.182 3.945.546 1.016.365 1.836.873 2.46 1.524.6.625 1.023 1.315 1.27 2.07.248.755.372 1.537.372 2.344z"></path></svg></md-icon>
              <div class="quote-text transitions flex" flex="">
                <p class="">Thank you so much to the Roomi team for everything! I love the app and found the perfect roommate within a month! It worked out perfectly for the two of us and we are very happy here! I will definitely be using / recommending Roomi for myself and for others!(:</p>
              </div>
            </div>
            <div class="quote-name mt20">
              <span class="">Kailey</span>
            </div>
          </div>
        <div class="md-secondary-container"></div></md-list-item><!-- end ngRepeat: quote in page | limitTo: vm.limit --><md-list-item  class="mb20 transitions md-no-proxy  _md md-clickable" role="listitem">
          <div class="testimonial-container md-whiteframe-2dp layout-column" md-whiteframe="2"  layout="column"  role="button" tabindex="0">
            <div layout="" flex="" class="layout-row flex">
              <md-icon class="transitions" md-svg-icon="assets/images/testimonials/60d7080c.quote.svg" role="img" aria-label="assets/images/testimonials/60d7080c.quote.svg"><svg width="100%" height="100%" viewBox="0 0 35 28" xmlns="http://www.w3.org/2000/svg" fit="" preserveAspectRatio="xMidYMid meet" focusable="false"><path d="M15.664 21.172c0 1.667-.67 3.125-2.012 4.375-1.34 1.25-2.923 1.875-4.746 1.875-2.864 0-5.065-.95-6.6-2.852C.767 22.67 0 20.04 0 16.68c0-3.125 1.322-6.276 3.965-9.453C6.608 4.05 9.792 1.64 13.515 0l1.72 2.773c-2.943 1.433-5.248 3.1-6.915 5-1.666 1.9-2.63 4.206-2.89 6.915h2.187c1.615 0 2.93.182 3.946.546 1.015.365 1.835.873 2.46 1.524.6.625 1.023 1.315 1.27 2.07.247.755.37 1.537.37 2.344zm19.258 0c0 1.667-.67 3.125-2.012 4.375-1.34 1.25-2.923 1.875-4.746 1.875-2.865 0-5.065-.95-6.602-2.852-1.536-1.9-2.304-4.53-2.304-7.89 0-3.125 1.32-6.276 3.965-9.453C25.866 4.05 29.05 1.64 32.773 0l1.72 2.773c-2.944 1.433-5.248 3.1-6.915 5-1.667 1.9-2.63 4.206-2.89 6.915h2.187c1.615 0 2.93.182 3.945.546 1.016.365 1.836.873 2.46 1.524.6.625 1.023 1.315 1.27 2.07.248.755.372 1.537.372 2.344z"></path></svg></md-icon>
              <div class="quote-text transitions flex" flex="">
                <p class="">I've used a lot of other sites to find a roommate and Roomi made it a very easy process compared to the others. I was able to find
         someone who was similar to myself and had the same schedule/lifestyle. I got very lucky with my roommate find, and I credit Roomi for that!</p>
              </div>
            </div>
            <div class="quote-name mt20">
              <span class="">Ashley</span>
            </div>
          </div>
        <div class="md-secondary-container"></div></md-list-item><!-- end ngRepeat: quote in page | limitTo: vm.limit --><md-list-item  class="mb20 transitions md-no-proxy  _md md-clickable" role="listitem">
          <div class="testimonial-container md-whiteframe-2dp layout-column" md-whiteframe="2"  layout="column"  role="button" tabindex="0">
            <div layout="" flex="" class="layout-row flex">
              <md-icon class="transitions" md-svg-icon="assets/images/testimonials/60d7080c.quote.svg" role="img" aria-label="assets/images/testimonials/60d7080c.quote.svg"><svg width="100%" height="100%" viewBox="0 0 35 28" xmlns="http://www.w3.org/2000/svg" fit="" preserveAspectRatio="xMidYMid meet" focusable="false"><path d="M15.664 21.172c0 1.667-.67 3.125-2.012 4.375-1.34 1.25-2.923 1.875-4.746 1.875-2.864 0-5.065-.95-6.6-2.852C.767 22.67 0 20.04 0 16.68c0-3.125 1.322-6.276 3.965-9.453C6.608 4.05 9.792 1.64 13.515 0l1.72 2.773c-2.943 1.433-5.248 3.1-6.915 5-1.666 1.9-2.63 4.206-2.89 6.915h2.187c1.615 0 2.93.182 3.946.546 1.015.365 1.835.873 2.46 1.524.6.625 1.023 1.315 1.27 2.07.247.755.37 1.537.37 2.344zm19.258 0c0 1.667-.67 3.125-2.012 4.375-1.34 1.25-2.923 1.875-4.746 1.875-2.865 0-5.065-.95-6.602-2.852-1.536-1.9-2.304-4.53-2.304-7.89 0-3.125 1.32-6.276 3.965-9.453C25.866 4.05 29.05 1.64 32.773 0l1.72 2.773c-2.944 1.433-5.248 3.1-6.915 5-1.667 1.9-2.63 4.206-2.89 6.915h2.187c1.615 0 2.93.182 3.945.546 1.016.365 1.836.873 2.46 1.524.6.625 1.023 1.315 1.27 2.07.248.755.372 1.537.372 2.344z"></path></svg></md-icon>
              <div class="quote-text transitions flex" flex="">
                <p class="">Kate ended up finding me on Roomi and she is perfect. Though I would have preferred to finish the search sooner by being proactive and
         contacting candidates myself, I did end up with an awesome roommate, so I am happy.</p>
              </div>
            </div>
            <div class="quote-name mt20">
              <span class="">Tsvetana</span>
            </div>
          </div>
        <div class="md-secondary-container"></div></md-list-item><!-- end ngRepeat: quote in page | limitTo: vm.limit -->
      </div><!-- end ngRepeat: page in vm.quotePages -->
    </md-list>
    <!-- ngIf: vm.limit < vm.quotePages[0].length --><button class="md-button  md-ink-ripple" type="button"><span class="">Show More</span></button><!-- end ngIf: vm.limit < vm.quotePages[0].length -->
  </div>
</div>
