<div class="pos-relative ng-scope layout-column flex" flex="" layout="column">
  <!-- uiView: --><div flex="noshrink" layout="column" class="ng-scope layout-column flex-noshrink"><div id="settings" class="ng-scope">
  <form name="form">
    <md-whiteframe class="md-white md-whiteframe-2dp pos-relative layout-column" layout="column">
      <md-toolbar class="_md _md-toolbar-transitions">
        <div class="md-toolbar-tools md-bolder md-white">
          <h2 flex="" class="ng-binding flex">Settings </h2>
        </div>
      </md-toolbar>

      <md-content class="md-white phone-container form _md flex" flex=""><div class="md-subheader-wrapper ng-scope md-sticky-clone" aria-hidden="true" sticky-state="next" style="margin-left: 40px;"><div class="md-white text-uppercase text-bold md-subheader _md flex" flex="">  <div class="md-subheader-inner">    <div class="md-subheader-content"><span class="ng-scope">
          Personal
        </span></div>  </div></div></div>
        <div class="md-white text-uppercase text-bold md-subheader _md flex" flex="" role="heading" aria-level="2" sticky-state="next">  <div class="md-subheader-inner">    <div class="md-subheader-content"><span class="ng-scope">
          Personal
        </span></div>  </div></div>

        <div ng-class="{p0: settings.error.length === 0}" notification="settings.error" type="error" pad="30" class="ng-isolate-scope p0"><md-toolbar ng-show="notification" class="_md ng-hide _md-toolbar-transitions" aria-hidden="true">
    <div class="md-toolbar-tools notification error" style="padding: 0 30px;">
      <div flex="" class="notification-info-container layout-align-center-center layout-row flex" layout="" layout-align="center center">
        <!-- ngIf: center -->
        <md-icon class="s24 material-icons"><svg width="100%" height="100%" viewBox="0 0 34 34" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" fit="" preserveAspectRatio="xMidYMid meet" focusable="false">
      <!-- Generator: Sketch 39.1 (31720) - http://www.bohemiancoding.com/sketch -->
      <desc>Created with Sketch.</desc>
      <defs></defs>
      <path d="M16.9948972,0 C7.61910604,0 0.0205774878,7.59852855 0.0205774878,16.9743197 C0.0205774878,26.3501109 7.61910604,33.9897945 16.9948972,33.9897945 C26.3706884,33.9897945 33.969217,26.3460065 33.969217,17.0154747 C33.969217,7.63968352 26.3706884,0 16.9948972,0 L16.9948972,0 Z M16.9948972,32.3442055 C8.552969,32.3442055 1.66616639,25.4574029 1.66616639,17.0154747 C1.66616639,8.57354649 8.552969,1.6414845 16.9948972,1.6414845 C25.4368254,1.6414845 32.3236281,8.52828711 32.3236281,17.0154747 C32.3236281,25.5026623 25.4368254,32.3442055 16.9948972,32.3442055 L16.9948972,32.3442055 Z M17.8382414,23.9475367 C17.8382414,24.4371256 17.4391713,24.8361403 16.9496378,24.8361403 C16.4600489,24.8361403 16.0610343,24.4370701 16.0610343,23.9475367 C16.0610343,23.4579478 16.4601044,23.0589331 16.9496378,23.0589331 C17.4391713,23.0589331 17.8382414,23.4580033 17.8382414,23.9475367 L17.8382414,23.9475367 Z M16.1062936,19.5908222 L16.1062936,9.59382382 C16.1062936,9.14949429 16.4601044,8.79568352 16.9044339,8.79568352 C17.3487635,8.79568352 17.7025742,9.14949429 17.7025742,9.59382382 L17.7025742,19.5908222 C17.7025742,20.0351517 17.3487635,20.3889625 16.9044339,20.3889625 C16.4601044,20.4383263 16.1062936,20.0351517 16.1062936,19.5908222 L16.1062936,19.5908222 Z" id="Shape" stroke="none" fill-opacity="0.631821784" fill="#000000" fill-rule="evenodd"></path>
  </svg></md-icon>
        <span class="ng-binding"></span>
        <span flex="" class="flex"></span>
      </div>
      <!-- ngIf: dismissable --><button class="md-icon-button md-button ng-scope md-ink-ripple" type="button"  ng-click="hideMsg()" aria-label="Close">
        <md-icon class="s16 ng-scope"><svg width="100%" height="100%" viewBox="387 84 12 11" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" fit="" preserveAspectRatio="xMidYMid meet" focusable="false">
      <!-- Generator: Sketch 39.1 (31720) - http://www.bohemiancoding.com/sketch -->
      <desc>Created with Sketch.</desc>
      <defs></defs>
      <path d="M397.875985,85.613449 C398.109685,85.3797488 398.109685,85.0009212 397.875985,84.767221 C397.642584,84.5335208 397.263158,84.5335208 397.029757,84.767221 L393,88.796978 L388.970841,84.767221 C388.737441,84.5335208 388.358314,84.5335208 388.124613,84.767221 C387.890913,85.0009212 387.890913,85.3797488 388.124613,85.613449 L392.153772,89.643206 L387.876849,93.9201286 C387.643149,94.1538288 387.643149,94.5326564 387.876849,94.7663566 C387.99355,94.8833563 388.146757,94.9417066 388.299963,94.9417066 C388.45317,94.9417066 388.606377,94.8833563 388.723077,94.7663566 L393,90.489434 L397.276923,94.7663566 C397.393922,94.8833563 397.54683,94.9417066 397.700037,94.9417066 C397.853243,94.9417066 398.006151,94.8833563 398.123151,94.7663566 C398.356851,94.5326564 398.356851,94.1538288 398.123151,93.9201286 L393.846228,89.643206 L397.875985,85.613449 Z" id="Shape" stroke="none" fill-opacity="0.569604846" fill="#000000" fill-rule="evenodd"></path>
  </svg></md-icon>
      </button><!-- end ngIf: dismissable -->
    </div>
  </md-toolbar>
  </div>

        <!-- Email input (perma-disabled) -->
        <div flex="" layout="row" layout-xs="column" layout-align="start start" layout-align-xs="start stretch" class="layout-xs-column layout-align-xs-start-stretch layout-align-start-start layout-row flex">
          <span class="form-label text-bold">Email</span>
          <input class="custom-input input-displays ng-pristine ng-untouched ng-valid flex ng-not-empty ng-valid-required" flex="" type="text" name="email" ng-model="userInfo.user.email" required="" disabled="" aria-invalid="false">
        </div>

        <!-- Password -->
        <!-- <div flex="" layout="row" layout-xs="column" layout-align="start start" layout-align-xs="start stretch" class="layout-xs-column layout-align-xs-start-stretch layout-align-start-start layout-row flex">
          <span class="form-label text-bold">Password</span>
          <input class="custom-input input-displays flex" flex="" type="password" name="password" value="" disabled="">
        </div> -->

        <div flex="" class="text-center flex">
          <a data-toggle="modal" data-target="#changePassword">Change Password</a>
        </div>
        

        <!-- Phone # input -->
        <div flex="" layout="row" layout-xs="column" layout-align="start start" layout-align-xs="start stretch" class="layout-xs-column layout-align-xs-start-stretch layout-align-start-start layout-row flex" ng-class="{'has-error': form.tel.$invalid && form.tel.$touched, 'has-success': form.tel.$valid}">
          <span class="form-label text-bold">Phone</span>
          <!-- <input class="custom-input input-displays flex" flex="" name="phone" type="tel" id="phone"> -->
          <input type="text" class="custom-input input-displays flex" id="tel" name="tel" ng-model="userInfo.phone" ng-intl-tel-input>
          <!-- <span class="help-block" ng-show="form.tel.$pristine && form.tel.$untouched">Please type a telephone number</span>
          <span class="help-block" ng-show="form.tel.$invalid && form.tel.$touched">Invalid :(</span>
          <span class="help-block" ng-show="form.tel.$valid">Valid :)</span> -->
          <!-- ng-model="userInfo.phone" -->
        </div>
      </md-content>

      <!-- <md-divider></md-divider> -->
    <!-- <md-content class="md-white form _md flex" flex=""><div class="md-subheader-wrapper ng-scope md-sticky-clone" aria-hidden="true" sticky-state="next" style="margin-left: 40px;"><div class="text-uppercase text-bold md-white pb0 md-subheader _md flex" flex="">  <div class="md-subheader-inner">    <div class="md-subheader-content"><span class="ng-scope">
        Social
      </span></div>  </div></div></div>
      <div class="text-uppercase text-bold md-white pb0 md-subheader _md flex" flex="" role="heading" aria-level="2" sticky-state="next">  <div class="md-subheader-inner">    <div class="md-subheader-content"><span class="ng-scope">
        Social
      </span></div>  </div></div>
      <md-list role="list">
        <md-list-item role="listitem" class="md-no-proxy _md">
          <div layout="" flex="" layout-align="space-between center" class="mb10 layout-align-space-between-center layout-row flex">
            <span class="text-bold">LinkedIn</span>
            <button class="linked-in-button m0 md-button ng-scope md-ink-ripple" type="button" ng-click="settings.connectLinkedIn()">
              <md-icon class="s16 mr5 ng-scope" ><svg width="100%" height="100%" viewBox="0 0 17 17" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" fit="" preserveAspectRatio="xMidYMid meet" focusable="false">
  <defs></defs>
  <path d="M16.1488412,0 C16.3824935,0 16.5827648,0.083446151 16.7496593,0.250340696 C16.9165538,0.417235241 17,0.617506452 17,0.851158816 L17,16.1488405 C17,16.3824933 16.9165538,16.5827641 16.7496593,16.7496591 C16.5827648,16.9165538 16.3824935,17 16.1488412,17 L0.851159489,17 C0.617506677,17 0.417235914,16.9165538 0.25034092,16.7496591 C0.0834461735,16.5827641 0,16.3824933 0,16.1488405 L0,0.851158816 C0,0.617506452 0.0834461735,0.417235241 0.25034092,0.250340696 C0.417235914,0.083446151 0.617506677,0 0.851159489,0 L16.1488412,0 Z M5.35294877,13.8979223 L5.35294877,6.5617499 L3.10207769,6.5617499 L3.10207769,13.8979223 L5.35294877,13.8979223 Z M4.22751323,5.56136276 C4.58876503,5.56136276 4.90138468,5.42936767 5.16537484,5.16537484 C5.42936767,4.90138468 5.56136276,4.58876503 5.56136276,4.22751323 C5.56136276,3.86626142 5.42936767,3.55364177 5.16537484,3.28965161 C4.90138468,3.02565878 4.58876503,2.8936637 4.22751323,2.8936637 C3.86626142,2.8936637 3.55364177,3.02565878 3.28965028,3.28965161 C3.02565798,3.55364177 2.8936637,3.86626142 2.8936637,4.22751323 C2.8936637,4.61655445 3.01871076,4.93612079 3.26880888,5.18621758 C3.51890567,5.43631436 3.838472,5.56136276 4.22751323,5.56136276 Z M13.8979223,13.8979223 L13.8979223,9.85469093 C13.8979223,8.74314343 13.7103511,7.88865541 13.3352032,7.2912002 C12.960058,6.69374232 12.2445091,6.39501871 11.1885405,6.39501871 C10.1325718,6.39501871 9.4100762,6.7840546 9.02103497,7.56213705 L8.97935217,7.56213705 L8.97935217,6.5617499 L6.81184669,6.5617499 L6.81184669,13.8979223 L9.06271777,13.8979223 L9.06271777,10.2715189 C9.06271777,9.02102964 9.52122321,8.39579301 10.4382501,8.39579301 C10.7995019,8.39579301 11.0704388,8.51389204 11.2510633,8.75009545 C11.4316906,8.98630153 11.5358962,9.20860623 11.5636856,9.41702022 C11.5914751,9.62543687 11.6053684,9.92416048 11.6053684,10.3132017 L11.6053684,13.8979223 L13.8979223,13.8979223 Z" id="Combined-Shape" stroke="none" fill="#FFFFFF" fill-rule="evenodd"></path>
</svg></md-icon>
              <span class="ng-scope">Connect</span>
            </button>
          </div>
        <div class="md-secondary-container"></div></md-list-item>
      </md-list>

    </md-content> -->
    <md-divider></md-divider>
    <md-content class="md-white form ng-scope _md flex" flex="">
      <div class="text-uppercase text-bold md-white notification-section md-subheader _md flex" flex="" role="heading" aria-level="2" sticky-state="next">  <div class="md-subheader-inner">    <div class="md-subheader-content">
        <span class="ng-scope">Notifications</span>
        
      </div>  </div></div>
      <md-list role="list">
        <!-- ngRepeat: notification in settings.userNotifications --><md-list-item  role="listitem" class="md-proxy-focus ng-scope _md" tabindex="-1"><div class="md-no-style md-list-item-inner">
          <div class="text-bold ng-binding flex-40" flex="40">
            Email
          </div>
          <div flex="20" layout="" layout-align="center center" class="layout-align-center-center layout-row flex-20">
            <!-- ngIf: notification.email !== undefined -->
          </div>
          <div flex="20" layout="" layout-align="center center" class="layout-align-center-center layout-row flex-20">
            <!-- ngIf: notification.sms !== undefined -->
          </div>
          <div flex="20" layout="" layout-align="center center" class="layout-align-center-center layout-row flex-20">
            <md-switch ng-model="userInfo.notify_email" aria-label="Switch 1" ng-change="notifyEmail(userInfo.notify_email)">
          
        </md-switch>
          </div>
        <div class="md-secondary-container"></div></div></md-list-item><!-- end ngRepeat: notification in settings.userNotifications --><md-list-item  role="listitem" class="md-proxy-focus ng-scope _md" tabindex="-1"><div class="md-no-style md-list-item-inner">
          <div class="text-bold ng-binding flex-40" flex="40">
            SMS
          </div>
          <div flex="20" layout="" layout-align="center center" class="layout-align-center-center layout-row flex-20">
            <!-- ngIf: notification.email !== undefined -->
          </div>
          <div flex="20" layout="" layout-align="center center" class="layout-align-center-center layout-row flex-20">
            <!-- ngIf: notification.sms !== undefined -->
          </div>
          <div flex="20" layout="" layout-align="center center" class="layout-align-center-center layout-row flex-20">
            <md-switch ng-model="userInfo.notify_sms" aria-label="Switch 1" ng-change="notifySms(userInfo.notify_sms)">
          
        </md-switch>
          </div>
        <div class="md-secondary-container"></div></div></md-list-item>
      </md-list>
    </md-content><!-- end ngIf: settings.userNotifications | isNotEmpty -->
    <md-divider></md-divider>
      <md-content class="md-white _md flex" flex=""><div class="md-subheader-wrapper ng-scope md-sticky-clone" aria-hidden="true" sticky-state="next" style="margin-left: 40px;"><div class="text-uppercase text-bold md-white pb0 md-subheader _md flex" flex="">  <div class="md-subheader-inner">    <div class="md-subheader-content"><span class="ng-scope">
          Account
        </span></div>  </div></div></div>
        <div class="text-uppercase text-bold md-white pb0 md-subheader _md flex" flex="" role="heading" aria-level="2" sticky-state="next">  <div class="md-subheader-inner">    <div class="md-subheader-content"><span class="ng-scope">
          Account
        </span></div>  </div></div>
        <md-list role="list">
          <md-list-item role="listitem" class="md-no-proxy _md">
            <div layout="" flex="" layout-align="space-between center" class="layout-align-space-between-center layout-row flex">
              <span class="text-bold">Status</span>
              <button class="m0 md-button md-ink-ripple" type="button" ng-click="deactivate($event)"><span class="ng-scope">Deactivate Account</span></button>
            </div>
          <div class="md-secondary-container"></div></md-list-item>
          <md-list-item role="listitem" class="md-proxy-focus _md md-clickable" tabindex="-1"><div class="md-no-style md-list-item-inner md-ink-ripple">
            <div flex="" layout="row" layout-align="space-between center" class="layout-align-space-between-center layout-row flex">
              <span class="text-bold form-label mr5">Profile Viewable</span>
              <md-switch ng-model="userInfo.is_viewable" aria-label="Switch 1" ng-change="isViewable(userInfo.is_viewable)">
              </md-switch>
            </div>
          <div class="md-secondary-container"></div><div class="md-ripple-container"></div></div></md-list-item>
        </md-list>
      </md-content>
      <div flex="" class="mt5 layout-align-center-center layout-row flex" layout-align="center center" layout="row">
        <button class="btn-fill save-button md-button md-ink-ripple update-user-submit" type="button" ng-click="updateSettingDetails(userInfo)" ><span class="ng-scope">
          Save
        </span></button>
        <button class="btn-fill save-button md-button md-ink-ripple update-user-disable" type="button" ng-click="updateSettingDetails(userInfo)" ng-if="loading"><span class="ng-scope">
          Updating...
        </span></button>
      </div>
    </md-whiteframe>
  </form>
</div>
</div>
  <intercom scroll-fix-element="" direction="bottom" top=".header-container" hide-xs="" hide-sm="" id="custom-intercom-container" class="hide-sm hide-xs ng-isolate-scope fixed-bottom"><div class="custom-intercom-btn">
  <!-- ngIf: $ctrl.unread.count -->
</div>
</intercom>
</div>
<!-- change password Modal -->
<div class="modal fade" id="changePassword" role="dialog">
  <div class="modal-dialog" style="width:480px;">
  
    <!-- Modal content-->
    <div class="modal-content" style="border-radius: 0px;">
      <div class="modal-body" style="padding:0px;">
        <div id="change-password-form">
          <md-icon data-dismiss="modal" class="svg-grey modal-close"><svg version="1.0" id="Layer_1_cache78" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="6 -6 48 48" style="enable-background:new 6 -6 48 48;" xml:space="preserve" fit="" height="100%" width="100%" preserveAspectRatio="xMidYMid meet" focusable="false">
        <path d="M42.6,28.5L32.1,18.1L42.6,7.8C42.8,7.5,43,7.1,43,6.7c0-0.4-0.2-0.8-0.5-1.1C41.9,5,41,5,40.4,5.6L30,16L19.6,5.4
          c-0.6-0.6-1.5-0.6-2.1,0c-0.2,0.3-0.4,0.7-0.4,1.1c0,0.4,0.1,0.8,0.4,1.1l10.4,10.5L17.4,28.5c-0.6,0.6-0.6,1.5,0,2.1
          c0.4,0.4,0.8,0.4,1.1,0.4s0.7,0,1.1-0.4L30,20.2l10.4,10.4c0.4,0.4,0.8,0.4,1.1,0.4c0.2,0,0.7,0,1.1-0.4
          C43.2,30,43.2,29.1,42.6,28.5z"></path>
        </svg></md-icon>

          <form novalidate="" name="change-password" class="container form layout-padding ng-pristine ng-valid-minlength ng-valid ng-valid-match-password" id="change-password-form">
            <div class="modal-title">
              Change Your Password
            </div>
            <div ng-class="{p0: changePassword.error.length === 0}" notification="changePassword.error" type="error" pad="30" class="ng-isolate-scope p0"><md-toolbar ng-show="notification" class="_md _md-toolbar-transitions ng-hide" aria-hidden="true">
          <div class="md-toolbar-tools notification error" style="padding: 0 30px;">
            <div flex="" class="notification-info-container layout-align-center-center layout-row flex" layout="" layout-align="center center">
              <!-- ngIf: center -->
              <md-icon class="s24 material-icons"><svg width="100%" height="100%" viewBox="0 0 34 34" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" fit="" preserveAspectRatio="xMidYMid meet" focusable="false">
            <!-- Generator: Sketch 39.1 (31720) - http://www.bohemiancoding.com/sketch -->
            <desc>Created with Sketch.</desc>
            <defs></defs>
            <path d="M16.9948972,0 C7.61910604,0 0.0205774878,7.59852855 0.0205774878,16.9743197 C0.0205774878,26.3501109 7.61910604,33.9897945 16.9948972,33.9897945 C26.3706884,33.9897945 33.969217,26.3460065 33.969217,17.0154747 C33.969217,7.63968352 26.3706884,0 16.9948972,0 L16.9948972,0 Z M16.9948972,32.3442055 C8.552969,32.3442055 1.66616639,25.4574029 1.66616639,17.0154747 C1.66616639,8.57354649 8.552969,1.6414845 16.9948972,1.6414845 C25.4368254,1.6414845 32.3236281,8.52828711 32.3236281,17.0154747 C32.3236281,25.5026623 25.4368254,32.3442055 16.9948972,32.3442055 L16.9948972,32.3442055 Z M17.8382414,23.9475367 C17.8382414,24.4371256 17.4391713,24.8361403 16.9496378,24.8361403 C16.4600489,24.8361403 16.0610343,24.4370701 16.0610343,23.9475367 C16.0610343,23.4579478 16.4601044,23.0589331 16.9496378,23.0589331 C17.4391713,23.0589331 17.8382414,23.4580033 17.8382414,23.9475367 L17.8382414,23.9475367 Z M16.1062936,19.5908222 L16.1062936,9.59382382 C16.1062936,9.14949429 16.4601044,8.79568352 16.9044339,8.79568352 C17.3487635,8.79568352 17.7025742,9.14949429 17.7025742,9.59382382 L17.7025742,19.5908222 C17.7025742,20.0351517 17.3487635,20.3889625 16.9044339,20.3889625 C16.4601044,20.4383263 16.1062936,20.0351517 16.1062936,19.5908222 L16.1062936,19.5908222 Z" id="Shape_cache79" stroke="none" fill-opacity="0.631821784" fill="#000000" fill-rule="evenodd"></path>
        </svg></md-icon>
              <span class="ng-binding"></span>
              <span flex="" class="flex"></span>
            </div>
            <!-- ngIf: dismissable --><button class="md-icon-button md-button ng-scope md-ink-ripple" type="button"  ng-if="dismissable" ng-click="hideMsg()" aria-label="Close">
              <md-icon class="s16 ng-scope" md-svg-icon="assets/stylesheets/svgs/generic/close.svg" aria-label="Close" md-labeled-by-tooltip="md-tooltip-80" role="img"><svg width="100%" height="100%" viewBox="387 84 12 11" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" fit="" preserveAspectRatio="xMidYMid meet" focusable="false">
            <!-- Generator: Sketch 39.1 (31720) - http://www.bohemiancoding.com/sketch -->
            <desc>Created with Sketch.</desc>
            <defs></defs>
            <path d="M397.875985,85.613449 C398.109685,85.3797488 398.109685,85.0009212 397.875985,84.767221 C397.642584,84.5335208 397.263158,84.5335208 397.029757,84.767221 L393,88.796978 L388.970841,84.767221 C388.737441,84.5335208 388.358314,84.5335208 388.124613,84.767221 C387.890913,85.0009212 387.890913,85.3797488 388.124613,85.613449 L392.153772,89.643206 L387.876849,93.9201286 C387.643149,94.1538288 387.643149,94.5326564 387.876849,94.7663566 C387.99355,94.8833563 388.146757,94.9417066 388.299963,94.9417066 C388.45317,94.9417066 388.606377,94.8833563 388.723077,94.7663566 L393,90.489434 L397.276923,94.7663566 C397.393922,94.8833563 397.54683,94.9417066 397.700037,94.9417066 C397.853243,94.9417066 398.006151,94.8833563 398.123151,94.7663566 C398.356851,94.5326564 398.356851,94.1538288 398.123151,93.9201286 L393.846228,89.643206 L397.875985,85.613449 Z" id="Shape_cache81" stroke="none" fill-opacity="0.569604846" fill="#000000" fill-rule="evenodd"></path>
        </svg></md-icon>
            </button><!-- end ngIf: dismissable -->
          </div>
        </md-toolbar>
        </div>
            <div flex="" layout="row" layout-xs="column" layout-align="start start" layout-align-xs="start stretch" class="layout-xs-column layout-align-xs-start-stretch layout-align-start-start layout-row flex">
              <input type="password" class="custom-input input-displays ng-pristine ng-untouched ng-valid flex ng-empty" placeholder="Current password" flex="" ng-model="changepassword.current_password" aria-invalid="false">
            </div>
            <div flex="" layout="row" layout-xs="column" layout-align="start start" layout-align-xs="start stretch" class="layout-xs-column layout-align-xs-start-stretch layout-align-start-start layout-row flex">
              <input type="password" class="custom-input input-displays ng-pristine ng-untouched ng-valid flex ng-empty ng-valid-minlength" placeholder="New password" flex="" ng-minlength="6" ng-model="changepassword.newpassword" aria-invalid="false">
            </div>
            <div flex="" layout="row" layout-xs="column" layout-align="start start" layout-align-xs="start stretch" class="layout-xs-column layout-align-xs-start-stretch layout-align-start-start layout-row flex">
              <input type="password" class="custom-input input-displays ng-pristine ng-untouched ng-isolate-scope flex ng-empty ng-valid-minlength ng-valid ng-valid-match-password" placeholder="Confirm password" flex="" ng-minlength="6" confirm-password="changePassword.newPassword" ng-model="changepassword.confirmpassword" aria-invalid="false">
            </div>

            <div flex="" layout="row" layout-xs="column" layout-align="start start" layout-align-xs="start stretch" class="layout-xs-column layout-align-xs-start-stretch layout-align-start-start layout-row flex">
              <button class="btn-fill save-button md-button md-ink-ripple change-pwd-submit" type="button"  ng-click="changePassword(changepassword)" ><span class="ng-scope">
                Save and Update
              </span></button>
              <button class="btn-fill save-button md-button md-ink-ripple change-pwd-disable" type="button" ng-if="loading"><i class="fa fa-spinner fa-spin"></i>Updating...</button>
            </div>
          </form>
        </div>
      </div>
    </div>
    
  </div>
</div>
<script>
  // $("#phone").intlTelInput();
</script>
