<div id="team-header" class="">
  <div class="content-container">
    <div class="va-middle text-center">
      <h1>Meet the Roomi Team</h1>
    </div>
  </div>
</div>
<div id="Articles" class="">
  <div class="container padding-10 gray-font">
    <div class="row padding-10 text-center">
      <div class="col-md-10 col-md-offset-1">
        <h1 class="gray-font">Let's Get Better Acquainted</h1>
        <p>Hey there! So nice of you to stop by to learn more about us. We're a diverse group from all around the world,
          working together for one common cause. It's a powerful thing. Connect with us, and let’s do amazing things together.</p>
      </div>
    </div>
    <div class="row text-center">
      <!-- ngRepeat: member in team.data --><div class="col-sm-6 padding-20 col-md-4 col-lg-3 col-xs-12 inline-block ">
        <div class="team-container">
          <div class="team-image" bg-image="member.images[0]" style="background-image: url(&quot;https://roomimembers.imgix.net/H_Zx1Ou_zZ/imageHZOeuOdf-.png&quot;); background-repeat: no-repeat; background-size: cover; background-position: 50% 50%;">
            <div class="gradient">
              <div class="member-info absolute-center">
                <p class="">Ajay</p>
                <span class="">Founder &amp; CEO</span>
              </div>
            </div>
          </div>
          <div class="team-overlay">
            <div class="team-image" bg-image="member.images[1]" style="background-image: url(&quot;https://roomimembers.imgix.net/H_Zx1Ou_zZ/imageBglWOuuzZ.png&quot;); background-repeat: no-repeat; background-size: cover; background-position: 50% 50%;">
              <div class="image-opacity">
                <div class="absolute-center">
                  <div class="team-description ">"Co-living is about opening up your heart and your mind, as well as your home, to the unknown — and embracing it. Each one of us has a story waiting to be told, and I believe that uniting people of all different backgrounds is how we can continue to make this world a smaller, more harmonious place."</div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="clearfix"></div>
      </div><!-- end ngRepeat: member in team.data --><div  class="col-sm-6 padding-20 col-md-4 col-lg-3 col-xs-12 inline-block ">
        <div class="team-container">
          <div class="team-image" bg-image="member.images[0]" style="background-image: url(&quot;https://roomimembers.imgix.net/SXdEOd_fW/imagermeOEuO_zb.png&quot;); background-repeat: no-repeat; background-size: cover; background-position: 50% 50%;">
            <div class="gradient">
              <div class="member-info absolute-center">
                <p class="">Alex</p>
                <span class="">Chief Operating Officer</span>
              </div>
            </div>
          </div>
          <div class="team-overlay">
            <div class="team-image" bg-image="member.images[1]" style="background-image: url(&quot;https://roomimembers.imgix.net/SXdEOd_fW/imager7bu4OOufb.png&quot;); background-repeat: no-repeat; background-size: cover; background-position: 50% 50%;">
              <div class="image-opacity">
                <div class="absolute-center">
                  <div class="team-description ">"People should have the confidence and freedom to move anywhere in the world and still feel at home —  who you live with makes all the difference. After all, life in a new city is always more fun with a partner in crime."</div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="clearfix"></div>
      </div><!-- end ngRepeat: member in team.data --><div  class="col-sm-6 padding-20 col-md-4 col-lg-3 col-xs-12 inline-block ">
        <div class="team-container">
          <div class="team-image" bg-image="member.images[0]" style="background-image: url(&quot;https://roomimembers.imgix.net/BwNqOduf-/imageHwg45duuMb.png&quot;); background-repeat: no-repeat; background-size: cover; background-position: 50% 50%;">
            <div class="gradient">
              <div class="member-info absolute-center">
                <p class="">David</p>
                <span class="">Chief Strategy Officer</span>
              </div>
            </div>
          </div>
          <div class="team-overlay">
            <div class="team-image" bg-image="member.images[1]" style="background-image: url(&quot;https://roomimembers.imgix.net/BwNqOduf-/imageSDZV9OddMZ.png&quot;); background-repeat: no-repeat; background-size: cover; background-position: 50% 50%;">
              <div class="image-opacity">
                <div class="absolute-center">
                  <div class="team-description ">"Roommates are a necessity for some a preference for others. Always fun though."</div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="clearfix"></div>
      </div><!-- end ngRepeat: member in team.data --><div  class="col-sm-6 padding-20 col-md-4 col-lg-3 col-xs-12 inline-block ">
        <div class="team-container">
          <div class="team-image" bg-image="member.images[0]" style="background-image: url(&quot;https://roomimembers.imgix.net/rd10uuuzW/imagerug10_u_Mb.png&quot;); background-repeat: no-repeat; background-size: cover; background-position: 50% 50%;">
            <div class="gradient">
              <div class="member-info absolute-center">
                <p class="">Adam G</p>
                <span class="">Head of Growth</span>
              </div>
            </div>
          </div>
          <div class="team-overlay">
            <div class="team-image" bg-image="member.images[1]" style="background-image: url(&quot;https://roomimembers.imgix.net/rd10uuuzW/imagerubkR_OOGb.png&quot;); background-repeat: no-repeat; background-size: cover; background-position: 50% 50%;">
              <div class="image-opacity">
                <div class="absolute-center">
                  <div class="team-description ">"If I wanted to live with roommate to cut costs, I’d still be living in my mom’s basement. Co-living is about turning strangers into friends and friends into family. I could split rent with anyone, but what’s the fun in that?"</div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="clearfix"></div>
      </div><!-- end ngRepeat: member in team.data --><div  class="col-sm-6 padding-20 col-md-4 col-lg-3 col-xs-12 inline-block ">
        <div class="team-container">
          <div class="team-image" bg-image="member.images[0]" style="background-image: url(&quot;https://roomimembers.imgix.net/HrS1kYufb/imageSHeSJkF_zZ.png&quot;); background-repeat: no-repeat; background-size: cover; background-position: 50% 50%;">
            <div class="gradient">
              <div class="member-info absolute-center">
                <p class="">Christine</p>
                <span class="">Executive Assistant</span>
              </div>
            </div>
          </div>
          <div class="team-overlay">
            <div class="team-image" bg-image="member.images[1]" style="background-image: url(&quot;https://roomimembers.imgix.net/HrS1kYufb/imageBSbS1kK_GZ.png&quot;); background-repeat: no-repeat; background-size: cover; background-position: 50% 50%;">
              <div class="image-opacity">
                <div class="absolute-center">
                  <div class="team-description ">"My roommates are the first people I go to when I need advice or am having a bad day. At first it was because they were just there, but now I turn to them because they have become my family. I think everyone should be able to have that experience with the people that they live with."</div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="clearfix"></div>
      </div><!-- end ngRepeat: member in team.data --><div  class="col-sm-6 padding-20 col-md-4 col-lg-3 col-xs-12 inline-block ">
        <div class="team-container">
          <div class="team-image" bg-image="member.images[0]" style="background-image: url(&quot;https://roomimembers.imgix.net/rFjB1t_f-/imageBtljS1tuz-.png&quot;); background-repeat: no-repeat; background-size: cover; background-position: 50% 50%;">
            <div class="gradient">
              <div class="member-info absolute-center">
                <p class="">Laura</p>
                <span class="">Human Resources &amp; Executive Assistant</span>
              </div>
            </div>
          </div>
          <div class="team-overlay">
            <div class="team-image" bg-image="member.images[1]" style="background-image: url(&quot;https://roomimembers.imgix.net/rFjB1t_f-/imageBKWjSkFdMZ.png&quot;); background-repeat: no-repeat; background-size: cover; background-position: 50% 50%;">
              <div class="image-opacity">
                <div class="absolute-center">
                  <div class="team-description ">"The people you live with need to understand your quirks. No reason to be fake in front of those you live with. That’s what co-living is all about: being yourself with people who get you!"</div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="clearfix"></div>
      </div><!-- end ngRepeat: member in team.data --><div  class="col-sm-6 padding-20 col-md-4 col-lg-3 col-xs-12 inline-block ">
        <div class="team-container">
          <div class="team-image" bg-image="member.images[0]" style="background-image: url(&quot;https://roomimembers.imgix.net/Hba2yKuMZ/imageBbxThyYOM-.png&quot;); background-repeat: no-repeat; background-size: cover; background-position: 50% 50%;">
            <div class="gradient">
              <div class="member-info absolute-center">
                <p class="">Chumi</p>
                <span class="">Marketing Manager</span>
              </div>
            </div>
          </div>
          <div class="team-overlay">
            <div class="team-image" bg-image="member.images[1]" style="background-image: url(&quot;https://roomimembers.imgix.net/Hba2yKuMZ/imageHbZa21YdG-.png&quot;); background-repeat: no-repeat; background-size: cover; background-position: 50% 50%;">
              <div class="image-opacity">
                <div class="absolute-center">
                  <div class="team-description ">"I’ve lived in an amazing apartment with people who made me feel completely alone. I’ve also slept on a mattress on the floor with people who made me feel like home. Wherever you end up, who you live with shapes your entire life experiences."</div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="clearfix"></div>
      </div><!-- end ngRepeat: member in team.data --><div  class="col-sm-6 padding-20 col-md-4 col-lg-3 col-xs-12 inline-block ">
        <div class="team-container">
          <div class="team-image" bg-image="member.images[0]" style="background-image: url(&quot;https://roomimembers.imgix.net/SPr1lYOMb/imagerPeHkxKdz-.png&quot;); background-repeat: no-repeat; background-size: cover; background-position: 50% 50%;">
            <div class="gradient">
              <div class="member-info absolute-center">
                <p class="">Patou</p>
                <span class="">Listings Manager</span>
              </div>
            </div>
          </div>
          <div class="team-overlay">
            <div class="team-image" bg-image="member.images[1]" style="background-image: url(&quot;https://roomimembers.imgix.net/SPr1lYOMb/imageBDWSkgKuMZ.png&quot;); background-repeat: no-repeat; background-size: cover; background-position: 50% 50%;">
              <div class="image-opacity">
                <div class="absolute-center">
                  <div class="team-description ">"Turning strangers into your new family is an amazing experience. Co­living gives you the opportunity to become friends with new people. If you’re a grumpy morning person (like me), the right roommates can make your day bright."</div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="clearfix"></div>
      </div><!-- end ngRepeat: member in team.data --><div  class="col-sm-6 padding-20 col-md-4 col-lg-3 col-xs-12 inline-block ">
        <div class="team-container">
          <div class="team-image" bg-image="member.images[0]" style="background-image: url(&quot;https://roomimembers.imgix.net/Srt1bYdMW/imagerBxt1Wtdfb.png&quot;); background-repeat: no-repeat; background-size: cover; background-position: 50% 50%;">
            <div class="gradient">
              <div class="member-info absolute-center">
                <p class="">Ira</p>
                <span class="">Listings and Security Manager</span>
              </div>
            </div>
          </div>
          <div class="team-overlay">
            <div class="team-image" bg-image="member.images[1]" style="background-image: url(&quot;https://roomimembers.imgix.net/Srt1bYdMW/imageSSWY1ZYOM-.png&quot;); background-repeat: no-repeat; background-size: cover; background-position: 50% 50%;">
              <div class="image-opacity">
                <div class="absolute-center">
                  <div class="team-description ">"Having a roommate was the greatest experience for me in college. We had so much fun we didn't even realize we were making memories. She became my best friend! From late nights to early mornings, friend turned family"</div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="clearfix"></div>
      </div><!-- end ngRepeat: member in team.data --><div  class="col-sm-6 padding-20 col-md-4 col-lg-3 col-xs-12 inline-block ">
        <div class="team-container">
          <div class="team-image" bg-image="member.images[0]" style="background-image: url(&quot;https://roomimembers.imgix.net/HeBQbtOMW/imagerxgr7WtdMb.png&quot;); background-repeat: no-repeat; background-size: cover; background-position: 50% 50%;">
            <div class="gradient">
              <div class="member-info absolute-center">
                <p class="">Amanda</p>
                <span class="">Community Manager</span>
              </div>
            </div>
          </div>
          <div class="team-overlay">
            <div class="team-image" bg-image="member.images[1]" style="background-image: url(&quot;https://roomimembers.imgix.net/HeBQbtOMW/imageSl-BXWtOGW.png&quot;); background-repeat: no-repeat; background-size: cover; background-position: 50% 50%;">
              <div class="image-opacity">
                <div class="absolute-center">
                  <div class="team-description ">"Roommates are like your substitutional family, difference is— you get to chose them! They will laugh with you on the good days, and drive you crazy on the bad days. But in the end, it's all from a place of love."</div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="clearfix"></div>
      </div><!-- end ngRepeat: member in team.data --><div  class="col-sm-6 padding-20 col-md-4 col-lg-3 col-xs-12 inline-block ">
        <div class="team-container">
          <div class="team-image" bg-image="member.images[0]" style="background-image: url(&quot;https://roomimembers.imgix.net/rI0_Zt_fW/imagerIl0uWKOfW.png&quot;); background-repeat: no-repeat; background-size: cover; background-position: 50% 50%;">
            <div class="gradient">
              <div class="member-info absolute-center">
                <p class="">Evan</p>
                <span class="">Product Manager</span>
              </div>
            </div>
          </div>
          <div class="team-overlay">
            <div class="team-image" bg-image="member.images[1]" style="background-image: url(&quot;https://roomimembers.imgix.net/rI0_Zt_fW/imageS8ZR_WFOMb.png&quot;); background-repeat: no-repeat; background-size: cover; background-position: 50% 50%;">
              <div class="image-opacity">
                <div class="absolute-center">
                  <div class="team-description ">"I was once on a show called Homewreckers on MTV where we played a ridiculous prank on my roommate with the help of Ryan Dunn from Jackass.  At Roomi, we're helping you find roommates that won't turn your bedroom into a fish market like I did."</div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="clearfix"></div>
      </div><!-- end ngRepeat: member in team.data --><div  class="col-sm-6 padding-20 col-md-4 col-lg-3 col-xs-12 inline-block ">
        <div class="team-container">
          <div class="team-image" bg-image="member.images[0]" style="background-image: url(&quot;https://roomimembers.imgix.net/BunJMt_z-/imageHde2JzY_fb.png&quot;); background-repeat: no-repeat; background-size: cover; background-position: 50% 50%;">
            <div class="gradient">
              <div class="member-info absolute-center">
                <p class="">Yifan</p>
                <span class="">Full Stack Engineer</span>
              </div>
            </div>
          </div>
          <div class="team-overlay">
            <div class="team-image" bg-image="member.images[1]" style="background-image: url(&quot;https://roomimembers.imgix.net/BunJMt_z-/imageSuW21MK_GW.png&quot;); background-repeat: no-repeat; background-size: cover; background-position: 50% 50%;">
              <div class="image-opacity">
                <div class="absolute-center">
                  <div class="team-description ">"Life is short — don’t waste time living with a bad roommate”</div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="clearfix"></div>
      </div><!-- end ngRepeat: member in team.data --><div  class="col-sm-6 padding-20 col-md-4 col-lg-3 col-xs-12 inline-block ">
        <div class="team-container">
          <div class="team-image" bg-image="member.images[0]" style="background-image: url(&quot;https://roomimembers.imgix.net/rvMzzKuzb/imageHDefzMK_fW.png&quot;); background-repeat: no-repeat; background-size: cover; background-position: 50% 50%;">
            <div class="gradient">
              <div class="member-info absolute-center">
                <p class="">Sime</p>
                <span class="">Full Stack Engineer</span>
              </div>
            </div>
          </div>
          <div class="team-overlay">
            <div class="team-image" bg-image="member.images[1]" style="background-image: url(&quot;https://roomimembers.imgix.net/rvMzzKuzb/imageHPXzfKuM-.png&quot;); background-repeat: no-repeat; background-size: cover; background-position: 50% 50%;">
              <div class="image-opacity">
                <div class="absolute-center">
                  <div class="team-description ">"Don’t risk it, be smart. Find the best possible roommate for yourself."</div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="clearfix"></div>
      </div><!-- end ngRepeat: member in team.data --><div  class="col-sm-6 padding-20 col-md-4 col-lg-3 col-xs-12 inline-block ">
        <div class="team-container">
          <div class="team-image" bg-image="member.images[0]" style="background-image: url(&quot;https://roomimembers.imgix.net/HFJHGt_fW/imagerFxyHGF_zb.png&quot;); background-repeat: no-repeat; background-size: cover; background-position: 50% 50%;">
            <div class="gradient">
              <div class="member-info absolute-center">
                <p class="">Jure</p>
                <span class="">Full Stack Engineer</span>
              </div>
            </div>
          </div>
          <div class="team-overlay">
            <div class="team-image" bg-image="member.images[1]" style="background-image: url(&quot;https://roomimembers.imgix.net/HFJHGt_fW/imageHtWkrGKuf-.png&quot;); background-repeat: no-repeat; background-size: cover; background-position: 50% 50%;">
              <div class="image-opacity">
                <div class="absolute-center">
                  <div class="team-description ">"Rooming with someone will teach you good and bad things about yourself, your habits and your pet peeves. Are you a good roomi? It's always good to be self-aware, right?"</div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="clearfix"></div>
      </div><!-- end ngRepeat: member in team.data --><div  class="col-sm-6 padding-20 col-md-4 col-lg-3 col-xs-12 inline-block ">
        <div class="team-container">
          <div class="team-image" bg-image="member.images[0]" style="background-image: url(&quot;https://roomimembers.imgix.net/rF2LfKuG-/imageStx2LMKdzb.png&quot;); background-repeat: no-repeat; background-size: cover; background-position: 50% 50%;">
            <div class="gradient">
              <div class="member-info absolute-center">
                <p class="">Andrew</p>
                <span class="">Android Engineer</span>
              </div>
            </div>
          </div>
          <div class="team-overlay">
            <div class="team-image" bg-image="member.images[1]" style="background-image: url(&quot;https://roomimembers.imgix.net/rF2LfKuG-/imageSYWhUGt_MW.png&quot;); background-repeat: no-repeat; background-size: cover; background-position: 50% 50%;">
              <div class="image-opacity">
                <div class="absolute-center">
                  <div class="team-description ">The best roommates are the ones that don’t stick out like sore thumbs. Sometimes you’re just two people passing through life, but you hope you come away with a good friend.</div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="clearfix"></div>
      </div><!-- end ngRepeat: member in team.data --><div  class="col-sm-6 padding-20 col-md-4 col-lg-3 col-xs-12 inline-block ">
        <div class="team-container">
          <div class="team-image" bg-image="member.images[0]" style="background-image: url(&quot;https://roomimembers.imgix.net/S_QdMt_GZ/imageBOg7dGKuzW.png&quot;); background-repeat: no-repeat; background-size: cover; background-position: 50% 50%;">
            <div class="gradient">
              <div class="member-info absolute-center">
                <p class="">Alberto</p>
                <span class="">iOS Engineer</span>
              </div>
            </div>
          </div>
          <div class="team-overlay">
            <div class="team-image" bg-image="member.images[1]" style="background-image: url(&quot;https://roomimembers.imgix.net/S_QdMt_GZ/imageHOb7uzFdMZ.png&quot;); background-repeat: no-repeat; background-size: cover; background-position: 50% 50%;">
              <div class="image-opacity">
                <div class="absolute-center">
                  <div class="team-description ">"Finding a good roommate is an everyday problem that everyone deals with. Wouldn’t it be great if you could just tap a button and make that so much easier? That’s what I’m helping with."</div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="clearfix"></div>
      </div><!-- end ngRepeat: member in team.data -->
    </div>
  </div>
</div>
