<div>
    <!-- react-empty: 30 -->
    <div class="user-profile page-container">
        <!-- react-empty: 108 -->
        <div class="row container">
            <div class="col-xs4-4 col-md-4 user-profile-short-container noPadding">
                <div class="user-profile-carousel-container">
                    <div class="user-profile-carousel">
                        <img draggable="false" class="carousel-image" src="{{ userInfo.cover_image }}" style="width:100%;height: 100%;">
                    </div>
                </div>
                <div class="row center-xs4 user-profile-general noMargin">
                    <div>
                        <div class="row center-xs4 middle-xs4 user-name-container">
                            <h2 class="user-name-age noMargin text-center">{{ userInfo.user.first_name }}<span ng-if="userage">,</span> {{userage}}</h2>
                        </div>
                        <div class="member-since text-center">
                            <!-- react-text: 142 -->Member Since
                            <!-- /react-text -->
                            <!-- react-text: 143 -->{{userInfo.created | date:"y"}}
                            <!-- /react-text -->
                        </div>
                        <!-- react-empty: 144 -->
                    </div>
                </div>
            </div>
            <div class="col-xs4-4 col-md-8 user-profile-details noPadding">
                <div class="">
                    <div class="details-section">
                        <div class="row between-xs4 noMargin section-header">
                            <div class="row middle-xs4 noMargin left-side">
                                <div class="header-icon" style="float:left">
                                    <svg width="24" height="24" viewBox="0 0 18 19" xmlns="http://www.w3.org/2000/svg">
                                        <title>file</title>
                                        <g fill="#000" fill-rule="evenodd">
                                            <path d="M17.162 18.91c.41 0 .731-.32.731-.732v-1.553V.804c0-.411-.32-.733-.73-.733H4.918c-.054 0-.125 0-.178.018-.09.036-.125.054-.179.072-.017.018-.035.018-.053.035a.48.48 0 0 0-.143.126L.286 5.145c-.054.053-.09.125-.126.196-.017.018-.017.054-.017.072-.018.053-.018.107-.036.16V18.16c0 .43.339.75.73.75h16.325zM4.188 2.806v2.107H2.406l1.782-2.107zM1.568 5.77h3.35c.41 0 .732-.282.732-.643v-3.59h10.782V17.17H1.568v-11.4z"></path>
                                            <path d="M14.257 7.95H3.743c-.41 0-.731.32-.731.732 0 .41.32.732.73.732h10.515c.41 0 .731-.322.731-.732 0-.411-.32-.733-.73-.733zM14.257 11.486H3.743c-.41 0-.731.322-.731.732 0 .411.32.733.73.733h10.515c.41 0 .731-.322.731-.733a.735.735 0 0 0-.73-.732z"></path>
                                        </g>
                                    </svg>
                                </div>
                                <p class="header-title">Details</p>
                            </div>
                            <div class="row middle-xs4 right-side noMargin"></div>
                        </div>
                        <div class="section-body">
                            <div class="user-biography break-word">{{ userInfo.description }}</div>
                        </div>
                    </div>
                </div>
                <!-- loading icon start -->
                    <div class="loading-container">
                        <div class="loading"></div>
                        <div id="loading-text">loading</div>
                    </div>
                    <!-- loading icon ends -->
                <div class="user-listings">
                    <div class="user-listing-list">
                        <div class="row noMargin">
                            <div class="col-xs-4 col-sm-4 col-md-6 listing-item" ng-repeat="listing in userInfo.listings_data"> 
                                <div class="listing-card">
                                    <div class="row between-xs4 top-row noMargin">
                                        <div class="badges" ng-if="listing.showbadge<10">
                                            <div class="row badges-container noMargin" style="z-index: 5;">
                                                <div class="" style="margin-left: 12.5px;"><img data-tip="Personally recommended by our friends. Officially screened by us." height="50" src="https://s3-us-west-2.amazonaws.com/roomisvgs/badges/New%401x.svg" currentitem="false"></div>
                                                <div class="__react_component_tooltip place-top type-dark " data-id="tooltip"></div>
                                            </div>
                                        </div>
                                        <div class="actions" style="position: absolute;right: 0;top: 0;">
                                            <div class="row middle-xs4 noMargin">
                                                <div>
                                                    <div>
                                                        <div>
                                                            <div class="">

                                                                <div ng-click="addFavourite(listing.id)" ng-show="listing.i_favourited_this == false" class="fav-icon"><i class="fa fa-thumbs-o-up" aria-hidden="true"></i></div>
                                                                <div class="fav-icon" ng-click="unFavourite(listing.id)" ng-show="listing.i_favourited_this == true"><i class="fa fa-thumbs-up" aria-hidden="true"></i></div>
                                                            </div>
                                                        </div>
                                                        <!-- react-empty: 182 -->
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="listing-card-carousel-container">
                                        <div class="listing-carousel">
                                            <slick class="slider" settings="slicklistingimages" ng-if="slicklistingimagesLoaded">
                                                <div ng-repeat="listingphoto in listing.photo_ids  track by $index" ng-click="IndPage(listing.id)" style="cursor:pointer">
                                                    <img ng-src="{{listingphoto.photo}}" class="img-responsive" style="height: 250px;">
                                                </div>
                                            </slick>
                                            <!-- <div class="picture-container ng-isolate-scope" show-slides="true">
                                            <div class="custom-carousel">
                                                <div class="photos-container">
                                                    <div class="overlay">
                                                            <div class="carousel" id="slider{{$index}}">
                                                                <div class="carousel-inner">
                                                                    <div class="item" ng-class="{active:!$index}" ng-repeat="listingphoto in listing.photo_ids" style="width:100%;">
                                                                        <img src="{{listingphoto.photo}}" class="img-responsive" style="height: 250px;">
                                                                    </div>
                                                                </div>
                                                            </div>
                                                    </div>
                                                </div>
                                               
                                                <div data-target="#slider{{$index}}" data-slide="prev" class="left-arrow arrow ng-scope" role="button" tabindex="0"></div>
                                               
                                                <div data-target="#slider{{$index}}" data-slide="next" class="right-arrow arrow ng-scope" role="button" tabindex="0"></div>
                                               
                                            </div>
                                        </div> -->
                                            <div class="row middle-xs4 listing-price noMargin"><span>AED {{ listing.monthly_rent}}</span></div>
                                        </div>
                                    </div>
                                    <div class="listing-card-info-container">
                                        <a class="listing-card-info" href="">
                                            <div class="listing-location truncate"></div>
                                            <h3>{{listing.city_id.city_name}}</h3>
                                            <div class="listing-availability"><span class="available">{{listing.is_active === true?'Available Now':'Not Available'}}</span><span class="square">▪</span>
                                                <div class="inline"><span class="lease">
                                                    <span ng-if="listing.validity_for_stay=='small'">1-3 Months</span>
                                                     <span ng-if="listing.validity_for_stay=='medium'">3-6 Months</span>
                                                     <span ng-if="listing.validity_for_stay=='long'">6+ Months</span>
                                                     <span ng-if="listing.validity_for_stay==''">Not Availble</span>
                                                </span></div>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<link rel="stylesheet" type="text/css" href="static/css/user-info.css">
<style type="text/css">
    /*loading icon css */
    @-moz-keyframes rotate-loading {
    0%  {transform: rotate(0deg);-ms-transform: rotate(0deg); -webkit-transform: rotate(0deg); -o-transform: rotate(0deg); -moz-transform: rotate(0deg);}
    100% {transform: rotate(360deg);-ms-transform: rotate(360deg); -webkit-transform: rotate(360deg); -o-transform: rotate(360deg); -moz-transform: rotate(360deg);}
}
 
@-o-keyframes rotate-loading {
    0%  {transform: rotate(0deg);-ms-transform: rotate(0deg); -webkit-transform: rotate(0deg); -o-transform: rotate(0deg); -moz-transform: rotate(0deg);}
    100% {transform: rotate(360deg);-ms-transform: rotate(360deg); -webkit-transform: rotate(360deg); -o-transform: rotate(360deg); -moz-transform: rotate(360deg);}
}
 
@-webkit-keyframes rotate-loading {
    0%  {transform: rotate(0deg);-ms-transform: rotate(0deg); -webkit-transform: rotate(0deg); -o-transform: rotate(0deg); -moz-transform: rotate(0deg);}
    100% {transform: rotate(360deg);-ms-transform: rotate(360deg); -webkit-transform: rotate(360deg); -o-transform: rotate(360deg); -moz-transform: rotate(360deg);}
}
 
@keyframes rotate-loading {
    0%  {transform: rotate(0deg);-ms-transform: rotate(0deg); -webkit-transform: rotate(0deg); -o-transform: rotate(0deg); -moz-transform: rotate(0deg);}
    100% {transform: rotate(360deg);-ms-transform: rotate(360deg); -webkit-transform: rotate(360deg); -o-transform: rotate(360deg); -moz-transform: rotate(360deg);}
}
 
@-moz-keyframes loading-text-opacity {
    0%  {opacity: 0}
    20% {opacity: 0}
    50% {opacity: 1}
    100%{opacity: 0}
}
 
 
@-o-keyframes loading-text-opacity {
    0%  {opacity: 0}
    20% {opacity: 0}
    50% {opacity: 1}
    100%{opacity: 0}
}
 
@-webkit-keyframes loading-text-opacity {
    0%  {opacity: 0}
    20% {opacity: 0}
    50% {opacity: 1}
    100%{opacity: 0}
}
 
@keyframes loading-text-opacity {
    0%  {opacity: 0}
    20% {opacity: 0}
    50% {opacity: 1}
    100%{opacity: 0}
}
 
.loading-container,
.loading {
    height: 100px;
    position: relative;
    width: 100px;
    border-radius: 100%;
}
 
.loading-container { margin: 40px auto; }
 
.loading {
    border: 2px solid transparent;
    border-color: transparent #000 transparent #000;
    -moz-animation: rotate-loading 1.5s linear 0s infinite normal;
    -moz-transform-origin: 50% 50%;
    -o-animation: rotate-loading 1.5s linear 0s infinite normal;
    -o-transform-origin: 50% 50%;
    -webkit-animation: rotate-loading 1.5s linear 0s infinite normal;
    -webkit-transform-origin: 50% 50%;
    animation: rotate-loading 1.5s linear 0s infinite normal;
    transform-origin: 50% 50%;
}
 
.loading-container:hover .loading {
    border-color: transparent #E45635 transparent #E45635;
}
 
.loading-container:hover .loading,
.loading-container .loading {
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}
 
#loading-text {
    -moz-animation: loading-text-opacity 2s linear 0s infinite normal;
    -o-animation: loading-text-opacity 2s linear 0s infinite normal;
    -webkit-animation: loading-text-opacity 2s linear 0s infinite normal;
    animation: loading-text-opacity 2s linear 0s infinite normal;
    color: #000;
    font-family: "Helvetica Neue", "Helvetica", "Arial", sans-serif;
    font-size: 10px;
    font-weight: bold;
    margin-top: 45px;
    opacity: 0;
    position: absolute;
    text-align: center;
    text-transform: uppercase;
    top: 0;
    width: 100px;
}
</style>
<style type="text/css">
/*.slick-arrow{
    display: block !important;
}*/
.slick-prev{
    left: 10px !important;
}
.slick-next{
    right: 10px !important;
}
.left, .right{
    cursor: pointer;
}
.slick-dots{
    bottom: 10px !important;
}
.slick-dots li button:before{
    opacity: 1 !important;
    color: #fff !important;
    font-size: 10px !important;
}
.slick-dots li.slick-active button:before{
    opacity: 1 !important;
    color: #fff !important;
    font-size: 15px !important;
}
.slick-dotted.slick-slider{
    margin-bottom: 0px !important;
}
.slick-slide:after{
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  bottom: 0;
  background: rgba(0,0,0,0.1);
}
</style>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.6.0/slick.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.6.0/slick-theme.min.css">