.dpui-numberPicker {
	display: inline-block;
	border-radius: 5px;
	box-shadow: 0 1px 1px rgba(0,0,0,0.1);
}
.dpui-numberPicker button {
	margin: 0;
	border: 1px solid #dddddd;
	font-size: 18px;
	display: inline-block;
	width: 30px;
	height: 30px;
	line-height: 20px;
	vertical-align: top;
	outline: none;
	cursor: pointer;
	background: #f0f0f0;
	background: -moz-linear-gradient(top,  #f0f0f0 0%, #cccccc 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f0f0f0), color-stop(100%,#cccccc));
	background: -webkit-linear-gradient(top,  #f0f0f0 0%,#cccccc 100%);
	background: -o-linear-gradient(top,  #f0f0f0 0%,#cccccc 100%);
	background: -ms-linear-gradient(top,  #f0f0f0 0%,#cccccc 100%);
	background: linear-gradient(to bottom,  #f0f0f0 0%,#cccccc 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f0f0f0', endColorstr='#cccccc',GradientType=0 );
}
.dpui-numberPicker button:hover {
	background: #cccccc;
	background: -moz-linear-gradient(top,  #cccccc 0%, #f0f0f0 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#cccccc), color-stop(100%,#f0f0f0));
	background: -webkit-linear-gradient(top,  #cccccc 0%,#f0f0f0 100%);
	background: -o-linear-gradient(top,  #cccccc 0%,#f0f0f0 100%);
	background: -ms-linear-gradient(top,  #cccccc 0%,#f0f0f0 100%);
	background: linear-gradient(to bottom,  #cccccc 0%,#f0f0f0 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cccccc', endColorstr='#f0f0f0',GradientType=0 );
}
.dpui-numberPicker-input {
	display: inline-block;
	width: 75px;
	height: 30px;
	line-height: 30px;
	padding: 0 8px;
	margin: 0;
	text-align: center;
	outline: none;
	vertical-align: top;
	border: 0;
	border-top: 1px solid #dddddd;
	border-bottom: 1px solid #dddddd;
	background: #f9f9f9;
}
.dpui-numberPicker-input:focus {
	background: #ffffff;
}
.dpui-numberPicker-decrease {
	border-radius: 5px 0 0 5px;
}
.dpui-numberPicker-increase {
	border-radius: 0 5px 5px 0;
}
.dpui-numberPicker.dpui-numberPicker-min .dpui-numberPicker-decrease, .dpui-numberPicker.dpui-numberPicker-max .dpui-numberPicker-increase {
	background: #cccccc;
	color: #999999;
}
