<h2>Add Room Type</h2>
<br />
<form role="form" name="roomTypeForm" class="form-horizontal form-groups-bordered">

	<div class="row">
		<div class="col-lg-6 col-md-6 col-xs-12">
			<div class="form-group">
				<label class="col-sm-4 control-label">Room Type</label>
				<div class="col-sm-8">
					<input type="text" class="form-control" name="roomtype" placeholder="Room type" ng-model="data.room_type_name" required/ ng-pattern="/^[a-zA-Z\s]*$/">
					<span class="validate-has-error" ng-show="roomTypeForm.roomtype.$error.pattern">Not valid text!</span>
					<span class="validate-has-error" ng-show="roomTypeForm.roomtype.$error.required && roomTypeForm.roomtype.$dirty">Required Room Type</span>
				</div>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-lg-6 col-md-6 col-xs-12">
			<div class="form-group">
				<label class="col-sm-4 control-label"></label>
				<div class="col-sm-8">
					<button type="button" class="btn btn-primary pull-right" ng-disabled="!roomTypeForm.$valid" ng-click="AddRoomType()">Submit</button>
					<button type="button" class="btn btn-default pull-right load-button" disabled=""><i class="fa fa-spinner fa-spin"></i> Loading...</button>
				</div>
			</div>
		</div>
	</div>

</form>