<h2>Add Music Type</h2>
<br />
<form role="form" name="updateForm" class="form-horizontal form-groups-bordered">

	<div class="row">
		<div class="col-lg-6 col-md-6 col-xs-12">
			<div class="form-group">
				<label class="col-sm-4 control-label">Music Type</label>
				<div class="col-sm-8">
					<input type="text" class="form-control" ng-pattern="/^[a-zA-Z\s]*$/" placeholder="Music Type" ng-model="data.name" name="musictype" required/ >
					<span class="validate-has-error" ng-show="updateForm.musictype.$error.pattern">Not valid text!</span>
					<span class="validate-has-error" ng-show="updateForm.musictype.$error.required && updateForm.musictype.$dirty">Required Music Type</span>
				</div>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-lg-6 col-md-6 col-xs-12">
			<div class="form-group">
				<label class="col-sm-4 control-label">Description</label>
				<div class="col-sm-8">
					<textarea class="form-control" id="field-ta" ng-pattern="/^[a-zA-Z\s]*$/" placeholder="Description" ng-model="data.description" name="description" required></textarea>
					<span class="validate-has-error" ng-show="updateForm.description.$error.pattern">Not valid text!</span>
					<span class="validate-has-error" ng-show="updateForm.description.$error.required && updateForm.description.$dirty">Required Description</span>
				</div>
			</div>
		</div>
	</div>
	
	<div class="row">
		<div class="col-lg-6 col-md-6 col-xs-12">
			<div class="form-group">
				<label class="col-sm-4 control-label"></label>
				<div class="col-sm-8">
					<button type="button" class="btn btn-primary pull-right" ng-click="addMusicType()" ng-disabled="!updateForm.$valid" ng-if="!loading">Submit</button>
					<button type="button" class="btn btn-default pull-right load-button" disabled="" ng-if="loading">
						<i class="fa fa-spinner fa-spin"></i> Loading...
					</button>
				</div>
			</div>
		</div>
	</div>

</form>
