<h2>Add Country</h2>
<br />
<form role="form" name="countyform" class="form-horizontal form-groups-bordered">

	<div class="row">
		<div class="col-lg-6 col-md-6 col-xs-12">
			<div class="form-group">
				<label class="col-sm-4 control-label">Country Name</label>
				<div class="col-sm-8">
					<input type="text" class="form-control" ng-pattern="/^[a-zA-Z\s]*$/" placeholder="Country Name" ng-model="data.name" name="country" required/ >
					<span class="validate-has-error" ng-show="countyform.country.$error.pattern">Not valid text!</span>
					<span class="validate-has-error" ng-show="countyform.country.$error.required && countyform.country.$dirty">Required Country Name</span>
				</div>
			</div>
		</div>
	</div>
	
	
	<div class="row">
		<div class="col-lg-6 col-md-6 col-xs-12">
			<div class="form-group">
				<label class="col-sm-4 control-label"></label>
				<div class="col-sm-8">
					<button type="button" class="btn btn-primary pull-right" ng-click="AddCountry()" ng-disabled="!countyform.$valid">Submit</button>
					<button type="button" class="btn btn-default pull-right load-button" disabled="">
						<i class="fa fa-spinner fa-spin"></i> Loading...
					</button>
				</div>
			</div>
		</div>
	</div>

</form>
