<h2>Add City</h2>
<br />
<form role="form" name="addcity" class="form-horizontal form-groups-bordered">

	<div class="row">
		<div class="col-lg-6 col-md-6 col-xs-12">
			<div class="form-group">
				<label class="col-sm-4 control-label">City Name</label>
				<div class="col-sm-8">
					<input type="text" class="form-control" ng-pattern="/^[a-zA-Z\s]*$/" name="city" placeholder="City Name" ng-model="data.city_name" required/ >
					<span class="validate-has-error" ng-show="addcity.city.$error.pattern">Not valid text!</span>
					<span class="validate-has-error" ng-show="addcity.city.$error.required && addcity.city.$dirty">Required City</span>
				</div>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-lg-6 col-md-6 col-xs-12">
			<div class="form-group">
				<label class="col-sm-4 control-label">Country Name</label>
				<div class="col-sm-8">
					<select class="form-control" ng-model="data.state_id" name="country">
						<option value="">Select Country</option>
						<option value="{{country.id}}" ng-repeat="country in countries">{{country.name}}</option>
					</select>
					<span class="validate-has-error" ng-show="addcity.country.$error.required && addcity.country.$dirty">Required Country</span>
				</div>
			</div>
		</div>
	</div>
	
	
	<div class="row">
		<div class="col-lg-6 col-md-6 col-xs-12">
			<div class="form-group">
				<label class="col-sm-4 control-label"></label>
				<div class="col-sm-8">
					<button ng-disabled="!addcity.$valid || !data.state_id" type="button" class="btn btn-primary pull-right" ng-click="AddCity()">Submit</button>
				</div>
			</div>
		</div>
	</div>

</form>
