<div class="row">
	<div class="col-sm-3 col-xs-6">
	<a href="#/users">
		<div class="tile-stats tile-red">
			<div class="icon"><i class="entypo-users"></i></div>
			<div class="num" data-start="0" data-end="83" data-postfix="" data-duration="1500" data-delay="0">{{ user_count }}</div>

			<h3>Registered users</h3>
		</div></a>

	</div>
	
	<div class="col-sm-3 col-xs-6">
		<a href="#/paid-listings">
		<div class="tile-stats tile-green">
			<div class="icon"><i class="entypo-chart-bar"></i></div>
			<div class="num" data-start="0" data-end="135" data-postfix="" data-duration="1500" data-delay="600">{{ listing_count }}</div>

			<h3>Listings</h3>
		</div></a>

	</div>

	
	<div class="clear visible-xs"></div>

	<div class="col-sm-3 col-xs-6">
	<a href="#/paid-listings">
		<div class="tile-stats tile-aqua">
			<div class="icon"><i class="entypo-mail"></i></div>
			<div class="num" data-start="0" data-end="23" data-postfix="" data-duration="1500" data-delay="1200">{{ paid_listing_count }}</div>

			<h3>Paid Listings</h3>
		</div></a>

	</div>

	<div class="col-sm-3 col-xs-6">
	<a href="#/free-listings">
		<div class="tile-stats tile-blue">
			<div class="icon"><i class="entypo-rss"></i></div>
			<div class="num" data-start="0" data-end="52" data-postfix="" data-duration="1500" data-delay="1800">{{ free_listing_count }}</div>

			<h3>Free Listings</h3>
		</div></a>

	</div>
</div>

<br />
