<h2>City</h2>
<br />
<div class="row" style="margin-bottom:10px;">
	<div class="m-b-sm col-sm-4 pull-left">
		<input type="text" class="form-control" placeholder="Search by City Name" ng-model="searchTest">
	</div>
</div>
<a href="#/add-city">
	<input type="button" class="btn btn-primary" value="Add City"/ >
</a>
<br />
<br />
<table class="table table-bordered datatable" id="CityTable">
	<thead>
		<tr>
			<th>Id</th>
			<th>CIty Name</th>
			<th>Country Name</th>
			<th>Actions</th>
		</tr>
	</thead>
	<tbody>
		<tr class="odd gradeX" ng-repeat="city in cities | filter:searchTest">
			<td>{{ $index ++1 }}</td>
			<td>{{ city.city_name }}</td>
			<td>{{ city.state_id.name }}</td>
			<td>
				<a href="#/edit-city/{{ city.id }}" class="btn btn-default btn-sm btn-icon icon-left">
					<i class="entypo-pencil"></i>
					Edit
				</a>
				<a href="" class="btn btn-danger btn-sm btn-icon icon-left" ng-click="deleteCity(city)">
					<i class="entypo-cancel"></i>
					Delete
				</a>
			</td>
		</tr>
	</tbody>
</table>
<div class="row">
	<div class="m-b-sm col-sm-6 pull-left">
	<!-- <p>Showing 1 to {{ citylength }} of {{ totallength }} entries</p> -->
		<p>Total {{ totallength }} entries</p>
	</div>
	<div class="m-b-sm col-sm-3 pull-right">
	    <div class="btn-group pull-right">
	      <button ng-disabled="prevbtn" ng-click="previousPage()" class="btn btn-primary">Prev</button>
	      <button type="button" class="btn btn-default"> {{main}}</button>
	      <button ng-disabled="nextbtn" ng-click="nextPage()" class="btn btn-primary">Next</button>
	    </div>              
	</div>
</div>
<script type="text/javascript">
// jQuery( document ).ready( function( $ ) {
// 	setTimeout(function(){ 
// 		var $CityTable = jQuery( '#CityTable' );
// 		// Initialize DataTable
// 		$CityTable.DataTable( {
// 			"aLengthMenu": [[10, 25, 50, -1], [10, 25, 50, "All"]],
// 			"bStateSave": true
// 		});
// 	}, 1000);
// } );
</script>