<h2>Create Event</h2>
<br />
<!-- <form role="form" name="EventsForm" class="form-horizontal form-groups-bordered">
	<div class="row">
		<div class="col-lg-6 col-md-6 col-xs-12">
			<div class="form-group">
				<label class="col-sm-4 control-label">Event Name</label>
				<div class="col-sm-8">
					<input type="text" class="form-control" placeholder="Event Name" ng-model="data.event_name" name="eventname" required/>
					<span class="validate-has-error" ng-show="EventsForm.eventname.$error.required && EventsForm.eventname.$dirty">Required Event Name</span>
				</div>
			</div>
		</div>
		<div class="col-lg-6 col-md-6 col-xs-12">
			<div class="form-group">
				<label class="col-sm-4 control-label">Date</label>
				<div class="col-sm-8">
					<input type="text" class="form-control" placeholder="Date" ng-model="data.date" name="date" required>
					<span class="validate-has-error" ng-show="EventsForm.date.$error.required && EventsForm.date.$dirty">Required Date</span>
				</div>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-lg-6 col-md-6 col-xs-12">
			<div class="form-group">
				<label class="col-sm-4 control-label">Event Type</label>
				<div class="col-sm-8">
					<select class="form-control" ng-model="data.type_id" name="eventtype">
						<option value="{{event_type.id}}" ng-repeat="event_type in event_types">{{event_type.eventtype_name}}</option>
					</select>
					<span class="validate-has-error" ng-show="EventsForm.eventtype.$error.required && EventsForm.eventtype.$dirty">Required Event type</span>
				</div>
			</div>
		</div>
		<div class="col-lg-6 col-md-6 col-xs-12">
			<div class="form-group">
				<label class="col-sm-4 control-label">Brunch</label>
				<div class="col-sm-8">
					<select class="form-control" ng-model="data.brunch_id" name="brunch">
						<option value="{{brunch.id}}" ng-repeat="brunch in brunches">{{brunch.name}}</option>
					</select>
					<span class="validate-has-error" ng-show="EventsForm.brunch.$error.required && EventsForm.brunch.$dirty">Required Brunch</span>
				</div>
			</div>
		</div>
	</div>

	<div class="row">
		<div class="col-lg-6 col-md-6 col-xs-12">
			<div class="form-group">
				<label class="col-sm-4 control-label">Cost</label>
				<div class="col-sm-8">
					<input type="text" class="form-control" placeholder="Cost" ng-model="data.cost" name="cost" required>
					<span class="validate-has-error" ng-show="EventsForm.cost.$error.required && EventsForm.cost.$dirty">Required Cost</span>
				</div>
			</div>
		</div>
		<div class="col-lg-6 col-md-6 col-xs-12">
			<div class="form-group">
				<label class="col-sm-4 control-label">Event Description</label>
				<div class="col-sm-8">
					<input type="text" class="form-control" placeholder="Description" ng-model="data.event_description" name="description" required>
					<span class="validate-has-error" ng-show="EventsForm.description.$error.required && EventsForm.description.$dirty">Required Description</span>
				</div>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-lg-6 col-md-6 col-xs-12">
		</div>
		<div class="col-lg-6 col-md-6 col-xs-12">
			<div class="form-group">
				<label class="col-sm-4 control-label"></label>
				<div class="col-sm-8">
					<button ng-disabled="!EventsForm.$valid" type="button" class="btn btn-primary" ng-click="EventAdd()">Submit</button>
				</div>
			</div>
		</div>
	</div>
</form> -->
