<h2>Edit Vibes</h2>
<br />
<form role="form" name="PaymentTypeForm" class="form-horizontal form-groups-bordered">

	<div class="row">
		<div class="col-lg-6 col-md-6 col-xs-12">
			<div class="form-group">
				<label class="col-sm-4 control-label">Payment Type</label>
				<div class="col-sm-8">
					<input type="text" class="form-control" ng-pattern="/^[a-zA-Z\s]*$/" placeholder="Name" ng-model="data.purchase_name" name="paymenttype" required/ >
					<span class="validate-has-error" ng-show="PaymentTypeForm.paymenttype.$error.pattern">Not valid text!</span>
					<span class="validate-has-error" ng-show="PaymentTypeForm.paymenttype.$error.required && PaymentTypeForm.paymenttype.$dirty">Required Name</span>
				</div>
			</div>
		</div>
	
		<div class="col-lg-6 col-md-6 col-xs-12">
			<div class="form-group">
				<label class="col-sm-4 control-label">Price</label>
				<div class="col-sm-8">
					<input type="text" class="form-control" placeholder="Price" ng-pattern="/^[0-9]/" ng-model="data.price" name="price" required/ >
					<span class="validate-has-error" ng-show="PaymentTypeForm.price.$error.pattern">Not valid number!</span>
					<span class="validate-has-error" ng-show="PaymentTypeForm.price.$error.required && PaymentTypeForm.price.$dirty">Required Price</span>
				</div>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-lg-6 col-md-6 col-xs-12">
			<div class="form-group">
				<label class="col-sm-4 control-label">Jobs</label>
				<div class="col-sm-8">
					<input type="text" class="form-control" placeholder="Jobs" ng-pattern="/^[0-9]/" ng-model="data.jobs" name="jobs" required/ >
					<span class="validate-has-error" ng-show="PaymentTypeForm.jobs.$error.pattern">Not valid number!</span>
					<span class="validate-has-error" ng-show="PaymentTypeForm.jobs.$error.required && PaymentTypeForm.jobs.$dirty">Required Jobs</span>
				</div>
			</div>
		</div>
	
		<div class="col-lg-6 col-md-6 col-xs-12">
			<div class="form-group">
				<label class="col-sm-4 control-label">Days</label>
				<div class="col-sm-8">
					<input type="text" class="form-control" placeholder="Days" ng-pattern="/^[0-9]/" ng-model="data.days" name="days" required/ >
					<span class="validate-has-error" ng-show="PaymentTypeForm.days.$error.pattern">Not valid number!</span>
					<span class="validate-has-error" ng-show="PaymentTypeForm.days.$error.required && PaymentTypeForm.days.$dirty">Required Days</span>
				</div>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-lg-6 col-md-6 col-xs-12">
			<div class="form-group">
				<label class="col-sm-4 control-label">Description</label>
				<div class="col-sm-8">
					<input type="text" class="form-control" ng-pattern="/^[a-zA-Z\s]*$/" placeholder="Description" ng-model="data.description" name="description" required/ >
					<span class="validate-has-error" ng-show="PaymentTypeForm.description.$error.pattern">Not valid text!</span>
					<span class="validate-has-error" ng-show="PaymentTypeForm.description.$error.required && PaymentTypeForm.description.$dirty">Required Description</span>
				</div>
			</div>
		</div>
	</div>
	
	
	<div class="row">
		<div class="col-lg-6 col-md-6 col-xs-12">
			<div class="form-group">
				<label class="col-sm-4 control-label"></label>
				<div class="col-sm-8">
					<button type="button" class="btn btn-primary pull-right" ng-click="updatePaymentType()" ng-disabled="!PaymentTypeForm.$valid" ng-if="!loading">Submit</button>
					<button type="button" class="btn btn-default pull-right load-button" disabled="">
						<i class="fa fa-spinner fa-spin" ng-if="loading></i> Loading...
					</button>
				</div>
			</div>
		</div>
	</div>

</form>
