<h2>Edit Interest</h2>
<br />
<form role="form" name="interestName" class="form-horizontal form-groups-bordered">

	<div class="row">
		<div class="col-lg-6 col-md-6 col-xs-12">
			<div class="form-group">
				<label class="col-sm-4 control-label">Interest Name</label>
				<div class="col-sm-8">
					<input type="text" class="form-control" placeholder="Interest Name" ng-model="data.name" name="interestname" required/ >
					<span class="validate-has-error" ng-show="interestName.interestname.$error.required && interestName.interestname.$dirty">Required Interest Name</span>
				</div>
			</div>
		</div>
	</div>
	<!-- <div class="row">
		<div class="col-lg-6 col-md-6 col-xs-12">
			<div class="form-group">
				<label class="col-sm-4 control-label">Description</label>
				<div class="col-sm-8">
					<textarea class="form-control" id="field-ta" placeholder="Description" ng-model="data.interest_description" name="description" required></textarea>
					<span class="validate-has-error" ng-show="interestName.description.$error.required && interestName.description.$dirty">Required Description</span>
				</div>
			</div>
		</div>
	</div> -->
	
	<div class="row">
		<div class="col-lg-6 col-md-6 col-xs-12">
			<div class="form-group">
				<label class="col-sm-4 control-label"></label>
				<div class="col-sm-8">
					<button type="button" ng-disabled="!interestName.$valid" class="btn btn-primary pull-right" ng-click="editInterest()">Submit</button>
				</div>
			</div>
		</div>
	</div>

</form>
