<h2>Edit Room Type</h2>
<br />
<form role="form" name="RoomTypeForm" class="form-horizontal form-groups-bordered">

	<div class="row">
		<div class="col-lg-6 col-md-6 col-xs-12">
			<div class="form-group">
				<label class="col-sm-4 control-label">Room Type</label>
				<div class="col-sm-8">
					<input type="text" class="form-control" placeholder="Room Type" ng-model="data.room_type_name" name="roomtype" required/ >
					<span class="validate-has-error" ng-show="RoomTypeForm.roomtype.$error.required && RoomTypeForm.roomtype.$dirty">Required Room Type</span>
				</div>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-lg-6 col-md-6 col-xs-12">
			<div class="form-group">
				<label class="col-sm-4 control-label"></label>
				<div class="col-sm-8">
					<button type="button" class="btn btn-primary pull-right" ng-click="updateRoomType()" ng-disabled="!RoomTypeForm.$valid">Submit</button>
					<button type="button" class="btn btn-default pull-right load-button" disabled="">
						<i class="fa fa-spinner fa-spin"></i> Loading...
					</button>
				</div>
			</div>
		</div>
	</div>

</form>