<h2>Edit City</h2>
<br />
<form role="form" name="tagForm" class="form-horizontal form-groups-bordered">

	<div class="row">
		<div class="col-lg-6 col-md-6 col-xs-12">
			<div class="form-group">
				<label class="col-sm-4 control-label">City Name</label>
				<div class="col-sm-8">
					<input type="text" class="form-control" placeholder="City Name" ng-model="data.city_name" name="cityname" required/ >
					<span class="validate-has-error" ng-show="tagForm.cityname.$error.required && tagForm.cityname.$dirty">Required City Name</span>
				</div>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-lg-6 col-md-6 col-xs-12">
			<div class="form-group">
				<label class="col-sm-4 control-label">Country Name</label>
				<div class="col-sm-8">
					<select class="form-control" ng-model="data.country_id" name="country">
						<option value="">Select Country</option>
						<option value="{{country.id}}" ng-repeat="country in countries">{{country.name}}</option>
					</select>
					<span class="validate-has-error" ng-show="addcity.country.$error.required && addcity.country.$dirty">Required Country</span>
				</div>
			</div>
		</div>
	</div>
	
	<div class="row">
		<div class="col-lg-6 col-md-6 col-xs-12">
			<div class="form-group">
				<label class="col-sm-4 control-label"></label>
				<div class="col-sm-8">
					<button type="button" class="btn btn-primary pull-right" ng-click="updateCity()" ng-disabled="!tagForm.$valid">Submit</button>
					<button type="button" class="btn btn-default pull-right load-button" disabled="">
						<i class="fa fa-spinner fa-spin"></i> Loading...
					</button>
				</div>
			</div>
		</div>
	</div>

</form>