<h2>Edit Hobbie</h2>
<br />
<form role="form" name="updateForm" class="form-horizontal form-groups-bordered">

	<div class="row">
		<div class="col-lg-6 col-md-6 col-xs-12">
			<div class="form-group">
				<label class="col-sm-4 control-label">Hobbie Name</label>
				<div class="col-sm-8">
					<input type="text" class="form-control" placeholder="Hobbie Name" ng-model="data.hobby" name="hobbie" required/ >
					<span class="validate-has-error" ng-show="updateForm.hobbie.$error.required && updateForm.hobbie.$dirty">Required Hobbie Name</span>
				</div>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-lg-6 col-md-6 col-xs-12">
			<div class="form-group">
				<label class="col-sm-4 control-label">Description</label>
				<div class="col-sm-8">
					<textarea class="form-control" id="field-ta" placeholder="Description" ng-model="data.hobby_description" name="description" required></textarea>
					<span class="validate-has-error" ng-show="updateForm.description.$error.required && updateForm.description.$dirty">Required Description</span>
				</div>
			</div>
		</div>
	</div>
	
	<div class="row">
		<div class="col-lg-6 col-md-6 col-xs-12">
			<div class="form-group">
				<label class="col-sm-4 control-label"></label>
				<div class="col-sm-8">
					<button ng-disabled="!updateForm.$valid" type="button" class="btn btn-primary pull-right" ng-click="updateHobbie()">Submit</button>
				</div>
			</div>
		</div>
	</div>

</form>
