<h2>Edit Property Type</h2>
<br />
<form role="form" name="PropertyTypeForm" class="form-horizontal form-groups-bordered">

	<div class="row">
		<div class="col-lg-6 col-md-6 col-xs-12">
			<div class="form-group">
				<label class="col-sm-4 control-label">Property Type</label>
				<div class="col-sm-8">
					<input type="text" class="form-control" placeholder="Property Type" ng-model="data.property_name" name="propertytype" required/ >
					<span class="validate-has-error" ng-show="PropertyTypeForm.propertytype.$error.required && PropertyTypeForm.propertytype.$dirty">Required Property Type</span>
				</div>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-lg-6 col-md-6 col-xs-12">
			<div class="form-group">
				<label class="col-sm-4 control-label"></label>
				<div class="col-sm-8">
					<button type="button" class="btn btn-primary pull-right" ng-click="updatePropertyType()" ng-disabled="!PropertyTypeForm.$valid">Submit</button>
				</div>
			</div>
		</div>
	</div>

</form>
