<h2>Free Listings</h2>
<br />
<div class="row" style="margin-bottom:10px;">
	<div class="m-b-sm col-sm-4 pull-left">
		<input type="text" class="form-control" placeholder="Search Listing" ng-model="searchTest">
	</div>
</div>
<table class="table table-bordered datatable" id="BrunchTable">
	<thead>
		<tr>
			<th>Id</th>
			<th>Owner</th>
			<!-- <th>Area</th> -->
			
			<th>Rent(Monthly)</th>
			<th>Location</th>
			<th>Status</th>
			<th>CreatedAt</th>
			<th>Actions</th>
		</tr>
	</thead>
	<tbody>

		<tr class="odd gradeX" ng-repeat="listing in free_listings | filter:searchTest">
			<td>{{$index ++1}}</td>
			<td>{{listing.user_id.user.first_name}} - {{listing.user_id.user.last_name}}</td>
			<!-- <td>11</td> -->
			<td>{{listing.monthly_rent}}</td>
			<td>{{listing.location_id.street_name}}</td>
			<td>{{listing.listing_status.name}}</td>
			<td>{{listing.created_at | date:'medium' }}</td>
			<td>
				<a href="#/individual-free-listing/{{ listing.id }}" class="btn btn-default btn-sm btn-icon icon-left">
					<i class="entypo-cancel"></i>
					View
				</a>
				
				<a href="" class="btn btn-danger btn-sm btn-icon icon-left" ng-click="Delete(listing)">
					<i class="entypo-cancel"></i>
					Delete
				</a>
			</td>
		</tr>
	</tbody>
</table>
<div class="row">
	<div class="m-b-sm col-sm-6 pull-left">
		<p>Total {{ totallength }} entries</p>
	</div>
	<div class="m-b-sm col-sm-3 pull-right">
	    <div class="btn-group pull-right">
	      <button ng-disabled="prevbtn" ng-click="previousPage()" class="btn btn-primary">Prev</button>
	      <button type="button" class="btn btn-default"> {{main}}</button>
	      <button ng-disabled="nextbtn" ng-click="nextPage()" class="btn btn-primary">Next</button>
	    </div>              
	</div>
</div>
<script type="text/javascript">
// jQuery( document ).ready( function( $ ) {
// 	setTimeout(function(){ 
// 		var $BrunchTable = jQuery( '#BrunchTable' );
// 		// Initialize DataTable
// 		$BrunchTable.DataTable( {
// 			"aLengthMenu": [[10, 25, 50, -1], [10, 25, 50, "All"]],
// 			"bStateSave": true
// 		});
// 	}, 1000);
// } );
</script>