<style type="text/css">
.version-highlights li .screenshot, .version-highlights li .notes{
    vertical-align: top;
}
.main-des{
	padding: 10px 0px;
    border-bottom: 1px solid #ddd;
}
.version-highlights li .screenshot img{
	height: 320px;
}
.version-highlights li .screenshot{
	width: 420px;
}
</style>
<h2>  
	Individual Free Listing 
	

	<a class="btn btn-danger btn-sm btn-icon icon-left pull-right" style="margin-right:5px" ng-if="listing.listing_status.name == 'Rejected'">
		<i class="entypo-cancel"></i>
		Rejected
	</a>
	<a class="btn btn-success btn-sm btn-icon icon-left pull-right" style="margin-right:5px" ng-if="listing.listing_status.name == 'Approved'">
		<i class="entypo-cancel"></i>
		Approved
	</a>
	<a class="btn btn-danger btn-sm btn-icon icon-left pull-right" style="margin-right:5px" ng-if="listing.listing_status.name == 'Approve'" ng-click="RejectListing(listing.id)">
		<i class="entypo-cancel" ></i>
		Reject
	</a>
	<a class="btn btn-primary btn-sm btn-icon icon-left pull-right" style="margin-right:5px" ng-if="listing.listing_status.name == 'Approve'" ng-click="ApproveListing(listing.id)">
		<i class="entypo-cancel"></i>
		Approve
	</a>
</h2>
<ul class="version-highlights" style="width:100%"> 
	<li> 
		<div class="screenshot" style="position: relative;"> 
		<!-- badges code -->
		<badges class="nav-left ng-isolate-scope layout-row" layout="row" style="position: absolute;left: 30px;z-index: 1099;">

		<div class="badge-icon mr10 ng-scope" ng-if="listing.showbadge<=10">  
		  <img ng-src="/static/images/new_badge.svg">
		</div>  

		 <div class="badge-icon mr10 ng-scope" ng-if="listing.user_id.is_facebook_uesr">
		  <img ng-src="/static/images/facebook_varified.svg">
		</div>

		<div class="badge-icon mr10 ng-scope" ng-if="listing.user_id.user_verification.approve_status.name==='Approved'">
		  <img ng-src="/static/images/user_varifies_badge.svg">
		</div>
		<div class="badge-icon mr10 ng-scope" ng-if="listing.is_featured">
		  <img ng-src="/static/images/featured_badge.png" style="width:42px">
		</div>
		</badges>
		<!-- badges code end -->
			<div id="myCarousel" class="carousel slide" data-ride="carousel">
			    <!-- Wrapper for slides -->
			    <div class="carousel" id="slider">

                    <div class="carousel-inner">
                        <div class="item" ng-class="{active:!$index}" ng-repeat="img in listing.photo_ids" style="width:100%;">
                            <img ng-src="{{img.photo}}" class="img-responsive">
                        </div>
                    </div>
                    <a class="left carousel-control" data-target="#slider" data-slide="prev">
                        <span class="glyphicon glyphicon-chevron-left"></span>
                        <span class="sr-only">Previous</span>
                    </a>
                    <a class="right carousel-control" data-target="#slider" data-slide="next">
                        <span class="glyphicon glyphicon-chevron-right"></span>
                        <span class="sr-only">Next</span>
                    </a>
                </div>

			    <!-- Left and right controls -->
			    <a class="left carousel-control" data-target="#myCarousel" data-slide="prev">
			      <span class="glyphicon glyphicon-chevron-left"></span>
			      <span class="sr-only">Previous</span>
			    </a>
			    <a class="right carousel-control" data-target="#myCarousel" data-slide="next">
			      <span class="glyphicon glyphicon-chevron-right"></span>
			      <span class="sr-only">Next</span>
			    </a>
		  	</div>
		  	<div class="owner-det" style="margin: 10px 0px;">
		  		<div>
		  			<img ng-src="{{ listing.user_id.cover_image }}" style="    width: 100px;height: 100px;border-radius: 100%;margin: auto;">
		  			<div class="user-name layout-align-center-center layout-row text-center" layout="" layout-align="center center">
                        <h4 class="ng-binding">{{listing.user_id.user.first_name}} {{listing.userdob}}</h4>
                    </div>
		  		</div>
		  	</div>
		</div>
		<div class="notes"> 
			<div class="row">
				<div class="col-lg-12">
					<div class="main-des">
						<div class="row">
							<div class="col-lg-3"><h4><b>Monthly Rent</b></h4></div>
							<div class="col-lg-9"><h4>{{ listing.monthly_rent }}</h4></div>
						</div>
					</div>
					<div class="main-des">
						<div class="row">
							<div class="col-lg-3"><h4><b>Age Choices</b></h4></div>
							<div class="col-lg-9" ng-repeat="listing in listing.age_choices"><h4>{{ listing.name }}</h4></div>
						</div>
					</div>
					<div class="main-des">
						<div class="row">
							<div class="col-lg-3"><h4><b>Gender Choice</b></h4></div>
							<div class="col-lg-9"><h4>{{ listing.gender_choice }}</h4></div>
						</div>
					</div>
					<div class="main-des">
						<div class="row">
							<div class="col-lg-3"><h4><b>Move-in-Date</b></h4></div>
							<div class="col-lg-9"><h4>{{ listing.move_in_date }}</h4></div>
						</div>
					</div>
					<div class="main-des">
						<div class="row">
							<div class="col-lg-3"><h4><b>Duration</b></h4></div>
							<div class="col-lg-9">
								<h4 ng-if="listing.validity_for_stay=='small'">1-3 Months</h4>
                                <h4 ng-if="listing.validity_for_stay=='medium'">3-6 Months</h4>
                                <h4 ng-if="listing.validity_for_stay=='long'">6-9 Months</h4>
                                <h4 ng-if="listing.validity_for_stay==''">Not Availble</h4>
							</div>
						</div>
					</div>
					<div class="main-des">
						<div class="row">
							<div class="col-lg-3"><h4><b>Deposit</b></h4></div>
							<div class="col-lg-9"><h4>{{ listing.deposit }}</h4></div>
						</div>
					</div>
					<div class="main-des">
						<div class="row">
							<div class="col-lg-3"><h4><b>Description</b></h4></div>
							<div class="col-lg-9"><h4>{{ listing.description }}</h4></div>
						</div>
					</div>
					<div class="main-des">
						<div class="row">
							<div class="col-lg-3"><h4><b>Purchase Type</b></h4></div>
							<div class="col-lg-9"><h4>{{ listing.purchase_type.purchase_name }}</h4></div>
						</div>
					</div>
					<div class="main-des">
						<div class="row">
							<div class="col-lg-3"><h4><b>Room Type</b></h4></div>
							<div class="col-lg-9"><h4>{{ listing.room_type.room_type_name }}</h4></div>
						</div>
					</div>
					<div class="main-des">
						<div class="row">
							<div class="col-lg-3"><h4><b>Property Type</b></h4></div>
							<div class="col-lg-9"><h4>{{ listing.property_type_id.property_name }}</h4></div>
						</div>
					</div>
					<div class="main-des">
						<div class="row">
							<div class="col-lg-3"><h4><b>Bed Rooms</b></h4></div>
							<div class="col-lg-9"><h4>{{ listing.bedrooms }}</h4></div>
						</div>
					</div>
					<div class="main-des">
						<div class="row">
							<div class="col-lg-3"><h4><b>Bath Rooms</b></h4></div>
							<div class="col-lg-9"><h4>{{ listing.bathrooms }}</h4></div>
						</div>
					</div>
					<div class="main-des">
						<div class="row">
							<div class="col-lg-3"><h4><b>Amenities</b></h4></div>
							<div class="col-lg-9">
								<div class="row">
									<div class="col-lg-6" ng-repeat="amenity in listing.amenity_ids">
										<h4>{{amenity.amenity_name}}</h4>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="main-des">
						<div class="row">
							<div class="col-lg-3"><h4><b>Rules</b></h4></div>
							<div class="col-lg-9">
								<div class="row">
									<div class="col-lg-6" ng-repeat="rule in listing.rules_ids">
										<h4>{{rule.rule_name}}</h4>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="main-des">
						<div class="row">
							<div class="col-lg-3"><h4><b>Transportation</b></h4></div>
							<div class="col-lg-9">
								<div class="row">
									<div class="col-lg-6">
										<img ng-src="static/images/metro.png" style="height: 24px;width: 24px;float: left;margin-right: 5px;">
                                  		<h4 class="ml10 icon-title flex" flex="">Metro {{listing.distance_from_metro}} KM</h4>
									</div>
									<div class="col-lg-6">
										<img ng-src="static/images/bus_stop.png" style="height: 24px;width: 24px;float: left;margin-right: 5px;">
                                  		<h4 class="ml10 icon-title flex" flex="">Bus Stop {{listing.distance_from_busstop}} KM</h4>
									</div>
									<div class="col-lg-6">
										<img ng-src="static/images/tram.jpg" style="height: 24px;width: 24px;float: left;margin-right: 5px;">
                                  		<h4 class="ml10 icon-title flex" flex="">Tram {{listing.distance_from_tram}} KM</h4>
									</div>
									<div class="col-lg-6">
										<img ng-src="static/images/airport.png" style="height: 24px;width: 24px;float: left;margin-right: 5px;">
                                  		<h4 class="ml10 icon-title flex" flex="">Airport {{listing.distance_from_airport}} KM</h4>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- <div>
				<a class="btn btn-primary btn-sm btn-icon icon-left">
					<i class="entypo-cancel"></i>
					Approved
				</a>
				<a class="btn btn-danger btn-sm btn-icon icon-left">
					<i class="entypo-cancel"></i>
					Reject
				</a>
			</div> -->
		</div> 
	</li> 
</ul>
<style type="text/css">
#mapCanvas {
	width: 100%;
	height: 500px;
}
.image-map{
	width:200px !important;
	height: 150px !important;
}
.info_content{
	width: 200px;
}
.badge-icon img{
	height:50px !important;
}
.badge-icon{
	float:left;
	margin-right: 5px;
}
</style>
<div class="row">
	<div class="col-lg-12">
		<div>
			<div id="mapCanvas"></div>
		</div>
	</div>
</div>