<h2>  
	Individual User
</h2>
<ul class="version-highlights" style="width:100%"> 
	<li> 
		<div class="screenshot" ng-if="user"> 
			<a href=""> 
				<!-- <img src="static/img/default-user.png" alt="userImage"> -->
				<img src="{{ user.cover_image }}" alt="userImage">
			</a>
		</div>
		<div class="notes"> 
			<h3>{{ user.user.first_name }}</h3> 
			<p>
				{{ user.user.email }}
			</p> 
			<p>
				{{ user.created | date:'medium' }}
			</p>
			<div ng-if="user">
				<a href="" class="btn btn-danger btn-sm btn-icon icon-left" ng-click="delete(user)">
					<i class="entypo-cancel"></i>
					Delete User
				</a>
			</div>
		</div> 
	</li> 
</ul>
<div class="row">
	<div class="col-lg-12">
		<h2 id="demo01"> Emirates Id's</h2>
		<div class="hover01 column">
		  <div>
		    <figure><img src="{{ user.user_verification.id_front_photo }}" /></figure>
		    <span>Emirates Id Front</span>
		  </div>
		  <div>
		    <figure><img src="{{ user.user_verification.id_back_photo }}" /></figure>
		    <span>Emirates Id Back</span>
		  </div>
		</div>
	</div>
</div>
<div class="row">
	<div class="col-lg-12">
		<a class="btn btn-primary btn-sm btn-icon icon-left" style="margin-right:5px" ng-click="ApproveEmirates(user)" ng-if="user.user_verification.approve_status.name == 'Pending'">
			<i class="entypo-cancel"></i>
			Approve
		</a>
		<a class="btn btn-danger btn-sm btn-icon icon-left" style="margin-right:5px" ng-click="RejectEmirates(user)" ng-if="user.user_verification.approve_status.name == 'Pending'">
			<i class="entypo-cancel" ></i>
			Reject
		</a>
		<a class="btn btn-success btn-sm btn-icon icon-left" style="margin-right:5px" ng-if="user.user_verification.approve_status.name == 'Approved'">
			<i class="entypo-cancel"></i>
			Approved
		</a>
		<a class="btn btn-danger btn-sm btn-icon icon-left" style="margin-right:5px" ng-if="user.user_verification.approve_status.name == 'Rejected'">
			<i class="entypo-cancel"></i>
			Rejected
		</a>
	</div>
</div>

<!-- end -->
<style type="text/css">
.column {
	padding: 0;
}
.column:last-child {
	padding-bottom: 60px;
}
.column::after {
	content: '';
	clear: both;
	display: block;
}
.column div {
	position: relative;
	float: left;
	width: 300px;
	height: 200px;
	margin: 0 0 0 25px;
	padding: 0;
}
.column div:first-child {
	margin-left: 0;
}
.column div span {
	position: absolute;
    bottom: -35px;
	left: 0;
	z-index: 999;
	display: block;
	width: 300px;
	margin: 0;
	padding: 0;
	color: #444;
	font-size: 18px;
	text-decoration: none;
	text-align: center;
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}
figure {
	width: 300px;
	height: 200px;
	margin: 0;
	padding: 0;
	background: #fff;
	overflow: hidden;
}
figure img{
	width: 300px;
	height: 200px;
}
figure:hover+span {
	bottom: -36px;
	opacity: 1;
}



/* Zoom In #1 */
.hover01 figure img {
	-webkit-transform: scale(1);
	transform: scale(1);
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}
.hover01 figure:hover img {
	-webkit-transform: scale(1.3);
	transform: scale(1.3);
}

</style>