<h2>  
	Individual Booking
</h2>
<ul class="version-highlights" style="width:100%"> 
	<li> 
		<div class="screenshot"> 
			<a href=""> 
				<!-- <img src="static/img/default-user.png" alt="userImage"> -->
				<img src="{{ booking.brunch_id.cover_image }}" alt="userImage">
			</a>
		</div>
		<div class="notes"> 
			<h3>{{ booking.brunch_id.name }}</h3> 
			<p>
				{{ booking.brunch_id.description }}
			</p> 
			<p>
				{{ booking.booking_date | date:'medium' }}
			</p>
			<p>{{ booking.booking_status.booking_status }}</p>
			<p>{{ booking.quantity }}</p>
			<p>{{ booking.total_amount | currency:' AED ' }}</p>
			<!-- <div>
				<a href="" class="btn btn-danger btn-sm btn-icon icon-left" ng-click="delete(brunch)">
					<i class="entypo-cancel"></i>
					Delete User
				</a>
			</div> -->
		</div> 
	</li> 
</ul>