<h2>  
	Individual Event
</h2>
<ul class="version-highlights" style="width:100%"> 
	<li> 
		<div class="screenshot"> 
			<a href=""> 
				<!-- <img src="static/img/default-user.png" alt="userImage"> -->
				<img src="{{ event.event_image }}" alt="eventImage">
			</a>
		</div>
		<div class="notes"> 
			<h3>{{ event.event_name }}</h3> 
			<p>
				{{ event.event_description }}
			</p> 
			<p>
				{{ event.date | date:'medium' }}
			</p>
			<p>{{ event.cost | currency:' AED ' }}</p>
			<!-- <div>
				<a href="" class="btn btn-danger btn-sm btn-icon icon-left" ng-click="delete(brunch)">
					<i class="entypo-cancel"></i>
					Delete User
				</a>
			</div> -->
		</div> 
	</li> 
</ul>