<h2>Interest</h2>
<br />
<div class="row" style="margin-bottom:10px;">
	<div class="m-b-sm col-sm-4 pull-left">
		<input type="text" class="form-control" placeholder="Search by Interest Name" ng-model="searchTest">
	</div>
</div>
<a href="#/add-interest">
	<input type="button" class="btn btn-primary" value="Add Interest"/ >
</a>
<br />
<br />
<table class="table table-bordered datatable" id="InterestTable">
	<thead>
		<tr>
			<th>S.NO</th>
			<th>Interest Name</th>
			<!-- <th>Interest Description</th> -->
			<th>Actions</th>
		</tr>
	</thead>
	<tbody>
		<tr class="odd gradeX" ng-repeat="interest in interests| filter:searchTest">
			<td>{{ $index ++1 }}</td>
			<td>{{ interest.name }}</td>
			<!-- <td>{{ interest.interest_description }}</td> -->
			<td>
				<a href="#/edit-interest/{{ interest.id }}" class="btn btn-default btn-sm btn-icon icon-left">
					<i class="entypo-pencil"></i>
					Edit
				</a>
				<a href="" class="btn btn-danger btn-sm btn-icon icon-left" ng-click="deleteInterest(interest)">
					<i class="entypo-cancel"></i>
					Delete
				</a>
			</td>
		</tr>
	</tbody>
</table>
<div class="row">
	<div class="m-b-sm col-sm-6 pull-left">
		<p>Total {{ totallength }} entries</p>
	</div>
	<div class="m-b-sm col-sm-3 pull-right">
	    <div class="btn-group pull-right">
	      <button ng-disabled="prevbtn" ng-click="previousPage()" class="btn btn-primary">Prev</button>
	      <button type="button" class="btn btn-default"> {{main}}</button>
	      <button ng-disabled="nextbtn" ng-click="nextPage()" class="btn btn-primary">Next</button>
	    </div>              
	</div>
</div>
<script type="text/javascript">
</script>