<div class="login-page login-form-fall" style="background: #303641;height: 100vh;">
	<div class="login-container">
		
		<div class="login-header login-caret">
			
			<div class="login-content">
<!-- 
				<a class="navbar-brand logo-ch" href="#/" style="padding: 7px 30px !important;">
              <img src="static/images/findaroom_logo.png" alt="Logo" class="logo" height="35">
              <span>DWELLINZ</span>
            </a> -->
				
				<a href="" class="logo">
					 <h2 style="color:#FDFCFC; font-weight: 900;" >DWELLINZ</h2>
					<!-- <img src="/static/adminapp/assets/findroom/findaroom_logo.png" width="120" alt="" /> -->
				</a>
				
				<p class="description">Dear user, log in to access the admin area!</p>
				
				<!-- progress bar indicator -->
				<div class="login-progressbar-indicator">
					<h3>43%</h3>
					<span>logging in...</span>
				</div>
			</div>
			
		</div>
		
		<div class="">
			
			<div class="login-content">
				
				<form id="form_login" name="LoginForm" ng-submit="login(user)">
					
					<div class="form-group">
						
						<div class="input-group">
							<div class="input-group-addon">
								<i class="entypo-user"></i>
							</div>
							<input type="text" class="form-control" name="email" id="email" placeholder="Email" autocomplete="off" ng-model="user.email" required/>
						</div>
						<span class="help-block" ng-show="LoginForm.username.$error.required && LoginForm.username.$dirty">username required</span>
					</div>
					
					<div class="form-group">
						
						<div class="input-group">
							<div class="input-group-addon">
								<i class="entypo-key"></i>
							</div>
							<input type="password" class="form-control" name="password" id="password" placeholder="Password" autocomplete="off" ng-model="user.password" required/>
						</div>
						<span class="help-block" ng-show="LoginForm.password.$error.required && LoginForm.password.$dirty">password required</span>
					</div>
					
					<div class="form-group">
							<button type="submit" class="btn btn-primary btn-block btn-login" ng-disabled="!LoginForm.$valid">
								<i class="entypo-login pull-right"></i>
								Login In
							</button>
					</div>
				</form>
				
			</div>
			
		</div>
		
	</div>
</div>
<link rel="stylesheet" type="text/css" href="/static/adminapp/assets/css/login.css">
