<h2>Payment Type</h2>
<br />
<div class="row" style="margin-bottom:10px;">
	<div class="m-b-sm col-sm-4 pull-left">
		<input type="text" class="form-control" placeholder="Search by Payment Type" ng-model="searchTest">
	</div>
</div>
<a href="#/add-payment-type">
	<input type="button" class="btn btn-primary" value="Add Payment Type"/ >
</a>
<br />
<br />
<table class="table table-bordered datatable" id="PaymentTypeTable">
	<thead>
		<tr>
			<th>S.NO</th>
			<th>Payment Type</th>
			<th>Price</th>
			<th>Jobs</th>
			<th>Days</th>
			<th>Description</th>
			<th>Actions</th>
		</tr>
	</thead>
	<tbody>
		<tr class="odd gradeX" ng-repeat="payment_type in payment_types | filter:searchTest">
			<td>{{ $index ++1 }}</td>
			<td>{{ payment_type.purchase_name }}</td>
			<td>{{payment_type.price}}</td>
			<td>{{payment_type.jobs}}</td>
			<td>{{payment_type.days}}</td>
			<td>{{payment_type.description}}</td>
			<td>
				<a href="#/edit-payment-type/{{payment_type.id}}" class="btn btn-default btn-sm btn-icon icon-left">
					<i class="entypo-pencil"></i>
					Edit
				</a>
				<a href="" class="btn btn-danger btn-sm btn-icon icon-left" ng-click="DeletePaymentType(payment_type)">
					<i class="entypo-cancel"></i>
					Delete
				</a>
			</td>
		</tr>
	</tbody>
</table>
<div class="row">
	<div class="m-b-sm col-sm-6 pull-left">
		<p>Vibes {{ totallength }} entries</p>
	</div>
	<div class="m-b-sm col-sm-3 pull-right">
	    <div class="btn-group pull-right">
	      <button ng-disabled="prevbtn" ng-click="previousPage()" class="btn btn-primary">Prev</button>
	      <button type="button" class="btn btn-default"> {{main}}</button>
	      <button ng-disabled="nextbtn" ng-click="nextPage()" class="btn btn-primary">Next</button>
	    </div>              
	</div>
</div>
<script type="text/javascript">
</script>