<h2>Property Type</h2>
<br />
<div class="row" style="margin-bottom:10px;">
	<div class="m-b-sm col-sm-4 pull-left">
		<input type="text" class="form-control" placeholder="Search by Property type" ng-model="searchTest">
	</div>
</div>
<br />
<a href="#/add-property-type">
	<input type="button" class="btn btn-primary" value="Add Property Type"/ >
</a>
<br />
<br />
<table class="table table-bordered datatable" id="PropertyTypeTable">
	<thead>
		<tr>
			<th>Id</th>
			<th>Property Type</th>
			<th>Actions</th>
		</tr>
	</thead>
	<tbody>
		<tr class="odd gradeX" ng-repeat="property_type in property_types | filter:searchTest">
			<td>{{ $index ++1 }}</td>
			<td>{{ property_type.property_name }}</td>
			<td>
				<a href="#/edit-property-type/{{ property_type.id }}" class="btn btn-default btn-sm btn-icon icon-left">
					<i class="entypo-pencil"></i>
					Edit
				</a>
				<a href="" class="btn btn-danger btn-sm btn-icon icon-left" ng-click="DeletePropertyType(property_type)">
					<i class="entypo-cancel"></i>
					Delete
				</a>
			</td>
		</tr>
	</tbody>
</table>
<div class="row">
	<div class="m-b-sm col-sm-6 pull-left">
		<p>Total {{ totallength }} entries</p>
	</div>
	<div class="m-b-sm col-sm-3 pull-right">
	    <div class="btn-group pull-right">
	      <button ng-disabled="prevbtn" ng-click="previousPage()" class="btn btn-primary">Prev</button>
	      <button type="button" class="btn btn-default"> {{main}}</button>
	      <button ng-disabled="nextbtn" ng-click="nextPage()" class="btn btn-primary">Next</button>
	    </div>              
	</div>
</div>
<script type="text/javascript">
</script>