<h2>Push Notification</h2>
<br />
<form role="form" name="PushNotification" class="form-horizontal form-groups-bordered" ng-submit="SendPushNotification()">

	<div class="row">
		<div class="col-lg-6 col-md-6 col-xs-12">
			<div class="form-group">
				<label class="col-sm-4 control-label">Description</label>
				<div class="col-sm-8">
					<textarea class="form-control" id="field-ta" ng-model="pushnotification" placeholder="Description" name="description" required ng-model="push.description"></textarea>
					<span class="validate-has-error" ng-show="PushNotification.description.$error.required && PushNotification.description.$dirty">Required Description</span>
				</div>
			</div>
		</div>
	</div>
	<!-- <div class="row">
		<div class="col-lg-6 col-md-6 col-xs-12">
			<div class="form-group">
				<label class="col-sm-4 control-label">Users</label>
				<div class="col-sm-8">
					<div     
					    isteven-multi-select
					    input-model="modernBrowsers"
					    output-model="outputBrowsers"
					    button-label="icon name"
					    item-label="icon name maker"
					    tick-property="ticked"
					>
					</div>
				</div>
			</div>
		</div>
	</div> -->
	
	
	<div class="row">
		<div class="col-lg-6 col-md-6 col-xs-12">
			<div class="form-group">
				<label class="col-sm-4 control-label"></label>
				<div class="col-sm-8">
					<button ng-disabled="!PushNotification.$valid" type="submit" class="btn btn-primary pull-right">Send Push Notification</button>
				</div>
			</div>
		</div>
	</div>

</form>
