<h2>Requests</h2>
<br />
<div class="row" style="margin-bottom:10px;">
	<div class="m-b-sm col-sm-4 pull-left">
		<input type="text" class="form-control" placeholder="Search by User Name" ng-model="search">
	</div>
</div>
<table class="table table-bordered datatable" id="UsersTable">
	<thead>
	  <tr>
	    <th>S.NO</th>
	    <th>Name</th>
	    <th>Email</th>
	    <th>Mobile</th>
	    <th>How many properties</th>
	    <th>Url</th>
	  </tr>
	</thead>
	<tbody>
	  <tr ng-repeat="request in requests | filter:search">
	    <td>{{ $index ++1 }}</td>
	    <td>{{ request.name }}</td>
	    <td>{{ request.email }}</td>
	    <td>{{ request.mobile }}</td>
	    <td>{{ request.how_many_properties }}</td>
	    <td><a href="{{ request.url }}" target="_blank" style="text-decoration: underline;color: #0240b0;">{{ request.url }}</a></td>
	  </tr>
	</tbody>
</table>
<div class="row">
	<div class="m-b-sm col-sm-6 pull-left">
		<p>Total {{ totallength }} entries</p>
	</div>
	<div class="m-b-sm col-sm-3 pull-right">
	    <div class="btn-group pull-right">
	      <button ng-disabled="prevbtn" ng-click="previousPage()" class="btn btn-primary">Prev</button>
	      <button type="button" class="btn btn-default"> {{main}}</button>
	      <button ng-disabled="nextbtn" ng-click="nextPage()" class="btn btn-primary">Next</button>
	    </div>              
	</div>
</div>

<script type="text/javascript">

</script>