<h2>Add Type</h2>
<br />
<form role="form" class="form-horizontal form-groups-bordered">

	<div class="row">
		<div class="col-lg-6 col-md-6 col-xs-12">
			<div class="form-group">
				<label class="col-sm-4 control-label">Event Type Name</label>
				<div class="col-sm-8">
					<input type="text" class="form-control" placeholder="Event Type Name"/ >
				</div>
			</div>
		</div>
	</div>
	
	
	<div class="row">
		<div class="col-lg-6 col-md-6 col-xs-12">
			<div class="form-group">
				<label class="col-sm-4 control-label"></label>
				<div class="col-sm-8">
					<button type="button" class="btn btn-primary pull-right">Submit</button>
				</div>
			</div>
		</div>
	</div>

</form>
