<h2>Users</h2>
<br />
<div class="row" style="margin-bottom:10px;">
	<div class="m-b-sm col-sm-4 pull-left">
		<input type="text" class="form-control" placeholder="Search by User Name" ng-model="search">
	</div>
</div>
<table class="table table-bordered datatable" id="UsersTable">
	<thead>
		<tr>
			<th>First Name</th>
			<th>User Name</th>
			<th>Email</th>
			<th>Date Joined</th>
			<th>Action</th>
		</tr>
	</thead>
	<tbody>
		<tr class="odd gradeX" ng-repeat="user in users | filter:search">
			<td>{{user.user.first_name}}</td>
			<td>{{user.user.username}}</td>
			<td>{{user.user.email}}</td>
			<td>{{user.created | date:'medium'}}</td>
			<td>
				<a href="#/individual-user/{{user.id}}" class="btn btn-default btn-sm btn-icon icon-left">
					<i class="entypo-eye"></i>
					View
				</a>
			</td>
		</tr>
	</tbody>
</table>
<div class="row">
	<div class="m-b-sm col-sm-6 pull-left">
		<p>Total {{ totallength }} entries</p>
	</div>
	<div class="m-b-sm col-sm-3 pull-right">
	    <div class="btn-group pull-right">
	      <button ng-disabled="prevbtn" ng-click="previousPage()" class="btn btn-primary">Prev</button>
	      <button type="button" class="btn btn-default"> {{main}}</button>
	      <button ng-disabled="nextbtn" ng-click="nextPage()" class="btn btn-primary">Next</button>
	    </div>              
	</div>
</div>

<script type="text/javascript">

</script>