.clearfix::before,
.clearfix::after {
  content: " ";
  display: table;
}

*:focus {
  outline: none !important;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.dimmer::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 2;
  background-color: rgba(0, 0, 0, 0.3);
}

.bare-input {
  border: none;
}

.icon-small {
  width: 20px;
  height: 20px;
}

.clearfix::after {
  clear: both;
}

.absolute-middle {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

a {
  color: inherit;
}

.text-overflow {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.no-margin {
  margin: 0 !important;
}

.text-hide {
  overflow: hidden;
  padding: 0;
  text-indent: 101%;
  white-space: nowrap;
}

.maintain-white-space {
  white-space: pre-wrap;
  word-wrap: break-word;
}

.visually-hidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

.container {
  max-width: 1120px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;
  padding-right: 20px;
  width: 100%;
}

.container.res-padding {
  padding: 30px 20px;
}

.container-lg {
  padding: 0 40px;
}

@media (max-width: 601px) {
  .container-lg {
    padding: 0 20px;
  }

  .container.res-padding {
    padding: 10px;
  }
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  overflow: visible !important;
}

.fix-mobile-column {
  flex: 1 0 auto !important;
  -webkit-flex: 1 1 auto !important;
}

html,
body {
  /*font-family: "Roboto", "Helvetica Neue", sans-serif !important;*/
  font-family: "SF Pro Display","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;
  height: 100%;
  margin: 0;
  padding: 0 !important;
  background-color: #f2f4f6;
}

img {
  vertical-align: middle;
}

a:focus,
a:hover {
  outline: 0 none;
  text-decoration: none;
  color: #158CFB;
}

.container {
  max-width: 1120px;
}

.container-lg {
  max-width: 1440px;
}

.show {
  display: block !important;
}

.hide {
  display: none !important;
}

.visible {
  visibility: visible !important;
}

.invisible {
  visibility: hidden !important;
}

.block {
  display: block !important;
}

.inline {
  display: inline !important;
}

.inline-block {
  display: inline-block !important;
}

.text-normal {
  font-weight: 400 !important;
}

.text-warn {
  font-weight: 500 !important;
  font-size: 15px !important;
}

.text-bold {
  font-weight: 700 !important;
}

.text-italic {
  font-style: italic !important;
}

.text-left {
  text-align: left !important;
}

.text-right {
  text-align: right !important;
}

.text-center {
  text-align: center !important;
}

.text-disable {
  color: #999;
}

.text-uppercase {
  text-transform: uppercase;
}

.pos-relative {
  position: relative !important;
}

.pos-absolute {
  position: absolute !important;
}

.pos-fixed {
  position: fixed !important;
}

.pos-static {
  position: static !important;
}

.ver-ali-top {
  vertical-align: top !important;
}

.ver-ali-bottom {
  vertical-align: bottom !important;
}

.ver-ali-middle {
  vertical-align: middle !important;
}

.m0 {
  margin: 0 !important;
}

.mt0 {
  margin-top: 0 !important;
}

.mr0 {
  margin-right: 0 !important;
}

.mb0 {
  margin-bottom: 0 !important;
}

.ml0 {
  margin-left: 0 !important;
}

.m5 {
  margin: 5px !important;
}

.mt5 {
  margin-top: 5px !important;
}

.mr5 {
  margin-right: 5px !important;
}

.mb5 {
  margin-bottom: 5px !important;
}

.ml5 {
  margin-left: 5px !important;
}

.m10 {
  margin: 10px !important;
}

.mt10 {
  margin-top: 10px !important;
}

.mr10 {
  margin-right: 10px !important;
}

.mb10 {
  margin-bottom: 10px !important;
}

.ml10 {
  margin-left: 10px !important;
}

.m15 {
  margin: 15px !important;
}

.mt15 {
  margin-top: 15px !important;
}

.mr15 {
  margin-right: 15px !important;
}

.mb15 {
  margin-bottom: 15px !important;
}

.ml15 {
  margin-left: 15px !important;
}

.m20 {
  margin: 20px !important;
}

.mt20 {
  margin-top: 20px !important;
}

.mr20 {
  margin-right: 20px !important;
}

.mb20 {
  margin-bottom: 20px !important;
}

.ml20 {
  margin-left: 20px !important;
}

.m25 {
  margin: 25px !important;
}

.mt25 {
  margin-top: 25px !important;
}

.mr25 {
  margin-right: 25px !important;
}

.mb25 {
  margin-bottom: 25px !important;
}

.ml25 {
  margin-left: 25px !important;
}

.m30 {
  margin: 30px !important;
}

.mt30 {
  margin-top: 30px !important;
}

.mr30 {
  margin-right: 30px !important;
}

.mb30 {
  margin-bottom: 30px !important;
}

.ml30 {
  margin-left: 30px !important;
}

md-icon.md-18 {
  font-size: 18px;
  width: 18px;
  height: 18px;
  min-width: 18px;
  min-height: 18px;
}

md-icon.md-24 {
  font-size: 24px;
  width: 24px;
  height: 24px;
  min-width: 24px;
  min-height: 24px;
}

md-icon.md-30 {
  font-size: 30px;
  width: 30px;
  height: 30px;
  min-width: 30px;
  min-height: 30px;
}

md-icon.md-36 {
  font-size: 36px;
  width: 36px;
  height: 36px;
  min-width: 36px;
  min-height: 36px;
}

md-tooltip.tt-large {
  font-size: 14px;
  height: auto;
  width: 300px;
  padding: 8px;
  max-width: 300px;
  white-space: initial;
}

.p0 {
  padding: 0 !important;
}

.pt0 {
  padding-top: 0 !important;
}

.pr0 {
  padding-right: 0 !important;
}

.pb0 {
  padding-bottom: 0 !important;
}

.pl0 {
  padding-left: 0 !important;
}

.p5 {
  padding: 5px !important;
}

.p8 {
  padding: 8px !important;
}

.pt5 {
  padding-top: 5px !important;
}

.pr5 {
  padding-right: 5px !important;
}

.pb5 {
  padding-bottom: 5px !important;
}

.pl5 {
  padding-left: 5px !important;
}

.p10 {
  padding: 10px !important;
}

.pt10 {
  padding-top: 10px !important;
}

.pr10 {
  padding-right: 10px !important;
}

.pb10 {
  padding-bottom: 10px !important;
}

.pl10 {
  padding-left: 10px !important;
}

.p15 {
  padding: 15px !important;
}

.pt15 {
  padding-top: 15px !important;
}

.pr15 {
  padding-right: 15px !important;
}

.pb15 {
  padding-bottom: 15px !important;
}

.pl15 {
  padding-left: 15px !important;
}

.ptb20 {
  padding: 20px 0 !important;
}

.p20 {
  padding: 20px !important;
}

.pt20 {
  padding-top: 20px !important;
}

.pr20 {
  padding-right: 20px !important;
}

.pb20 {
  padding-bottom: 20px !important;
}

.pl20 {
  padding-left: 20px !important;
}

.p25 {
  padding: 25px !important;
}

.pt25 {
  padding-top: 25px !important;
}

.pr25 {
  padding-right: 25px !important;
}

.pb25 {
  padding-bottom: 25px !important;
}

.pl25 {
  padding-left: 25px !important;
}

.p30 {
  padding: 30px !important;
}

.pt30 {
  padding-top: 30px !important;
}

.pr30 {
  padding-right: 30px !important;
}

.pb30 {
  padding-bottom: 30px !important;
}

.pl30 {
  padding-left: 30px !important;
}

.plr5 {
  padding: 0 5px !important;
}

.plr10 {
  padding: 0 10px !important;
}

.plr15 {
  padding: 0 15px !important;
}

.plr20 {
  padding: 0 20px !important;
}

.plr25 {
  padding: 0 25px !important;
}

.plr30 {
  padding: 0 30px !important;
}

.round-base {
  border-radius: 4px;
}

.round-small {
  border-radius: 3px;
}

.round-large {
  border-radius: 6px;
}

.pull-right {
  float: right !important;
}

.img-responsive {
  width: 100%;
  height: auto;
}

.no-pointer {
  cursor: default !important;
}

.title-main {
  color: #158CFB;
  font-size: 26px;
  font-weight: 400;
  line-height: 29px;
}

.white {
  color: #fff !important;
}

.black {
  color: #000 !important;
}

.primary-color {
  color: #158CFB !important;
}

.bg-primary-color {
  background-color: #158CFB;
}

.gray {
  color: gray !important;
}

.md-hide {
  display: none;
}

/*!
TODO
This section for override because conflic cause by grunt-injecter sort
It should be removed in future after complete refactor
*/
.socical-icon-list .md-icon-button {
  width: 31px !important;
  height: 31px !important;
  margin: 0;
}

.md-button {
  border-radius: 0;
}

.md-button .md-ripple-container {
  border-radius: 0;
}

.btn-fill {
  margin: 0;
  background-color: #158CFB !important;
  color: #fff !important;
  text-transform: capitalize;
  box-shadow: none !important;
  padding-left: 38px;
  padding-right: 38px;
  min-height: 54px;
  font-size: 16px;
  line-height: 54px;
}

.btn-border {
  margin: 0;
  color: #fff !important;
  border: 1px solid #fff;
  min-height: 54px;
  line-height: 54px;
  padding-left: 33px;
  text-transform: capitalize;
  padding-right: 33px;
  font-size: 16px;
  border-radius: 5px !important;
}

.btn-border:hover {
  border-color: #158CFB;
  color: #fff !important;
  background-color: #158CFB !important;
}

.btn-border.btn-border-dark {
  border-color: #999;
  box-shadow: none !important;
  color: #000 !important;
}

.btn-border.btn-border-dark:hover {
  border-color: #158CFB;
  color: #fff !important;
}

.btn-border.btn-border-default {
  border-color: #999;
  box-shadow: none !important;
  color: #000 !important;
  border-radius: 5px !important;
}

.btn-border.btn-border-default:hover {
  border-color: #158CFB;
  color: #fff !important;
}

.btn-border.btn-border-main {
  border-color: #158CFB;
  box-shadow: none !important;
  color: #158CFB !important;
}

.btn-border.btn-border-main:hover {
  border-color: #158CFB;
  color: #fff !important;
}

button.btn-common {
  position: relative;
  padding-left: 30px;
  padding-right: 30px;
  border: 1px solid rgba(0, 0, 0, 0.3);
  margin: 0;
  text-transform: none;
  height: 54px;
  min-height: 54px;
  font-size: 16px;
  border-radius: 5px !important;
}

button.btn-common md-icon {
  position: absolute;
  left: 10px;
  top: calc(50% - 9px);
}

button.btn-common.message-btn {
  background: #158CFB !important;
  border: 1px solid #158CFB;
  color: white;
  min-width: 190px;
}

button.btn-common.booking-btn {
  color: #158CFB !important;
  background: white;
}

button.btn-common.booking-btn:hover {
  color: #fff !important;
}

md-checkbox.md-checked.main .md-icon {
  background-color: #158CFB;
}


.title{
  font-family: "SF Pro Display","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif !important;
}