@media (max-width: 599px) {
  .btn-fill {
    font-size: 14px !important;
    min-height: 46px;
    line-height: 46px;
    padding-left: 25px;
    padding-right: 25px;
  }
  .btn-border {
    min-height: 46px;
    line-height: 46px;
    padding-left: 25px;
    padding-left: 25px;
  }
}
